# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License

allow audio_policy pulseaudio:binder transfer;
allow pulseaudio audio_policy:binder call;
allow deviceauth_service paramservice_socket:sock_file write;
allow deviceauth_service kernel:unix_stream_socket connectto;
allow foundation data_service_el1_file:file ioctl;
allow telephony_sa vendor_etc_file:dir search;
allow time_service data_file:dir getattr;
allow time_service data_service_el1_file:dir getattr;
allow udevd dev_port:chr_file getattr;
allow hdcd hiperf:process signal;
allow hiperf hdcd:fifo_file { ioctl write };
allow usb_service self:unix_dgram_socket { getopt setopt };

allow init dev_block_file:blk_file ioctl;
allow init hook_param:file relabelto;
allow { sadomain hdfdomain hap_domain nativedomain } hook_param:file { map open read };
allow normal_hap normal_hap_data_file:file ioctl;
