# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#avc:  denied  { get } for service=3301 pid=1399 scontext=u:r:system_basic_hap:s0 tcontext=u:object_r:sa_powermgr_powermgr_service:s0 tclass=samgr_class permissive=1
allow system_basic_hap_attr sa_powermgr_powermgr_service:samgr_class { get };
binder_call(system_basic_hap_attr, powermgr);

#avc:  denied  { ioctl } for pid=4710 comm = "system/bin/appspawn" path="/dev/bbox" dev="" ino=71 ioctlcmd=0x425a scontext=u:r:system_basic_hap:s0 tcontext=u:object_r:dev_bbox:s0 tclass=chr_file permissive=0
allow system_basic_hap_attr dev_bbox:chr_file { ioctl };
allowxperm system_basic_hap_attr dev_bbox:chr_file ioctl { 0x426a 0x426d };

debug_only(`
#avc:  denied  { transfer } for  pid=1529 comm="com.ohos.settin" scontext=u:r:system_basic_hap:s0 tcontext=u:r:sh:s0 tclass=binder permissive=0
allow system_basic_hap_attr sh:binder { transfer };
')
