# Copyright (c) 2021 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type kernel, domain;

# neverallow control for hmcap:supervsable
# If you add a new authorization "ABC" to hmcap:supervsable, you should:
#       1) typeattribute      ABC       hmcap_supervsable_xxx_attr;
#       2) neverallow {hmcap_supervsable_xxx_attr - ABC} ...
#
neverallow {domain -hmcap_supervsable_common_attr -hmcap_supervsable_osr_attr
                   -hmcap_supervsable_container_attr -hmcap_supervsable_platform_attr -hap_domain_kernel_violators
                   -SP_daemon -test_server -hidumper } self:hmcap {supervsable};
neverallow {hmcap_supervsable_osr_attr -input_isolate_hap -input_isolate_debug_hap -nativespawn -processdump -updater_binary -sys_installer_sa } self:hmcap {supervsable};
