# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

neverallow hdcd self:perf_event ~{ open read write kernel };

neverallow hdcd dev_input_file:chr_file never_write_file;

neverallow hdcd { dev_fuse_file dev_port }:chr_file ~getattr;

allow hdcd data_local_tmp:file { add_name write create setattr };
allow hdcd data_local_tmp:dir { add_name write create setattr };

allow hdcd vendor_lib_file:file { read write getattr search };
allow hdcd vendor_lib_file:dir { read write getattr search };

allow hdcd self:capability { syslog syslog_read };
allow hdcd self:capability2 { syslog syslog_read };

allow hdcd kernel:system { syslog_mod };
allow hdcd dev_rtc_file:chr_file { write open ioct1 };
allow hdcd data_file:dir { read write open create add_name getattr };
allow hdcd tty_device:chr_file { write open ioct1 };
allow hdcd system_bin_file:lnk_file { read search };
allow hdcd system_bin_file:dir { read search };
allow hdcd lib_file:lnk_file { read search };
allow hdcd dev_kmsg_file:chr_file { read open };
