# Copyright (c) 2021-2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


neverallow init data_local_tmp:dir { write add_name remove_name };
neverallow { domain -kernel } init:process dyntransition;
neverallow { domain -kernel } init:process transition;

neverallow init *:process noatsecure;

neverallow { domain -processdump } init:process ptrace;

neverallow init self:perf_event { kernel tracepoint read write };

neverallow init hap_file_attr:lnk_file read;
neverallow init data_local_tmp:lnk_file read;

neverallow init { file_attr fs_attr -init_exec }:file entrypoint;

#todo
# system_bin_file need to fix
neverallow init { file_attr fs_attr -system_bin_file -sdc_exec }:file execute_no_trans;

#todo
#neverallow init sys_file:file { open read write };
