# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type default_service, sa_service_attr;
type sa_foundation_abilityms, sa_service_attr;
type sa_accountmgr, sa_service_attr;
type sa_foundation_bms, sa_service_attr;
type sa_foundation_appms, sa_service_attr;
type sa_accessibleabilityms, sa_service_attr;
type sa_useriam_userauth_service, sa_service_attr;
type sa_wifi_device_ability, sa_service_attr;
type sa_wifi_hotspot_ability, sa_service_attr;
type sa_wifi_p2p_ability, sa_service_attr;
type sa_wifi_scan_ability, sa_service_attr;
type sa_bluetooth_server, sa_service_attr;
type sa_net_conn_manager, sa_service_attr;
type sa_netsys_native_manager, sa_service_attr;
type sa_distributeddata_service, sa_service_attr;
type sa_distributeschedule, sa_service_attr;
type sa_resource_schedule, sa_service_attr;
type sa_bgtaskmgr, sa_service_attr;
type sa_resource_schedule_socperf_server, sa_service_attr;
type sa_locationhub_lbsservice_gnss, sa_service_attr;
type sa_locationhub_lbsservice_network, sa_service_attr;
type sa_locationhub_lbsservice_passive, sa_service_attr;
type sa_msdp_devicestatus_service, sa_service_attr;
type sa_pulseaudio_audio_service, sa_service_attr;
type sa_media_service, sa_service_attr;
type sa_audio_policy_service, sa_service_attr;
type sa_multimodalinput_service, sa_service_attr;
type sa_foundation_ans, sa_service_attr;
type sa_foundation_cesfwk_service, sa_service_attr;
type sa_foundation_powermgr_service, sa_service_attr;
type sa_foundation_battery_service, sa_service_attr;
type sa_batterystats_service, sa_service_attr;
type sa_thermal_service, sa_service_attr;
type sa_foundation_displaymgr_service, sa_service_attr;
type sa_accesstoken_manager_service, sa_service_attr;
type sa_token_sync_manager_service, sa_service_attr;
type sa_sensor_service, sa_service_attr;
type sa_time_service, sa_service_attr;
type sa_inputmethod_service, sa_service_attr;
type sa_param_watcher, sa_service_attr;
type sa_foundation_tel_call_manager, sa_service_attr;
type sa_telephony_tel_cellular_call, sa_service_attr;
type sa_telephony_tel_core_service, sa_service_attr;
type sa_telephony_tel_ims, sa_service_attr;
type sa_softbus_service, sa_service_attr;
type sa_foundation_devicemanager_service, sa_service_attr;
type sa_storage_manager_service, sa_service_attr;
type sa_device_service_manager, sa_service_attr;
