# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type default_service, sa_service_attr;
type sa_foundation_abilityms, sa_service_attr;
type sa_accountmgr, sa_service_attr;
type sa_foundation_bms, sa_service_attr;
type sa_foundation_appms, sa_service_attr;
type sa_accessibleabilityms, sa_service_attr;
type sa_wifi_device_ability, sa_service_attr;
type sa_wifi_hotspot_ability, sa_service_attr;
type sa_wifi_p2p_ability, sa_service_attr;
type sa_wifi_scan_ability, sa_service_attr;
type sa_bluetooth_server, sa_service_attr;
type sa_net_conn_manager, sa_service_attr;
type sa_netsys_native_manager, sa_service_attr;
type sa_distributeddata_service, sa_service_attr;
type sa_distributeschedule, sa_service_attr;
type sa_resource_schedule, sa_service_attr;
type sa_bgtaskmgr, sa_service_attr;
type sa_resource_schedule_socperf_server, sa_service_attr;
type sa_locationhub_lbsservice_gnss, sa_service_attr;
type sa_locationhub_lbsservice_network, sa_service_attr;
type sa_locationhub_lbsservice_passive, sa_service_attr;
type sa_msdp_devicestatus_service, sa_service_attr;
type sa_pulseaudio_audio_service, sa_service_attr;
type sa_media_service, sa_service_attr;
type sa_audio_policy_service, sa_service_attr;
type sa_multimodalinput_service, sa_service_attr;
type sa_foundation_ans, sa_service_attr;
type sa_foundation_cesfwk_service, sa_service_attr;
type sa_foundation_powermgr_service, sa_service_attr;
type sa_foundation_battery_service, sa_service_attr;
type sa_batterystats_service, sa_service_attr;
type sa_foundation_thermal_service, sa_service_attr;
type sa_foundation_displaymgr_service, sa_service_attr;
type sa_accesstoken_manager_service, sa_service_attr;
type sa_token_sync_manager_service, sa_service_attr;
type sa_sensor_service, sa_service_attr;
type sa_miscdevice_service, sa_service_attr;
type sa_time_service, sa_service_attr;
type sa_inputmethod_service, sa_service_attr;
type sa_param_watcher, sa_service_attr;
type sa_foundation_tel_call_manager, sa_service_attr;
type sa_telephony_tel_cellular_call, sa_service_attr;
type sa_telephony_tel_core_service, sa_service_attr;
type sa_telephony_tel_ims, sa_service_attr;
type sa_softbus_service, sa_service_attr;
type sa_foundation_devicemanager_service, sa_service_attr;
type sa_storage_manager_service, sa_service_attr;
type sa_device_service_manager, sa_service_attr;

type sa_subsys_ccruntime_service, sa_service_attr;
type sa_subsys_aafwk_service, sa_service_attr;
type sa_subsys_communication_service, sa_service_attr;
type sa_rpc_unregistered_test_service, sa_service_attr;
type sa_rpc_test_service, sa_service_attr;
type sa_rpc_test_service2, sa_service_attr;
type sa_ipc_msg_sev, sa_service_attr;
type sa_ipc_msg_unregistered_server, sa_service_attr;
type sa_ipc_msg_repeat_server, sa_service_attr;
type sa_ipc_msg_server, sa_service_attr;
type sa_ipc_test_service, sa_service_attr;
type sa_ipc_extra_test_service, sa_service_attr;
type sa_wifi_enhancer_service, sa_service_attr;
type sa_nfc_manager_service, sa_service_attr;
type sa_net_manager_service, sa_service_attr;

type sa_comm_net_stats_manager_service, sa_service_attr;
type sa_comm_net_tethering_manager_service, sa_service_attr;
type sa_comm_vpn_manager_service, sa_service_attr;
type sa_comm_dns_manager_service, sa_service_attr;
type sa_comm_ethernet_manager_service, sa_service_attr;
type sa_discover_service, sa_service_attr;
type sa_ability_tools_service, sa_service_attr;
type sa_dnet_service, sa_service_attr;
type sa_smart_comm_service, sa_service_attr;
type sa_subsys_dfx_service, sa_service_attr;


type sa_subsys_distributeddatamng_service, sa_service_attr;
type sa_distributed_fs_daemon_service, sa_service_attr;
type sa_distributed_fs_meta_service, sa_service_attr;
type sa_distributed_fs_storage_service, sa_service_attr;
type sa_subsys_distributedschedule_service, sa_service_attr;
type sa_distributed_sched_adapter_service, sa_service_attr;
type sa_distributed_scenario_mgr_service, sa_service_attr;
type sa_distributed_sched_test_so, sa_service_attr;
type sa_distributed_sched_test_os, sa_service_attr;
type sa_distributed_sched_test_oos, sa_service_attr;
type sa_distributed_sched_test_tt, sa_service_attr;
type sa_distributed_sched_test_listen, sa_service_attr;
type sa_distributed_sched_test_connection, sa_service_attr;
type sa_distributed_sched_test_incomplete, sa_service_attr;
type sa_distributed_sched_test_ondemand, sa_service_attr;
type sa_distributed_sched_test_audio, sa_service_attr;
type sa_distributed_sched_test_media, sa_service_attr;
type sa_subsys_drivers_service, sa_service_attr;
type sa_subsys_global_service, sa_service_attr;
type sa_enterprise_device_manager_service, sa_service_attr;
type sa_subsys_graphic_service, sa_service_attr;
type sa_ability_test_service, sa_service_attr;
type sa_subsys_hbs_service, sa_service_attr;
type sa_ability_mst_service, sa_service_attr;
type sa_dataobs_mgr_service_service, sa_service_attr;
type sa_uri_permission_mgr_service, sa_service_attr;
type sa_subsys_iaware_service, sa_service_attr;
type sa_resschedd_service, sa_service_attr;
type sa_work_schedule_service, sa_service_attr;
type sa_device_usage_statistics_service, sa_service_attr;
type sa_memory_manager_service, sa_service_attr;
type sa_subsys_common_service, sa_service_attr;
type sa_subsyse_service, sa_service_attr;
type sa_subsys_intelliaccessories_service, sa_service_attr;
type sa_subsys_intellispeaker_service, sa_service_attr;
type sa_subsys_intellitv_service, sa_service_attr;
type sa_subsys_iot_service, sa_service_attr;
type sa_subsys_iothardware_service, sa_service_attr;
type sa_subsys_ivihardware_service, sa_service_attr;
type sa_ivihardware_manager_service, sa_service_attr;
type sa_ivihardware_adas_service, sa_service_attr;
type sa_ivihardware_tbox_service, sa_service_attr;
type sa_ivihardware_cluster_service, sa_service_attr;
type sa_subsys_kernel_service, sa_service_attr;
type sa_subsys_location_service, sa_service_attr;
type sa_location_geo_convert_service, sa_service_attr;
type sa_location_locator_service, sa_service_attr;
type sa_location_notification_service, sa_service_attr;
type sa_subsys_msdp_service, sa_service_attr;
type sa_msdp_motion_service, sa_service_attr;
type sa_msdp_movement_service, sa_service_attr;
type sa_msdp_spatial_awareness_service, sa_service_attr;
type sa_msdp_geofence_service, sa_service_attr;
type sa_msdp_timeline_service, sa_service_attr;
type sa_subsys_multimedia_service, sa_service_attr;
type sa_radio_ivi_service, sa_service_attr;
type sa_audio_swift_service, sa_service_attr;
type sa_update_distributed_service, sa_service_attr;
type sa_media_library_service, sa_service_attr;
type sa_camera_service, sa_service_attr;
type sa_subsys_ai_service, sa_service_attr;
type sa_avsession_service, sa_service_attr;
type sa_subsys_multimodainput_service, sa_service_attr;
type sa_multimodal_channel_service, sa_service_attr;
type sa_subsys_ai_ds_service, sa_service_attr;
type sa_subsys_notification_service, sa_service_attr;
type sa_event_manager_service, sa_service_attr;
type sa_common_event_service_ability, sa_service_attr;
type sa_subsys_powermng_service, sa_service_attr;
type sa_ivipower_enhanced_service, sa_service_attr;
type sa_subsys_router_service, sa_service_attr;
type sa_subsys_security_service, sa_service_attr;
type sa_device_security_level_manager_service, sa_service_attr;
type sa_subsys_sensors_service, sa_service_attr;
type sa_extshb_service_ability, sa_service_attr;
type sa_medical_sensor_service_ability, sa_service_attr;
type sa_subsys_smallservices_service, sa_service_attr;
type sa_pasteboard_service, sa_service_attr;
type sa_screenlock_service, sa_service_attr;
type sa_wallpaper_manager_service, sa_service_attr;
type sa_download_service, sa_service_attr;
type sa_subsys_sourcecodetransformer_service, sa_service_attr;
type sa_subsys_startup_service, sa_service_attr;
type sa_sysparam_device_service, sa_service_attr;
type sa_subsys_telepony_service, sa_service_attr;
type sa_telephony_service, sa_service_attr;
type sa_dcall_service, sa_service_attr;

type sa_subsys_appexecfwk_service, sa_service_attr;
type sa_telephony_data_storage_service, sa_service_attr;
type sa_distributed_bundle_mgr_service_service, sa_service_attr;
type sa_form_mgr_service, sa_service_attr;
type sa_subsys_update_service, sa_service_attr;
type sa_subsys_usb_service, sa_service_attr;
type sa_subsys_wearable_service, sa_service_attr;
type sa_subsys_wearablehardware_service, sa_service_attr;
type sa_subsys_ivi_service, sa_service_attr;
type sa_ivi_drivingsafety_service, sa_service_attr;
type sa_ivi_configmanager_service, sa_service_attr;
type sa_ivi_cockpitmonitor_service, sa_service_attr;
type sa_window_manager, sa_service_attr;
type sa_vsync_manager, sa_service_attr;
type sa_vsync_manager_test, sa_service_attr;
type sa_graphic_dumper_service_service, sa_service_attr;
type sa_graphic_dumper_command_service, sa_service_attr;
type sa_animation_server_service, sa_service_attr;
type sa_device_auth_service, sa_service_attr;
type sa_subsys_distributed_hardware_service, sa_service_attr;
type sa_distributed_hardware_audio_source_service, sa_service_attr;
type sa_distributed_hardware_audio_sink_service, sa_service_attr;
type sa_distributed_hardware_input_source_service, sa_service_attr;
type sa_distributed_hardware_input_sink_service, sa_service_attr;
type sa_device_storage_manager_service, sa_service_attr;
type sa_storage_service, sa_service_attr;
type sa_storage_manager_daemon, sa_service_attr;
type sa_subsys_applications_service, sa_service_attr;
type sa_file_manager_service, sa_service_attr;
type sa_installd_service, sa_service_attr;
type sa_subsys_filemanagement_service, sa_service_attr;
type sa_filemanagement_distributed_file_daemon_service, sa_service_attr;
type sa_filemanagement_distributed_file_service_service, sa_service_attr;
type sa_filemanagement_backup_service_service, sa_service_attr;
type sa_subsys_arvr_service, sa_service_attr;
type sa_subsys_ace_service, sa_service_attr;
type sa_subsys_arvrhardware_service, sa_service_attr;
type sa_ca_daemon_service, sa_service_attr;
type sa_subsys_useriam_service, sa_service_attr;
type sa_dfx_sys_hidumper_ability, sa_service_attr;
type sa_privacy_service, sa_service_attr;

