# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# avc:  denied  { getattr } for  pid=10706 comm="intell_voice_se" path="/system/profile/intell_voice_service.json" dev="sdd74" ino=4065 scontext=u:r:sh:s0 tcontext=u:object_r:system_profile_file:s0 tclass=file permissive=1
# avc:  denied  { open } for  pid=10706 comm="intell_voice_se" path="/system/profile/intell_voice_service.json" dev="sdd74" ino=4065 scontext=u:r:sh:s0 tcontext=u:object_r:system_profile_file:s0 tclass=file permissive=1
# avc:  denied  { read } for  pid=10706 comm="intell_voice_se" name="intell_voice_service.json" dev="sdd74" ino=4065 scontext=u:r:sh:s0 tcontext=u:object_r:system_profile_file:s0 tclass=file permissive=1
allow sh system_profile_file:file { getattr open read };

# avc:  denied  { getattr } for  pid=26110 comm="ps" path="/proc/20543" dev="proc" ino=193435 scontext=u:r:sh:s0 tcontext=u:r:intell_voice_service:s0 tclass=dir permissive=1
# avc:  denied  { search } for  pid=26110 comm="ps" name="20543" dev="proc" ino=193435 scontext=u:r:sh:s0 tcontext=u:r:intell_voice_service:s0 tclass=dir permissive=1
allow sh intell_voice_service:dir { getattr search };

# avc:  denied  { open } for  pid=26110 comm="ps" path="/proc/20543/stat" dev="proc" ino=209923 scontext=u:r:sh:s0 tcontext=u:r:intell_voice_service:s0 tclass=file permissive=1
# avc:  denied  { read } for  pid=26110 comm="ps" name="stat" dev="proc" ino=209923 scontext=u:r:sh:s0 tcontext=u:r:intell_voice_service:s0 tclass=file permissive=1
allow sh intell_voice_service:file { open read };
