# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type dslm_service, sadomain, domain;

binder_call(dslm_service, deviceauth_service);
binder_call(dslm_service, huks_service);
binder_call(dslm_service, accesstoken_service);
binder_call(dslm_service, softbus_server);
binder_call(dslm_service, samgr);

#avc:  denied  { getopt } for  pid=434 comm="dslm_service" scontext=u:r:dslm_service:s0 tcontext=u:r:dslm_service:s0 tclass=unix_dgram_socket permissive=1
#avc:  denied  { setopt } for  pid=434 comm="dslm_service" scontext=u:r:dslm_service:s0 tcontext=u:r:dslm_service:s0 tclass=unix_dgram_socket permissive=1
allow dslm_service dslm_service:unix_dgram_socket { getopt setopt };

#avc:  denied  { search } for  pid=444 comm="dslm_service" name="socket" dev="tmpfs" ino=40 scontext=u:r:dslm_service:s0 tcontext=u:object_r:dev_unix_socket:s0 tclass=dir permissive=1
allow dslm_service dev_unix_socket:dir { search };

allow dslm_service softbus_server:tcp_socket { read setopt write };

allow dslm_service system_etc_file:dir { getattr open read };

allow dslm_service system_profile_file:dir { search };
