# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#avc: denied { create } for pid=645 comm="hdcd" name="SensorJsTest.hap" scontext=u:r:hdcd:s0 tcontext=u:object_r:data_file:s0 tclass=file permissive=1
#avc: denied { write open } for pid=645 comm="hdcd" path="/data/SensorJsTest.hap" dev="mmcblk0p11" ino=255 scontext=u:r:hdcd:s0 tcontext=u:object_r:data_file:s0 tclass=file permissive=1
allow hdcd data_file:file { open };

#avc: denied { add_name } for pid=531 comm="hdcd" name="SensorJsTest.hap" scontext=u:r:hdcd:s0 tcontext=u:object_r:data_file:s0 tclass=dir permissive=1
allow hdcd data_file:dir { add_name };
