# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#avc:  denied  { get } for service=5100 pid=622 scontext=u:r:thermal:s0 tcontext=u:object_r:sa_device_service_manager:s0 tclass=samgr_class permissive=1
allow thermal sa_device_service_manager:samgr_class { get };

#avc:  denied  { get } for service=3299 pid=622 scontext=u:r:thermal:s0 tcontext=u:object_r:sa_foundation_cesfwk_service:s0 tclass=samgr_class permissive=1
allow thermal sa_foundation_cesfwk_service:samgr_class { get };

#avc:  denied  { add } for service=3303 pid=536 scontext=u:r:thermal:s0 tcontext=u:object_r:sa_thermal_service:s0 tclass=samgr_class permissive=1
allow thermal sa_thermal_service:samgr_class { add };

#avc:  denied  { call } for  pid=472 comm="thermal" scontext=u:r:thermal:s0 tcontext=u:r:sh:s0 tclass=binder permissive=1
allow thermal sh:binder { call };

#avc:  denied  { call } for  pid=472 comm="thermal" scontext=u:r:thermal:s0 tcontext=u:r:normal_hap:s0 tclass=binder permissive=1
allow thermal normal_hap:binder { call };

#avc:  denied  { get } for service=1906 pid=470 scontext=u:r:thermal:s0 tcontext=u:object_r:sa_resource_schedule_socperf_server:s0 tclass=samgr_class permissive=1
allow thermal sa_resource_schedule_socperf_server:samgr_class { get };

#avc:  denied  { call } for  pid=412 comm="thermal" scontext=u:r:thermal:s0 tcontext=u:r:resource_schedule_service:s0 tclass=binder permissive=1
allow thermal resource_schedule_service:binder { call };

#avc:  denied  { add } for service=3303 pid=530 scontext=u:r:thermal:s0 tcontext=u:object_r:vendor_etc_file:s0 tclass=file permissive=1
allow thermal vendor_etc_file:file { getattr open read };

#avc:  denied  { get } for service=3308 pid=471 scontext=u:r:thermal:s0 tcontext=u:object_r:sa_foundation_displaymgr_service:s0 tclass=samgr_class permissive=1
allow thermal sa_foundation_displaymgr_service:samgr_class { get };
