# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow hdf_ext_devmgr debug_param:file { map open read };
allow hdf_ext_devmgr dev_console_file:chr_file { read write };
# avc:  denied  { get } for service=usb_interface_service pid=1412 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:hdf_usb_interface_service:s0 tclass=hdf_devmgr_class permissive=1
allow hdf_ext_devmgr hdf_usb_interface_service:hdf_devmgr_class { get };

# avc:  denied  { get } for service=200 pid=1412 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:sa_accountmgr:s0 tclass=samgr_class permissive=1
allow hdf_ext_devmgr sa_accountmgr:samgr_class { get };

# avc:  denied  { get } for service=5100 pid=1412 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:sa_device_service_manager:s0 tclass=samgr_class permissive=1
allow hdf_ext_devmgr sa_device_service_manager:samgr_class { get };

# avc:  denied  { get } for service=401 pid=1412 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:sa_foundation_bms:s0 tclass=samgr_class permissive=1
allow hdf_ext_devmgr sa_foundation_bms:samgr_class { get };

# avc:  denied  { get } for service=3299 pid=1412 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:sa_foundation_cesfwk_service:s0 tclass=samgr_class permissive=1
allow hdf_ext_devmgr sa_foundation_cesfwk_service:samgr_class { get };

# avc:  denied  { add } for service=5110 pid=1412 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:sa_hdf_ext_devmgr:s0 tclass=samgr_class permissive=1
allow hdf_ext_devmgr sa_hdf_ext_devmgr:samgr_class { add };

# avc:  denied  { get } for service=3901 pid=1412 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:sa_param_watcher:s0 tclass=samgr_class permissive=1
allow hdf_ext_devmgr sa_param_watcher:samgr_class { get };

# avc:  denied  { search } for  pid=1416 comm="SaInit0" name="socket" dev="tmpfs" ino=43 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:dev_unix_socket:s0 tclass=dir permissive=0
allow hdf_ext_devmgr dev_unix_socket:dir { search };

# avc:  denied  { call } for  pid=1416 comm="SaInit0" scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:r:hdf_devmgr:s0 tclass=binder permissive=0
allow hdf_ext_devmgr hdf_devmgr:binder { call };

# avc:  denied  { call } for  pid=1546 comm="CesFwkListener" scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:r:foundation:s0 tclass=binder permissive=1
allow hdf_ext_devmgr foundation:binder { call transfer };

# avc:  denied  { map } for  pid=1546 comm="sa_main" path="/dev/__parameters__/u:object_r:hilog_param:s0" dev="tmpfs" ino=69 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:hilog_param:s0 tclass=file permissive=1
# avc:  denied  { open } for  pid=1546 comm="sa_main" path="/dev/__parameters__/u:object_r:hilog_param:s0" dev="tmpfs" ino=69 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:hilog_param:s0 tclass=file permissive=1
# avc:  denied  { read } for  pid=1546 comm="sa_main" name="u:object_r:hilog_param:s0" dev="tmpfs" ino=69 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:hilog_param:s0 tclass=file permissive=1
allow hdf_ext_devmgr hilog_param:file { map open read };

# avc:  denied  { call } for  pid=1546 comm="hdf_ext_devmgr" scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:r:param_watcher:s0 tclass=binder permissive=1
allow hdf_ext_devmgr param_watcher:binder { call transfer };

# avc:  denied  { search } for  pid=1546 comm="hdf_ext_devmgr" name="/" dev="tracefs" ino=1 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:tracefs:s0 tclass=dir permissive=1
allow hdf_ext_devmgr tracefs:dir { search };

# avc:  denied  { open } for  pid=1546 comm="hdf_ext_devmgr" path="/sys/kernel/debug/tracing/trace_marker" dev="tracefs" ino=16975 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:tracefs_trace_marker_file:s0 tclass=file permissive=1
# avc:  denied  { write } for  pid=1546 comm="hdf_ext_devmgr" name="trace_marker" dev="tracefs" ino=16975 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:tracefs_trace_marker_file:s0 tclass=file permissive=1
allow hdf_ext_devmgr tracefs_trace_marker_file:file { open write };

# avc:  denied  { call } for  pid=721 comm="SaInit0" scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:r:accountmgr:s0 tclass=binder permissive=1
allow hdf_ext_devmgr accountmgr:binder { call };

# avc:  denied  { getattr } for  pid=721 comm="hdf_ext_devmgr" path="/sys/devices/system/cpu/online" dev="sysfs" ino=4917 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:sysfs_devices_system_cpu:s0 tclass=file permissive=1
# avc:  denied  { open } for  pid=721 comm="hdf_ext_devmgr" path="/sys/devices/system/cpu/online" dev="sysfs" ino=4917 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:sysfs_devices_system_cpu:s0 tclass=file permissive=1
# avc:  denied  { read } for  pid=721 comm="hdf_ext_devmgr" name="online" dev="sysfs" ino=4917 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:sysfs_devices_system_cpu:s0 tclass=file permissive=1
allow hdf_ext_devmgr sysfs_devices_system_cpu:file { getattr open read };

# avc:  denied  { call } for  pid=721 comm="hdf_ext_devmgr" scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:r:usb_host:s0 tclass=binder permissive=1
# avc:  denied  { transfer } for  pid=721 comm="SaInit0" scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:r:usb_host:s0 tclass=binder permissive=1
allow hdf_ext_devmgr usb_host:binder { call transfer };

# avc:  denied  { use } for  pid=569 comm="IPC_4_888" path="/dev/ashmem" dev="tmpfs" ino=230 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:r:foundation:s0 tclass=fd permissive=1
allow hdf_ext_devmgr foundation:fd { use };

debug_only(`
#avc:  denied  { call } for  pid=1295 comm="hdf_ext_devmgr" scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:r:sh:s0 tclass=binder permissive=0
allow hdf_ext_devmgr sh:binder {call};
')

# avc:  denied  { call } for  pid=599 comm="hdf_ext_devmgr" scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:r:accesstoken_service:s0 tclass=binder permissive=1
allow hdf_ext_devmgr accesstoken_service:binder { call };

# avc:  denied  { write } for  pid=599 comm="hdf_ext_devmgr" name="uinput" dev="tmpfs" ino=234 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:dev_uinput:s0 tclass=chr_file permissive=1
allow hdf_ext_devmgr dev_uinput:chr_file { write ioctl open };

# avc:  denied  { get } for service=3503 pid=599 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:sa_accesstoken_manager_service:s0 tclass=samgr_class permissive=1
allow hdf_ext_devmgr sa_accesstoken_manager_service:samgr_class { get };

# avc:  denied  { get } for service=180 pid=599 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:sa_foundation_abilityms:s0 tclass=samgr_class permissive=1
allow hdf_ext_devmgr sa_foundation_abilityms:samgr_class { get };

# avc:  denied  { call } for  pid=1750 comm="hdf_ext_devmgr" scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:r:system_core_hap:s0 tclass=binder permissive=1
allow hdf_ext_devmgr system_core_hap:binder { call };
allow hdf_ext_devmgr system_basic_hap:binder { call };

# avc:  denied  { ioctl } for  pid=1294 comm="IPC_2_1491" path="/dev/uinput" dev="tmpfs" ino=223 ioctlcmd=0x5502 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:dev_uinput:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=1750 comm="hdf_ext_devmgr" path="/dev/uinput" dev="tmpfs" ino=223 ioctlcmd=0x5564 scontext=u:r:hdf_ext_devmgr:s0 tcontext=u:object_r:dev_uinput:s0 tclass=chr_file permissive=1
allowxperm hdf_ext_devmgr dev_uinput:chr_file ioctl { 0x5502 0x5564 0x5501 0x5565 0x5567 0x556e };

