# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# avc:  denied  { call } for  pid=1363 comm="lication:driver" scontext=u:r:system_basic_hap:s0 tcontext=u:r:hdf_ext_devmgr:s0 tclass=binder permissive=1
allow system_basic_hap_attr hdf_ext_devmgr:binder { call };

# avc:  denied  { get } for service=5110 pid=1415 scontext=u:r:system_basic_hap:s0 tcontext=u:object_r:sa_hdf_ext_devmgr:s0 tclass=samgr_class permissive=1
allow system_basic_hap_attr sa_hdf_ext_devmgr:samgr_class { get };
