# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License

debug_only(`
allow hidumper_service sh:fd { use };
allow hidumper_service sh:fifo_file { write };
')
allow hidumper_service hiprofiler_plugins:fd { use };
allow hidumper_service hiprofiler_plugins:fifo_file { write };
developer_only(`
allow hidumper_service SP_daemon:dir { search };
allow hidumper_service SP_daemon:fifo_file { write };
allow hidumper_service SP_daemon:file { open read getattr };
allow hidumper_service SP_daemon:fd { use };
allow hidumper_service arkcompiler_param:file { read };
allow hidumper_service ark_writeable_param:file { read };
allow hidumper_service dev_console_file:chr_file { read write };
')
