# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License

allow SP_daemon data_file:dir { search };
allow SP_daemon data_local:dir { search };
allow SP_daemon data_local_tmp:dir { add_name getattr search write search create open read remove_name };
allow SP_daemon data_local_tmp:file { create getattr ioctl open write unlink read};
allow SP_daemon debug_param:file { map open read };
allow SP_daemon dev_console_file:chr_file { read write };
allow SP_daemon dev_unix_socket:dir { search };
allow SP_daemon devpts:chr_file { read write write ioctl };
allow SP_daemon hdcd:fd { use };
allow SP_daemon hdcd:unix_stream_socket { read write };
allow SP_daemon sh:fd { use };
allow SP_daemon sh_exec:file { execute execute_no_trans map read open };
allow SP_daemon sys_file:dir { open read };
allow SP_daemon sys_file:file { getattr open read };
allow SP_daemon sysfs_devices_system_cpu:file { getattr open read};
allow SP_daemon system_bin_file:dir { search };
allow SP_daemon system_bin_file:file { execute execute_no_trans getattr map read open };
allow SP_daemon tty_device:chr_file { read write ioctl open };
allowxperm SP_daemon data_local_tmp:file ioctl 0x5413;
allow SP_daemon hilog_param:file { map open read };
allow SP_daemon system_basic_hap_attr:dir { search read open };
allow SP_daemon system_bin_file:lnk_file { read };
allow SP_daemon uitest_exec:file { execute execute_no_trans getattr map read open };
allowxperm SP_daemon devpts:chr_file ioctl 0x5413;
allowxperm SP_daemon tty_device:chr_file ioctl 0x5413;
allow SP_daemon init:dir { search };
allow SP_daemon init:file { open read };
allow SP_daemon kernel:dir { search };
allow SP_daemon kernel:file { open read };
allow SP_daemon multimodalinput:binder { call };
allow SP_daemon persist_sys_param:file { map open read };
allow SP_daemon samgr:binder { call };
allow SP_daemon system_basic_hap_attr:file { open read };
allow SP_daemon ueventd:dir { search };
allow SP_daemon ueventd:file { read };
allow SP_daemon tracefs:dir { search };
allow SP_daemon accessibility:binder { call transfer };
allow SP_daemon param_watcher:binder { call transfer };
allow SP_daemon bootevent_param:file { map open read };
allow SP_daemon devinfo_private_param:file { read map open };
allow SP_daemon foundation:binder { call };
allow SP_daemon ohos_boot_param:file { map open read };
allow SP_daemon net_param:file { open read map };
allow SP_daemon sys_param:file { map open read };
allow SP_daemon sys_usb_param:file { map open read };
allow SP_daemon const_postinstall_fstab_param:file { map read open };
allow SP_daemon const_postinstall_param:file { map open read };
allow SP_daemon net_tcp_param:file { map open read };
allow SP_daemon const_allow_mock_param:file { map open read };
allow SP_daemon const_allow_param:file { map open read };
allow SP_daemon persist_param:file { read map open };
allow SP_daemon security_param:file { map open read };
allow SP_daemon bootevent_wms_param:file { map open read };
allow SP_daemon ffrt_param:file {  map open read };
allow SP_daemon print_param:file { map open read };
allow SP_daemon arkcompiler_param:file { map open read };
allow SP_daemon arkui_param:file { map open read };
allow SP_daemon hiviewdfx_profiler_param:file { map open read };
allow SP_daemon bms_param:file { map read open};
allow SP_daemon const_display_brightness_param:file { map read open };
allow SP_daemon developtools_hdc_control_param:file { map read open };
allow SP_daemon distributedsche_param:file { map read open };
allow SP_daemon input_pointer_device_param:file { map read open};
allow SP_daemon samgr_perf_param:file { map read open };
allow SP_daemon thermal_log_param:file { map read open };
allow SP_daemon updater_data_param:file { map read open};
allow SP_daemon updater_flashd_param:file { map read open };
allow SP_daemon updater_hdc_param:file { map read open };
allow SP_daemon ueventd:file { open };
allow SP_daemon watchdog_service:dir { search };
allow SP_daemon hilogd:dir { search open read };
allow SP_daemon module_update_service:dir { search };
allow SP_daemon module_update_service:file { open read};
allow SP_daemon watchdog_service:file { open read };
allow SP_daemon appspawn:dir { open search read };
allow SP_daemon hdf_devmgr:dir { search };
allow SP_daemon hdf_devmgr:file { open read };
allow SP_daemon storage_manager:dir { search };
allow SP_daemon storage_manager:file { open read };
allow SP_daemon device_manager:dir { search };
allow SP_daemon storage_daemon:dir { search };
allow SP_daemon storage_daemon:file { open read };
allow SP_daemon appspawn:file { open };
allow SP_daemon device_manager:file { read };
allow SP_daemon hiview:dir { search };
allow SP_daemon hiview:file { open read };
allow SP_daemon param_watcher:dir { search };
allow SP_daemon param_watcher:file { open read };
allow SP_daemon SP_daemon:capability { sys_ptrace };
allow SP_daemon proc_stat_file:file { read };
allow SP_daemon usb_setting_param:file { read map open };
