# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License

allow SP_daemon data_file:dir { search };
allow SP_daemon data_local:dir { search };
allow SP_daemon data_local_tmp:dir { add_name getattr search write search create open read remove_name };
allow SP_daemon data_local_tmp:file { create getattr ioctl open write unlink read};
allow SP_daemon debug_param:file { map open read };
allow SP_daemon dev_console_file:chr_file { read write };
allow SP_daemon dev_unix_socket:dir { search };
allow SP_daemon devpts:chr_file { read write write ioctl };
allow SP_daemon hdcd:fd { use };
allow SP_daemon hdcd:unix_stream_socket { read write };
allow SP_daemon sh:fd { use };
allow SP_daemon sh_exec:file { execute execute_no_trans map read open };
allow SP_daemon sys_file:dir { open read };
allow SP_daemon sys_file:file { getattr open read };
allow SP_daemon sysfs_devices_system_cpu:file { getattr open read};
allow SP_daemon system_bin_file:dir { search };
allow SP_daemon system_bin_file:file { execute execute_no_trans getattr map read open };
allow SP_daemon tty_device:chr_file { read write ioctl open };
allowxperm SP_daemon data_local_tmp:file ioctl 0x5413;
allow SP_daemon hilog_param:file { map open read };
allow SP_daemon system_basic_hap_attr:dir { search read open };
allow SP_daemon system_bin_file:lnk_file { read };
allow SP_daemon uitest_exec:file { execute execute_no_trans getattr map read open };
allowxperm SP_daemon devpts:chr_file ioctl 0x5413;
allowxperm SP_daemon tty_device:chr_file ioctl 0x5413;
allow SP_daemon init:dir { search };
allow SP_daemon init:file { open read };
allow SP_daemon kernel:dir { search };
allow SP_daemon kernel:file { open read };
allow SP_daemon multimodalinput:binder { call };
allow SP_daemon persist_sys_param:file { map open read };
allow SP_daemon samgr:binder { call };
allow SP_daemon system_basic_hap_attr:file { open read };
allow SP_daemon ueventd:dir { search };
allow SP_daemon ueventd:file { read };
allow SP_daemon tracefs:dir { search };
allow SP_daemon accessibility:binder { call transfer };
allow SP_daemon param_watcher:binder { call transfer };
allow SP_daemon bootevent_param:file { map open read };
allow SP_daemon devinfo_private_param:file { read map open };
allow SP_daemon foundation:binder { call };
allow SP_daemon ohos_boot_param:file { map open read };
allow SP_daemon net_param:file { open read map };
allow SP_daemon sys_param:file { map open read };
allow SP_daemon sys_usb_param:file { map open read };
allow SP_daemon const_postinstall_fstab_param:file { map read open };
allow SP_daemon const_postinstall_param:file { map open read };
allow SP_daemon net_tcp_param:file { map open read };
allow SP_daemon const_allow_mock_param:file { map open read };
allow SP_daemon const_allow_param:file { map open read };
allow SP_daemon persist_param:file { read map open };
allow SP_daemon security_param:file { map open read };
allow SP_daemon bootevent_wms_param:file { map open read };
allow SP_daemon ffrt_param:file {  map open read };
allow SP_daemon print_param:file { map open read };
allow SP_daemon arkcompiler_param:file { map open read };
allow SP_daemon arkui_param:file { map open read };
allow SP_daemon hiviewdfx_profiler_param:file { map open read };
allow SP_daemon bms_param:file { map read open};
allow SP_daemon const_display_brightness_param:file { map read open };
allow SP_daemon developtools_hdc_control_param:file { map read open };
allow SP_daemon distributedsche_param:file { map read open };
allow SP_daemon input_pointer_device_param:file { map read open};
allow SP_daemon samgr_perf_param:file { map read open };
allow SP_daemon thermal_log_param:file { map read open };
allow SP_daemon updater_data_param:file { map read open};
allow SP_daemon updater_flashd_param:file { map read open };
allow SP_daemon updater_hdc_param:file { map read open };
allow SP_daemon ueventd:file { open };
allow SP_daemon watchdog_service:dir { search };
allow SP_daemon hilogd:dir { search open read };
allow SP_daemon module_update_service:dir { search };
allow SP_daemon module_update_service:file { open read};
allow SP_daemon watchdog_service:file { open read };
allow SP_daemon appspawn:dir { open search read };
allow SP_daemon hdf_devmgr:dir { search };
allow SP_daemon hdf_devmgr:file { open read };
allow SP_daemon storage_manager:dir { search };
allow SP_daemon storage_manager:file { open read };
allow SP_daemon device_manager:dir { search };
allow SP_daemon storage_daemon:dir { search };
allow SP_daemon storage_daemon:file { open read };
allow SP_daemon appspawn:file { open };
allow SP_daemon device_manager:file { read };
allow SP_daemon hiview:dir { search };
allow SP_daemon hiview:file { open read };
allow SP_daemon param_watcher:dir { search };
allow SP_daemon param_watcher:file { open read };
allow SP_daemon proc_stat_file:file { read };
#allow SP_daemon usb_setting_param:file { read map open };
#allow SP_daemon SP_daemon:capability { sys_ptrace };

allow SP_daemon proc_stat_file:file { open };
allow SP_daemon system_basic_hap:file { getattr };
allow SP_daemon proc_stat_file:file { getattr };

allow SP_daemon accessibility:dir { search };
allow SP_daemon accessibility:file { open };
allow SP_daemon accessibility:file { read };
allow SP_daemon accesstoken_service:dir { search };
allow SP_daemon accesstoken_service:file { open };
allow SP_daemon accesstoken_service:file { read };
allow SP_daemon accountmgr:dir { search };
allow SP_daemon accountmgr:file { open };
allow SP_daemon accountmgr:file { read };
allow SP_daemon allocator_host:dir { search };
allow SP_daemon allocator_host:file { open };
allow SP_daemon allocator_host:file { read };
allow SP_daemon appspawn:file { read };
allow SP_daemon audio_host:dir { search };
allow SP_daemon audio_host:file { open };
allow SP_daemon audio_host:file { read };
allow SP_daemon audio_policy:dir { search };
allow SP_daemon audio_policy:file { open };
allow SP_daemon audio_policy:file { read };
allow SP_daemon av_codec_service:dir { search };
allow SP_daemon av_codec_service:file { open };
allow SP_daemon av_codec_service:file { read };
allow SP_daemon av_session:dir { search };
allow SP_daemon av_session:file { open };
allow SP_daemon av_session:file { read };
allow SP_daemon bgtaskmgr_service:dir { search };
allow SP_daemon bgtaskmgr_service:file { open };
allow SP_daemon bgtaskmgr_service:file { read };
allow SP_daemon blue_host:dir { search };
allow SP_daemon blue_host:file { open read };
allow SP_daemon bluetooth_service:dir { search };
allow SP_daemon bluetooth_service:file { open read };
allow SP_daemon bytrace:dir { search };
allow SP_daemon bytrace:file { open read };
allow SP_daemon camera_host:dir { search };
allow SP_daemon camera_host:file { open };
allow SP_daemon camera_host:file { read };
allow SP_daemon camera_service:dir { search };
allow SP_daemon camera_service:file { open };
allow SP_daemon camera_service:file { read };
allow SP_daemon cloudfiledaemon:dir { search };
allow SP_daemon cloudfiledaemon:file { open };
allow SP_daemon cloudfiledaemon:file { read };
allow SP_daemon codec_host:dir { search };
allow SP_daemon codec_host:file { open read };
allow SP_daemon composer_host:dir { search };
allow SP_daemon composer_host:file { open };
allow SP_daemon composer_host:file { read };
allow SP_daemon concurrent_task_service:dir { search };
allow SP_daemon concurrent_task_service:file { open };
allow SP_daemon concurrent_task_service:file { read };
allow SP_daemon device_manager:file { open };
allow SP_daemon device_usage_stats_service:dir { search };
allow SP_daemon device_usage_stats_service:file { open };
allow SP_daemon device_usage_stats_service:file { read };
allow SP_daemon deviceauth_service:dir { search };
allow SP_daemon deviceauth_service:file { open };
allow SP_daemon deviceauth_service:file { read };
allow SP_daemon distributeddata:dir { search };
allow SP_daemon distributeddata:file { open };
allow SP_daemon distributeddata:file { read };
allow SP_daemon distributedsche:dir { search };
allow SP_daemon distributedsche:file { open };
allow SP_daemon distributedsche:file { read };
allow SP_daemon dlp_permission_service:dir { search };
allow SP_daemon dlp_permission_service:file { open };
allow SP_daemon dlp_permission_service:file { read };
allow SP_daemon face_auth_host:dir { search };
allow SP_daemon face_auth_host:file { open };
allow SP_daemon face_auth_host:file { read };
allow SP_daemon faultloggerd:dir { search };
allow SP_daemon faultloggerd:file { open };
allow SP_daemon faultloggerd:file { read };
allow SP_daemon fingerprint_auth_host:dir { search };
allow SP_daemon fingerprint_auth_host:file { open };
allow SP_daemon fingerprint_auth_host:file { read };
allow SP_daemon foundation:dir { search };
allow SP_daemon foundation:file { open };
allow SP_daemon foundation:file { read };
allow SP_daemon hdcd:dir { search };
allow SP_daemon hdcd:file { open };
allow SP_daemon hdcd:file { read };
allow SP_daemon hidumper_service:dir { search };
allow SP_daemon hidumper_service:file { open };
allow SP_daemon hidumper_service:file { read };
allow SP_daemon hilogd:file { open };
allow SP_daemon hilogd:file { read };
allow SP_daemon huks_service:dir { search };
allow SP_daemon huks_service:file { open };
allow SP_daemon huks_service:file { read };
allow SP_daemon input_user_host:dir { search };
allow SP_daemon input_user_host:file { open };
allow SP_daemon input_user_host:file { read };
allow SP_daemon inputmethod_service:dir { search };
allow SP_daemon inputmethod_service:file { open };
allow SP_daemon inputmethod_service:file { read };
allow SP_daemon installs:dir { search };
allow SP_daemon installs:file { open };
allow SP_daemon installs:file { read };
allow SP_daemon intell_voice_host:dir { search };
allow SP_daemon intell_voice_host:file { open };
allow SP_daemon intell_voice_host:file { read };
allow SP_daemon light_host:dir { search };
allow SP_daemon light_host:file { open };
allow SP_daemon light_host:file { read };
allow SP_daemon local_code_sign:dir { search };
allow SP_daemon local_code_sign:file { open };
allow SP_daemon local_code_sign:file { read };
allow SP_daemon media_service:dir { search };
allow SP_daemon media_service:file { open };
allow SP_daemon media_service:file { read };
allow SP_daemon medialibrary_hap:dir { search };
allow SP_daemon medialibrary_hap:file { open };
allow SP_daemon medialibrary_hap:file { read };
allow SP_daemon memmgrservice:dir { search };
allow SP_daemon memmgrservice:file { open };
allow SP_daemon memmgrservice:file { read };
allow SP_daemon mmi_uinput_service:dir { search };
allow SP_daemon mmi_uinput_service:file { open };
allow SP_daemon mmi_uinput_service:file { read };
allow SP_daemon msdp_sa:dir { search };
allow SP_daemon msdp_sa:file { open };
allow SP_daemon msdp_sa:file { read };
allow SP_daemon multimodalinput:dir { search };
allow SP_daemon multimodalinput:file { open };
allow SP_daemon multimodalinput:file { read };
allow SP_daemon netmanager:dir { search };
allow SP_daemon netmanager:file { open };
allow SP_daemon netmanager:file { read };
allow SP_daemon netsysnative:dir { search };
allow SP_daemon netsysnative:file { open };
allow SP_daemon netsysnative:file { read };
allow SP_daemon normal_hap:dir { search };
allow SP_daemon normal_hap:file { open };
allow SP_daemon normal_hap:file { read };
allow SP_daemon nwebspawn:dir { search };
allow SP_daemon nwebspawn:file { open };
allow SP_daemon nwebspawn:file { read };
allow SP_daemon pin_auth_host:dir { search };
allow SP_daemon pin_auth_host:file { open };
allow SP_daemon pin_auth_host:file { read };
allow SP_daemon pinauth:dir { search };
allow SP_daemon pinauth:file { open };
allow SP_daemon pinauth:file { read };
allow SP_daemon power_host:dir { search };
allow SP_daemon power_host:file { open };
allow SP_daemon power_host:file { read };
allow SP_daemon privacy_service:dir { search };
allow SP_daemon privacy_service:file { open };
allow SP_daemon privacy_service:file { read };
allow SP_daemon pulseaudio:dir { search };
allow SP_daemon pulseaudio:file { open };
allow SP_daemon pulseaudio:file { read };
allow SP_daemon render_service:dir { search };
allow SP_daemon render_service:file { open };
allow SP_daemon render_service:file { read };
allow SP_daemon resource_schedule_service:dir { search };
allow SP_daemon resource_schedule_service:file { open };
allow SP_daemon resource_schedule_service:file { read };
allow SP_daemon sa_accessibleabilityms:samgr_class { get };
allow SP_daemon sa_foundation_abilityms:samgr_class { get };
allow SP_daemon sa_foundation_dms:samgr_class { get };
allow SP_daemon sa_multimodalinput_service:samgr_class { get };
allow SP_daemon sa_param_watcher:samgr_class { get };
allow SP_daemon samgr:dir { search };
allow SP_daemon samgr:file { open };
allow SP_daemon samgr:file { read };
allow SP_daemon sensor_host:dir { search };
allow SP_daemon sensor_host:file { open };
allow SP_daemon sensor_host:file { read };
allow SP_daemon sensors:dir { search };
allow SP_daemon sensors:file { open };
allow SP_daemon sensors:file { read };
allow SP_daemon sh:dir { search };
allow SP_daemon sh:file { open };
allow SP_daemon sh:file { read };
allow SP_daemon softbus_server:dir { search };
allow SP_daemon softbus_server:file { open };
allow SP_daemon softbus_server:file { read };
allow SP_daemon telephony_sa:dir { search };
allow SP_daemon telephony_sa:file { open };
allow SP_daemon telephony_sa:file { read };
allow SP_daemon time_service:dir { search };
allow SP_daemon time_service:file { open };
allow SP_daemon time_service:file { read };
allow SP_daemon ui_service:dir { search };
allow SP_daemon ui_service:file { open };
allow SP_daemon ui_service:file { read };
allow SP_daemon updater_sa:dir { search };
allow SP_daemon updater_sa:file { open };
allow SP_daemon updater_sa:file { read };
allow SP_daemon usb_host:dir { search };
allow SP_daemon usb_host:file { open };
allow SP_daemon usb_host:file { read };
allow SP_daemon usb_service:dir { search };
allow SP_daemon usb_service:file { open read };
allow SP_daemon user_auth_host:dir { search };
allow SP_daemon user_auth_host:file { open read };
allow SP_daemon useriam:dir { search };
allow SP_daemon useriam:file { open read };
allow SP_daemon vibrator_host:dir { search };
allow SP_daemon vibrator_host:file { open read };
allow SP_daemon wallpaper_service:dir { search };
allow SP_daemon wallpaper_service:file { open read };
allow SP_daemon wifi_hal_service:dir { search };
allow SP_daemon wifi_hal_service:file { open read };
allow SP_daemon wifi_host:dir { search };
allow SP_daemon wifi_host:file { open read };
allow SP_daemon wifi_manager_service:dir { search };
allow SP_daemon wifi_manager_service:file { open read };
allow SP_daemon domain: dir { search };
allow SP_daemon domain: file { open read };

allow SP_daemon SP_daemon:tcp_socket { create accept bind };
allow SP_daemon SP_daemon:udp_socket { create read };
allow SP_daemon bootanimation:dir { search };
allow SP_daemon intell_voice_service:dir { search };
allow SP_daemon proc_stat_file:file { setattr };
allow SP_daemon SP_daemon:tcp_socket { accept };
allow SP_daemon SP_daemon:udp_socket { read };
