# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# avc:  denied  { call } for  pid=1737 comm="IPC_1_1739" scontext=u:r:normal_hap:s0 tcontext=u:r:console:s0 tclass=binder permissive=1
# avc:  denied  { getattr } for  pid=1812 comm="com.usb.right" path="/data/storage/el1/bundle/entry" dev="mmcblk0p11" ino=1211 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:data_app_el1_file:s0 tclass=dir permissive=1
debug_only(`
    allow normal_hap_attr console:binder { call };
')
allow normal_hap_attr sa_usb_service:samgr_class { get };
allow normal_hap_attr usb_service:binder { call };
allow normal_hap_attr dev_bus_usb_file:chr_file { read write };
allowxperm normal_hap_attr dev_bus_usb_file:chr_file ioctl { 0x5500 0x5504 0x5505 0x5508 0x550a 0x550b 0x550d 0x550f 0x5510 0x5511 0x5512 0x5514
                                                        0x5515 0x5516 0x5517 0x551a 0x551b 0x551c 0x551d 0x551e 0x551f };
