# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow accessibility accesstoken_service:binder call;
allow distributedfiledaemon accesstoken_service:binder call;
allow fms_service accesstoken_service:binder call;
allow inputmethod_service accesstoken_service:binder call;
allow memmgrservice accesstoken_service:binder call;
allow netsysnative accesstoken_service:binder call;
allow pasteboard_service accesstoken_service:binder call;
allow render_service accesstoken_service:binder call;
allow screenlock_server accesstoken_service:binder call;
allow ui_service accesstoken_service:binder call;
allow usb_service accesstoken_service:binder call;

#============= accessibility ==============
allow accessibility sa_accesstoken_manager_service:samgr_class get;

#============= bgtaskmgr_service ==============
allow bgtaskmgr_service sa_accesstoken_manager_service:samgr_class get;

#============= distributedfiledaemon ==============
allow distributedfiledaemon sa_accesstoken_manager_service:samgr_class get;

#============= download_server ==============
allow download_server sa_accesstoken_manager_service:samgr_class get;

#============= dslm_service ==============
allow dslm_service sa_accesstoken_manager_service:samgr_class get;

#============= fms_service ==============
allow fms_service sa_accesstoken_manager_service:samgr_class get;

#============= inputmethod_service ==============
allow inputmethod_service sa_accesstoken_manager_service:samgr_class get;

#============= memmgrservice ==============
allow memmgrservice sa_accesstoken_manager_service:samgr_class get;

#============= netsysnative ==============
allow netsysnative sa_accesstoken_manager_service:samgr_class get;

#============= param_watcher ==============
allow param_watcher sa_accesstoken_manager_service:samgr_class get;

#============= pasteboard_service ==============
allow pasteboard_service sa_accesstoken_manager_service:samgr_class get;

#============= render_service ==============
allow render_service sa_accesstoken_manager_service:samgr_class get;

#============= resource_schedule_service ==============
allow resource_schedule_service sa_accesstoken_manager_service:samgr_class get;

#============= screenlock_server ==============
allow screenlock_server sa_accesstoken_manager_service:samgr_class get;

#============= ui_service ==============
allow ui_service sa_accesstoken_manager_service:samgr_class get;

#============= usb_service ==============
allow usb_service sa_accesstoken_manager_service:samgr_class get;
