# Copyright (c) 2026 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

developer_only(`
    # avc: denied { call } for pid=3616 comm="OS_IPC_0_3617" scontext=u:r:test_server:s0 tcontext=u:r:accountmgr:s0 tclass=binder permissive=1
    allow test_server accountmgr:binder { call };
    # avc: denied { transfer } for pid=1158 comm="OS_IPC_4_1459" scontext=u:r:accountmgr:s0 tcontext=u:r:test_server:s0 tclass=binder permissive=1
    allow accountmgr test_server:binder { transfer };
    # avc: denied { get } for service=200 sid=u:r:test_server:s0 scontext=u:r:test_server:s0 tcontext=u:object_r:sa_accountmgr:s0 tclass=samgr_class permissive=1
    allow test_server sa_accountmgr:samgr_class { get };
')
