# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow edm_sa accesstoken_service:binder { call };
allow edm_sa accountmgr:binder { call };
allow edm_sa data_service_el1_file:dir { search read write open add_name remove_name };
allow edm_sa data_service_el1_file:file { create write open ioctl rename read unlink setattr };
allow edm_sa data_service_file:dir { search };
allow edm_sa devinfo_private_param:file { map open read };
allow edm_sa distributeddata:binder { call };
allow edm_sa distributeddata:fd { use };
allow edm_sa netmanager:binder { call };
allow edm_sa normal_hap_attr:binder { call };
allow edm_sa sa_accesstoken_manager_service:samgr_class { get };
allow edm_sa sa_accountmgr:samgr_class { get };
allow edm_sa sa_cert_manager_service:samgr_class { get };
allow edm_sa sa_comm_ethernet_manager_service:samgr_class { get };
allow edm_sa sa_distributeddata_service:samgr_class { get };
allow edm_sa sa_enterprise_device_manager_service:samgr_class { get };
allow edm_sa sa_foundation_appms:samgr_class { get };
allow edm_sa sa_foundation_abilityms:samgr_class { get };
allow edm_sa sa_foundation_bms:samgr_class { get };
allow edm_sa sa_softbus_service:samgr_class { get };
allow edm_sa sa_time_service:samgr_class { get };
allow edm_sa sa_update_distributed_service:samgr_class { get };
allow edm_sa sa_wifi_device_ability:samgr_class { get };
allow edm_sa sa_wifi_scan_ability:samgr_class { get };
allow edm_sa sa_wifi_p2p_ability:samgr_class { get };
allow edm_sa sa_wifi_hotspot_ability:samgr_class { get };
allow edm_sa sa_wifi_p2p_ability:samgr_class { get };
allow edm_sa system_basic_hap:binder { call };
allow edm_sa system_core_hap:binder { call };
allow edm_sa time_service:binder { call };
allow edm_sa updater_sa:binder { call };
allow edm_sa wifi_manager_service:binder { call };

allowxperm edm_sa data_service_el1_file:file ioctl 0x5413;
