# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow edm_sa accesstoken_service:binder { call };
allow edm_sa accountmgr:binder { call };
allow edm_sa bootevent_param:file { map open read };
allow edm_sa bootevent_samgr_param:file { map open read };
allow edm_sa build_version_param:file { map read read open };
allow edm_sa const_allow_mock_param:file { map open read };
allow edm_sa const_allow_param:file { map open read };
allow edm_sa const_build_param:file { map open read };
allow edm_sa const_display_brightness_param:file { map open read };
allow edm_sa const_param:file { map open read };
allow edm_sa const_postinstall_fstab_param:file { map open read };
allow edm_sa const_postinstall_param:file { map open read };
allow edm_sa const_product_param:file { map open read };
allow edm_sa data_file:dir { add_name open read remove_name search write };
allow edm_sa data_service_el1_file:dir { search read write open add_name remove_name };

# avc:  denied  { lock } for  pid=3779 comm="IPC_6_3929" path="/data/service/el1/public/edm/edmdb.db-shm" dev="mmcblk0p12" ino=10573 scontext=u:r:edm_sa:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
# avc:  denied  { map } for  pid=398 comm="edm" path="/data/service/el1/public/edm/edmdb.db-shm" dev="mmcblk0p12" ino=14163 scontext=u:r:edm_sa:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=0
allow edm_sa data_service_el1_file:file { create write open ioctl rename read unlink setattr getattr lock map };

allow edm_sa data_service_file:dir { search };
allow edm_sa debug_param:file { map open read };
allow edm_sa default_param:file { map open read };

# avc:  denied  { open } for  pid=1904 comm="SaInit0" path="/dev/ashmem" dev="tmpfs" ino=211 scontext=u:r:edm_sa:s0 tcontext=u:object_r:dev_ashmem_file:s0 tclass=chr_file permissive=0
allow edm_sa dev_ashmem_file:chr_file { open };

allow edm_sa dev_console_file:chr_file { read write };
allow edm_sa dev_file:dir { getattr };
allow edm_sa dev_unix_socket:dir { search };

# avc: denied { read } for pid=2972 comm="edm" name="u:object_r:developtools_hdc_control_param:s0" dev="tmpfs" ino=126 scontext=u:r:edm_sa:s0 tcontext=u:object_r:developtools_hdc_control_param:s0 tclass=file permissive=1
# avc: denied { open } for pid=2972 comm="edm" path="/dev/__parameters__/u:object_r:developtools_hdc_control_param:s0" dev="tmpfs" ino=126 scontext=u:r:edm_sa:s0 tcontext=u:object_r:developtools_hdc_control_param:s0 tclass=file permissive=1
# avc: denied { map } for pid=2972 comm="edm" path="/dev/__parameters__/u:object_r:developtools_hdc_control_param:s0" dev="tmpfs" ino=126 scontext=u:r:edm_sa:s0 tcontext=u:object_r:developtools_hdc_control_param:s0 tclass=file permissive=1
allow edm_sa developtools_hdc_control_param:file { map open read };

# avc: denied { set } for process="unknown process" parameter=persist.hdc.control pid=2939 uid=3057 gid=3057 scontext=u:r:edm_sa:s0 tcontext=u:object_r:developtools_hdc_control_param:s0 tclass=parameter_service permissive=0
allow edm_sa developtools_hdc_control_param:parameter_service { set };

allow edm_sa devinfo_private_param:file { map open read };

# avc:  denied  { transfer } for  pid=1524 comm="SaInit0" scontext=u:r:edm_sa:s0 tcontext=u:r:distributeddata:s0 tclass=binder permissive=0
allow edm_sa distributeddata:binder { call transfer };

allow edm_sa distributedsche_param:file { map open read };
allow edm_sa distributeddata:fd { use };
allow edm_sa foundation:binder { call transfer };

# avc: denied { call } for pid=740 comm="edm" scontext=u:r:edm_sa:s0 tcontext=u:r:hdf_devmgr:s0 tclass=binder permissive=1
allow edm_sa hdf_devmgr:binder { call };

allow edm_sa hilog_param:file { map open read };
allow edm_sa hw_sc_build_os_param:file { map open read };
allow edm_sa hw_sc_build_param:file { map open read };
allow edm_sa hw_sc_param:file { map open read };
allow edm_sa init_param:file { map read read open };
allow edm_sa init_svc_param:file { map open read };
allow edm_sa input_pointer_device_param:file { map open read };
allow edm_sa kernel:unix_stream_socket { connectto };
allow edm_sa musl_param:file { open read map };
allow edm_sa net_param:file { map open read };
allow edm_sa net_tcp_param:file { map open read };
allow edm_sa netmanager:binder { call };
allow edm_sa normal_hap_attr:binder { call };
allow edm_sa ohos_boot_param:file { map open read };
allow edm_sa ohos_param:file { map open read };
allow edm_sa param_watcher:binder { call transfer };
allow edm_sa paramservice_socket:sock_file { write };
allow edm_sa persist_param:file { map open read };
allow edm_sa persist_param:parameter_service { set };
allow edm_sa persist_sys_param:file { map open read };
allow edm_sa sa_accesstoken_manager_service:samgr_class { get };
allow edm_sa sa_accountmgr:samgr_class { get };
allow edm_sa sa_cert_manager_service:samgr_class { get };
allow edm_sa sa_comm_ethernet_manager_service:samgr_class { get };

# avc: denied { get } for service=5100 pid=740 scontext=u:r:edm_sa:s0 tcontext=u:object_r:sa_device_service_manager:s0 tclass=samgr_class permissive=1
allow edm_sa sa_device_service_manager:samgr_class { get };

allow edm_sa sa_distributeddata_service:samgr_class { get };
allow edm_sa sa_enterprise_device_manager_service:samgr_class { get add };
allow edm_sa sa_foundation_appms:samgr_class { get };
allow edm_sa sa_foundation_abilityms:samgr_class { get };
allow edm_sa sa_foundation_bms:samgr_class { get };
allow edm_sa sa_foundation_cesfwk_service:samgr_class { get };
allow edm_sa sa_param_watcher:samgr_class { get };
allow edm_sa sa_softbus_service:samgr_class { get };

# avc: denied { get } for service=5003 pid=2191 scontext=u:r:edm_sa:s0 tcontext=u:object_r:sa_storage_manager_service:s0 tclass=samgr_class permissive=1
allow edm_sa sa_storage_manager_service:samgr_class { get };

allow edm_sa sa_time_service:samgr_class { get };
allow edm_sa sa_update_distributed_service:samgr_class { get };
allow edm_sa sa_wifi_device_ability:samgr_class { get };
allow edm_sa sa_wifi_scan_ability:samgr_class { get };
allow edm_sa sa_wifi_p2p_ability:samgr_class { get };
allow edm_sa sa_wifi_hotspot_ability:samgr_class { get };
allow edm_sa sa_wifi_p2p_ability:samgr_class { get };
allow edm_sa security_param:file { map open read };
allow edm_sa startup_param:file { map open read };

# avc: denied { call } for pid=740 comm="edm" scontext=u:r:edm_sa:s0 tcontext=u:r:storage_manager:s0 tclass=binder permissive=1
allow edm_sa storage_manager:binder { call };

allow edm_sa sys_file:file { open read };
allow edm_sa sys_param:file { map open read };
allow edm_sa sys_usb_param:file { map open read };

# avc: denied { open } for pid=2168 comm="sa_main" path="/sys/devices/system/cpu/online" dev="sysfs" ino=28065 scontext=u:r:edm_sa:s0 tcontext=u:object_r:sysfs_devices_system_cpu:s0 tclass=file permissive=1
# avc: denied { getattr } for pid=2168 comm="sa_main" path="/sys/devices/system/cpu/online" dev="sysfs" ino=28065 scontext=u:r:edm_sa:s0 tcontext=u:object_r:sysfs_devices_system_cpu:s0 tclass=file permissive=1
allow edm_sa sysfs_devices_system_cpu:file { getattr open read };

allow edm_sa sysfs_hctosys:file { open read };
allow edm_sa sysfs_rtc:dir { open read };
allow edm_sa system_basic_hap:binder { call };
allow edm_sa system_bin_file:dir { search };
allow edm_sa system_core_hap:binder { call };
allow edm_sa system_lib_file:dir { open read };
allow edm_sa time_service:binder { call };
allow edm_sa tracefs:dir { search };
allow edm_sa tracefs_trace_marker_file:file { open write };
allow edm_sa updater_sa:binder { call };
allow edm_sa wifi_manager_service:binder { call };
allow edm_sa netsysnative:binder { transfer call };
allow edm_sa sa_netsys_native_manager:samgr_class { get };
allow edm_sa cert_manager_service:binder { call };
allow edm_sa sa_net_conn_manager:samgr_class { get };

# avc:  denied  { ioctl } for  pid=398 comm="edm" path="/data/service/el1/public/edm/edmdb.db" dev="mmcblk0p12" ino=14159 ioctlcmd=0xf50c scontext=u:r:edm_sa:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=0
allowxperm edm_sa data_service_el1_file:file ioctl { 0x5413 0xf50c };
