# Copyright (c) 2025 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow init edm_config_file:dir { add_name create write relabelto read open search setattr getattr };
allow init edm_config_file:file { relabelto setattr getattr };

# avc: denied { relabelto } for pid=1, comm="/bin/init"  name="/service/el1/public/edm" dev="/dev/block/platform/b0000000.hi_pcie/by-name/userdata" ino=53249 scontext=u:r:init:s0 tcontext=u:object_r:edm_base_file:s0 tclass=dir permissive=0
allow init edm_base_file:dir { add_name read open getattr relabelto create relabelfrom search write setattr };

# avc: denied { relabelto } for pid=1, comm="/bin/init" name="/service/el1/public/edm" dev="/dev/block/platform/b0000000.hi_pcie/by-name/userdata" ino=53249 scontext=u:r:init:s0 tcontext=u:object_r:edm_base_file:s0 tclass=file permissive=0
allow init edm_base_file:file { relabelto setattr getattr };
