# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow netsysnative dev_unix_socket:dir { search };
allow netsysnative netsysnative:capability { net_admin net_raw net_bind_service };
allow netsysnative netsysnative:netlink_route_socket { create nlmsg_write write };
allow netsysnative netsysnative:unix_dgram_socket { ioctl };
allow netsysnative sh_exec:file { execute };
allow netsysnative netsysnative:netlink_nflog_socket { bind getopt setopt };
allow netsysnative netsysnative:rawip_socket { create getopt setopt };
allow netsysnative proc_file:file { read };
allow netsysnative proc_net:file { getattr };
allow netsysnative sh_exec:file { execute execute_no_trans map open read };
allow netsysnative system_bin_file:file { execute execute_no_trans getattr map open read };
allow netsysnative system_etc_file:file { lock };
allow netsysnative tty_device:chr_file { open read write };
allowxperm netsysnative netsysnative:unix_dgram_socket ioctl { 0x8933 };

