# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

debug_only(`
    allow sh iptables_exec:file { execute read open execute_no_trans map};
    allow sh netsysnative:binder { call transfer };
    allow sh sh:bpf { map_read prog_load map_create map_write };
    allow sh sa_netsys_ext_service:samgr_class { add get };
    allow sh fs_bpf:dir { getattr search mounton add_name create write };
    allow sh netsysnative:lnk_file { read };
    allow sh fs_bpf:file { create write read };
    allow sh sa_distributed_net_service:samgr_class { add get };
')
