# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type  pasteboard_service, sadomain, domain;

allow pasteboard_service system_core_hap:binder { call transfer };
allow pasteboard_service system_basic_hap:binder { call transfer };
allow pasteboard_service normal_hap:binder { call transfer };
allow pasteboard_service sh:binder { call transfer };
allow pasteboard_service dev_unix_socket:dir { search };
allow system_core_hap sa_pasteboard_service:samgr_class { get };
allow system_basic_hap sa_pasteboard_service:samgr_class { get };
allow normal_hap sa_pasteboard_service:samgr_class { get };
allow system_core_hap pasteboard_service:binder { call transfer };
allow system_basic_hap pasteboard_service:binder { call transfer };
allow normal_hap pasteboard_service:binder { call transfer };
allow sh pasteboard_service:binder { call transfer };
allow pasteboard_service foundation:binder { call transfer };
allow pasteboard_service sa_foundation_bms:samgr_class { get };
allow pasteboard_service accessibility_param:file { read };
allow pasteboard_service system_usr_file:dir { search };
allow pasteboard_service sa_foundation_wms:samgr_class { get };

