# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#avc:  denied  { add_name } for  pid=623 comm="hdcd" name="55.m4a" scontext=u:r:hdcd:s0 tcontext=u:object_r:data_app_el1_file:s0 tclass=dir permissive=1
allow hdcd data_app_el1_file:dir { add_name };
#avc:  denied  { getattr } for  pid=623 comm="hdcd" path="/data/app/el1/bundle/public/ohos.acts.multimedia.audio.audioplayer/ohos.acts.multimedia.audio.audioplayer/assets/entry/resources/rawfile" dev="mmcblk0p11" ino=1307143 scontext=u:r:hdcd:s0 tcontext=u:object_r:data_app_el1_file:s0 tclass=dir permissive=1
allow hdcd data_app_el1_file:dir { getattr };
#avc:  denied  { search } for  pid=623 comm="hdcd" name="el1" dev="mmcblk0p11" ino=1175042 scontext=u:r:hdcd:s0 tcontext=u:object_r:data_app_el1_file:s0 tclass=dir permissive=1
allow hdcd data_app_el1_file:dir { search };
#avc:  denied  { write } for  pid=623 comm="hdcd" name="rawfile" dev="mmcblk0p11" ino=1307143 scontext=u:r:hdcd:s0 tcontext=u:object_r:data_app_el1_file:s0 tclass=dir permissive=1
allow hdcd data_app_el1_file:dir { write };
#avc:  denied  { create } for  pid=623 comm="hdcd" name="47.mp4" scontext=u:r:hdcd:s0 tcontext=u:object_r:data_app_el1_file:s0 tclass=file permissive=1
allow hdcd data_app_el1_file:file { create };
#avc:  denied  { write open } for  pid=623 comm="hdcd" path="/data/app/el1/bundle/public/ohos.acts.multimedia.audio.audioplayer/ohos.acts.multimedia.audio.audioplayer/assets/entry/resources/rawfile/47.mp4" dev="mmcblk0p11" ino=1307027 scontext=u:r:hdcd:s0 tcontext=u:object_r:data_app_el1_file:s0 tclass=file permissive=1
allow hdcd data_app_el1_file:file { write open };
#avc:  denied  { search } for  pid=623 comm="hdcd" name="el2" dev="mmcblk0p11" ino=1175045 scontext=u:r:hdcd:s0 tcontext=u:object_r:data_app_el2_file:s0 tclass=dir permissive=1
allow hdcd data_app_el2_file:dir { search };
#avc:  denied  { search } for  pid=623 comm="hdcd" name="app" dev="mmcblk0p11" ino=1175041 scontext=u:r:hdcd:s0 tcontext=u:object_r:data_app_file:s0 tclass=dir permissive=1
allow hdcd data_app_file:dir { search };
#avc:  denied  { open } for  pid=623 comm="hdcd" path="/dev/block/mmcblk0p7" dev="tmpfs" ino=8 scontext=u:r:hdcd:s0 tcontext=u:object_r:dev_block_file:s0 tclass=blk_file permissive=1
allow hdcd dev_block_file:blk_file { open };
#avc:  denied  { read } for  pid=623 comm="hdcd" name="mmcblk0p7" dev="tmpfs" ino=8 scontext=u:r:hdcd:s0 tcontext=u:object_r:dev_block_file:s0 tclass=blk_file permissive=1
allow hdcd dev_block_file:blk_file { read };
#avc:  denied  { sys_admin } for  pid=623 comm="hdcd" capability=21  scontext=u:r:hdcd:s0 tcontext=u:r:hdcd:s0 tclass=capability permissive=1
allow hdcd hdcd:capability { sys_admin };
#avc:  denied  { getattr } for  pid=623 comm="hdcd" path="/data/app/el2/100/base/ohos.acts.multimedia.audio.codecformat/haps/entry/files" dev="mmcblk0p11" ino=1307128 scontext=u:r:hdcd:s0 tcontext=u:object_r:system_core_hap_data_file:s0 tclass=dir permissive=1
allow hdcd system_core_hap_data_file:dir { getattr };
#avc:  denied  { search } for  pid=623 comm="hdcd" name="ohos.acts.multimedia.audio.codecformat" dev="mmcblk0p11" ino=1307021 scontext=u:r:hdcd:s0 tcontext=u:object_r:system_core_hap_data_file:s0 tclass=dir permissive=1
allow hdcd system_core_hap_data_file:dir { search };
#avc:  denied  { open } for  pid=623 comm="hdcd" path="/data/app/el2/100/base/ohos.acts.multimedia.video.codecformat/haps/entry/files/H264_HP_720_480_30_3000000.h264" dev="mmcblk0p11" ino=1307357 scontext=u:r:hdcd:s0 tcontext=u:object_r:system_core_hap_data_file:s0 tclass=file permissive=1
allow hdcd system_core_hap_data_file:file { open };
#avc:  denied  { write } for  pid=623 comm="hdcd" name="S16LE.pcm" dev="mmcblk0p11" ino=1307314 scontext=u:r:hdcd:s0 tcontext=u:object_r:system_core_hap_data_file:s0 tclass=file permissive=1
allow hdcd system_core_hap_data_file:file { write };
#avc:  denied  { add_name } for  pid=623 comm="hdcd" name="ActsHLSPlayerJsTest.hap" scontext=u:r:hdcd:s0 tcontext=u:object_r:system_file:s0 tclass=dir permissive=1
allow hdcd system_file:dir { add_name };
#avc:  denied  { getattr } for  pid=623 comm="hdcd" path="/system/app" dev="mmcblk0p6" ino=28 scontext=u:r:hdcd:s0 tcontext=u:object_r:system_file:s0 tclass=dir permissive=1
allow hdcd system_file:dir { getattr };
#avc:  denied  { write } for  pid=623 comm="hdcd" name="app" dev="mmcblk0p6" ino=28 scontext=u:r:hdcd:s0 tcontext=u:object_r:system_file:s0 tclass=dir permissive=1
allow hdcd system_file:dir { write };
#avc:  denied  { create } for  pid=623 comm="hdcd" name="ActsHLSPlayerJsTest.hap" scontext=u:r:hdcd:s0 tcontext=u:object_r:system_file:s0 tclass=file permissive=1
allow hdcd system_file:file { create };
#avc:  denied  { write open } for  pid=623 comm="hdcd" path="/system/app/ActsHttpsPlayerJsTest.hap" dev="mmcblk0p6" ino=2553 scontext=u:r:hdcd:s0 tcontext=u:object_r:system_file:s0 tclass=file permissive=1
allow hdcd system_file:file { write open };
#avc:  denied  { write } for  pid=623 comm="hdcd" name="ActsHLSPlayerJsTest.hap" dev="mmcblk0p6" ino=2546 scontext=u:r:hdcd:s0 tcontext=u:object_r:system_file:s0 tclass=file permissive=1
allow hdcd system_file:file { write };
allow hdcd normal_hap_data_file:dir { search };
