# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#avc:  denied  { search } for  pid=177 comm="kworker/u8:3" name="xhci" dev="debugfs" ino=962 scontext=u:r:kernel:s0 tcontext=u:object_r:debugfs_usb:s0 tclass=dir permissive=1
allow kernel debugfs_usb:dir { search };
