# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#avc:  denied  { ioctl } for  pid=252 comm="mmi_service" path="/sys/devices/platform/rk-headset/input/input3/uevent" dev="sysfs" ino=32447 ioctlcmd=0x5413 scontext=u:r:multimodalinput:s0 tcontext=u:object_r:sys_file:s0 tclass=file permissive=1
allow multimodalinput sys_file:file { ioctl };
allowxperm multimodalinput sys_file:file ioctl { 0x5413 };
#avc:  denied  { write } for  pid=252 comm="mmi_service" name="uevent" dev="sysfs" ino=32447 scontext=u:r:multimodalinput:s0 tcontext=u:object_r:sys_file:s0 tclass=file permissive=1
allow multimodalinput sys_file:file { write };
#avc:  denied  { add_name } for  pid=246 comm="multimodalinput" name="libinput.log" scontext=u:r:multimodalinput:s0 tcontext=u:object_r:data_libinput:s0 tclass=dir permissive=1
allow multimodalinput data_libinput:dir { add_name };
#avc:  denied  { write } for  pid=246 comm="multimodalinput" name="libinput" dev="mmcblk0p11" ino=652801 scontext=u:r:multimodalinput:s0 tcontext=u:object_r:data_libinput:s0 tclass=dir permissive=1
allow multimodalinput data_libinput:dir { write };
#avc:  denied  { create } for  pid=246 comm="multimodalinput" name="libinput.log" scontext=u:r:multimodalinput:s0 tcontext=u:object_r:data_libinput:s0 tclass=file permissive=1
allow multimodalinput data_libinput:file { create };
allow multimodalinput data_service_file:dir {search };
