#avc:  denied  { get } for service=3002 pid=2382 scontext=u:r:sh:s0 tcontext=u:object_r:sa_media_service:s0 tclass=samgr_class permissive=1
allow sh sa_media_service:samgr_class { get };
#avc:  denied  { get } for service=10 pid=2396 scontext=u:r:sh:s0 tcontext=u:object_r:sa_render_service:s0 tclass=samgr_class permissive=1
allow sh sa_render_service:samgr_class { get };
#avc:  denied  { get } for service=4606 pid=2396 scontext=u:r:sh:s0 tcontext=u:object_r:sa_foundation_wms:s0 tclass=samgr_class permissive=1
allow sh sa_foundation_wms:samgr_class { get };
#avc:  denied  { get } for service=4607 pid=2396 scontext=u:r:sh:s0 tcontext=u:object_r:sa_foundation_dms:s0 tclass=samgr_class permissive=1
allow sh sa_foundation_dms:samgr_class {get};
#avc:  denied  { get } for service=3101 pid=2396 scontext=u:r:sh:s0 tcontext=u:object_r:sa_multimodalinput_service:s0 tclass=samgr_class permissive=1
allow sh sa_multimodalinput_service:samgr_class { get };