# Copyright (c) 2021 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Filesystem types
type labeledfs, fs_type;
type pipefs, fs_type;
type sockfs, fs_type;
type rootfs, fs_type;
type proc_file, fs_type, proc_type;
type proc_panic, fs_type, proc_type;

type unlabeled, fs_type;
type devpts, fs_type;
type tmpfs, fs_type;
type shm, fs_type;
type mqueue, fs_type;
type sys_file, fs_type;
type selinuxfs, fs_type;
type cgroup, fs_type;
type inotify, fs_type;
type debugfs, fs_type;
type config_file, fs_type;

type system_lib_file, system_file_type, file_type;
type system_etc_file, system_file_type, file_type;
type system_data_file, system_file_type, file_type;
type system_hap_file, system_file_type, file_type;
type system_fonts_file, system_file_type, file_type;
type system_profile_file, system_file_type, file_type;
type system_usr_file, system_file_type, file_type;
type system_bin_file, system_file_type, file_type;

type dev_cpu_variant, file_type;
type fontconfig_file, system_file_type, file_type;
type fonts_file, system_file_type, file_type;
type vendor_file, vendor_file_type, file_type;

type sysfs_rtc, fs_type, sysfs_type;
type system_file, file_type;
type lib_file, file_type;
type etc_file, file_type;
type dev_file, file_type;

type sysfs_block_file, sysfs_type;
type sysfs_hisys_file, sysfs_type;

type updater_file, file_type;

type data_file, file_type, data_file_type;
type data_hap_file, file_type, data_file_type;
type data_app_file, file_type, data_file_type;
type data_app_el1_file, file_type, data_file_type;
type data_app_el2_file, file_type, data_file_type;
type data_app_el3_file, file_type, data_file_type;
type data_app_el4_file, file_type, data_file_type;
type data_service_file, file_type, data_file_type;
type data_service_el0_file, file_type, data_file_type;
type data_service_el1_file, file_type, data_file_type;
type data_service_el2_file, file_type, data_file_type;
type data_chipset_file, file_type, data_file_type;
type data_chipset_el1_file, file_type, data_file_type;
type data_chipset_el2_file, file_type, data_file_type;
type data_storage_file, file_type, data_file_type;
