# Copyright (c) 2021-2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Filesystem types
type labeledfs, fs_attr;
type pipefs, fs_attr;
type sockfs, fs_attr;
type rootfs, fs_attr;
type proc_file, fs_attr, proc_attr;
type proc_panic, fs_attr, proc_attr;

type unlabeled, fs_attr;
type devpts, fs_attr;
type tmpfs, fs_attr;
type shm, fs_attr;
type mqueue, fs_attr;
type sys_file, fs_attr, sysfs_attr, file_attr;
type selinuxfs, fs_attr;
type cgroup, fs_attr;
type inotify, fs_attr;
type debugfs, fs_attr;
type configfs, fs_attr;
type functionfs, fs_attr;
type tracefs, fs_attr;
type hmdfs, fs_attr;

type config_file, system_file_attr, file_attr;
type system_lib_file, system_file_attr, file_attr;
type system_etc_file, system_file_attr, file_attr;
type system_data_file, system_file_attr, file_attr;
type system_hap_file, system_file_attr, file_attr;
type system_fonts_file, system_file_attr, file_attr;
type system_profile_file, system_file_attr, file_attr;
type system_usr_file, system_file_attr, file_attr;
type system_bin_file, system_file_attr, file_attr;

type dev_cpu_variant, file_attr;
type fontconfig_file, system_file_attr, file_attr;
type fonts_file, system_file_attr, file_attr;
type vendor_file, vendor_file_attr, file_attr;
type vendor_bin_file, vendor_file_attr, file_attr;
type vendor_lib_file, vendor_file_attr, file_attr;
type vendor_etc_file, vendor_file_attr, file_attr;

type sysfs_rtc, fs_attr, sysfs_attr;
type system_file, system_file_attr, file_attr;
type lib_file, file_attr;
type etc_file, file_attr;
type dev_file, dev_attr, file_attr;

type sysfs_block_file, sysfs_attr, file_attr;
type sysfs_hisys_file, sysfs_attr, file_attr;

type config_usb_gadget, file_attr;

type updater_file, system_file_attr, file_attr;

type data_file, file_attr, data_file_attr;
type data_hap_file, file_attr, data_file_attr,hap_file_attr;
type data_app_file, file_attr, data_file_attr, hap_file_attr;
type data_app_el1_file, file_attr, data_file_attr, hap_file_attr;
type data_app_el2_file, file_attr, data_file_attr, hap_file_attr;
type data_app_el3_file, file_attr, data_file_attr, hap_file_attr;
type data_app_el4_file, file_attr, data_file_attr, hap_file_attr;
type data_service_file, file_attr, data_file_attr;
type data_service_el0_file, file_attr, data_file_attr;
type data_service_el1_file, file_attr, data_file_attr;
type data_service_el2_file, file_attr, data_file_attr;
type data_chipset_file, file_attr, data_file_attr;
type data_chipset_el1_file, file_attr, data_file_attr;
type data_chipset_el2_file, file_attr, data_file_attr;

type data_accounts, file_attr, data_file_attr;
type data_ams_whitelist, file_attr, data_file_attr;
type data_appasec, file_attr, data_file_attr;
type data_appephemeral, file_attr, data_file_attr;
type data_applib, file_attr, data_file_attr;
type data_appprivate, file_attr, data_file_attr;
type data_appstaging, file_attr, data_file_attr;
type data_backup, file_attr, data_file_attr;
type data_bluetooth, file_attr, data_file_attr;
type data_bootchart, file_attr, data_file_attr;
type data_cache, file_attr, data_file_attr;
type data_data_file, file_attr, data_file_attr;
type data_dhcp, file_attr, data_file_attr;
type data_drm, file_attr, data_file_attr;
type data_ethernet, file_attr, data_file_attr;
type data_filelog, file_attr, data_file_attr;
type data_init_agent, file_attr, data_file_attr;
type data_libinput, file_attr, data_file_attr;
type data_local, file_attr, data_file_attr;
type data_local_traces, file_attr, data_file_attr;
type data_local_tmp, file_attr, data_file_attr;
type data_log, file_attr, data_file_attr;
type data_media, file_attr, data_file_attr;
type data_mediadrm, file_attr, data_file_attr;
type data_misc, file_attr, data_file_attr;
type data_misc_ce, file_attr, data_file_attr;
type data_misc_de, file_attr, data_file_attr;
type data_nfc, file_attr, data_file_attr;
type data_ota, file_attr, data_file_attr;
type data_ota_package, file_attr, data_file_attr;
type data_parameters, file_attr, data_file_attr;
type data_preloads, file_attr, data_file_attr;
type data_resourcecache, file_attr, data_file_attr;
type data_sadata, file_attr, data_file_attr;
type data_sadata_de, file_attr, data_file_attr;
type data_ss, file_attr, data_file_attr;
type data_storage, file_attr, data_file_attr;
type data_system, file_attr, data_file_attr;
type data_system_ce, file_attr, data_file_attr;
type data_system_de, file_attr, data_file_attr;
type data_udev, file_attr, data_file_attr;
type data_update_service_log, file_attr, data_file_attr;
type data_user, file_attr, data_file_attr;
type data_user_de, file_attr, data_file_attr;
type data_vendor, file_attr, data_file_attr;
type data_vendor_ce, file_attr, data_file_attr;
type data_vendor_de, file_attr, data_file_attr;

type proc_net, file_attr, proc_attr;
type proc_net_tcp_udp, file_attr, proc_attr;
type proc_asound_file, file_attr, proc_attr;
type proc_bluetooth_file, file_attr, proc_attr;
type proc_buddyinfo_file, file_attr, proc_attr;
type proc_bus_file, file_attr, proc_attr;
type proc_cgroups_file, file_attr, proc_attr;
type proc_cmdline_file, file_attr, proc_attr;
type proc_config_gz_file, file_attr, proc_attr;
type proc_cpuinfo_file, file_attr, proc_attr;
type proc_diskstats_file, file_attr, proc_attr;
type proc_dynamic_debug_file, file_attr, proc_attr;
type proc_filesystems_file, file_attr, proc_attr;
type proc_fs_file, file_attr, proc_attr;
type proc_gt9xx_config_file, file_attr, proc_attr;
type proc_interrupts_file, file_attr, proc_attr;
type proc_iomem_file, file_attr, proc_attr;
type proc_keys_file, file_attr, proc_attr;
type proc_kmsg_file, file_attr, proc_attr;
type proc_loadavg_file, file_attr, proc_attr;
type proc_meminfo_file, file_attr, proc_attr;
type proc_misc_file, file_attr, proc_attr;
type proc_modules_file, file_attr, proc_attr;
type proc_mpp_service_file, file_attr, proc_attr;
type proc_pagetypeinfo_file, file_attr, proc_attr;
type proc_partitions_file, file_attr, proc_attr;
type proc_rkisp_vir0_file, file_attr, proc_attr;
type proc_slabinfo_file, file_attr, proc_attr;
type proc_softirqs_file, file_attr, proc_attr;
type proc_stat_file, file_attr, proc_attr;
type proc_swaps_file, file_attr, proc_attr;
type proc_sysrq_trigger_file, file_attr, proc_attr;
type proc_timer_list_file, file_attr, proc_attr;
type proc_uptime_file, file_attr, proc_attr;
type proc_version_file, file_attr, proc_attr;
type proc_vmallocinfo_file, file_attr, proc_attr;
type proc_vmstat_file, file_attr, proc_attr;
type proc_zoneinfo_file, file_attr, proc_attr;

type dev_parameters_file, dev_attr, file_attr;
type dev_block_file, dev_attr;
type dev_bus_file, dev_attr;
type dev_bus_usb_file, dev_attr;
type dev_char_file, dev_attr;
type dev_dma_heap_file, dev_attr;
type dev_dri_file, dev_attr;
type dev_fscklogs_file, dev_attr;
type dev_graphics_file, dev_attr;
type dev_input_file, dev_attr;
type dev_pts_file, dev_attr;
type dev_snd_file, dev_attr;
type dev_socket_file, dev_attr;
type dev_unix_file, dev_attr, file_attr;
type dev_unix_socket_file, dev_attr, file_attr;
type dev_unix_socket, dev_attr, file_attr;
type appspawn_socket, dev_attr, file_attr;
type nwebspawn_socket, dev_attr, file_attr;
type fd_holder_socket, dev_attr, file_attr;
type hdcd_socket, dev_attr, file_attr;
type native_socket, dev_attr, file_attr;
type paramservice_socket, dev_attr, file_attr;
type dev_v_file, dev_attr;
type dev_at_file, dev_attr;
type dev_ashmem_file, dev_attr;
type dev_binder_file, dev_attr;
type dev_console_file, dev_attr;
type dev_cpu_dma_latency_file, dev_attr;
type dev_mgr_file, dev_attr;
type dev_svc_mgr_file, dev_attr;
type dev_fuse_file, dev_attr;
type dev_hdf_file, dev_attr;
type dev_hwbinder_file, dev_attr;
type dev_iio_file, dev_attr;
type dev_kmsg_file, dev_attr;
type dev_loop_control_file, dev_attr;
type dev_media_file, dev_attr;
type dev_rpmb_file, dev_attr;
type dev_random_file, dev_attr;
type dev_rtc_file, dev_attr;
type dev_tee_file, dev_attr;
type dev_ubi_file, dev_attr;
type dev_uhid_file, dev_attr;
type dev_vcs_file, dev_attr;
type dev_vhci_file, dev_attr;
type dev_video_file, dev_attr;
type dev_vndbinder_file, dev_attr;
type dev_watchdog_file, dev_attr;
type dev_zero_file, dev_attr;
type tty_device, dev_attr;


type dev_hdf_i2c_mgr, dev_attr;
type dev_hdf_test, dev_attr;
type dev_i2c_test, dev_attr;
type dev_bbox, dev_attr;
type dev_bus, dev_attr;
type dev_dev_cec0, dev_attr;
type dev_full, dev_attr;
type dev_gpiochip, dev_attr;
type dev_hdf_audio_capture, dev_attr;
type dev_hdf_audio_codec_dev, dev_attr;
type dev_hdf_audio_codec_primary, dev_attr;
type dev_hdf_audio_control, dev_attr;
type dev_hdf_audio_render, dev_attr;
type dev_hdf_audio_smartpa, dev_attr;
type dev_hdf_bl, dev_attr;
type dev_hdf_disp, dev_attr;
type dev_hdf_input, dev_attr;
type dev_hdf_light, dev_attr;
type dev_hdf_misc_vibrator, dev_attr;
type dev_hdf_sensor_mgr, dev_attr;
type dev_hdf_usb_pnp, dev_attr;
type dev_hdmi_hdcplx, dev_attr;
type dev_hwrng, dev_attr;
type dev_i2c, dev_attr;
type dev_mali, dev_attr;
type dev_mem, dev_attr;
type dev_mpp, dev_attr;
type dev_pm_test, dev_attr;
type dev_port, dev_attr;
type dev_ptmx, dev_attr;
type dev_ptp, dev_attr;
type dev_rfkill, dev_attr;
type dev_rga, dev_attr;
type dev_sample_svc, dev_attr;
type dev_sched_rtg_ctrl, dev_attr;
type dev_snapshot, dev_attr;
type dev_sw_sync, dev_attr;
type dev_usb_ffs, dev_attr;
type dev_uinput, dev_attr;

