# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

##################
## Type define: ##
##################
type hilogd, sadomain, domain;

type hilogd_exec, exec_attr, file_attr, system_file_attr;
type hilog_exec, exec_attr, file_attr, system_file_attr;
type hilog_control_socket, dev_attr, file_attr;
type hilog_input_socket, dev_attr, file_attr;
type data_hilogd_file, file_attr, data_file_attr;
init_daemon_domain(hilogd);

###################
## Macro define: ##
###################
define(`use_hilog', `
    allow $1 hilog_input_socket:sock_file write;
    allow $1 hilogd:unix_dgram_socket sendto;
')

define(`read_hilog', `
    allow $1 hilog_exec:file { getattr open read execute execute_no_trans map };
    allow $1 hilog_control_socket:sock_file write;
    allow $1 hilogd:unix_stream_socket connectto;
')

###################################
## Read/Use/Control hilog rules: ##
###################################
read_hilog(shell)
read_hilog(hap_domain)

use_hilog({ domain -kernel })

#######################
## Allow rule below: ##
#######################
allow hilogd hilogd_exec:file { entrypoint execute map read getattr };
allow init hilogd_exec:file { execute read open getattr };
allow hdcd hilogd_exec:file { execute read open getattr execute_no_trans map };

allow hilogd hilog_input_socket:unix_dgram_socket { rw_socket_perms };
allow hilogd hilog_input_socket:sock_file { create_file_perms };
allow hilogd hilog_control_socket:unix_dgram_socket { rw_socket_perms };
allow hilogd hilog_control_socket:sock_file { create_file_perms };

allow hilogd data_hilogd_file:dir { create_dir_perms };
allow hilogd data_hilogd_file:file { create_file_perms };

allow init data_hilogd_file:dir { create_dir_perms };
allow { shell hiview hdcd } data_hilogd_file:dir { read_dir_perms };
allow { shell hiview hdcd } data_hilogd_file:file { read_file_perms };

allow hilogd data_file:dir { search };
allow hilogd data_log:dir { getattr open read search };

allow hilogd cgroup:dir { search };

allow hilogd data_init_agent:dir { add_name search write };
allow hilogd data_init_agent:file { create ioctl open read append };

allow hilogd dev_kmsg_file:chr_file { read };

allow hilogd init:unix_dgram_socket { getattr getopt read write };
allow hilogd init:unix_stream_socket { accept getattr getopt listen };

allowxperm hilogd data_init_agent:file ioctl { 0x5413 };

############################
## Neverallow rule below: ##
############################
# hilogd is not allowed to write anywhere other than /data/log/hilog
neverallow hilogd {
    file_attr
    -data_hilogd_file
    -data_init_agent
}:file { create write append };

# ptrace any other app
neverallow hilogd domain:process ptrace;

# ... and nobody may ptrace me (except init)
neverallow { domain -init } hilogd:process ptrace;

# write to /system
neverallow hilogd system_file:dir_file_class_set write;

# write to hap files
neverallow hilogd { normal_hap_data_file system_basic_hap_data_file system_core_hap_data_file }:dir_file_class_set write;

# only init is allowed to enter the hilogd domain via exec()
neverallow { domain -init } hilogd:process transition;
neverallow * hilogd:process dyntransition;

# protect persist tmp file and info file
neverallow {
    domain
    -init
    -hilogd
    -shell              # write is covered next
    -hiview             # write is covered next
    -hdcd               # write is covered next
    -system_basic_hap   # write is covered next
    -system_core_hap    # write is covered next
} data_hilogd_file:file { rw_file_perms };

# shell can read but cannot write hilogd files
neverallow { shell hiview hdcd system_basic_hap system_core_hap } data_hilogd_file:file { append create rename setattr write };

