# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

##################
## Type define: ##
##################
type hilog, nativedomain, domain;

allow hilog proc_file:file { open read };
allow hilog musl_param:file { open read map };
allow hilog dev_unix_socket:dir { search };
allow hilog hilog_control_socket:sock_file { write };
allow hilog hilogd:unix_stream_socket { connectto };
allow hilog paramservice_socket:sock_file { write };
allow hilog kernel:unix_stream_socket { connectto };
allow hilog hilog_param:parameter_service { set };
