# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type hdf_devmgr, sadomain, domain;
type hdf_ext_devmgr, sadomain, domain;
type sa_hdf_ext_devmgr, sa_service_attr;

type blue_host, hdfdomain, domain;
typeattribute blue_host violator_vendor_system_etc_read;
type a2dp_host, hdfdomain, domain;
typeattribute a2dp_host violator_vendor_system_etc_read;
type sample_host, hdfdomain, domain;
type light_host, hdfdomain, domain;
type dcamera_host, hdfdomain, domain;
typeattribute dcamera_host violator_vendor_system_etc_read;
type face_auth_host, hdfdomain, domain;
typeattribute face_auth_host violator_vendor_system_etc_read;
type pin_auth_host, hdfdomain, domain;
typeattribute pin_auth_host violator_vendor_system_etc_read;
type user_auth_host, hdfdomain, domain;
typeattribute user_auth_host violator_vendor_system_etc_read;
type fingerprint_auth_host, hdfdomain, domain;
typeattribute fingerprint_auth_host violator_vendor_system_etc_read;
type partitionslot_host, hdfdomain, domain;
type codec_host, hdfdomain, domain;
typeattribute codec_host violator_vendor_system_etc_read;
type wifi_host, hdfdomain, domain;
type audio_host, hdfdomain, domain;
typeattribute audio_host violator_vendor_system_etc_read;
type camera_host, hdfdomain, domain;
typeattribute camera_host violator_vendor_system_etc_read;
type clearplay_host, hdfdomain, domain;
type input_user_host, hdfdomain, domain;
typeattribute input_user_host violator_vendor_system_etc_read;
type motion_host, hdfdomain, domain;
type riladapter_host, hdfdomain, domain;
type sensor_host, hdfdomain, domain;
typeattribute sensor_host violator_vendor_system_etc_read;
type usb_host, hdfdomain, domain;
typeattribute usb_host violator_vendor_system_etc_read;
type vibrator_host, hdfdomain, domain;
typeattribute vibrator_host violator_vendor_system_etc_read;
type power_host, hdfdomain, domain;
typeattribute power_host violator_vendor_system_etc_read;
type location_host, hdfdomain, domain;
typeattribute location_host violator_vendor_system_etc_read;

type debugfs_usb, fs_attr, debugfs_attr;
type hdf_devmgr_exec, exec_attr, file_attr, system_file_attr;
type hdf_devhost_exec, exec_attr, file_attr, system_file_attr;
type dev_hdf_kevent, dev_attr;
type dev_hdfwifi, dev_attr;
type intell_voice_host, hdfdomain, domain;
typeattribute intell_voice_host violator_vendor_system_etc_read;

type ethernet_host, hdfdomain, domain;

type hdf_ctx_file, file_attr, system_file_attr, system_etc_file_attr;
