# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow wallpaper_service sa_foundation_dms:samgr_class { get };
allow wallpaper_service sa_foundation_bms:samgr_class { get };
allow wallpaper_service system_core_hap:binder { call transfer };
allow wallpaper_service system_basic_hap:binder { call transfer };
allow wallpaper_service normal_hap_attr:binder { call transfer };
allow wallpaper_service data_service_el1_file:dir { getattr remove_name read create open rmdir };
allow wallpaper_service data_service_el1_file:file { getattr unlink rename setattr };
allow wallpaper_service proc_cpuinfo_file:file { open read };
allow wallpaper_service system_basic_hap:fd { use };
allow wallpaper_service system_core_hap:fd { use };
allow wallpaper_service normal_hap_attr:fd { use };
allow wallpaper_service system_basic_hap:fifo_file { read };
allow wallpaper_service system_core_hap:fifo_file { read };
allow wallpaper_service normal_hap_attr:fifo_file { read };
allow system_core_hap sa_wallpaper_manager_service:samgr_class { get };
allow system_basic_hap sa_wallpaper_manager_service:samgr_class { get };
allow normal_hap_attr sa_wallpaper_manager_service:samgr_class { get };
allow system_core_hap wallpaper_service:binder { call transfer };
allow system_basic_hap wallpaper_service:binder { call transfer };
allow normal_hap_attr wallpaper_service:binder { call transfer };
allow wallpaper_service sa_accountmgr:samgr_class { get };
allow wallpaper_service accessibility_param:file { map open read };
allow wallpaper_service accountmgr:binder { call };
allow accountmgr wallpaper_service:binder { transfer };
allow wallpaper_service ohos_dev_param:file { map open read };
allow sh wallpaper_service:process { signal };
allow wallpaper_service tmpfs:chr_file { read write };
allow wallpaper_service system_basic_hap_data_file:file { read };
allow wallpaper_service system_core_hap_data_file:file { read };
allow wallpaper_service normal_hap_data_file_attr:file { read };
allow wallpaper_service dev_console_file:chr_file { read write };
allow system_basic_hap wallpaper_service:fd { use };
allow system_core_hap wallpaper_service:fd { use };
allow normal_hap_attr wallpaper_service:fd { use };
allow sh sa_wallpaper_manager_service:samgr_class { get };
debug_only(`
allow sh accesstoken_data_file:file { getattr open read };
')
allow sh wallpaper_service:binder { call transfer };
allow sh wallpaper_service:fd { use };
allow sh musl_param:file { read };
allow wallpaper_service sh:fd { use };
allow wallpaper_service sh:fifo_file { read };
allow wallpaper_service sh:binder { call };
allow wallpaper_service data_file:file { read };
allow wallpaper_service musl_param:file { read open map };
allow wallpaper_service dev_file:dir { getattr };
allow wallpaper_service sysfs_devices_system_cpu:file { getattr open read };
allow foundation wallpaper_service:dir { search };
allow foundation wallpaper_service:binder { transfer };
allow foundation wallpaper_service:file { read getattr };
allow wallpaper_service sa_foundation_wms:samgr_class { get };
allow media_service wallpaper_service:fd { use };
allow media_service data_service_el1_file:file { read open getattr };
