# Copyright (c) 2026 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

init_daemon_domain(audio_suite_server);

# Binder communication with audio_server
binder_call(audio_suite_server, audio_server);

# Binder communication with powermgr
allow audio_suite_server powermgr:binder { call };

# Binder communication with foundation
#avc: denied { call } for pid=9192, comm="/system/bin/sa_main"  scontext=u:r:audio_suite_server:s0 tcontext=u:r:foundation:s0 tclass=binder permissive=1
#avc: denied { transfer } for pid=9192, comm="/system/bin/sa_main"  scontext=u:r:audio_suite_server:s0 tcontext=u:r:foundation:s0 tclass=binder permissive=1
allow audio_suite_server foundation:binder { call transfer };

# Binder communication with netmanager
#avc: denied { call } for pid=9192, comm="/system/bin/sa_main"  scontext=u:r:audio_suite_server:s0 tcontext=u:r:netmanager:s0 tclass=binder permissive=1
allow audio_suite_server netmanager:binder { call };

# Binder communication with system_basic_hap
#avc: denied { call } for pid=14478, comm="/system/bin/sa_main"  scontext=u:r:audio_suite_server:s0 tcontext=u:r:system_basic_hap:s0 tclass=binder permissive=1
allow audio_suite_server system_basic_hap_attr:binder { call };

#avc: denied { call } for pid=13947, comm="/system/bin/appspawn"  scontext=u:r:system_basic_hap:s0 tcontext=u:r:audio_suite_server:s0 tclass=binder permissive=1
#avc: denied { transfer } for pid=13947, comm="/system/bin/appspawn"  scontext=u:r:system_basic_hap:s0 tcontext=u:r:audio_suite_server:s0 tclass=binder permissive=1
allow system_basic_hap_attr audio_suite_server:binder { call transfer };

# SAMgr service access for system_basic_hap
#avc:  denied  { get } for service=3015 sid=u:r:system_basic_hap:s0 scontext=u:r:system_basic_hap:s0 tcontext=u:object_r:sa_audio_suite_service:s0 tclass=samgr_class permissive=1
allow system_basic_hap_attr sa_audio_suite_service:samgr_class { get };

# SAMgr service access
#avc:  denied  { add } for service=3015 sid=u:r:audio_suite_server:s0 scontext=u:r:audio_suite_server:s0 tcontext=u:object_r:sa_audio_suite_service:s0 tclass=samgr_class permissive=1
allow audio_suite_server sa_audio_suite_service:samgr_class { add };

#avc:  denied  { get } for service=3302 sid=u:r:audio_suite_server:s0 scontext=u:r:audio_suite_server:s0 tcontext=u:object_r:sa_powermgr_battery_service:s0 tclass=samgr_class permissive=1
allow audio_suite_server sa_powermgr_battery_service:samgr_class { get };

#avc:  denied  { get } for service=3301 sid=u:r:audio_suite_server:s0 scontext=u:r:audio_suite_server:s0 tcontext=u:object_r:sa_powermgr_powermgr_service:s0 tclass=samgr_class permissive=1
allow audio_suite_server sa_powermgr_powermgr_service:samgr_class { get };

#avc:  denied  { get } for service=1151 sid=u:r:audio_suite_server:s0 scontext=u:r:audio_suite_server:s0 tcontext=u:object_r:sa_net_conn_manager:s0 tclass=samgr_class permissive=1
allow audio_suite_server sa_foundation_cesfwk_service:samgr_class { get };

#avc:  denied  { get } for service=1151 sid=u:r:audio_suite_server:s0 scontext=u:r:audio_suite_server:s0 tcontext=u:object_r:sa_net_conn_manager:s0 tclass=samgr_class permissive=1
allow audio_suite_server sa_net_conn_manager:samgr_class { get };

#avc:  denied  { get } for service=3704 sid=u:r:audio_suite_server:s0 scontext=u:r:audio_suite_server:s0 tcontext=u:object_r:sa_screenlock_service:s0 tclass=samgr_class permissive=1
allow audio_suite_server sa_screenlock_service:samgr_class { get };

# Self permissions
# allow audio_suite_server audio_suite_server:hmcap { supervsable };
#avc: denied { getopt } for pid=8406, comm="/system/bin/sa_main"  scontext=u:r:audio_suite_server:s0 tcontext=u:r:audio_suite_server:s0 tclass=unix_dgram_socket permissive=1
#avc: denied { setopt } for pid=8406, comm="/system/bin/sa_main"  scontext=u:r:audio_suite_server:s0 tcontext=u:r:audio_suite_server:s0 tclass=unix_dgram_socket permissive=1
allow audio_suite_server audio_suite_server:unix_dgram_socket { getopt setopt };

# Capability permissions
#allow audio_suite_server audio_suite_server:capability { sys_nice };

# File and directory access
#avc: denied { search } for pid=8406, comm="/system/bin/sa_main"  name="/misc" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=5061 scontext=u:r:audio_suite_server:s0 tcontext=u:object_r:data_misc:s0 tclass=dir permissive=1
allow audio_suite_server data_misc:dir { search };

#avc: denied { read } for pid=9192, comm="/system/bin/sa_main"  path="/sys/devices/system/cpu" dev="" ino=6 scontext=u:r:audio_suite_server:s0 tcontext=u:object_r:sysfs_devices_system_cpu:s0 tclass=dir permissive=1
#avc: denied { open } for pid=9192, comm="/system/bin/sa_main"  path="/sys/devices/system/cpu" dev="" ino=6 scontext=u:r:audio_suite_server:s0 tcontext=u:object_r:sysfs_devices_system_cpu:s0 tclass=dir permissive=1
allow audio_suite_server sysfs_devices_system_cpu:dir { open read };

#avc: denied { write } for pid=8406, comm="/system/bin/sa_main"  path="/dev/kmsg" dev="" ino=30 scontext=u:r:audio_suite_server:s0 tcontext=u:object_r:dev_kmsg_file:s0 tclass=chr_file permissive=1
allow audio_suite_server dev_kmsg_file:chr_file { open write };

#avc: denied { search } for pid=8406, comm="/system/bin/sa_main"  name="/unix/socket" dev="" ino=363 scontext=u:r:audio_suite_server:s0 tcontext=u:object_r:dev_unix_socket:s0 tclass=dir permissive=1
allow audio_suite_server dev_unix_socket:dir { search };

#avc: denied { read } for pid=8406, comm="/system/bin/sa_main"  path="/sys/devices/system/cpu/online" dev="" ino=103 scontext=u:r:audio_suite_server:s0 tcontext=u:object_r:sysfs_devices_system_cpu:s0 tclass=file permissive=1
allow audio_suite_server sysfs_devices_system_cpu:file { getattr open read };
