# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#avc:  denied  { call } for  pid=229 comm="hdf_devmgr" scontext=u:r:hdf_devmgr:s0 tcontext=u:r:audio_policy:s0 tclass=binder permissive=1
allow hdf_devmgr audio_policy:binder { call transfer };

#avc:  denied  { transfer } for  pid=229 comm="hdf_devmgr" scontext=u:r:hdf_devmgr:s0 tcontext=u:r:pulseaudio:s0 tclass=binder permissive=1
allow hdf_devmgr pulseaudio:binder { transfer };

#avc:  denied  { search } for  pid=229 comm="hdf_devmgr" name="281" dev="proc" ino=15987 scontext=u:r:hdf_devmgr:s0 tcontext=u:r:pulseaudio:s0 tclass=dir permissive=1
allow hdf_devmgr pulseaudio:dir { search };

#avc:  denied  { open } for  pid=229 comm="hdf_devmgr" path="/proc/281/attr/current" dev="proc" ino=23633 scontext=u:r:hdf_devmgr:s0 tcontext=u:r:pulseaudio:s0 tclass=file permissive=1
#avc:  denied  { read } for  pid=229 comm="hdf_devmgr" name="current" dev="proc" ino=23633 scontext=u:r:hdf_devmgr:s0 tcontext=u:r:pulseaudio:s0 tclass=file permissive=1
allow hdf_devmgr pulseaudio:file { open read };

#avc:  denied  { getattr } for  pid=229 comm="hdf_devmgr" scontext=u:r:hdf_devmgr:s0 tcontext=u:r:pulseaudio:s0 tclass=process permissive=1
allow hdf_devmgr pulseaudio:process { getattr };

allow hdf_devmgr audio_policy:dir { search };

allow hdf_devmgr audio_policy:file { open read };

allow hdf_devmgr audio_policy:process { getattr };
