# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#avc:  denied  { rlimitinh } for  pid=355 comm="sa_main" scontext=u:r:init:s0 tcontext=u:r:audio_policy:s0 tclass=process permissive=1
#avc:  denied  { siginh } for  pid=355 comm="sa_main" scontext=u:r:init:s0 tcontext=u:r:audio_policy:s0 tclass=process permissive=1
#avc:  denied  { transition } for  pid=355 comm="init" path="/system/bin/sa_main" dev="mmcblk0p5" ino=336 scontext=u:r:init:s0 tcontext=u:r:audio_policy:s0 tclass=process permissive=1
allow init audio_policy:process { rlimitinh siginh transition };

#avc:  denied  { rlimitinh } for  pid=298 comm="sa_main" scontext=u:r:init:s0 tcontext=u:r:pulseaudio:s0 tclass=process permissive=1
#avc:  denied  { siginh } for  pid=298 comm="sa_main" scontext=u:r:init:s0 tcontext=u:r:pulseaudio:s0 tclass=process permissive=1
#avc:  denied  { transition } for  pid=319 comm="init" path="/system/bin/sa_main" dev="mmcblk0p5" ino=336 scontext=u:r:init:s0 tcontext=u:r:audio_policy:s0 tclass=process permissive=1
allow init pulseaudio:process { rlimitinh siginh transition };

