# enable accessibility call binder in sh (binder of accessibility-client in uitest process)
allow accessibility sh:binder { call transfer };
allow system_basic_hap sh:binder { call };