# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow normal_hap sh:binder {call};
allow sh accessibility:dir { getattr search };
allow sh accessibility:file { open read };
allow sh accountmgr:dir { getattr search };
allow sh accountmgr:file { open read };
allow sh appspawn:dir { getattr search };
allow sh appspawn:file { open read };
allow sh audio_hdi_server_host:dir { getattr search };
allow sh audio_hdi_server_host:file { open read };
allow sh audio_policy:dir { getattr search };
allow sh audio_policy:file { open read };
allow sh battery_stats:dir { getattr search };
allow sh battery_stats:file { open read };
allow sh blue_host:dir { getattr search };
allow sh blue_host:file { open read };
allow sh bluetooth_service:dir { getattr search };
allow sh bluetooth_service:file { open read };
allow sh camera_host:dir { getattr search };
allow sh camera_host:file { open read };
allow sh camera_service:file { open read };
allow sh codec_host:dir { getattr search };
allow sh codec_host:file { read };
allow sh console:dir { getattr search };
allow sh console:file { open read };
allow sh console:lnk_file { read };
allow sh dev_console_file:chr_file { getattr };
allow sh deviceauth_service:dir { getattr search };
allow sh deviceauth_service:file { open read };
allow sh dev_kmsg_file:chr_file { open read read open };
allow sh dev_unix_socket:sock_file { write };
allow sh disp_gralloc_host:file { open read };
allow sh distributeddata:dir { getattr search };
allow sh distributeddata:file { open read };
allow sh distributedfiledaemon:dir { getattr search };
allow sh distributedfiledaemon:file { open read };
allow sh distributedsche:file { open read };
allow sh distributedsche_param:file { map map open read read open open read };
allow sh download_server:dir { getattr search };
allow sh download_server:file { open read };
allow sh dslm_service:file { open read };
allow sh edm_sa:dir { getattr search };
allow sh edm_sa:file { open read };
allow sh face_auth_host:dir { getattr search };
allow sh face_auth_host:file { open read };
allow sh faultloggerd:dir { getattr search };
allow sh faultloggerd:file { read };
allow sh fingerprint_auth_host:dir { getattr search };
allow sh fingerprint_auth_host:file { open read };
allow sh fms_service:file { read };
allow sh foundation:file { open read };
allow sh hdcd:file { read };
allow sh hdf_devmgr:dir { getattr search };
allow sh hdf_devmgr:file { open read };
allow sh hidumper_service:dir { getattr search };
allow sh hidumper_service:file { read };
allow sh hilog_control_socket:sock_file { write };
allow sh hilogd:dir { getattr search };
allow sh hilogd:file { open read };
allow sh hilog_exec:file { execute execute_no_trans getattr map read read open };
allow sh hiview:dir { getattr search };
allow sh hiview:file { open read };
allow sh huks_service:dir { getattr search };
allow sh huks_service:file { open read };
allow sh init:dir { getattr search };
allow sh init:file { open read };
allow sh init:unix_stream_socket { connectto };
allow sh inputmethod_service:dir { getattr search };
allow sh inputmethod_service:file { read };
allow sh input_user_host:dir { getattr search };
allow sh input_user_host:file { open read };
allow sh installs:file { open read };
allow sh ispserver:dir { getattr search };
allow sh ispserver:file { open read };
allow sh kernel:dir { getattr search };
allow sh kernel:file { open read };
allow sh kernel:system { syslog_read };
allow sh kernel:unix_stream_socket { connectto };
allow sh light_host:dir { getattr search };
allow sh light_host:file { open read };
allow sh location_host:dir { getattr search };
allow sh location_host:file { open read };
allow sh locationhub:dir { getattr search };
allow sh locationhub:file { open read };
allow sh media_service:file { open read };
allow sh mmi_uinput_service:dir { getattr search };
allow sh mmi_uinput_service:file { open read };
allow sh msdp_sa:dir { getattr search };
allow sh msdp_sa:file { open read };
allow sh multimodalinput:dir { getattr search };
allow sh multimodalinput:file { open };
allow sh netmanager:dir { getattr search };
allow sh netmanager:file { open read };
allow sh netsysnative:file { read };
allow sh normal_hap:file { read };
allow sh paramservice_socket:sock_file { write };
allow sh param_watcher:dir { getattr search };
allow sh param_watcher:file { open read };
allow sh pasteboard_service:dir { getattr search };
allow sh pasteboard_service:file { open read };
allow sh pinauth:dir { getattr search };
allow sh pinauth:file { read };
allow sh pin_auth_host:dir { getattr search };
allow sh pin_auth_host:file { open read };
allow sh power_host:dir { getattr search };
allow sh power_host:file { open read };
allow sh proc_file:file { open read };
allow sh privacy_service:dir { getattr };
allow sh pulseaudio:dir { getattr search };
allow sh pulseaudio:file { open read };
allow sh render_service:dir { getattr search };
allow sh render_service:file { open read };
allow sh samgr:dir { getattr search };
allow sh samgr:file { open read };
allow sh screenlock_server:dir { getattr search };
allow sh screenlock_server:file { open read };
allow sh security:security { setenforce };
allow sh selinuxfs:dir { search };
allow sh selinuxfs:file { open read write };
allow sh sensor_host:dir { getattr search };
allow sh sensor_host:file { open read };
allow sh sensors:file { read };
allow sh sh_exec:file { execute_no_trans };
allow sh softbus_server:dir { getattr search };
allow sh softbus_server:file { read };
allow sh storage_daemon:dir { getattr search };
allow sh storage_daemon:file { open read };
allow sh storage_manager:dir { getattr search };
allow sh storage_manager:file { open read };
allow sh system_basic_hap:file { read };
allow sh system_basic_hap_data_file:dir { search };
allow sh system_core_hap:process { signal };
allow sh telephony_sa:dir { getattr search };
allow sh telephony_sa:file { open read };
allow sh thermal:file { read };
allow sh time_service:dir { getattr search };
allow sh time_service:file { open read };
allow sh tmpfs:dir { add_name write };
allow sh tmpfs:file { create open write write open };
allow sh tty_device:chr_file { getattr };
allow sh udevd:dir { getattr search };
allow sh udevd:file { open read };
allow sh ueventd:file { read };
allow sh ui_service:file { open read };
allow sh uitest_exec:file { execute_no_trans };
allow sh updater_sa:dir { getattr search };
allow sh updater_sa:file { open read };
allow sh usbfnMaster_host:dir { getattr search };
allow sh usbfnMaster_host:file { open read };
allow sh usb_host:dir { getattr search };
allow sh usb_host:file { open read };
allow sh usb_service:dir { getattr search };
allow sh usb_service:file { open read };
allow sh user_auth_host:dir { getattr search };
allow sh user_auth_host:file { open read };
allow sh useriam:dir { getattr };
allow sh useriam:file { open read };
allow sh vibrator_host:dir { getattr };
allow sh vibrator_host:file { read };
allow sh wallpaper_service:dir { getattr search };
allow sh wallpaper_service:file { open read };
allow sh watchdog_service:dir { getattr search };
allow sh watchdog_service:file { open read };
allow sh wifi_hal_service:dir { getattr search };
allow sh wifi_hal_service:file { read };
allow sh wifi_host:dir { getattr search };
allow sh wifi_host:file { open read };
allow sh wifi_manager_service:dir { getattr search };
allow sh wifi_manager_service:file { read };
