# for init
allow init data_local_shadercache:dir { getattr open read relabelto setattr add_name create search write };

# for appspawn
allow appspawn data_local_shadercache:dir { search mounton getattr };

# for storage_daemon
allow storage_daemon data_local_shadercache:file { mounton };

# for render_service
allow render_service data_local:dir { search };
allow render_service data_local_shadercache:file { create setattr getattr map open read rename unlink write };
allow render_service data_local_shadercache:dir { create setattr getattr open read add_name remove_name search unlink write rmdir };

# for hap_domain
allow hap_domain data_local_shadercache:file { create setattr getattr map open read rename unlink write ioctl lock };
allow hap_domain data_local_shadercache:dir { create setattr getattr open read add_name remove_name search unlink write rmdir };
allowxperm hap_domain data_local_shadercache:file ioctl { 0x5413 };
