# for init
allow init data_local_shadercache:dir { getattr open read relabelto setattr add_name create search write };

# for appspawn
allow appspawn data_local_shadercache:dir { search mounton getattr };

# for storage_daemon
allow storage_daemon data_local_shadercache:file { mounton };

# for render_service
allow render_service data_local:dir { search };
allow render_service data_local_shadercache:file { create setattr getattr map open read rename unlink write };
allow render_service data_local_shadercache:dir { create setattr getattr open read add_name remove_name search unlink write rmdir };

# for hap_domain
allow hap_domain data_local_shadercache:file { create setattr getattr map open read rename unlink write ioctl lock };
allow hap_domain data_local_shadercache:dir { create setattr getattr open read add_name remove_name search unlink write rmdir };
allowxperm hap_domain data_local_shadercache:file ioctl { 0x5413 };

# for /data/app/el1/public/shader_cache and /data/app/el1/userid/shader_cache
allow init data_app_el1_shadercache:dir { getattr open read relabelto setattr add_name create search write };
allow installs data_app_el1_shadercache:file { create setattr getattr map open read rename unlink write mounton };
allow installs data_app_el1_shadercache:dir { add_name create setattr getattr open read remove_name rmdir search write relabelto rw_dir_perms_without_ioctl rename };
allow appspawn data_app_el1_shadercache:dir { search mounton getattr };
allow nwebspawn data_app_el1_shadercache:dir { search mounton getattr };
allow storage_daemon data_app_el1_shadercache:file { mounton unlink };
allow storage_daemon data_app_el1_shadercache:dir { relabelto read open remove_name search rmdir write add_name create getattr setattr rw_dir_perms_without_ioctl };
allow hap_domain data_app_el1_shadercache:file { create setattr getattr map open read rename unlink write ioctl lock };
allow hap_domain data_app_el1_shadercache:dir { create setattr getattr open read add_name remove_name rename search unlink write rmdir };
allowxperm hap_domain data_app_el1_shadercache:file ioctl { 0x5413 };
allow isolated_gpu data_app_el1_shadercache:file { create setattr getattr map open read rename unlink write ioctl lock };
allow isolated_gpu data_app_el1_shadercache:dir { create setattr getattr open read add_name remove_name rename search unlink write rmdir };
allowxperm isolated_gpu data_app_el1_shadercache:file ioctl { 0x5413 };
allow render_service data_app_el1_shadercache:file { getattr map open read };
allow render_service data_app_el1_shadercache:dir { getattr open read search };
allow render_service data_app_el1_file:dir { search };
allow render_service data_app_file:dir { search };
 
# for /data/service/el1/public/shader_cache
allow init data_service_el1_shadercache:dir { getattr open read relabelto setattr add_name create search write };
allow installs data_service_el1_shadercache:file { create setattr getattr map open read rename unlink write };
allow installs data_service_el1_shadercache:dir { add_name create setattr getattr open read remove_name rmdir search write };
allow appspawn data_service_el1_shadercache:dir { search mounton getattr };
allow storage_daemon data_service_el1_shadercache:file { mounton };
allow hap_domain data_service_el1_shadercache:file { getattr map open read ioctl lock };
allow hap_domain data_service_el1_shadercache:dir { getattr open read search };
allowxperm hap_domain data_service_el1_shadercache:file ioctl { 0x5413 };
allow render_service data_service_el1_shadercache:file { create setattr getattr map open read rename unlink write };
allow render_service data_service_el1_shadercache:dir { create setattr getattr open read add_name remove_name rename search unlink write rmdir };
allow render_service data_service_el1_file:dir { search };
