# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type bgtaskmgr_service, sadomain, domain;

allow bgtaskmgr_service accessibility_param:file { read };
allow bgtaskmgr_service app_el1_bundle_public:dir { search };
allow bgtaskmgr_service app_el1_bundle_public:file { open };
allow bgtaskmgr_service data_app_el1_file:file { getattr read };
allow bgtaskmgr_service data_app_file:dir { search };
allow bgtaskmgr_service data_file:dir { search };
allow bgtaskmgr_service data_service_el1_file:dir { add_name write search };
allow bgtaskmgr_service data_service_el1_file:file { create getattr ioctl open read write };
allow bgtaskmgr_service data_service_file:dir { search };
allow bgtaskmgr_service dev_unix_socket:dir { search };
allow bgtaskmgr_service dev_unix_socket:sock_file { write };
allow bgtaskmgr_service faultloggerd_socket:sock_file { write };
allow bgtaskmgr_service faultloggerd_temp_file:file { read write };
allow bgtaskmgr_service proc_meminfo_file:file { open read };
allow bgtaskmgr_service sa_device_usage_statistics_service:samgr_class { get };
allow bgtaskmgr_service sa_foundation_abilityms:samgr_class { get };
allow bgtaskmgr_service sa_thermal_service:samgr_class { get };
allow bgtaskmgr_service sys_file:dir { open read };
allow bgtaskmgr_service system_bin_file:dir { search };
allow bgtaskmgr_service system_bin_file:file { execute execute_no_trans map open read };
allow bgtaskmgr_service tracefs:dir { search };
allow bgtaskmgr_service tracefs_trace_marker_file:file { open write };
allow bgtaskmgr_service bgtaskmgr_service:unix_dgram_socket { getopt setopt };
allow bgtaskmgr_service sa_pulseaudio_audio_service:samgr_class { get };
allow bgtaskmgr_service sa_audio_policy_service:samgr_class { get };
allow bgtaskmgr_service sa_distributeschedule:samgr_class { get };
allow bgtaskmgr_service sa_sys_event_service:samgr_class { get };
allow bgtaskmgr_service sa_bluetooth_server:samgr_class { get };
allow bgtaskmgr_service audio_policy:binder { call transfer };
allow bgtaskmgr_service pulseaudio:binder { call transfer };
allow pulseaudio bgtaskmgr_service:binder { call transfer };
allow audio_policy bgtaskmgr_service:binder { call transfer };
allowxperm bgtaskmgr_service data_service_el1_file:file ioctl 0x5413;

binder_call(bgtaskmgr_service, accountmgr);
binder_call(bgtaskmgr_service, accesstoken_service);
binder_call(bgtaskmgr_service, device_usage_stats_service);
binder_call(bgtaskmgr_service, foundation);
binder_call(bgtaskmgr_service, memmgrservice);
binder_call(bgtaskmgr_service, normal_hap);
binder_call(bgtaskmgr_service, param_watcher);
binder_call(bgtaskmgr_service, resource_schedule_service);
binder_call(bgtaskmgr_service, sh);
binder_call(bgtaskmgr_service, system_core_hap);
binder_call(bgtaskmgr_service, thermal);
binder_call(bgtaskmgr_service, hiview);
binder_call(bgtaskmgr_service, distributedsche);
binder_call(bgtaskmgr_service, bluetooth_service);
binder_call(normal_hap, bgtaskmgr_service);
binder_call(system_core_hap, bgtaskmgr_service);
binder_call(param_watcher, bgtaskmgr_service);
binder_call(foundation, bgtaskmgr_service);
binder_call(hiview, bgtaskmgr_service);
binder_call(distributedsche, bgtaskmgr_service);
binder_call(bluetooth_service, bgtaskmgr_service);
binder_call(system_basic_hap, bgtaskmgr_service);
