# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#moke test
#avc:  denied  { search } for  pid=488 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:data_file:s0 tclass=dir permissive=0
allow bgtaskmgr_service data_file:dir { search };

# device start-up
#avc: denied { search } for pid=1067, ino=171 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:dev_unix_socket:s0 tclass=dir permissive=1
allow bgtaskmgr_service dev_unix_socket:dir { search };
#avc: denied { search } for pid=1067, ino=4022 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:sys_prod_file:s0 tclass=dir permissive=1
allow bgtaskmgr_service sys_prod_file:dir { search };
#avc: denied { map } for pid=1067, ino=12 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:chip_prod_file:s0 tclass=file permissive=1
#avc: denied { open } for pid=1067, ino=12 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:chip_prod_file:s0 tclass=file permissive=1
#avc: denied { read } for pid=1067, ino=12 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:chip_prod_file:s0 tclass=file permissive=1
#avc: denied { getattr } for pid=1067, ino=12 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:chip_prod_file:s0 tclass=file permissive=1
allow bgtaskmgr_service chip_prod_file:file { map open read getattr };
#avc: denied { search } for pid=1067, ino=6413 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:system_usr_file:s0 tclass=dir permissive=1
allow bgtaskmgr_service system_usr_file:dir { search };
#avc: denied { getopt } for pid=1067, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:r:bgtaskmgr_service:s0 tclass=unix_dgram_socket permissive=1
#avc: denied { setopt } for pid=1067, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:r:bgtaskmgr_service:s0 tclass=unix_dgram_socket permissive=1
allow bgtaskmgr_service bgtaskmgr_service:unix_dgram_socket { getopt setopt };
allow bgtaskmgr_service tracefs:dir { search };
allow bgtaskmgr_service tracefs_trace_marker_file:file { open write };
#avc:  denied  { get } for service=401 pid=473 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:sa_accountmgr:s0 tclass=samgr_class permissive=0
allow bgtaskmgr_service sa_accountmgr:samgr_class { get };
#avc:  denied  { get } for service=3299 pid=1173 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:sa_foundation_cesfwk_service:s0 tclass=samgr_class permissive=0
allow bgtaskmgr_service sa_foundation_cesfwk_service:samgr_class { get };
#avc:  denied  { get } for service=3203 pid=1173 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:sa_foundation_ans:s0 tclass=samgr_class permissive=0
allow bgtaskmgr_service sa_foundation_ans:samgr_class { get };
#avc:  denied  { add } for service=1904 pid=1059 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:sa_work_schedule_service:s0 tclass=samgr_class permissive=0
#avc:  denied  { get } for service=1904 pid=1059 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:sa_work_schedule_service:s0 tclass=samgr_class permissive=0
allow bgtaskmgr_service sa_work_schedule_service:samgr_class { add get };
#avc: denied { search } for pid=1059, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:data_storage:s0 tclass=dir permissive=0
allow bgtaskmgr_service data_storage:dir { search };
#avc: denied { read } for pid=1059, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:persist_param:s0 tclass=file permissive=0
allow bgtaskmgr_service persist_param:file { read };
#avc: denied { read write } for pid=53703, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:tty_device:s0 tclass=chr_file permissive=0
allow bgtaskmgr_service tty_device:chr_file { read write };
#avc: denied { write } for pid=53703, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:dev_kmsg_file:s0 tclass=chr_file permissive=0
allow bgtaskmgr_service dev_kmsg_file:chr_file { write };

# workschedule task get cpu info
#avc: denied { read } for pid=1067, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:sysfs_devices_system_cpu:s0 tclass=file permissive=1
allow bgtaskmgr_service sysfs_devices_system_cpu:file { read };
#avc: denied { get } for service=1067 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:sa_hiview_service:s0 tclass=samgr_class permissive=1
allow bgtaskmgr_service sa_hiview_service:samgr_class { get };
#avc: denied { open } for pid=1067, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:proc_meminfo_file:s0 tclass=file permissive=1
#avc: denied { read } for pid=1067, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:proc_meminfo_file:s0 tclass=file permissive=1
allow bgtaskmgr_service proc_meminfo_file:file { open read };
#avc: denied { get } for service=5300 sid=u:r:bgtaskmgr_service:s0 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:sa_ark_aot_compiler:s0 tclass=samgr_class
allow bgtaskmgr_service sa_ark_aot_compiler:samgr_class { get };
# workschedule use reportData
allow bgtaskmgr_service sa_resource_schedule:samgr_class { get };

# device_usage_stats database read/write, Record events,bgtask info persistence
#avc: denied { search } for pid=1067, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=dir permissive=1
#avc: denied { write } for pid=1067, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
#avc: denied { add_name } for pid=1067, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
#avc: denied { read } for pid=1067, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
allow bgtaskmgr_service data_service_el1_file:dir { add_name write search read};
#avc: denied { ioctl } for pid=1067, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
#avc: denied { getattr } for pid=1067, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
#avc: denied { setattr } for pid=1067, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
#avc: denied { open } for pid=1067, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
#avc: denied { read } for pid=1067, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
#avc: denied { create } for pid=1067, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
#avc: denied { lock } for pid=1067, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
allow bgtaskmgr_service data_service_el1_file:file { create getattr ioctl open read write lock setattr};
allow bgtaskmgr_service data_service_file:dir { search };
#avc: denied { 0x5413 } for pid=1067, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file ioctl permissive=1
#avc: denied { 0xf50c } for pid=1067, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file ioctl permissive=1
allowxperm bgtaskmgr_service data_service_el1_file:file ioctl { 0x5413 0xf50c 0xf546 0xf547 };
#avc: denied { get } for service=1301 pid=1014 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:sa_distributeddata_service:s0 tclass=samgr_class permissive=0
allow bgtaskmgr_service sa_distributeddata_service:samgr_class { get };
#avc: denied { call } for pid=1070, commm="/system/bin/sa_main" scontext=u:r:bgtaskmgr_service:s0 tcontext=u:r:distributeddata:s0 tclass=binder permissive=0
allow bgtaskmgr_service distributeddata:binder { call };
#avc: denied { transfer } for pid=1594, commm="/system/bin/sa_main" scontext=u:r:distributeddata:s0 tcontext=u:r:bgtaskmgr_service:s0 tclass=binder permissive=0
allow distributeddata bgtaskmgr_service:binder { transfer };
#avc: denied { use } for pid=1417, comm="/system/bin/sa_main" path="/dev/ashmen" dev="" ino=1 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:r:distributeddata:s0 tclass=fd permissive=0
allow bgtaskmgr_service distributeddata:fd { use };

# transient task apply
#avc: denied { search } for pid=1114, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:data_app_file:s0 tclass=dir permissive=0
allow bgtaskmgr_service data_app_file:dir { search };

# transient task set/get param
#avc: denied { read open map } for pid=53703, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:persist_sys_param:s0 tclass=file permissive=0
allow bgtaskmgr_service persist_sys_param:file { read open map };

# continous task apply
#avc: denied { get } for service=1067 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:sa_foundation_abilityms:s0 tclass=samgr_class permissive=1
allow bgtaskmgr_service sa_foundation_abilityms:samgr_class { get };
#avc: denied { search } for scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:data_app_el1_file:s0 tclass=dir permissive=0
allow bgtaskmgr_service data_app_el1_file:dir { search };

# get service from samgr
#avc: denied { get } for service=1067 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:sa_bgtaskmgr:s0 tclass=samgr_class permissive=1
allow bgtaskmgr_service sa_bgtaskmgr:samgr_class { get };

# get power and net service
#avc: denied { call } for pid=1137, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:r:netmanager:s0 tclass=binder permissive=1
#avc: denied { transfer } for pid=1137, scontext=u:r:bgtaskmgr_service:s0 tcontext=u:r:netmanager:s0 tclass=binder permissive=1
allow bgtaskmgr_service netmanager:binder { call transfer };
#avc: denied { get } for service=1067 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:sa_powermgr_thermal_service:s0 tclass=samgr_class 
allow bgtaskmgr_service sa_powermgr_thermal_service:samgr_class { get };
#avc: denied { get } for service=1151 pid=1063 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:sa_net_conn_manager:s0 tclass=samgr_class permissive=0
allow bgtaskmgr_service sa_net_conn_manager:samgr_class { get };
#avc: denied { get } for service=3302 pid=1063 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:sa_powermgr_battery_service:s0 tclass=samgr_class permissive=0
allow bgtaskmgr_service sa_powermgr_battery_service:samgr_class { get };
#avc:  denied  { get } for service=3301 pid=282 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:sa_powermgr_powermgr_service:s0 tclass=samgr_class permissive=1
allow bgtaskmgr_service sa_powermgr_powermgr_service:samgr_class { get };

# Add the corresponding selinux permission 
# for the device_usage_stats.service process
# from security_selinux_adapter\sepolicy\base\te\device_usage_stats_service.te
# device_usage_stats IPC authentication, get current user
#avc:  denied  { get } for service=3301 pid=282 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:sa_accesstoken_manager_service:s0 tclass=samgr_class permissive=1
allow bgtaskmgr_service sa_accesstoken_manager_service:samgr_class { get };
#avc:  denied  { get } for service=3301 pid=282 scontext=u:r:bgtaskmgr_service:s0 tcontext=u:object_r:sa_device_usage_statistics_service:s0 tclass=samgr_class permissive=1
allow bgtaskmgr_service sa_device_usage_statistics_service:samgr_class { get add };
# device_usage_stats Event timing usage,workschedule task trigger,get device start-up time
allow bgtaskmgr_service sa_time_service:samgr_class { get };
allow bgtaskmgr_service data_service_el1_file:file { map };
allow bgtaskmgr_service data_service_el1_file:dir { open };

allow audio_server bgtaskmgr_service:binder { call transfer };
allow hiview bgtaskmgr_service:dir { getattr open read };
allow hiview bgtaskmgr_service:file { getattr };

# Due to the merging of the device_usage_stats_service process 
# into the bgtaskmgr_service process,
# it is necessary to add the corresponding selinux permission 
# for the device_usage_stats.service process.
# device_usage_stats interface call and return result
allow normal_hap_attr sa_device_usage_statistics_service:samgr_class { get };
allow system_basic_hap_attr sa_device_usage_statistics_service:samgr_class { get };
allow system_core_hap_attr sa_device_usage_statistics_service:samgr_class { get };
allow time_service bgtaskmgr_service:file { getattr };
allow time_service bgtaskmgr_service:binder { call };

debug_only(`
    allow bgtaskmgr_service debug_param:file { map open read };
')

binder_call(bgtaskmgr_service, accountmgr);
binder_call(bgtaskmgr_service, accesstoken_service);
binder_call(bgtaskmgr_service, device_usage_stats_service);
binder_call(bgtaskmgr_service, foundation);
binder_call(bgtaskmgr_service, memmgrservice);
binder_call(bgtaskmgr_service, normal_hap_attr);
binder_call(bgtaskmgr_service, param_watcher);
binder_call(bgtaskmgr_service, powermgr);
binder_call(bgtaskmgr_service, resource_schedule_service);
binder_call(bgtaskmgr_service, system_core_hap_attr);
binder_call(bgtaskmgr_service, system_basic_hap_attr);
binder_call(bgtaskmgr_service, hiview);
binder_call(bgtaskmgr_service, distributedsche);
binder_call(bgtaskmgr_service, bluetooth_service);
binder_call(bgtaskmgr_service, time_service);
binder_call(normal_hap_attr, bgtaskmgr_service);
binder_call(system_core_hap_attr, bgtaskmgr_service);
binder_call(param_watcher, bgtaskmgr_service);
binder_call(foundation, bgtaskmgr_service);
binder_call(powermgr, bgtaskmgr_service);
binder_call(hiview, bgtaskmgr_service);
binder_call(distributedsche, bgtaskmgr_service);
binder_call(bluetooth_service, bgtaskmgr_service);
binder_call(system_basic_hap_attr, bgtaskmgr_service);

debug_only(`
    binder_call(bgtaskmgr_service, sh);
')
