# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License

#allow hitrace data_file:file write;
allow hitrace dev_unix_socket:dir search;
allow hitrace devpts:chr_file { read write };
allow hitrace hdcd:fd use;
allow hitrace hdcd:unix_stream_socket { read write };
allow hitrace sh:fd use;
allow hitrace system_bin_file:dir search;
allow hitrace tracefs:dir search;
allow hitrace tracefs_trace_marker_file:file { getattr open write };
allow hitrace tty_device:chr_file { read write };
allow hitrace tracefs:file { getattr ioctl open read write };

allow hitrace ohos_param:file { read map open };

allow hitrace kernel:unix_stream_socket connectto;
allow hitrace paramservice_socket:sock_file write;

allow hitrace ohos_boot_param:file { map open read };
allow hitrace sys_param:file { open read map };

allow hitrace net_param:file { map open read };
allow hitrace net_tcp_param:file read;
allow hitrace sys_usb_param:file { map open read };

allow hitrace hw_sc_build_param:file { open read map };
allow hitrace hw_sc_param:file { map open read };
allow hitrace net_tcp_param:file { map open };

allow hitrace data_local_tmp:file { read write };

allow hitrace domain:dir { getattr search };
allow hitrace domain:file { open read };
allow hitrace hw_sc_build_os_param:file { open read map };
allow hitrace sh:fifo_file { read write };

allow hitrace hw_sc_build_os_param:file { open read };
allow hitrace init_param:file { map open read };
allow hitrace init_svc_param:file { map open read };

allow hitrace hdcd:fifo_file { ioctl write };

allow hitrace const_param:file { map open read };
allow hitrace const_postinstall_fstab_param:file { map open read };
allow hitrace const_postinstall_param:file { map open read };
