# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type sharing_service, sadomain, domain;
allow sharing_service foundation:binder { call };
allow sharing_service hilog_param:file { map read open };
allow sharing_service media_service:binder { call };
allow sharing_service net_param:file { map open read };
allow sharing_service net_tcp_param:file { map open read };
allow sharing_service ohos_param:file { map open read };
allow sharing_service sa_accesstoken_manager_service:samgr_class { get };
allow sharing_service sa_sharing_service:samgr_class { add };
allow sharing_service sa_device_service_manager:samgr_class { get };
allow sharing_service sa_foundation_dms:samgr_class { get };
allow sharing_service security_param:file { map open read };
allow sharing_service startup_param:file { map open read };
allow sharing_service dev_unix_socket:dir { search };
allow sharing_service render_service:binder { call };
allow sharing_service debug_param:file { map open read };
allow sharing_service sys_param:file { map open read };
allow sharing_service persist_param:file { map open read };
allow sharing_service persist_sys_param:file { map open read };
allow sharing_service system_bin_file:dir { search };
allow sharing_service system_core_hap_attr:binder { call transfer };
allow sharing_service tracefs:dir { search };
allow sharing_service dev_console_file:chr_file { read write };
allow sharing_service tracefs_trace_marker_file:file { open write };
allow sharing_service sa_memory_manager_service:samgr_class { get };
allow sharing_service sa_audio_policy_service:samgr_class { get };
allow sharing_service sa_media_service:samgr_class { get };
allow sharing_service sa_softbus_service:samgr_class { get };
allow sharing_service sa_foundation_devicemanager_service:samgr_class { get };
allow sharing_service device_manager:binder { call transfer };
allow sharing_service audio_server:binder { call transfer };
allow sharing_service softbus_server:binder { call transfer };
allow sharing_service softbus_server:fd { use };
allow sharing_service softbus_server:tcp_socket { read write setopt shutdown };
allow sharing_service media_service:binder { call transfer };
allow sharing_service sharing_service:unix_dgram_socket { getopt setopt };
allow sharing_service sysfs_devices_system_cpu:file { getattr read open };
