# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#add selinux for tdd begin
debug_only(`
    #avc: denied { add } for service=1498 pid=1990 scontext=u:r:sh:s0 tcontext=u:object_r:sa_distributed_sched_test_audio:s0 tclass=samgr_class permissive=1
    allow sh sa_distributed_sched_test_audio:samgr_class { add };

    #avc: denied { add } for service=1495 pid=1990 scontext=u:r:sh:s0 tcontext=u:object_r:sa_distributed_sched_test_connection:s0 tclass=samgr_class permissive=1
    #avc: denied { get } for service=1495 pid=1990 scontext=u:r:sh:s0 tcontext=u:object_r:sa_distributed_sched_test_connection:s0 tclass=samgr_class permissive=1
    allow sh sa_distributed_sched_test_connection:samgr_class { add get };

    #avc: denied { add } for service=1496 pid=1990 scontext=u:r:sh:s0 tcontext=u:object_r:sa_distributed_sched_test_incomplete:s0 tclass=samgr_class permissive=1
    allow sh sa_distributed_sched_test_incomplete:samgr_class { add };

    #avc: denied { add } for service=1494 pid=1990 scontext=u:r:sh:s0 tcontext=u:object_r:sa_distributed_sched_test_listen:s0 tclass=samgr_class permissive=1
    #avc: denied { get } for service=1494 pid=1990 scontext=u:r:sh:s0 tcontext=u:object_r:sa_distributed_sched_test_listen:s0 tclass=samgr_class permissive=1
    allow sh sa_distributed_sched_test_listen:samgr_class { add get };

    #avc: denied { add } for service=1499 pid=1990 scontext=u:r:sh:s0 tcontext=u:object_r:sa_distributed_sched_test_media:s0 tclass=samgr_class permissive=1
    #avc: denied { get } for service=1499 pid=1940 scontext=u:r:sh:s0 tcontext=u:object_r:sa_distributed_sched_test_media:s0 tclass=samgr_class permissive=1
    allow sh sa_distributed_sched_test_media:samgr_class { add get };

    #avc: denied { add } for service=1497 pid=1990 scontext=u:r:sh:s0 tcontext=u:object_r:sa_distributed_sched_test_ondemand:s0 tclass=samgr_class permissive=1
    allow sh sa_distributed_sched_test_ondemand:samgr_class { add get };

    #avc: denied { add } for service=1492 pid=1990 scontext=u:r:sh:s0 tcontext=u:object_r:sa_distributed_sched_test_oos:s0 tclass=samgr_class permissive=1
    #avc: denied { get } for service=1492 pid=1990 scontext=u:r:sh:s0 tcontext=u:object_r:sa_distributed_sched_test_oos:s0 tclass=samgr_class permissive=1
    allow sh sa_distributed_sched_test_oos:samgr_class { add get };

    #avc: denied { add } for service=1491 pid=1990 scontext=u:r:sh:s0 tcontext=u:object_r:sa_distributed_sched_test_os:s0 tclass=samgr_class permissive=1
    #avc: denied { get } for service=1491 pid=1990 scontext=u:r:sh:s0 tcontext=u:object_r:sa_distributed_sched_test_os:s0 tclass=samgr_class permissive=1
    allow sh sa_distributed_sched_test_os:samgr_class { add get };

    #avc: denied { add } for service=1490 pid=1990 scontext=u:r:sh:s0 tcontext=u:object_r:sa_distributed_sched_test_so:s0 tclass=samgr_class permissive=1
    #avc: denied { get } for service=1490 pid=1990 scontext=u:r:sh:s0 tcontext=u:object_r:sa_distributed_sched_test_so:s0 tclass=samgr_class permissive=1
    allow sh sa_distributed_sched_test_so:samgr_class { add get };

    #avc: denied { add } for service=1493 pid=1990 scontext=u:r:sh:s0 tcontext=u:object_r:sa_distributed_sched_test_tt:s0 tclass=samgr_class permissive=1
    #avc: denied { get } for service=1493 pid=1990 scontext=u:r:sh:s0 tcontext=u:object_r:sa_distributed_sched_test_tt:s0 tclass=samgr_class permissive=1
    allow sh sa_distributed_sched_test_tt:samgr_class { add get };
')
#add selinux for tdd end
