# Copyright (c) 2026 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# avc: denied { search read getattr open } comm="/system/bin/claw_sandbox" path="/system/bin" scontext=u:r:claw_cli:s0 tcontext=u:object_r:system_bin_file:s0 tclass=dir
# avc: denied { open } comm="/system/bin/claw_sandbox" path="/system/bin/location_cli" scontext=u:r:claw_cli:s0 tcontext=u:object_r:system_bin_file:s0 tclass=file
allow claw_cli system_bin_file:dir { search getattr read open };
allow claw_cli system_bin_file:file { entrypoint execute execute_no_trans getattr map read open };

# power-shell cli
allow claw_cli power_shell_exec:file { execute execute_no_trans getattr map open read };

# avc: denied { getattr } comm="/system/bin/ls" path="/system/bin/zcat" scontext=u:r:claw_cli:s0 tcontext=u:object_r:system_bin_file:s0 tclass=lnk_file
# avc: denied { read } comm="/system/bin/claw_sandbox" path="/bin/help" scontext=u:r:claw_cli:s0 tcontext=u:object_r:system_bin_file:s0 tclass=lnk_file
# avc: denied { read } comm="/system/bin/ls" path="/system/bin/ip6tables-save" scontext=u:r:claw_cli:s0 tcontext=u:object_r:iptables_exec:s0 tclass=lnk_file
allow claw_cli system_bin_file:lnk_file { getattr read };
allow claw_cli system_usr_file:dir { search getattr read };
allow claw_cli system_usr_file:file { getattr map open read };
allow claw_cli tty_device:chr_file { open read write ioctl };
allowxperm claw_cli tty_device:chr_file ioctl { 0x5401 0x5403 0x540f 0x5413 0x5410 };
allow claw_cli devpts:chr_file { getattr open read write ioctl };
allowxperm claw_cli devpts:chr_file ioctl { 0x5413 };

# avc: denied { write } comm="/system/bin/claw_sandbox" scontext=u:r:claw_cli:s0 tcontext=u:object_r:claw_sandbox_loader:s0 tclass=unix_dgram_socket
allow claw_cli claw_sandbox_loader:unix_dgram_socket { write };

# avc: denied { search } comm="/bin/power-shell" name="/unix/socket" scontext=u:r:claw_cli:s0 tcontext=u:object_r:dev_unix_socket:s0 tclass=dir
allow claw_cli dev_unix_socket:dir { search };

# avc: denied { getopt } comm="/bin/power-shell" scontext=u:r:claw_cli:s0 tcontext=u:r:claw_cli:s0 tclass=unix_dgram_socket
allow claw_cli claw_cli:unix_dgram_socket { getopt };

# avc: denied { sendto } comm="/bin/power-shell" name="/unix/socket" scontext=u:r:claw_cli:s0 tcontext=u:r:hiview:s0 tclass=unix_dgram_socket
allow claw_cli hiview:unix_dgram_socket { sendto };

# avc: denied { call } comm="/bin/power-shell" scontext=u:r:claw_cli:s0 tcontext=u:r:samgr:s0 tclass=binder
# avc: denied { transfer } comm="/bin/power-shell" scontext=u:r:claw_cli:s0 tcontext=u:r:samgr:s0 tclass=binder
allow claw_cli samgr:binder { call transfer };

# avc: denied { call } comm="/system/bin/samgr" scontext=u:r:samgr:s0 tcontext=u:r:claw_cli:s0 tclass=binder
# avc: denied { transfer } comm="/system/bin/samgr" scontext=u:r:samgr:s0 tcontext=u:r:claw_cli:s0 tclass=binder
allow samgr claw_cli:binder { call transfer };

# avc: denied { call } comm="/bin/location_cli" scontext=u:r:claw_cli:s0 tcontext=u:r:foundation:s0 tclass=binder
# avc: denied { transfer } comm="/bin/bm" scontext=u:r:claw_cli:s0 tcontext=u:r:foundation:s0 tclass=binder
allow claw_cli foundation:binder { call transfer };

# avc: denied { transfer } comm="/system/bin/sa_main" scontext=u:r:foundation:s0 tcontext=u:r:claw_cli:s0 tclass=binder
allow foundation claw_cli:binder { transfer };

debug_only(`
    allow claw_cli sh_exec:file { execute execute_no_trans map open read getattr };

    # avc: denied { read } comm="/system/bin/claw_sandbox" path="/bin/toybox" scontext=u:r:claw_cli:s0 tcontext=u:object_r:toybox_exec:s0 tclass=file
    # avc: denied { open } comm="/system/bin/claw_sandbox" path="/bin/toybox" scontext=u:r:claw_cli:s0 tcontext=u:object_r:toybox_exec:s0 tclass=file
    allow claw_cli toybox_exec:file { execute execute_no_trans getattr map open read };

    # avc: denied { use } comm="/system/bin/claw_sandbox" path="/dev/pts/0" scontext=u:r:claw_cli:s0 tcontext=u:r:su:s0 tclass=fd
    allow claw_cli su:fd { use };

    # avc: denied { write } comm="/system/bin/claw_sandbox" scontext=u:r:claw_cli:s0 tcontext=u:r:su:s0 tclass=unix_dgram_socket
    allow claw_cli su:unix_dgram_socket { write };

    # avc: denied { write } comm="/system/bin/claw_sandbox" path="pipe:[1521]" scontext=u:r:claw_cli:s0 tcontext=u:r:su:s0 tclass=fifo_file
    allow claw_cli su:fifo_file { write ioctl };
    allowxperm claw_cli su:fifo_file ioctl { 0x5413 };
')
