# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow processdump debug_param:file { map };
allow processdump startup_param:file { read };
allow processdump startup_param:file { open };
allow processdump startup_param:file { map };
allow processdump bootevent_param:file { read };
allow processdump bootevent_param:file { open };
allow processdump bootevent_param:file { map };
allow processdump build_version_param:file { read };
allow processdump build_version_param:file { open };
allow processdump build_version_param:file { map };
allow processdump bootevent_samgr_param:file { map open read };
allow processdump const_display_brightness_param:file { map open read };
allow processdump default_param:file { map open read };
allow processdump dev_kmsg_file:chr_file { open write };
allow processdump distributedsche_param:file { map open read };
allow processdump input_pointer_device_param:file { map open read };
allow processdump system_bin_file:file { getattr map open read };

