# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#allow sh sh:capability { dac_override sys_ptrace sys_ptrace };
allow sh accessibility:binder { call transfer call transfer };
allow sh accessibility:dir { getattr search };
allow sh accessibility:file { open read };
allow sh accesstoken_service:dir { getattr search };
allow sh accesstoken_service:file { open read };
allow sh accountmgr:dir { getattr search };
allow sh accountmgr:file { open read };
allow sh appspawn:dir { getattr search };
allow sh appspawn:file { open read open read };
allow sh audio_hdi_server_host:dir { getattr search };
allow sh audio_hdi_server_host:file { open read };
allow sh audio_policy:dir { getattr search };
allow sh audio_policy:file { open read };
allow sh battery_stats:dir { getattr search };
allow sh battery_stats:file { open read };
allow sh blue_host:dir { getattr search };
allow sh blue_host:file { open read };
allow sh bluetooth_service:dir { getattr search };
allow sh bluetooth_service:file { open read };
allow sh bootanimation:dir { search };
allow sh bootanimation:file { open read };
allow sh camera_host:dir { getattr search };
allow sh camera_host:file { open read };
allow sh camera_service:dir { getattr search };
allow sh camera_service:file { open read };
allow sh codec_host:dir { getattr search };
allow sh codec_host:file { open read };
allow sh console:dir { getattr search };
allow sh console:file { open read };
#allow sh data_app_el1_file:dir { getattr open read search };
#allow sh data_app_el1_file:file { getattr };
allow sh data_app_file:dir { search };
allow sh data_file:dir { add_name open read write };
allow sh data_file:file { create };
#allow sh data_hilogd_file:dir { open read open read search };
#allow sh data_hilogd_file:file { getattr open read };
allow sh data_local:dir { add_name create open read write add_name create open read write };
allow sh data_local:file { create ioctl open write open write create getattr ioctl open write open write };
allow sh data_log:dir { open read remove_name search write open read remove_name write search };
allow sh data_log:file { getattr open read unlink unlink };
allow sh dev_kmsg_file:chr_file { open read };
allow sh deviceauth_service:dir { getattr search };
allow sh deviceauth_service:file { open read };
allow sh disp_gralloc_host:dir { getattr search };
allow sh disp_gralloc_host:file { open read };
allow sh distributeddata:dir { getattr search };
allow sh distributeddata:file { open read };
allow sh distributedfiledaemon:dir { getattr search };
allow sh distributedfiledaemon:file { open read };
allow sh distributedsche:dir { getattr search };
allow sh distributedsche:file { open read };
allow sh distributedsche_param:file { map open read map open read };
allow sh download_server:dir { getattr search };
allow sh download_server:file { open read };
allow sh dslm_service:dir { getattr search };
allow sh dslm_service:file { open read };
allow sh edm_sa:dir { getattr search };
allow sh edm_sa:file { open read };
allow sh face_auth_host:dir { getattr search };
allow sh face_auth_host:file { open read };
allow sh faultloggerd:dir { getattr search };
allow sh faultloggerd:file { open read };
allow sh fingerprint_auth_host:dir { getattr search };
allow sh fingerprint_auth_host:file { open read };
allow sh fms_service:dir { getattr search };
allow sh fms_service:file { open read };
allow sh foundation:dir { getattr search };
allow sh foundation:file { open read };
allow sh hdcd:dir { getattr search };
allow sh hdcd:file { open read };
allow sh hdf_devmgr:dir { getattr search };
allow sh hdf_devmgr:file { open read open read };
allow sh hidumper_service:dir { getattr search };
allow sh hidumper_service:file { open read };
allow sh hilog_control_socket:sock_file { write };
allow sh hilog_exec:file { execute execute_no_trans getattr map read open };
allow sh hilogd:dir { getattr search };
allow sh hilogd:file { open read open read };
allow sh hiview:binder { call transfer call transfer };
allow sh hiview:dir { getattr search };
allow sh hiview:file { open read };
allow sh huks_service:dir { getattr search };
allow sh huks_service:file { open read };
allow sh init:dir { getattr search };
allow sh init:file { open read open read };
allow sh init:unix_stream_socket { connectto };
allow sh input_user_host:dir { getattr search };
allow sh input_user_host:file { open read };
allow sh inputmethod_service:dir { getattr search };
allow sh inputmethod_service:file { open read };
allow sh installs:dir { getattr search };
allow sh installs:file { open read };
allow sh kernel:dir { getattr search };
allow sh kernel:file { open read open read };
allow sh kernel:system { syslog_read };
allow sh kernel:unix_stream_socket { connectto };
allow sh light_host:dir { getattr search };
allow sh light_host:file { open read };
allow sh location_host:dir { getattr search };
allow sh location_host:file { open read };
allow sh locationhub:dir { getattr search };
allow sh locationhub:file { open read };
allow sh media_service:dir { getattr search };
allow sh media_service:file { open read };
allow sh mmi_uinput_service:dir { getattr search };
allow sh mmi_uinput_service:file { open read open read };
allow sh msdp_sa:dir { getattr search };
allow sh msdp_sa:file { open read };
allow sh multimodalinput:dir { getattr search };
allow sh multimodalinput:file { open };
allow sh multimodalinput:unix_stream_socket { read };
allow sh netmanager:dir { getattr search };
allow sh netmanager:file { open read };
allow sh netsysnative:dir { getattr search };
allow sh netsysnative:file { open read };
allow sh normal_hap:dir { getattr search };
allow sh normal_hap:file { open read };
allow sh param_watcher:dir { getattr search };
allow sh param_watcher:file { open read open read };
allow sh paramservice_socket:sock_file { write };
allow sh pasteboard_service:dir { getattr search };
allow sh pasteboard_service:file { open read };
allow sh pin_auth_host:dir { getattr search };
allow sh pin_auth_host:file { open read };
allow sh pinauth:dir { getattr search };
allow sh pinauth:file { open read };
allow sh power_host:dir { getattr search };
allow sh power_host:file { open read };
allow sh pulseaudio:dir { getattr search };
allow sh pulseaudio:file { open read };
allow sh render_service:dir { getattr search };
allow sh render_service:file { open read };
allow sh rootfs:dir { open read };
allow sh sa_foundation_dms:samgr_class { get };
allow sh sa_multimodalinput_service:samgr_class { get };
allow sh sa_sys_event_service:samgr_class { get };
allow sh samgr:dir { getattr search };
allow sh samgr:file { open read open read };
allow sh screenlock_server:dir { getattr search };
allow sh screenlock_server:file { open read };
allow sh security:security { setenforce };
allow sh selinuxfs:dir { search };
allow sh selinuxfs:file { open read write read };
allow sh sensor_host:dir { getattr search };
allow sh sensor_host:file { open read };
allow sh sensors:file { open read };
#allow sh sh:capability { dac_override sys_ptrace };
allow sh sh_exec:file { execute_no_trans };
allow sh softbus_server:dir { getattr search };
allow sh softbus_server:file { open read };
allow sh storage_daemon:dir { getattr search };
allow sh storage_daemon:file { open read open read };
allow sh storage_manager:dir { getattr search };
allow sh storage_manager:file { open read open read };
allow sh system_basic_hap:dir { getattr search };
allow sh system_basic_hap:file { open read };
allow sh system_core_hap:dir { search };
allow sh system_core_hap:file { open read };
allow sh system_usr_file:dir { search };
allow sh system_usr_file:file { getattr map open read getattr map open read };
allow sh telephony_sa:dir { getattr search };
allow sh telephony_sa:file { open read };
allow sh thermal:dir { getattr search };
allow sh thermal:file { open read };
allow sh time_service:dir { getattr search };
allow sh time_service:file { open read };
allow sh udevd:dir { getattr search };
allow sh udevd:file { open read open read };
allow sh ueventd:dir { search };
allow sh ueventd:file { open read };
allow sh ui_service:dir { getattr search };
allow sh ui_service:file { open read };
allow sh updater_sa:dir { getattr search };
allow sh updater_sa:file { open read };
allow sh usb_host:dir { getattr search };
allow sh usb_host:file { open read };
allow sh usb_service:dir { getattr search };
allow sh usb_service:file { open read };
allow sh user_auth_host:dir { getattr search };
allow sh user_auth_host:file { open read };
allow sh useriam:dir { getattr search };
allow sh useriam:file { open read };
allow sh vibrator_host:dir { getattr search };
allow sh vibrator_host:file { open read };
allow sh wallpaper_service:dir { getattr search };
allow sh wallpaper_service:file { open read };
allow sh watchdog_service:dir { getattr search };
allow sh watchdog_service:file { open read open read };
allow sh wifi_hal_service:dir { getattr search };
allow sh wifi_hal_service:file { open read };
allow sh wifi_host:dir { getattr search };
allow sh wifi_host:file { open read };
allow sh wifi_manager_service:dir { getattr search };
allow sh wifi_manager_service:file { open read };
allowxperm sh data_local:file ioctl {  0x5413  };

