# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

developer_only(`
allow wukong accessibility:binder { call transfer };
allow wukong accessibility:dir { search };
allow wukong accessibility:file { open read };
allow wukong data_file:dir { search read open };
allow wukong data_hilogd_file:dir { open read search };
allow wukong data_hilogd_file:file { getattr open read };
allow wukong data_local:dir { search read open };
allow wukong data_log:dir { read watch };
allow wukong data_log:file { getattr open read };
allow wukong data_service_el0_file:dir { search };
allow wukong data_service_file:dir { search };
allow wukong devpts:chr_file { read write ioctl };
allow wukong foundation:fd { use };
allow wukong foundation:binder { call transfer };
allow wukong hiview:binder { call transfer };
allow wukong multimodalinput:binder { call };
allow wukong samgr:binder { call };
allow wukong sh:fd { use };
allow wukong sh:file { read open };
allow wukong sh:dir { search };
allow wukong sh_exec:file { execute_no_trans execute  read open map };
allow wukong system_bin_file:file { execute execute_no_trans getattr map read open };
allow wukong system_bin_file:lnk_file { read };
allow wukong system_bin_file:dir { search };
allow wukong multimodalinput:fd { use };
allow wukong multimodalinput:unix_stream_socket { write };
allow wukong dev_unix_socket:dir { search };

allowxperm wukong data_local_tmp:file ioctl { 0x5413 };
allowxperm wukong devpts:chr_file ioctl { 0x5413 };

allow wukong sa_accessibleabilityms:samgr_class { get };
allow wukong sa_foundation_abilityms:samgr_class { get };
allow wukong sa_foundation_bms:samgr_class { get };
allow wukong sa_foundation_dms:samgr_class { get };
allow wukong sa_foundation_wms:samgr_class { get };
allow wukong sa_multimodalinput_service:samgr_class { get };
allow wukong sa_sys_event_service:samgr_class { get };
allow wukong sa_param_watcher:samgr_class { get };
allow wukong render_service:fd { use };

allow wukong tty_device:chr_file { ioctl open read write };
allowxperm wukong tty_device:chr_file ioctl { 0x5413 };

# for data_local_tmp
allow wukong data_local_tmp:file { create getattr read relabelfrom ioctl write open unlink append };
allow wukong data_local_tmp:dir { add_name create getattr read write open search remove_name };

# hdcd
allow wukong hdcd:fifo_file { read write };
allow wukong hdcd:unix_stream_socket { read write };
allow wukong hdcd:fd { use };
')
