# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow wukong accessibility:binder { call transfer };
allow wukong accessibility:dir { search };
allow wukong accessibility:file { open read };
allow wukong appspawn:file { read open };
allow wukong appspawn:dir { search };
allow wukong bluetooth_service:dir { search };
allow wukong bluetooth_service:file { open read };
allow wukong data_file:dir { search };
allow wukong data_hilogd_file:dir { open read search };
allow wukong data_hilogd_file:file { getattr open read };
allow wukong data_local:dir { search };
allow wukong data_local_tmp:dir { remove_name add_name create open read search write getattr };
allow wukong data_local_tmp:file { unlink create open write getattr ioctl };
allow wukong data_log:dir { read watch };
allow wukong data_service_el0_file:dir { search };
allow wukong data_service_file:dir { search };
allow wukong debug_param:file { map open read };
allow wukong dev_console_file:chr_file { read write };
allow wukong dev_unix_socket:dir { search };
allow wukong devpts:chr_file { read write ioctl };
allow wukong dev_at_file:chr_file { ioctl };
allow wukong device_manager:dir { search };
allow wukong device_manager:file { open read };
allow wukong device_usage_stats_service:dir { search };
allow wukong foundation:fd { use };
allow wukong foundation:binder { call };
allow wukong hilogd:dir { search };
allow wukong hilogd:file { open read };
allow wukong hdcd:unix_stream_socket { read write };
allow wukong hdcd:fd { use };
allow wukong hdf_devmgr:dir { search };
allow wukong hdf_devmgr:file { open read };
allow wukong hilog_param:file { read map open };
allow wukong hiview:binder { call transfer };
allow wukong hiview:dir { search };
allow wukong hiview:file { open read };
allow wukong init:file { open read };
allow wukong init:dir { search };
allow wukong kernel:dir { search };
allow wukong kernel:file { open read };
allow wukong multimodalinput:unix_stream_socket { read };
allow wukong multimodalinput:binder { call };
allow wukong multimodalinput:dir { search };
allow wukong multimodalinput:file { open read };
allow wukong module_update_service:dir { search };
allow wukong module_update_service:file { open read };
allow wukong ueventd:dir { search };
allow wukong ueventd:file { open read };
allow wukong intell_voice_service:dir { search };
allow wukong intell_voice_service:file { open read };
allow wukong storage_manager:dir { search };
allow wukong storage_manager:file { open read };
allow wukong samgr:binder { call };
allow wukong samgr:dir { search };
allow wukong samgr:file { open read  };
allow wukong sh:fd { use };
allow wukong sh_exec:file { execute_no_trans execute  read open map };
allow wukong system_bin_file:file { execute execute_no_trans getattr map read open };
allow wukong system_bin_file:lnk_file { read };
allow wukong system_bin_file:dir { search };
allow wukong tty_device:chr_file { ioctl open read write };
allow wukong persist_sys_param:file { map open read };
allow wukong watchdog_service:dir { search };
allow wukong watchdog_service:file { open read };
allow wukong param_watcher:dir { search };
allow wukong param_watcher:file { open read };
allow wukong render_service:fd { use };
allow wukong storage_daemon:dir { search };
allow wukong storage_daemon:file { open read  };
allow wukong nwebspawn:dir { search };
allow wukong nwebspawn:file { open read };
allow wukong pulseaudio:dir { search };
allow wukong pulseaudio:file { open read };
allowxperm wukong data_local_tmp:file ioctl 0x5413;
allowxperm wukong dev_at_file:chr_file ioctl 0x4102;
allowxperm wukong devpts:chr_file ioctl 0x5413;
allowxperm wukong tty_device:chr_file ioctl 0x5413;
allow wukong data_log:file { getattr open read };
allow wukong huks_service:dir { search };
allow wukong huks_service:file { open read };
allow wukong resource_schedule_service:dir { search };
allow wukong resource_schedule_service:file { open read };
allow wukong concurrent_task_service:dir { search };
allow wukong concurrent_task_service:file { open read };
allow wukong memmgrservice:dir { search };
allow wukong mmi_uinput_service:dir { search };
allow wukong mmi_uinput_service:file { open read };
allow wukong bgtaskmgr_service:dir { search };
allow wukong device_usage_stats_service:file { read };
allow wukong deviceauth_service:dir { search };
allow wukong local_code_sign:dir { search };
allow wukong memmgrservice:file { read };
allow wukong msdp_sa:dir { search };
allow wukong netmanager:dir { search };
allow wukong telephony_sa:dir { search };
allow wukong time_service:dir { search };
allow wukong wallpaper_service:dir { search };
allow wukong device_usage_stats_service:file { open };
allow wukong deviceauth_service:file { open };
allow wukong deviceauth_service:file { read };
allow wukong local_code_sign:file { open };
allow wukong local_code_sign:file { read };
allow wukong memmgrservice:file { open };
allow wukong netmanager:file { open };
allow wukong netmanager:file { read };
allow wukong telephony_sa:file { open };
allow wukong telephony_sa:file { read };
allow wukong wallpaper_service:file { open };
allow wukong wallpaper_service:file { read };
allow wukong audio_policy:dir { search };
allow wukong bgtaskmgr_service:file { open };
allow wukong bgtaskmgr_service:file { read };
allow wukong intell_voice_host:dir { search };
allow wukong msdp_sa:file { open };
allow wukong msdp_sa:file { read };
allow wukong pin_auth_host:dir { search };
allow wukong time_service:file { open };
allow wukong time_service:file { read };
allow wukong updater_sa:dir { search };
allow wukong updater_sa:file { open };
allow wukong updater_sa:file { read };
allow wukong user_auth_host:dir { search };
allow wukong wifi_hal_service:dir { search };
allow wukong wifi_hal_service:file { open };
allow wukong wifi_hal_service:file { read };
allow wukong audio_policy:file { open read  };
allow wukong chipset_init:dir { search };
allow wukong chipset_init:file { open read  };
allow wukong fingerprint_auth_host:dir { search };
allow wukong fingerprint_auth_host:file { open read  };
allow wukong intell_voice_host:file { open read  };
allow wukong pin_auth_host:file { read };
allow wukong user_auth_host:file { open read  };
allow wukong codec_host:dir { search };
allow wukong codec_host:file { open read  };
allow wukong face_auth_host:dir { search };
allow wukong face_auth_host:file { open read  };
allow wukong light_host:dir { search };
allow wukong light_host:file { open read  };
allow wukong pin_auth_host:file { open };
allow wukong camera_host:dir { search };
allow wukong input_user_host:dir { search };
allow wukong input_user_host:file { open read  };
allow wukong sensor_host:dir { search };
allow wukong sensor_host:file { open read  };
allow wukong vibrator_host:dir { search };
allow wukong vibrator_host:file { open read  };
allow wukong allocator_host:dir { search };
allow wukong allocator_host:file { open read };
allow wukong audio_host:dir { search };
allow wukong audio_host:file { open read };
allow wukong blue_host:dir { search };
allow wukong camera_host:file { open read };
allow wukong composer_host:dir { search };
allow wukong distributeddata:file { open read };
allow wukong power_host:dir { search };
allow wukong power_host:file { open read };
allow wukong softbus_server:dir { search };
allow wukong usb_host:dir { search };
allow wukong usb_host:file { open read };
allow wukong wifi_host:dir { search };
allow wukong wifi_host:file { open read };
allow wukong accesstoken_service:dir { search };
allow wukong accesstoken_service:file { open };
allow wukong accesstoken_service:file { read };
allow wukong accountmgr:file { open };
allow wukong accountmgr:file { read };
allow wukong arkui_param:parameter_service { set };
allow wukong blue_host:file { open };
allow wukong blue_host:file { read };
allow wukong camera_service:file { read };
allow wukong cloudfiledaemon:dir { search };
allow wukong composer_host:file { open };
allow wukong composer_host:file { read };
allow wukong foundation:binder { transfer };
allow wukong inputmethod_service:dir { search };
allow wukong inputmethod_service:file { open };
allow wukong inputmethod_service:file { read };
allow wukong kernel:unix_stream_socket { connectto };
allow wukong netsysnative:file { open };
allow wukong netsysnative:file { read };
allow wukong param_watcher:binder { call };
allow wukong param_watcher:binder { transfer };
allow wukong paramservice_socket:sock_file { write };
allow wukong sensors:file { open };
allow wukong sensors:file { read };
allow wukong ui_service:dir { search };
allow wukong accountmgr:dir { search };
allow wukong av_codec_service:file { open };
allow wukong av_codec_service:file { read };
allow wukong camera_service:dir { search };
allow wukong camera_service:file { open };
allow wukong dlp_permission_service:file { read };
allow wukong faultloggerd:dir { search };
allow wukong foundation:dir { search };
allow wukong foundation:file { open };
allow wukong foundation:file { read };
allow wukong medialibrary_hap:file { open };
allow wukong medialibrary_hap:file { read };
allow wukong privacy_service:dir { search };
allow wukong sensors:dir { search };
allow wukong ui_service:file { open };
allow wukong ui_service:file { read };
allow wukong av_codec_service:dir { search };
allow wukong av_session:dir { search };
allow wukong bootanimation:dir { search };
allow wukong cloudfiledaemon:file { read };
allow wukong distributeddata:dir { search };
allow wukong faultloggerd:file { read };
allow wukong netsysnative:dir { search };
allow wukong privacy_service:file { read };
allow wukong render_service:dir { search };
allow wukong useriam:dir { search };


