# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type storage_daemon, sadomain, domain;
type storage_daemon_exec, exec_attr, file_attr, system_file_attr;
type dev_block_volfile, dev_attr;

allow storage_daemon hmdfs:dir { read search setattr getattr mounton };
allow storage_daemon vfat:dir { read search setattr getattr mounton };
allow storage_daemon exfat:dir { read search setattr getattr mounton };
allow storage_daemon ntfs:dir { read search setattr getattr mounton };
allow storage_daemon hmdfs:filesystem { unmount };

neverallow { domain -storage_manager -hidumper_service -samgr -init } storage_daemon:{ binder } call;

allow storage_daemon domain:file { read open };
allow storage_daemon domain:dir { search read open };
allow storage_daemon domain:lnk_file { read };

#avc:  denied  { call } for  pid=255 comm="storage_daemon" scontext=u:r:storage_daemon:s0 tcontext=u:r:accesstoken_service:s0 tclass=binder permissive=1
allow storage_daemon accesstoken_service:binder { call };

#avc:  denied  { search } for  pid=2218 comm="blkid" name="/" dev="mmcblk0p11" ino=2 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_file:s0 tclass=dir permissive=1
#avc:  denied  { read } for  pid=257 comm="storage_daemon" name="/" dev="mmcblk0p11" ino=2 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_file:s0 tclass=dir permissive=1
allow storage_daemon data_file:dir { search read open ioctl };

#avc:  denied  { search } for  pid=2218 comm="blkid" name="init_agent" dev="mmcblk0p11" ino=16321 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_init_agent:s0 tclass=dir permissive=1
allow storage_daemon data_init_agent:dir { search };
#avc:  denied  { read append open } for  pid=2218 comm="blkid" path="/data/init_agent/begetctl.log" dev="mmcblk0p11" ino=16 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_init_agent:s0 tclass=file permissive=1
#avc:  denied  { ioctl } for  pid=2218 comm="blkid" path="/data/init_agent/begetctl.log" dev="mmcblk0p11" ino=16 ioctlcmd=0x5413 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_init_agent:s0 tclass=file permissive=1
allow storage_daemon data_init_agent:file { read append open ioctl };

#avc:  denied  { read open } for  pid=1476 comm="event_runner#1" path="/data/service/el2/100/hmdfs/account/files" dev="mmcblk0p11" ino=130633 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_service_el2_file:s0 tclass=dir permissive=1
#avc:  denied  { search } for  pid=241 comm="storage_daemon" name="el2" dev="mmcblk0p11" ino=130568 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_service_el2_file:s0 tclass=dir permissive=1
#avc:  denied  { getattr } for  pid=182 comm="kworker/u8:5" path="/data/service/el2/100/hmdfs/account/data" dev="mmcblk0p11" ino=1044557 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_service_el2_file:s0 tclass=dir permissive=1
#avc:  denied  { rmdir } for  pid=254 comm="storage_daemon" name="101" dev="mmcblk0p11" ino=914136 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=dir permissive=1
allow storage_daemon data_service_el2_file:file { create_file_perms };
allow storage_daemon data_service_el1_file:file { create_file_perms };
allow storage_daemon data_service_el2_file:dir { rw_dir_perms rmdir ioctl getattr search rename };
allow storage_daemon data_service_el1_file:dir { rw_dir_perms rmdir ioctl getattr search rename };

#avc:  denied  { read open } for  pid=1875 comm="event_runner#1" path="/data/service/el2/100/hmdfs/account/files" dev="mmcblk0p11" ino=130643 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_service_el2_hmdfs:s0 tclass=dir permissive=1
#avc:  denied  { getattr } for  pid=3372 comm="kworker/u8:4" path="/data/service/el2/100/hmdfs/account/data" dev="mmcblk0p11" ino=130644 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_service_el2_hmdfs:s0 tclass=dir permissive=1
#avc:  denied  { search } for  pid=7 comm="kworker/u8:0" name="account" dev="mmcblk0p11" ino=130642 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_service_el2_hmdfs:s0 tclass=dir permissive=1
#avc:  denied  { write } for  pid=7 comm="kworker/u8:0" path=2F646174612F736572766963652F656C322F3130302F686D6466732F63616368652F6163636F756E745F63616368652F23313330373335202864656C6574656429 dev="mmcblk0p11" ino=130735 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_service_el2_hmdfs:s0 tclass=file permissive=1
allow storage_daemon data_service_el2_hmdfs:dir { rw_dir_perms rmdir };
allow storage_daemon data_service_el2_hmdfs:file { rw_file_perms };

#avc:  denied  { search } for  pid=257 comm="storage_daemon" name="huks_service" dev="mmcblk0p11" ino=1044496 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_service_el1_public_huksService_file:s0 tclass=dir permissive=1
#avc:  denied  { getattr } for  pid=257 comm="storage_daemon" path="/data/service/el1/public/huks_service/maindata/root_encrypt_key" dev="mmcblk0p11" ino=1044535 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_service_el1_public_huksService_file:s0 tclass=file permissive=1
allow storage_daemon data_service_el1_public_huksService_file:dir { search };
allow storage_daemon data_service_el1_public_huksService_file:file { getattr read open };

#avc:  denied  { read open } for  pid=1789 comm="event_runner#1" path="/data/service/el2/100/hmdfs/account/files" dev="mmcblk0p11" ino=913996 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_user_file:s0 tclass=dir permissive=1
allow storage_daemon data_user_file:file { rw_file_perms };
allow storage_daemon data_user_file:dir { rw_dir_perms rmdir };

#avc:  denied  { read } for  pid=246 comm="storage_daemon" scontext=u:r:storage_daemon:s0 tcontext=u:r:device_usage_stats_service:s0 tclass=file permissive=1
allow storage_daemon device_usage_stats_service:file { read };
#avc:  denied  { search } for  pid=246 comm="storage_daemon" name="306" dev="proc" ino=1476 scontext=u:r:storage_daemon:s0 tcontext=u:r:device_usage_stats_service:s0 tclass=dir permissive=1
allow storage_daemon device_usage_stats_service:dir { search };
#avc:  denied  { read } for  pid=246 comm="storage_daemon" name="48" dev="proc" ino=34994 scontext=u:r:storage_daemon:s0 tcontext=u:r:device_usage_stats_service:s0 tclass=lnk_file permissive=1
allow storage_daemon device_usage_stats_service:lnk_file { read };

#avc:  denied  { search } for  pid=249 comm="storage_daemon" name="socket" dev="tmpfs" ino=40 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:dev_unix_socket:s0 tclass=dir permissive=1
allow storage_daemon dev_unix_socket:dir { search };

#avc:  denied  { write search } for  pid=241 comm="storage_daemon" name="block" dev="tmpfs" ino=7 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:dev_block_file:s0 tclass=dir permissive=1
#avc:  denied  { add_name search } for  pid=241 comm="storage_daemon" name="disk-8-0" scontext=u:r:storage_daemon:s0 tcontext=u:object_r:dev_block_file:s0 tclass=dir permissive=1
allow storage_daemon dev_block_volfile:dir { rw_dir_perms };

#avc:  denied  { use } for  pid=7 comm="kworker/u8:0" path=2F646174612F736572766963652F656C322F3130302F686D6466732F63616368652F6163636F756E745F63616368652F23313330373335202864656C6574656429 dev="mmcblk0p11" ino=130735 scontext=u:r:storage_daemon:s0 tcontext=u:r:distributedfiledaemon:s0 tclass=fd permissive=1
allow storage_daemon distributedfiledaemon:fd { use };

#conflict
#avc:  denied  { create } for  pid=241 comm="storage_daemon" name="disk-8-0" scontext=u:r:storage_daemon:s0 tcontext=u:object_r:dev_block_file:s0 tclass=blk_file permissive=1
#avc:  denied  { read } for  pid=241 comm="storage_daemon" name="disk-8-0" dev="tmpfs" ino=508 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:dev_block_file:s0 tclass=blk_file permissive=1
#avc:  denied  { read open } for  pid=2061 comm="blkid" path="/dev/block/vol-8-2" dev="tmpfs" ino=502 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:dev_block_file:s0 tclass=blk_file permissive=1
#avc:  denied  { getattr } for  pid=2061 comm="blkid" path="/dev/block/vol-8-2" dev="tmpfs" ino=502 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:dev_block_file:s0 tclass=blk_file permissive=1
allow storage_daemon dev_block_volfile:blk_file { create rw_file_perms unlink };

#avc:  denied  { search } for  pid=241 comm="storage_daemon" name="service" dev="mmcblk0p11" ino=130561 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_service_file:s0 tclass=dir permissive=1
allow storage_daemon data_service_file:dir { search };

#avc:  denied  { remove_name } for  pid=254 comm="storage_daemon" name="database" dev="mmcblk0p11" ino=132176 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_app_el1_file:s0 tclass=dir permissive=1
#avc:  denied  { remove_name } for  pid=257 comm="storage_daemon" name="base" dev="mmcblk0p11" ino=523949 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_app_el2_file:s0 tclass=dir permissive=1
allow storage_daemon data_app_el1_file:dir { rw_dir_perms rmdir ioctl };
allow storage_daemon data_app_el2_file:dir { rw_dir_perms rmdir ioctl };


#avc:  denied  { remove_name } for  pid=254 comm="storage_daemon" name="101" dev="mmcblk0p11" ino=262719 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_chipset_el1_file:s0 tclass=dir permissive=1
#avc:  denied  { rmdir } for  pid=254 comm="storage_daemon" name="101" dev="mmcblk0p11" ino=262719 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_chipset_el1_file:s0 tclass=dir permissive=1
#avc:  denied  { remove_name } for  pid=254 comm="storage_daemon" name="101" dev="mmcblk0p11" ino=391690 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:data_chipset_el2_file:s0 tclass=dir permissive=1
allow storage_daemon data_chipset_el1_file:dir { rmdir rw_dir_perms ioctl };
allow storage_daemon data_chipset_el2_file:dir { rmdir rw_dir_perms ioctl };

#avc:  denied  { search } for  pid=259 comm="storage_daemon" name="547" dev="proc" ino=36346 scontext=u:r:storage_daemon:s0 tcontext=u:r:dslm_service:s0 tclass=dir permissive=1
#avc:  denied  { read } for  pid=259 comm="storage_daemon" name="cwd" dev="proc" ino=40910 scontext=u:r:storage_daemon:s0 tcontext=u:r:dslm_service:s0 tclass=lnk_file permissive=1
#avc:  denied  { read } for  pid=259 comm="storage_daemon" scontext=u:r:storage_daemon:s0 tcontext=u:r:dslm_service:s0 tclass=file permissive=1
allow storage_daemon dslm_service:dir { search };
allow storage_daemon dslm_service:lnk_file { read  };
allow storage_daemon dslm_service:file { read  };

#avc:  denied  { mount } for  pid=256 comm="storage_daemon" name="/" dev="sda1" ino=1 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:exfat:s0 tclass=filesystem permissive=1
allow storage_daemon exfat:filesystem { mount unmount };
allow storage_daemon vfat:filesystem { mount unmount };

#avc:  denied  { search } for  pid=246 comm="storage_daemon" name="fd" dev="proc" ino=25873 scontext=u:r:storage_daemon:s0 tcontext=u:r:fms_service:s0 tclass=dir permissive=1
allow storage_daemon fms_service:dir { search };

#avc:  denied  { search } for  pid=259 comm="storage_daemon" name="243" dev="proc" ino=36785 scontext=u:r:storage_daemon:s0 tcontext=u:r:hilogd:s0 tclass=dir permissive=0
#avc:  denied  { open } for  pid=257 comm="storage_daemon" path="/proc/245/maps" dev="proc" ino=43286 scontext=u:r:storage_daemon:s0 tcontext=u:r:hilogd:s0 tclass=file permissive=0
#avc:  denied  { read } for  pid=257 comm="storage_daemon" name="cwd" dev="proc" ino=43287 scontext=u:r:storage_daemon:s0 tcontext=u:r:hilogd:s0 tclass=lnk_file permissive=0
allow storage_daemon hilogd:dir { search read open };
allow storage_daemon hilogd:file { getattr open read };
allow storage_daemon hilogd:lnk_file { read };


#avc:  denied  { call } for  pid=257 comm="storage_daemon" scontext=u:r:storage_daemon:s0 tcontext=u:r:huks_service:s0 tclass=binder permissive=1
allow storage_daemon huks_service:binder { call };

#avc:  denied  { getattr } for  pid=179 comm="kworker/u8:3" path="/mnt/hmdfs/100/account/device_view/local/files/Camera/IMG_2022629_152726.jpg" dev="hmdfs" ino=2305843009213824715 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:hmdfs:s0 tclass=file permissive=1
#avc:  denied  { read } for  pid=179 comm="kworker/u8:3" name="IMG_2022629_152726.jpg" dev="hmdfs" ino=2305843009213824715 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:hmdfs:s0 tclass=file permissive=1
#avc:  denied  { read write } for  pid=179 comm="kworker/u8:3" name="IMG_2022629_152726.jpg" dev="hmdfs" ino=2305843009213824715 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:hmdfs:s0 tclass=file permissive=1
#avc:  denied  { read write open } for  pid=179 comm="kworker/u8:3" path="/mnt/hmdfs/100/account/device_view/local/files/Camera/IMG_2022629_152726.jpg" dev="hmdfs" ino=2305843009213824715 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:hmdfs:s0 tclass=file permissive=1
allow storage_daemon hmdfs:file { read write open getattr };

#avc:  denied  { read } for  pid=253 comm="storage_daemon" scontext=u:r:storage_daemon:s0 tcontext=u:r:init:s0 tclass=file permissive=0
allow storage_daemon init:file { open read };
#avc:  denied  { read } for  pid=253 comm="storage_daemon" name="fd" dev="proc" ino=35228 scontext=u:r:storage_daemon:s0 tcontext=u:r:init:s0 tclass=dir permissive=1
allow storage_daemon init:dir { open read search };
#avc:  denied  { read } for  pid=253 comm="storage_daemon" name="exe" dev="proc" ino=35227 scontext=u:r:storage_daemon:s0 tcontext=u:r:init:s0 tclass=lnk_file permissive=1
allow storage_daemon init:lnk_file { read };

#avc:  denied  { search } for  pid=241 comm="storage_daemon" name="32" dev="proc" ino=25299 scontext=u:r:storage_daemon:s0 tcontext=u:r:kernel:s0 tclass=dir permissive=1
allow storage_daemon kernel:dir { open read search };
#avc:  denied  { read open } for  pid=257 comm="storage_daemon" path="/proc/1752/maps" dev="proc" ino=33499 scontext=u:r:storage_daemon:s0 tcontext=u:r:kernel:s0 tclass=file permissive=1
allow storage_daemon kernel:file { open read };
#avc:  denied  { read } for  pid=241 comm="storage_daemon" name="root" dev="proc" ino=33070 scontext=u:r:storage_daemon:s0 tcontext=u:r:kernel:s0 tclass=lnk_file permissive=1
allow storage_daemon kernel:lnk_file { read };
#avc:  denied  { module_request } for  pid=255 comm="storage_daemon" kmod="crypto-hmac(sha512)" scontext=u:r:storage_daemon:s0 tcontext=u:r:kernel:s0 tclass=system permissive=1
allow storage_daemon kernel:system { module_request };

#avc:  denied  { read } for  pid=255 comm="storage_daemon" scontext=u:r:storage_daemon:s0 tcontext=u:r:pin_auth_host:s0 tclass=file permissive=1
allow storage_daemon pin_auth_host:file { read };

#avc:  denied  { search } for  pid=257 comm="storage_daemon" name="fd" dev="proc" ino=31594 scontext=u:r:storage_daemon:s0 tcontext=u:r:pulseaudio:s0 tclass=dir permissive=1
allow storage_daemon pulseaudio:dir { search };
#avc:  denied  { read } for  pid=257 comm="storage_daemon" scontext=u:r:storage_daemon:s0 tcontext=u:r:pulseaudio:s0 tclass=file permissive=1
allow storage_daemon pulseaudio:file { read };
#avc:  denied  { read } for  pid=257 comm="storage_daemon" name="16" dev="proc" ino=31611 scontext=u:r:storage_daemon:s0 tcontext=u:r:pulseaudio:s0 tclass=lnk_file permissive=1
allow storage_daemon pulseaudio:lnk_file { read };

#avc:  denied  { read } for  pid=257 comm="storage_daemon" name="54" dev="proc" ino=35056 scontext=u:r:storage_daemon:s0 tcontext=u:r:render_service:s0 tclass=lnk_file permissive=1
allow storage_daemon render_service:lnk_file { read };
#avc:  denied  { read } for  pid=257 comm="storage_daemon" scontext=u:r:storage_daemon:s0 tcontext=u:r:render_service:s0 tclass=file permissive=1
allow storage_daemon render_service:file { read };

#avc:  denied  { get } for service=3510 pid=253 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:sa_huks_service:s0 tclass=samgr_class permissive=0
allow storage_daemon sa_huks_service:samgr_class { get };

#avc:  denied  { get } for service=5003 pid=250 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:sa_storage_manager_service:s0 tclass=samgr_class permissive=0
allow storage_daemon sa_storage_manager_service:samgr_class { get };

#avc:  denied  { read } for  pid=241 comm="storage_daemon" scontext=u:r:storage_daemon:s0 tcontext=u:r:screenlock_server:s0 tclass=file permissive=1
allow storage_daemon screenlock_server:file { read };
#avc:  denied  { search } for  pid=241 comm="storage_daemon" name="533" dev="proc" ino=18171 scontext=u:r:storage_daemon:s0 tcontext=u:r:screenlock_server:s0 tclass=dir permissive=1
allow storage_daemon screenlock_server:dir { search };
#avc:  denied  { read } for  pid=241 comm="storage_daemon" name="0" dev="proc" ino=32305 scontext=u:r:storage_daemon:s0 tcontext=u:r:screenlock_server:s0 tclass=lnk_file permissive=1
allow storage_daemon screenlock_server:lnk_file { read };

#avc:  denied  { write } for  pid=2483 comm="blkid" name="etc" dev="mmcblk0p6" ino=450 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:system_etc_file:s0 tclass=dir permissive=0
#avc:  denied  { add_name } for  pid=2900 comm="blkid" name="blkid.tab" scontext=u:r:storage_daemon:s0 tcontext=u:object_r:system_etc_file:s0 tclass=dir permissive=1
allow storage_daemon system_etc_file:dir { write add_name remove_name };

#avc:  denied  { write } for  pid=2900 comm="blkid" path="/system/etc/blkid.tab" dev="mmcblk0p6" ino=2533 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:system_etc_file:s0 tclass=file permissive=1
#avc:  denied  { ioctl } for  pid=2900 comm="blkid" path="/system/etc/blkid.tab" dev="mmcblk0p6" ino=2533 ioctlcmd=0x5413 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:system_etc_file:s0 tclass=file permissive=1
allow storage_daemon system_etc_file:file { create write ioctl setattr unlink rename link };

#avc:  denied  { setattr } for  pid=259 comm="storage_daemon" name="cmd" dev="sysfs" ino=33495 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:sys_fs_hmdfs:s0 tclass=file permissive=1
allow storage_daemon sys_fs_hmdfs:file { setattr };

#avc:  denied  { search } for  pid=246 comm="storage_daemon" name="1692" dev="proc" ino=25045 scontext=u:r:storage_daemon:s0 tcontext=u:r:system_basic_hap:s0 tclass=dir permissive=1
allow storage_daemon system_basic_hap:dir { search };
#avc:  denied  { read } for  pid=246 comm="storage_daemon" scontext=u:r:storage_daemon:s0 tcontext=u:r:system_basic_hap:s0 tclass=file permissive=1
allow storage_daemon system_basic_hap:file { read };

#avc:  denied  { read } for  pid=258 comm="storage_daemon" name="com.ohos.launcher" dev="mmcblk0p11" ino=654143 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:system_basic_hap_data_file:s0 tclass=dir permissive=0
allow storage_daemon system_basic_hap_data_file:dir { create_dir_perms };
allow storage_daemon system_basic_hap_data_file:file { getattr read lock ioctl map watch watch_reads write append lock create rename setattr unlink };

#avc:  denied  { read } for  pid=2061 comm="blkid" path="/system/bin/blkid" dev="mmcblk0p6" ino=122 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:system_bin_file:s0 tclass=file permissive=1
#avc:  denied  { execute } for  pid=1662 comm="storage_daemon" name="restorecon" dev="mmcblk0p6" ino=335 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:system_bin_file:s0 tclass=file permissive=1
#avc:  denied  { open } for  pid=1662 comm="storage_daemon" path="/system/bin/restorecon" dev="mmcblk0p6" ino=335 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:system_bin_file:s0 tclass=file permissive=1
#avc:  denied  { map } for  pid=1662 comm="restorecon" path="/system/bin/restorecon" dev="mmcblk0p6" ino=335 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:system_bin_file:s0 tclass=file permissive=1
allow storage_daemon system_bin_file:file { read execute open execute_no_trans map };

#avc:  denied  { getattr } for  pid=256 comm="storage_daemon" path="/sys/devices/platform/fd800000.usb/usb1/1-1/1-1:1.0/host1/target1:0:0/1:0:0:0/vendor" dev="sysfs" ino=32018 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:sys_file:s0 tclass=file permissive=1
allow storage_daemon sys_file:file { getattr read };

#avc:  denied  { call } for  pid=249 comm="storage_daemon" scontext=u:r:storage_daemon:s0 tcontext=u:r:storage_manager:s0 tclass=binder permissive=1
allow storage_daemon storage_manager:binder { call };

#avc:  denied  { read } for  pid=241 comm="storage_daemon" scontext=u:r:storage_daemon:s0 tcontext=u:r:system_core_hap:s0 tclass=file permissive=1
allow storage_daemon system_core_hap:file { open read };
#avc:  denied  { search } for  pid=241 comm="storage_daemon" name="1875" dev="proc" ino=28270 scontext=u:r:storage_daemon:s0 tcontext=u:r:system_core_hap:s0 tclass=dir permissive=1
allow storage_daemon system_core_hap:dir { search };
#avc:  denied  { read } for  pid=254 comm="storage_daemon" name="cwd" dev="proc" ino=52653 scontext=u:r:storage_daemon:s0 tcontext=u:r:system_core_hap:s0 tclass=lnk_file permissive=0
allow storage_daemon system_core_hap:lnk_file { read };

#avc:  denied  { read } for  pid=254 comm="storage_daemon" scontext=u:r:storage_daemon:s0 tcontext=u:r:storage_daemon:s0 tclass=netlink_kobject_uevent_socket permissive=1
allow storage_daemon storage_daemon:netlink_kobject_uevent_socket { read };
#avc:  denied  { search } for  pid=257 comm="storage_daemon" scontext=u:r:storage_daemon:s0 tcontext=u:r:storage_daemon:s0 tclass=key permissive=1
allow storage_daemon storage_daemon:key { search };

#conflict
#avc:  denied  { dac_read_search } for  pid=241 comm="storage_daemon" capability=2  scontext=u:r:storage_daemon:s0 tcontext=u:r:storage_daemon:s0 tclass=capability permissive=1
#avc:  denied  { mknod } for  pid=241 comm="storage_daemon" capability=27  scontext=u:r:storage_daemon:s0 tcontext=u:r:storage_daemon:s0 tclass=capability permissive=1
#avc:  denied  { sys_ptrace } for  pid=246 comm="storage_daemon" capability=19  scontext=u:r:storage_daemon:s0 tcontext=u:r:storage_daemon:s0 tclass=capability permissive=1
#avc:  denied  { dac_override } for  pid=2028 comm="blkid" capability=1  scontext=u:r:storage_daemon:s0 tcontext=u:r:storage_daemon:s0 tclass=capability permissive=1
allow storage_daemon storage_daemon:capability { mknod dac_read_search sys_ptrace dac_override};

#avc:  denied  { remove_name } for  pid=256 comm="storage_daemon" name="F7BC-FF57" dev="tmpfs" ino=406 scontext=u:r:storage_daemon:s0 tcontext=u:object_r:tmpfs:s0 tclass=dir permissive=1
allow storage_daemon tmpfs:dir { remove_name rmdir };

#avc:  denied  { search } for  pid=259 comm="storage_daemon" name="235" dev="proc" ino=36779 scontext=u:r:storage_daemon:s0 tcontext=u:r:watchdog_service:s0 tclass=dir permissive=0
#avc:  denied  { open } for  pid=257 comm="storage_daemon" path="/proc/237/maps" dev="proc" ino=43261 scontext=u:r:storage_daemon:s0 tcontext=u:r:watchdog_service:s0 tclass=file permissive=0
#avc:  denied  { read } for  pid=257 comm="storage_daemon" name="cwd" dev="proc" ino=43262 scontext=u:r:storage_daemon:s0 tcontext=u:r:watchdog_service:s0 tclass=lnk_file permissive=0
allow storage_daemon watchdog_service:dir { search read open };
allow storage_daemon watchdog_service:file { open };
allow storage_daemon watchdog_service:lnk_file { read };
