# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type storage_manager, sadomain, domain;

#avc:  denied  { call } for  pid=241 comm="storage_manager" scontext=u:r:storage_manager:s0 tcontext=u:r:accesstoken_service:s0 tclass=binder permissive=1
allow storage_manager accesstoken_service:binder { call };

#avc:  denied  { call } for  pid=247 comm="storage_manager" scontext=u:r:storage_manager:s0 tcontext=u:r:foundation:s0 tclass=binder permissive=1
allow storage_manager foundation:binder { call };

#avc:  denied  { use } for  pid=1803 comm="com.ohos.medial" path="/dev/ashmem" dev="tmpfs" ino=190 scontext=u:r:storage_manager:s0 tcontext=u:r:normal_hap:s0 tclass=fd permissive=1
allow storage_manager normal_hap:fd { use };

#avc:  denied  { get } for service=3503 pid=238 scontext=u:r:storage_manager:s0 tcontext=u:object_r:sa_accesstoken_manager_service:s0 tclass=samgr_class permissive=1
allow storage_manager sa_accesstoken_manager_service:samgr_class { get };

#avc:  denied  { get } for service=401 pid=238 scontext=u:r:storage_manager:s0 tcontext=u:object_r:sa_foundation_bms:s0 tclass=samgr_class permissive=1
allow storage_manager sa_foundation_bms:samgr_class { get };

# avc:  denied  { call } for  pid=247 comm="storage_manager" scontext=u:r:storage_manager:s0 tcontext=u:r:storage_daemon:s0 tclass=binder permissive=1
allow storage_manager storage_daemon:binder { call };
