# Copyright (c) 2025 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow vpn_isolate_hap appspawn:fd use;
allow vpn_isolate_hap appspawn:fifo_file write;
allow vpn_isolate_hap appspawn:unix_dgram_socket { connect write };
allow vpn_isolate_hap self:process execmem;
allow vpn_isolate_hap data_app_el1_file:dir { add_name create open read search setattr write };
allow vpn_isolate_hap data_app_el1_file:file { getattr map open read };
allow vpn_isolate_hap data_app_el2_file:dir { add_name search read write create open remove_name getattr setattr rmdir append };
allow vpn_isolate_hap data_app_el2_file:file { create read write open lock ioctl unlink map setattr getattr rename append };
allow vpn_isolate_hap data_app_el3_file:dir { add_name search read write create open remove_name getattr setattr rmdir };
allow vpn_isolate_hap data_app_el3_file:file { create read write open lock unlink map setattr getattr rename };
allow vpn_isolate_hap data_app_el4_file:dir { add_name search read write create open remove_name getattr setattr rmdir };
allow vpn_isolate_hap data_app_el4_file:file { create read write open lock unlink map setattr getattr rename };
allow vpn_isolate_hap data_app_el5_file:dir { add_name search read write create open remove_name getattr setattr rmdir };
allow vpn_isolate_hap data_app_el5_file:file { create read write open lock unlink map setattr getattr rename };
allow vpn_isolate_hap data_app_file:dir { search };
allow vpn_isolate_hap data_file:dir { getattr open read search };
allow vpn_isolate_hap data_file:file { create getattr lock map open read write rename setattr unlink write };
allow vpn_isolate_hap data_log:file { read write };
allow vpn_isolate_hap sa_dataobs_mgr_service_service:binder { call };
allow vpn_isolate_hap sa_dataobs_mgr_service_service:samgr_class { get };
allow vpn_isolate_hap self:ced { container_escape_check };
binder_call(vpn_isolate_hap, samgr);
binder_call(vpn_isolate_hap, render_service);
binder_call(vpn_isolate_hap, param_watcher);
binder_call(vpn_isolate_hap, multimodalinput);
binder_call(vpn_isolate_hap, inputmethod_service);
binder_call(vpn_isolate_hap, foundation);
binder_call(vpn_isolate_hap, powermgr);
binder_call(vpn_isolate_hap, accessibility);
binder_call(vpn_isolate_hap, hiview);
allow vpn_isolate_hap hdf_devmgr:binder call;
allow normal_hap vpn_isolate_hap:binder { call transfer };
allow normal_hap vpn_isolate_hap:unix_stream_socket { connectto };
allow vpn_isolate_hap normal_hap:unix_stream_socket { connectto };
allow vpn_isolate_hap normal_hap:binder { call };
allow vpn_isolate_hap normal_hap:fd { use };
allow vpn_isolate_hap data_local_shadercache:file { create setattr getattr map open read rename unlink write ioctl lock };
allow vpn_isolate_hap data_local_shadercache:dir { create setattr getattr open read add_name remove_name search unlink write rmdir };
allow vpn_isolate_hap data_app_el1_shadercache:file { create setattr getattr map open read rename unlink write ioctl lock };
allow vpn_isolate_hap data_app_el1_shadercache:dir { create setattr getattr open read add_name remove_name rename search unlink write rmdir };
allow vpn_isolate_hap data_service_el1_shadercache:file { getattr map open read ioctl lock };
allow vpn_isolate_hap data_service_el1_shadercache:dir { getattr open read search };
allow input_isolate_hap vpn_isolate_hap:binder { call transfer };
allow vpn_isolate_hap input_isolate_hap:binder { call };
binder_call(powermgr, vpn_isolate_hap);
allow appspawn vpn_isolate_hap:fd { use };
allow vpn_isolate_hap nativespawn:fd { use };
allow vpn_isolate_hap nativespawn:fifo_file { write };
allow nativespawn vpn_isolate_hap:process { dyntransition sigkill };
allow nativespawn vpn_isolate_hap:fd { use };
allow vpn_isolate_hap nativespawn:unix_dgram_socket { write };
allow nativespawn vpn_isolate_hap:unix_stream_socket { read write };
allow vpn_isolate_hap arkui_param:file { map open read };
allow accessibility vpn_isolate_hap:binder { call };
binder_call(deviceauth_service vpn_isolate_hap);
allow dslm_service vpn_isolate_hap:binder { call };
allow foundation vpn_isolate_hap:fd { use };
allow foundation vpn_isolate_hap:unix_stream_socket { read write };
allow media_service vpn_isolate_hap:binder { call transfer };
allow netmanager vpn_isolate_hap:binder { call };
allow vpn_isolate_hap bootevent_param:file { map open read };
allow vpn_isolate_hap bootevent_samgr_param:file { map open read };
allow vpn_isolate_hap build_version_param:file { map open read };
allow vpn_isolate_hap const_allow_mock_param:file { map open read };
allow vpn_isolate_hap const_allow_param:file { map open read };
allow vpn_isolate_hap const_build_param:file { map open read };
allow vpn_isolate_hap const_display_brightness_param:file { map open read };
allow vpn_isolate_hap const_param:file { map open read };
allow vpn_isolate_hap const_postinstall_fstab_param:file { map open read };
allow vpn_isolate_hap const_postinstall_param:file { map open read };
allow vpn_isolate_hap const_product_param:file { map open read };
allow vpn_isolate_hap data_app_el1_file:file { execute };
allow vpn_isolate_hap data_service_el2_file:dir { read open search };
allow vpn_isolate_hap data_service_el3_file:dir { read open search };
allow vpn_isolate_hap data_service_el4_file:dir { read open search };
allow vpn_isolate_hap data_service_el5_file:dir { read open search };
allow vpn_isolate_hap data_user_file:dir { getattr read open search add_name create write };
allow vpn_isolate_hap data_user_file:file { create getattr };
allow vpn_isolate_hap debug_param:file { map open read };
allow vpn_isolate_hap default_param:file { map open read };
allow vpn_isolate_hap dev_ashmem_file:chr_file { open };
allow vpn_isolate_hap dev_file:sock_file { write };
allow vpn_isolate_hap deviceauth_service:binder { call };
allow vpn_isolate_hap dev_mali:chr_file { getattr ioctl map open read write };
allow vpn_isolate_hap dev_unix_socket:dir { search };
allow vpn_isolate_hap dev_unix_socket:sock_file { write };
allow vpn_isolate_hap distributeddata:binder { call transfer };
allow vpn_isolate_hap distributedsche_param:file { map open read };
allow vpn_isolate_hap dslm_service:binder { call transfer };
allow vpn_isolate_hap faultloggerd:fd { use };
allow vpn_isolate_hap faultloggerd_socket:sock_file { write };
allow vpn_isolate_hap faultloggerd_temp_file:file { read write };
allow vpn_isolate_hap faultloggerd:unix_stream_socket { connectto };
allow vpn_isolate_hap hdf_allocator_service:hdf_devmgr_class { get };
allow vpn_isolate_hap hilog_param:file { map open read };
allow vpn_isolate_hap hiview:unix_dgram_socket { sendto };
allow vpn_isolate_hap huks_service:binder { call };
allow vpn_isolate_hap hw_sc_build_os_param:file { map open read };
allow vpn_isolate_hap hw_sc_build_param:file { map open read };
allow vpn_isolate_hap hw_sc_param:file { map open read };
allow vpn_isolate_hap init_param:file { map open read };
allow vpn_isolate_hap init_svc_param:file { map open read };
allow vpn_isolate_hap input_pointer_device_param:file { map open read };
allow vpn_isolate_hap netmanager:binder { call transfer };
allow vpn_isolate_hap net_param:file { map open read };
allow vpn_isolate_hap netsysnative:unix_stream_socket { connectto };
allow normal_hap_attr net_tcp_param:file { map open read };
allow vpn_isolate_hap vpn_isolate_hap:binder { call transfer };
allow vpn_isolate_hap normal_app_data:dir { open read remove_name rmdir add_name create write };
allow vpn_isolate_hap normal_app_data:file { getattr ioctl lock map rename setattr unlink };
allow vpn_isolate_hap vpn_isolate_hap:netlink_route_socket { append connect create getattr getopt lock nlmsg_read read setattr setopt shutdown write };
allow vpn_isolate_hap vpn_isolate_hap:unix_dgram_socket { getopt setopt };
allow vpn_isolate_hap vpn_isolate_hap:tcp_socket { getattr bind listen accept };
allow vpn_isolate_hap node:tcp_socket { node_bind };
allow vpn_isolate_hap ohos_boot_param:file { map open read };
allow vpn_isolate_hap ohos_param:file { map open read };
allow vpn_isolate_hap persist_param:file { map open read };
allow vpn_isolate_hap persist_sys_param:file { map open read };
allow vpn_isolate_hap proc_max_user_watches:file { open read };
allow vpn_isolate_hap render_service:unix_stream_socket { read read write write };
allow vpn_isolate_hap sa_accessibleabilityms:samgr_class { get };
allow vpn_isolate_hap sa_accesstoken_manager_service:samgr_class { get };
allow vpn_isolate_hap sa_privacy_service:samgr_class { get };
allow vpn_isolate_hap sa_dataobs_mgr_service_service:samgr_class { get };
allow vpn_isolate_hap sa_device_auth_service:samgr_class { get };
allow vpn_isolate_hap sa_device_security_level_manager_service:samgr_class { get };
allow vpn_isolate_hap sa_device_service_manager:samgr_class { get };
allow vpn_isolate_hap sa_distributeddata_service:samgr_class { get };
allow vpn_isolate_hap sa_foundation_abilityms:samgr_class { get };
allow vpn_isolate_hap sa_foundation_ans:samgr_class { get };
allow vpn_isolate_hap sa_foundation_appms:samgr_class { get };
allow vpn_isolate_hap sa_foundation_bms:samgr_class { get };
allow vpn_isolate_hap sa_foundation_cesfwk_service:samgr_class { get };
allow vpn_isolate_hap sa_foundation_devicemanager_service:samgr_class { get };
allow vpn_isolate_hap sa_foundation_dms:samgr_class { get };
allow vpn_isolate_hap sa_foundation_wms:samgr_class { get };
allow vpn_isolate_hap sa_huks_service:samgr_class { get };
allow vpn_isolate_hap sa_inputmethod_service:samgr_class { get };
allow vpn_isolate_hap sa_net_conn_manager:samgr_class { get };
allow vpn_isolate_hap sa_param_watcher:samgr_class { get };
allow vpn_isolate_hap sa_render_service:samgr_class { get };
allow vpn_isolate_hap sa_resource_schedule:samgr_class { get };
allow vpn_isolate_hap sa_uri_permission_mgr_service:samgr_class { get };
allow vpn_isolate_hap security_param:file { map open read };
allow vpn_isolate_hap startup_param:file { map open read };
allow vpn_isolate_hap sysfs_devices_system_cpu:file { open read };
allow vpn_isolate_hap sysfs_hctosys:file { open read };
allow vpn_isolate_hap sysfs_rtc:dir { open read };
allow vpn_isolate_hap sys_param:file { map open read };
allow vpn_isolate_hap toybox_exec:file { getattr map read open };
allow vpn_isolate_hap system_core_hap:binder { transfer };
allow vpn_isolate_hap system_core_hap:fd { use };
allow vpn_isolate_hap system_lib_file:dir { open read };
allow vpn_isolate_hap sys_usb_param:file { map open read };
allow vpn_isolate_hap tracefs:dir { search };
allow vpn_isolate_hap tracefs_trace_marker_file:file { open write };
binder_call(vpn_isolate_hap system_basic_hap);
allow vpn_isolate_hap sa_hiview_service:samgr_class { get };
allow samgr vpn_isolate_hap:binder { call };
allow storage_manager vpn_isolate_hap:binder { call };
binder_call(system_basic_hap vpn_isolate_hap);
allow system_core_hap vpn_isolate_hap:binder { call };
allow system_core_hap vpn_isolate_hap:fd { use };
allow ui_service vpn_isolate_hap:fd { use };
allow hdf_devmgr vpn_isolate_hap:binder { transfer };
allow hdf_devmgr vpn_isolate_hap:dir { search };
allow hdf_devmgr vpn_isolate_hap:file { open read };
allow hdf_devmgr vpn_isolate_hap:process { getattr };
allow vpn_isolate_hap hdf_hid_ddk_service:hdf_devmgr_class { get };
allow vpn_isolate_hap hdf_usb_ddk_service:hdf_devmgr_class { get };
allow vpn_isolate_hap hdf_usb_serial_ddk_service:hdf_devmgr_class { get };
allow vpn_isolate_hap hdf_usb_interface_service:hdf_devmgr_class { get };
allow vpn_isolate_hap hdf_scsi_peripheral_ddk_service:hdf_devmgr_class { get };
allow vpn_isolate_hap data_chipset_el1_file:file { map read write };
allow vpn_isolate_hap normal_app_data:dir { getattr ioctl open read setattr write add_name search write remove_name search write rename create watch };
allow vpn_isolate_hap normal_app_data:file { append getattr ioctl lock map open read write setattr create unlink rename };
allow vpn_isolate_hap normal_app_data:sock_file { create unlink write };

allowxperm vpn_isolate_hap dev_mali:chr_file ioctl { 0x8000 0x8001 0x8002 0x8003 0x8005 0x8006 0x8007 0x800c 0x800e 0x8011 0x8016 0x8018 0x8019 0x801d 0x801e 0x8026 };
allowxperm vpn_isolate_hap normal_app_data:file ioctl { 0x5413 0xf50c };
allowxperm vpn_isolate_hap data_local_shadercache:file ioctl { 0x5413 };
allowxperm vpn_isolate_hap self:unix_stream_socket ioctl { 0x5401 0x05411 0x5413-0x5414 0x541b 0x5421 0x5450-0x5451 0x8910 0x8933 };
allowxperm vpn_isolate_hap data_app_el1_shadercache:file ioctl { 0x5413 };
allowxperm vpn_isolate_hap data_service_el1_shadercache:file ioctl { 0x5413 };
allowxperm vpn_isolate_hap normal_app_data:dir ioctl { 0xf546 0xf547 };
allowxperm vpn_isolate_hap normal_app_data:file ioctl { 0x5413 0xf50c 0xf546 0xf547 };

developer_only(`
    allow debug_hap vpn_isolate_hap:process { ptrace };
    allow input_isolate_debug_hap vpn_isolate_hap:binder { call transfer };
    allow vpn_isolate_hap input_isolate_debug_hap:binder { call };
    allow appspawn vpn_isolate_hap:process { signal };
')
