# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

debug_only(`
    #avc:  denied  { add } for service=3302 pid=2059 scontext=u:r:sh:s0 tcontext=u:object_r:sa_foundation_battery_service:s0 tclass=samgr_class permissive=1
    #avc:  denied  { get } for service=3302 pid=2059 scontext=u:r:sh:s0 tcontext=u:object_r:sa_foundation_battery_service:s0 tclass=samgr_class permissive=1
    allow sh sa_foundation_battery_service:samgr_class { get add };

    #avc:  denied  { get } for service=battery_interface_service pid=2059 scontext=u:r:sh:s0 tcontext=u:object_r:hdf_battery_interface_service:s0 tclass=hdf_devmgr_class permissive=1
    allow sh hdf_battery_interface_service:hdf_devmgr_class { get };

    #avc:  denied  { read } for  pid=3040 comm="test_batterycli" name="power_supply" dev="sysfs" ino=13662 scontext=u:r:sh:s0 tcontext=u:object_r:sys_file:s0 tclass=dir permissive=1
    #avc:  denied  { open } for  pid=3040 comm="test_batterycli" path="/sys/class/power_supply" dev="sysfs" ino=13662 scontext=u:r:sh:s0 tcontext=u:object_r:sys_file:s0 tclass=dir permissive=1
    allow sh sys_file:dir { read open };

    #avc:  denied  { read } for  pid=2037 comm="hdi_unittest_ba" name="battery" dev="mmcblk0p11" ino=913955 scontext=u:r:sh:s0 tcontext=u:object_r:data_service_el0_file:s0 tclass=dir permissive=1
    #avc:  denied  { search } for  pid=3040 comm="test_batterycli" name="el0" dev="mmcblk0p11" ino=913922 scontext=u:r:sh:s0 tcontext=u:object_r:data_service_el0_file:s0 tclass=dir permissive=1
    #avc:  denied  { write } for  pid=3040 comm="test_batterycli" name="ohos_charger" dev="mmcblk0p11" ino=914438 scontext=u:r:sh:s0 tcontext=u:object_r:data_service_el0_file:s0 tclass=dir permissive=1
    #avc:  denied  { add_name } for  pid=3040 comm="test_batterycli" name="online" scontext=u:r:sh:s0 tcontext=u:object_r:data_service_el0_file:s0 tclass=dir permissive=1
    allow sh data_service_el0_file:dir { read search write add_name open };

    #avc:  denied  { write } for  pid=3040 comm="test_batterycli" name="capacity" dev="mmcblk0p11" ino=914460 scontext=u:r:sh:s0 tcontext=u:object_r:data_service_el0_file:s0 tclass=file permissive=1
    #avc:  denied  { open } for  pid=3040 comm="test_batterycli" path="/data/service/el0/battery/battery/capacity" dev="mmcblk0p11" ino=914460 scontext=u:r:sh:s0 tcontext=u:object_r:data_service_el0_file:s0 tclass=file permissive=1
    #avc:  denied  { create } for  pid=3040 comm="test_batterycli" name="online" scontext=u:r:sh:s0 tcontext=u:object_r:data_service_el0_file:s0 tclass=file permissive=1
    #avc:  denied  { ioctl } for  pid=2063 comm="test_batterycli" path="/data/service/el0/battery/battery/capacity" dev="mmcblk0p11" ino=914460 ioctlcmd=0x5413 scontext=u:r:sh:s0 tcontext=u:object_r:data_service_el0_file:s0 tclass=file permissive=1
    allow sh data_service_el0_file:file { write open create ioctl };

    #avc:  denied  { ioctl } for  pid=3040 comm="test_batterycli" path="/data/service/el0/battery/battery/capacity" dev="mmcblk0p11" ino=914460 ioctlcmd=0x5413 scontext=u:r:sh:s0 tcontext=u:object_r:data_service_el0_file:s0 tclass=file permissive=1
    allowxperm sh data_service_el0_file:file ioctl 0x5413;
')
