# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type dcamera, sadomain, domain;
type dcamera_exec, exec_attr, file_attr, system_file_attr;

init_daemon_domain(dcamera);

#avc:  denied  { add } for service=4803 pid=2088 scontext=u:r:dcamera:s0 tcontext=u:object_r:default_service:s0 tclass=samgr_class permissive=1
#allow dcamera default_service:samgr_class { add };

#avc:  denied  { get } for service=5100 pid=2088 scontext=u:r:dcamera:s0 tcontext=u:object_r:default_service:s0 tclass=samgr_class permissive=1
#allow dcamera default_service:samgr_class { get };

#avc:  denied  { get_remote } for service=4804 pid=2088 scontext=u:r:dcamera:s0 tcontext=u:object_r:default_service:s0 tclass=samgr_class permissive=1
#allow dcamera default_service:samgr_class { get_remote };

#avc:  denied  { search } for  pid=2047 comm="dcamera" name="socket" dev="tmpfs" ino=38 scontext=u:r:dcamera:s0 tcontext=u:object_r:dev_unix_socket:s0 tclass=dir permissive=1
allow dcamera dev_unix_socket:dir { search };

#avc:  denied  { get } for service=hdf_device_manager pid=2053 scontext=u:r:dcamera:s0 tcontext=u:object_r:hdf_device_manager:s0 tclass=hdf_devmgr_class permissive=1
allow dcamera hdf_device_manager:hdf_devmgr_class { get };

#avc:  denied  { get } for service=distributed_camera_provider_service pid=2053 scontext=u:r:dcamera:s0 tcontext=u:object_r:hdf_distributed_camera_provider_service:s0 tclass=hdf_devmgr_class permissive=1
allow dcamera hdf_distributed_camera_provider_service:hdf_devmgr_class { get };

#avc:  denied  { get } for service=hdi_display_gralloc_service pid=2053 scontext=u:r:dcamera:s0 tcontext=u:object_r:hdf_hdi_display_gralloc_service:s0 tclass=hdf_devmgr_class permissive=1
allow dcamera hdf_hdi_display_gralloc_service:hdf_devmgr_class { get };

#avc:  denied  { get } for service=3002 pid=2053 scontext=u:r:dcamera:s0 tcontext=u:object_r:sa_media_service:s0 tclass=samgr_class permissive=1
allow dcamera sa_media_service:samgr_class { get };

#avc:  denied  { get } for service=3901 pid=2042 scontext=u:r:dcamera:s0 tcontext=u:object_r:sa_param_watcher:s0 tclass=samgr_class permissive=1
allow dcamera sa_param_watcher:samgr_class { get };

#avc: denied  { get } for service=4700 pid=2053 scontext=u:r:dcamera:s0 tcontext=u:object_r:sa_softbus_service:s0 tclass=samgr_class permissive=1
allow dcamera sa_softbus_service:samgr_class { get };

#avc:  denied  { setopt } for  pid=2047 comm="DHEventbusHandl" scontext=u:r:dcamera:s0 tcontext=u:r:softbus_server:s0 tclass=tcp_socket permissive=1
allow dcamera softbus_server:tcp_socket { setopt };

#avc:  denied  { write } for  pid=2047 comm="DHEventbusHandl" fport=46027 scontext=u:r:dcamera:s0 tcontext=u:r:softbus_server:s0 tclass=tcp_socket permissive=1
allow dcamera softbus_server:tcp_socket { write };

#avc:  denied  { call } for  pid=2047 comm="DHEventbusHandl" scontext=u:r:dcamera:s0 tcontext=u:r:softbus_server:s0 tclass=binder permissive=1
allow dcamera softbus_server:binder { call };
