# Copyright (c) 2024 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# allow input_isolate_hap to get sa
allow input_isolate_hap sa_app_domain_verify_agent:samgr_class { get };
allow input_isolate_hap sa_app_domain_verify_mgr_service:samgr_class { get };
allow input_isolate_hap sa_ark_aot_compiler:samgr_class { get };
allow input_isolate_hap sa_device_profile_service:samgr_class { get };
allow input_isolate_hap sa_dfx_sys_hidumper_ability:samgr_class { get };
allow input_isolate_hap sa_dhardware_service:samgr_class { get };
allow input_isolate_hap sa_dhcp_client:samgr_class { get };
allow input_isolate_hap sa_dhcp_server:samgr_class { get };
allow input_isolate_hap sa_distributed_bundle_mgr_service_service:samgr_class { get };
allow input_isolate_hap sa_distributed_fs_daemon_service:samgr_class { get };
allow input_isolate_hap sa_distributed_scenario_mgr_service:samgr_class { get };
allow input_isolate_hap sa_distributed_sched_adapter_service:samgr_class { get };
allow input_isolate_hap sa_filemanagement_cloud_daemon_service:samgr_class { get };
allow input_isolate_hap sa_installd_service:samgr_class { get };
allow input_isolate_hap sa_ivi_drivingsafety_service:samgr_class { get };
allow input_isolate_hap sa_location_geo_convert_service:samgr_class { get };
allow input_isolate_hap sa_msdp_multimodal_awareness_service:samgr_class { get };
allow input_isolate_hap sa_resource_schedule_executor:samgr_class { get };
allow input_isolate_hap sa_smart_comm_service:samgr_class { get };
allow input_isolate_hap sa_subsys_wearable_service:samgr_class { get };
allow input_isolate_hap sa_sys_installer_service:samgr_class { get };
allow input_isolate_hap sa_task_heartbeat_mgr:samgr_class { get };
allow input_isolate_hap sa_telephony_tel_ims:samgr_class { get };
allow input_isolate_hap sa_test_server:samgr_class { get };
allow input_isolate_hap sa_token_sync_manager_service:samgr_class { get };
allow input_isolate_hap sa_useriam_authexecutormgr_service:samgr_class { get };
allow input_isolate_hap sa_useriam_faceauth_service:samgr_class { get };
allow input_isolate_hap sa_useriam_fingerprintauth_service:samgr_class { get };
allow input_isolate_hap sa_useriam_useridm_service:samgr_class { get };
allow input_isolate_hap data_app_el2_file:file { read open getattr };

# allow input_isolate_hap to interact with sa
binder_call(input_isolate_hap, accesstoken_service);
binder_call(input_isolate_hap, app_domain_verify_agent);
binder_call(input_isolate_hap, asset_service);
binder_call(input_isolate_hap, cloudfiledaemon);
binder_call(input_isolate_hap, compiler_service);
binder_call(input_isolate_hap, d-bms);
binder_call(input_isolate_hap, deviceinfoservice);
binder_call(input_isolate_hap, distributedfiledaemon);
binder_call(input_isolate_hap, distributedsche);
binder_call(input_isolate_hap, dlp_permission_service);
binder_call(input_isolate_hap, dslm_service);
binder_call(input_isolate_hap, edm_sa);
binder_call(input_isolate_hap, hidumper_service);
binder_call(input_isolate_hap, huks_service);
binder_call(input_isolate_hap, i18n_service);
binder_call(input_isolate_hap, intell_voice_service);
binder_call(input_isolate_hap, local_code_sign);
binder_call(input_isolate_hap, locationhub);
binder_call(input_isolate_hap, memmgrservice);
binder_call(input_isolate_hap, netmanager);
binder_call(input_isolate_hap, pasteboard_service);
binder_call(input_isolate_hap, pinauth);
binder_call(input_isolate_hap, resource_schedule_executor);
binder_call(input_isolate_hap, resource_schedule_service);
binder_call(input_isolate_hap, security_collector);
binder_call(input_isolate_hap, sensors);
binder_call(input_isolate_hap, service_router);
binder_call(input_isolate_hap, softbus_server);
binder_call(input_isolate_hap, test_server);
binder_call(input_isolate_hap, time_service);
binder_call(input_isolate_hap, token_sync_service);
binder_call(input_isolate_hap, ui_service);
binder_call(input_isolate_hap, usb_service);
binder_call(input_isolate_hap, useriam);
binder_call(input_isolate_hap, wifi_manager_service);

# allow sa to interact with input_isolate_hap
binder_call(accessibility, input_isolate_hap);
binder_call(accesstoken_service, input_isolate_hap);
binder_call(app_domain_verify_agent, input_isolate_hap);
binder_call(cloudfiledaemon, input_isolate_hap);
binder_call(compiler_service, input_isolate_hap);
binder_call(d-bms, input_isolate_hap);
binder_call(deviceinfoservice, input_isolate_hap);
binder_call(distributedfiledaemon, input_isolate_hap);
binder_call(distributedsche, input_isolate_hap);
binder_call(dlp_permission_service, input_isolate_hap);
binder_call(dslm_service, input_isolate_hap);
binder_call(edm_sa, input_isolate_hap);
binder_call(el5_filekey_manager, input_isolate_hap);
binder_call(foundation, input_isolate_hap);
binder_call(hidumper_service, input_isolate_hap);
binder_call(huks_service, input_isolate_hap);
binder_call(i18n_service, input_isolate_hap);
binder_call(inputmethod_service, input_isolate_hap);
binder_call(intell_voice_service, input_isolate_hap);
binder_call(local_code_sign, input_isolate_hap);
binder_call(locationhub, input_isolate_hap);
binder_call(memmgrservice, input_isolate_hap);
binder_call(multimodalinput, input_isolate_hap);
binder_call(netmanager, input_isolate_hap);
binder_call(param_watcher, input_isolate_hap);
binder_call(pasteboard_service, input_isolate_hap);
binder_call(pinauth, input_isolate_hap);
binder_call(resource_schedule_executor, input_isolate_hap);
binder_call(resource_schedule_service, input_isolate_hap);
binder_call(security_collector, input_isolate_hap);
binder_call(sensors, input_isolate_hap);
binder_call(service_router, input_isolate_hap);
binder_call(softbus_server, input_isolate_hap);
binder_call(test_server, input_isolate_hap);
binder_call(time_service, input_isolate_hap);
binder_call(token_sync_service, input_isolate_hap);
binder_call(ui_service, input_isolate_hap);
binder_call(usb_service, input_isolate_hap);
binder_call(useriam, input_isolate_hap);
binder_call(wifi_manager_service, input_isolate_hap);
