# Copyright (c) 2024 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# allow input_isolate_debug_hap to get sa
allow input_isolate_debug_hap sa_accessibleabilityms:samgr_class { get };
allow input_isolate_debug_hap sa_accesstoken_manager_service:samgr_class { get };
allow input_isolate_debug_hap sa_app_domain_verify_agent:samgr_class { get };
allow input_isolate_debug_hap sa_app_domain_verify_mgr_service:samgr_class { get };
allow input_isolate_debug_hap sa_ark_aot_compiler:samgr_class { get };
allow input_isolate_debug_hap sa_asset_service:samgr_class { get };
allow input_isolate_debug_hap sa_avsession_service:samgr_class { get };
allow input_isolate_debug_hap sa_bgtaskmgr:samgr_class { get };
allow input_isolate_debug_hap sa_ca_daemon_service:samgr_class { get };
allow input_isolate_debug_hap sa_concurrent_task_service:samgr_class { get };
allow input_isolate_debug_hap sa_dataobs_mgr_service_service:samgr_class { get };
allow input_isolate_debug_hap sa_devattest_service:samgr_class { get };
allow input_isolate_debug_hap sa_device_profile_service:samgr_class { get };
allow input_isolate_debug_hap sa_device_security_level_manager_service:samgr_class { get };
allow input_isolate_debug_hap sa_device_standby:samgr_class { get };
allow input_isolate_debug_hap sa_device_usage_statistics_service:samgr_class { get };
allow input_isolate_debug_hap sa_dfx_sys_hidumper_ability:samgr_class { get };
allow input_isolate_debug_hap sa_dhardware_service:samgr_class { get };
allow input_isolate_debug_hap sa_dhcp_client:samgr_class { get };
allow input_isolate_debug_hap sa_dhcp_server:samgr_class { get };
allow input_isolate_debug_hap sa_distributed_bundle_mgr_service_service:samgr_class { get };
allow input_isolate_debug_hap sa_distributed_fs_daemon_service:samgr_class { get };
allow input_isolate_debug_hap sa_distributed_scenario_mgr_service:samgr_class { get };
allow input_isolate_debug_hap sa_distributed_sched_adapter_service:samgr_class { get };
allow input_isolate_debug_hap sa_distributeddata_service:samgr_class { get };
allow input_isolate_debug_hap sa_distributeschedule:samgr_class { get };
allow input_isolate_debug_hap sa_drm_service:samgr_class { get };
allow input_isolate_debug_hap sa_enterprise_device_manager_service:samgr_class { get };
allow input_isolate_debug_hap sa_file_access_service:samgr_class { get };
allow input_isolate_debug_hap sa_filemanagement_cloud_daemon_service:samgr_class { get };
allow input_isolate_debug_hap sa_filemanagement_cloud_sync_service:samgr_class { get };
allow input_isolate_debug_hap sa_filemanagement_distributed_file_daemon_service:samgr_class { get };
allow input_isolate_debug_hap sa_form_mgr_service:samgr_class { get };
allow input_isolate_debug_hap sa_foundation_abilityms:samgr_class { get };
allow input_isolate_debug_hap sa_foundation_appms:samgr_class { get };
allow input_isolate_debug_hap sa_foundation_bms:samgr_class { get };
allow input_isolate_debug_hap sa_foundation_cesfwk_service:samgr_class { get };
allow input_isolate_debug_hap sa_foundation_continuation_manager_service:samgr_class { get };
allow input_isolate_debug_hap sa_foundation_dms:samgr_class { get };
allow input_isolate_debug_hap sa_foundation_wms:samgr_class { get };
allow input_isolate_debug_hap sa_hdf_ext_devmgr:samgr_class { get };
allow input_isolate_debug_hap sa_huks_service:samgr_class { get };
allow input_isolate_debug_hap sa_i18n_service:samgr_class { get };
allow input_isolate_debug_hap sa_inputmethod_service:samgr_class { get };
allow input_isolate_debug_hap sa_installd_service:samgr_class { get };
allow input_isolate_debug_hap sa_intell_voice_service:samgr_class { get };
allow input_isolate_debug_hap sa_ivi_drivingsafety_service:samgr_class { get };
allow input_isolate_debug_hap sa_location_geo_convert_service:samgr_class { get };
allow input_isolate_debug_hap sa_memory_manager_service:samgr_class { get };
allow input_isolate_debug_hap sa_miscdevice_service:samgr_class { get };
allow input_isolate_debug_hap sa_msdp_devicestatus_service:samgr_class { get };
allow input_isolate_debug_hap sa_msdp_motion_service:samgr_class { get };
allow input_isolate_debug_hap sa_msdp_movement_service:samgr_class { get };
allow input_isolate_debug_hap sa_msdp_multimodal_awareness_service:samgr_class { get };
allow input_isolate_debug_hap sa_msdp_spatial_awareness_service:samgr_class { get };
allow input_isolate_debug_hap sa_multimodalinput_service:samgr_class { get };
allow input_isolate_debug_hap sa_oaid_service:samgr_class { get };
allow input_isolate_debug_hap sa_param_watcher:samgr_class { get };
allow input_isolate_debug_hap sa_pasteboard_service:samgr_class { get };
allow input_isolate_debug_hap sa_powermgr_battery_service:samgr_class { get };
allow input_isolate_debug_hap sa_powermgr_batterystats_service:samgr_class { get };
allow input_isolate_debug_hap sa_powermgr_displaymgr_service:samgr_class { get };
allow input_isolate_debug_hap sa_powermgr_powermgr_service:samgr_class { get };
allow input_isolate_debug_hap sa_powermgr_thermal_service:samgr_class { get };
allow input_isolate_debug_hap sa_privacy_service:samgr_class { get };
allow input_isolate_debug_hap sa_resource_schedule:samgr_class { get };
allow input_isolate_debug_hap sa_resource_schedule_executor:samgr_class { get };
allow input_isolate_debug_hap sa_resource_schedule_socperf_server:samgr_class { get };
allow input_isolate_debug_hap sa_screenlock_service:samgr_class { get };
allow input_isolate_debug_hap sa_service_router_mgr_service:samgr_class { get };
allow input_isolate_debug_hap sa_smart_comm_service:samgr_class { get };
allow input_isolate_debug_hap sa_softbus_service:samgr_class { get };
allow input_isolate_debug_hap sa_subsys_ace_service:samgr_class { get };
allow input_isolate_debug_hap sa_subsys_hbs_service:samgr_class { get };
allow input_isolate_debug_hap sa_subsys_wearable_service:samgr_class { get };
allow input_isolate_debug_hap sa_sys_installer_service:samgr_class { get };
allow input_isolate_debug_hap sa_sysparam_device_service:samgr_class { get };
allow input_isolate_debug_hap sa_task_heartbeat_mgr:samgr_class { get };
allow input_isolate_debug_hap sa_telephony_data_storage_service:samgr_class { get };
allow input_isolate_debug_hap sa_telephony_tel_core_service:samgr_class { get };
allow input_isolate_debug_hap sa_telephony_tel_ims:samgr_class { get };
allow input_isolate_debug_hap sa_test_server:samgr_class { get };
allow input_isolate_debug_hap sa_time_service:samgr_class { get };
allow input_isolate_debug_hap sa_token_sync_manager_service:samgr_class { get };
allow input_isolate_debug_hap sa_ui_appearance:samgr_class { get };
allow input_isolate_debug_hap sa_uri_permission_mgr_service:samgr_class { get };
allow input_isolate_debug_hap sa_usb_service:samgr_class { get };
allow input_isolate_debug_hap sa_useriam_authexecutormgr_service:samgr_class { get };
allow input_isolate_debug_hap sa_useriam_faceauth_service:samgr_class { get };
allow input_isolate_debug_hap sa_useriam_fingerprintauth_service:samgr_class { get };
allow input_isolate_debug_hap sa_useriam_pinauth_service:samgr_class { get };
allow input_isolate_debug_hap sa_useriam_userauth_service:samgr_class { get };
allow input_isolate_debug_hap sa_useriam_useridm_service:samgr_class { get };
allow input_isolate_debug_hap sa_work_schedule_service:samgr_class { get };

# allow input_isolate_debug_hap to interact with sa
binder_call(input_isolate_debug_hap, accessibility);
binder_call(input_isolate_debug_hap, accesstoken_service);
binder_call(input_isolate_debug_hap, app_domain_verify_agent);
binder_call(input_isolate_debug_hap, app_domain_verify_mgr_service);
binder_call(input_isolate_debug_hap, asset_service);
binder_call(input_isolate_debug_hap, audio_server);
binder_call(input_isolate_debug_hap, bgtaskmgr_service);
binder_call(input_isolate_debug_hap, cloudfiledaemon);
binder_call(input_isolate_debug_hap, compiler_service);
binder_call(input_isolate_debug_hap, d-bms);
binder_call(input_isolate_debug_hap, deviceinfoservice);
binder_call(input_isolate_debug_hap, distributedfiledaemon);
binder_call(input_isolate_debug_hap, distributedsche);
binder_call(input_isolate_debug_hap, dlp_permission_service);
binder_call(input_isolate_debug_hap, dslm_service);
binder_call(input_isolate_debug_hap, edm_sa);
binder_call(input_isolate_debug_hap, el5_filekey_manager);
binder_call(input_isolate_debug_hap, foundation);
binder_call(input_isolate_debug_hap, hidumper_service);
binder_call(input_isolate_debug_hap, huks_service);
binder_call(input_isolate_debug_hap, i18n_service);
binder_call(input_isolate_debug_hap, inputmethod_service);
binder_call(input_isolate_debug_hap, installs);
binder_call(input_isolate_debug_hap, intell_voice_service);
binder_call(input_isolate_debug_hap, local_code_sign);
binder_call(input_isolate_debug_hap, locationhub);
binder_call(input_isolate_debug_hap, memmgrservice);
binder_call(input_isolate_debug_hap, multimodalinput);
binder_call(input_isolate_debug_hap, netmanager);
binder_call(input_isolate_debug_hap, param_watcher);
binder_call(input_isolate_debug_hap, pasteboard_service);
binder_call(input_isolate_debug_hap, pinauth);
binder_call(input_isolate_debug_hap, powermgr);
binder_call(input_isolate_debug_hap, resource_schedule_executor);
binder_call(input_isolate_debug_hap, resource_schedule_service);
binder_call(input_isolate_debug_hap, security_collector);
binder_call(input_isolate_debug_hap, security_guard);
binder_call(input_isolate_debug_hap, sensors);
binder_call(input_isolate_debug_hap, service_router);
binder_call(input_isolate_debug_hap, softbus_server);
binder_call(input_isolate_debug_hap, test_server);
binder_call(input_isolate_debug_hap, time_service);
binder_call(input_isolate_debug_hap, token_sync_service);
binder_call(input_isolate_debug_hap, ui_service);
binder_call(input_isolate_debug_hap, usb_service);
binder_call(input_isolate_debug_hap, useriam);
binder_call(input_isolate_debug_hap, wifi_manager_service);

# allow sa to interact with input_isolate_hap
binder_call(accessibility, input_isolate_debug_hap);
binder_call(accesstoken_service, input_isolate_debug_hap);
binder_call(app_domain_verify_agent, input_isolate_debug_hap);
binder_call(app_domain_verify_mgr_service, input_isolate_debug_hap);
binder_call(asset_service, input_isolate_debug_hap);
binder_call(audio_server, input_isolate_debug_hap);
binder_call(bgtaskmgr_service, input_isolate_debug_hap);
binder_call(cloudfiledaemon, input_isolate_debug_hap);
binder_call(compiler_service, input_isolate_debug_hap);
binder_call(d-bms, input_isolate_debug_hap);
binder_call(deviceinfoservice, input_isolate_debug_hap);
binder_call(distributedfiledaemon, input_isolate_debug_hap);
binder_call(distributedsche, input_isolate_debug_hap);
binder_call(dlp_permission_service, input_isolate_debug_hap);
binder_call(dslm_service, input_isolate_debug_hap);
binder_call(edm_sa, input_isolate_debug_hap);
binder_call(el5_filekey_manager, input_isolate_debug_hap);
binder_call(foundation, input_isolate_debug_hap);
binder_call(hidumper_service, input_isolate_debug_hap);
binder_call(huks_service, input_isolate_debug_hap);
binder_call(i18n_service, input_isolate_debug_hap);
binder_call(inputmethod_service, input_isolate_debug_hap);
binder_call(installs, input_isolate_debug_hap);
binder_call(intell_voice_service, input_isolate_debug_hap);
binder_call(local_code_sign, input_isolate_debug_hap);
binder_call(locationhub, input_isolate_debug_hap);
binder_call(memmgrservice, input_isolate_debug_hap);
binder_call(multimodalinput, input_isolate_debug_hap);
binder_call(netmanager, input_isolate_debug_hap);
binder_call(param_watcher, input_isolate_debug_hap);
binder_call(pasteboard_service, input_isolate_debug_hap);
binder_call(pinauth, input_isolate_debug_hap);
binder_call(powermgr, input_isolate_debug_hap);
binder_call(resource_schedule_executor, input_isolate_debug_hap);
binder_call(resource_schedule_service, input_isolate_debug_hap);
binder_call(security_collector, input_isolate_debug_hap);
binder_call(security_guard, input_isolate_debug_hap);
binder_call(sensors, input_isolate_debug_hap);
binder_call(service_router, input_isolate_debug_hap);
binder_call(softbus_server, input_isolate_debug_hap);
binder_call(test_server, input_isolate_debug_hap);
binder_call(time_service, input_isolate_debug_hap);
binder_call(token_sync_service, input_isolate_debug_hap);
binder_call(ui_service, input_isolate_debug_hap);
binder_call(usb_service, input_isolate_debug_hap);
binder_call(useriam, input_isolate_debug_hap);
binder_call(wifi_manager_service, input_isolate_debug_hap);
