# Copyright (c) 2024 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow ark_aot_compiler ark_aot_compiler:unix_dgram_socket { getopt setopt };
allow ark_aot_compiler chip_prod_file:dir { search };

allow ark_aot_compiler ark_writeable_param:file { map open read };
allow ark_aot_compiler compiler_service:fd { use };
allow ark_aot_compiler data_local_arkprofile:file { ioctl };
allow ark_aot_compiler dev_kmsg_file:chr_file { write };
allow ark_aot_compiler tty_device:chr_file { read write };
allowxperm ark_aot_compiler data_local_arkcache:file ioctl { 0x5413 };
allowxperm ark_aot_compiler data_local_arkprofile:file ioctl { 0x5413 };
