# Copyright (c) 2024 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow installs compiler_service:binder { call };
allow installs sa_ark_aot_compiler:samgr_class { get };
allow installs code_sign_utils:file { execute getattr map open read };
allow installs data_service_el1_file:file { ioctl };
allowxperm installs data_service_el1_file:file ioctl { 0x6685 };

allow installs data_service_el1_framework_arkcache:dir { search };
allow installs data_service_el1_framework_arkcache:file { getattr ioctl open read };
allowxperm installs data_service_el1_framework_arkcache:file ioctl { 0x6685 };

# avc: denied { getattr } for pid=2316, comm="/system/bin/sa_main"  path="/data/service/el1/public/for-all-app/shared_bundles_ark_cache" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=1989 scontext=u:r:installs:s0 tcontext=u:object_r:data_service_el1_shared_bundles:s0 tclass=dir permissive=1
allow installs data_service_el1_shared_bundles:dir { getattr };
# avc: denied { getattr } for pid=2316, comm="/system/bin/sa_main"  path="/data/service/el1/public/for-all-app/shared_bundles_ark_cache/com.example.myapplication/1000000/arm64/library.an" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=39070 scontext=u:r:installs:s0 tcontext=u:object_r:data_service_el1_shared_bundles:s0 tclass=file permissive=1
# avc: denied { open } for pid=2316, comm="/system/bin/sa_main"  path="/data/service/el1/public/for-all-app/shared_bundles_ark_cache/com.example.myapplication/1000000/arm64/library.an" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=39070 scontext=u:r:installs:s0 tcontext=u:object_r:data_service_el1_shared_bundles:s0 tclass=file permissive=1
# avc: denied { read } for pid=2316, comm="/system/bin/sa_main"  path="/data/service/el1/public/for-all-app/shared_bundles_ark_cache/com.example.myapplication/1000000/arm64/library.an" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=39070 scontext=u:r:installs:s0 tcontext=u:object_r:data_service_el1_shared_bundles:s0 tclass=file permissive=1
allow installs data_service_el1_shared_bundles:file { getattr open read };

# avc: denied { create } for pid=2422, comm="/system/bin/sa_main"  name="/service/el1/public/for-all-app/shared_bundles_ark_cache/com.example.myapplication" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=46994 scontext=u:r:installs:s0 tcontext=u:object_r:data_service_el1_shared_bundles:s0 tclass=dir permissive=1
# avc: denied { open } for pid=2422, comm="/system/bin/sa_main"  path="/data/service/el1/public/for-all-app/shared_bundles_ark_cache/com.example.myapplication" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=39023 scontext=u:r:installs:s0 tcontext=u:object_r:data_service_el1_shared_bundles:s0 tclass=dir permissive=1
# avc: denied { read } for pid=2422, comm="/system/bin/sa_main"  path="/data/service/el1/public/for-all-app/shared_bundles_ark_cache/com.example.myapplication" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=39023 scontext=u:r:installs:s0 tcontext=u:object_r:data_service_el1_shared_bundles:s0 tclass=dir permissive=1
# avc: denied { rmdir } for pid=2422, comm="/system/bin/sa_main"  name="/service/el1/public/for-all-app/shared_bundles_ark_cache/com.example.myapplication/1000000/arm64" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=39027 scontext=u:r:installs:s0 tcontext=u:object_r:data_service_el1_shared_bundles:s0 tclass=dir permissive=1
# avc: denied { setattr } for pid=2422, comm="/system/bin/sa_main"  name="/service/el1/public/for-all-app/shared_bundles_ark_cache/com.example.myapplication" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=46994 scontext=u:r:installs:s0 tcontext=u:object_r:data_service_el1_shared_bundles:s0 tclass=dir permissive=1
# avc: denied { write add_name search } for pid=2422, comm="/system/bin/sa_main"  name="/service/el1/public/for-all-app/shared_bundles_ark_cache" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=1989 scontext=u:r:installs:s0 tcontext=u:object_r:data_service_el1_shared_bundles:s0 tclass=dir permissive=1
# avc: denied { write remove_name search } for pid=2422, comm="/system/bin/sa_main"  name="/service/el1/public/for-all-app/shared_bundles_ark_cache/com.example.myapplication/1000000/arm64" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=39027 scontext=u:r:installs:s0 tcontext=u:object_r:data_service_el1_shared_bundles:s0 tclass=dir permissive=1
allow installs data_service_el1_shared_bundles:dir { create open read rmdir setattr write add_name search write remove_name search };

# avc: denied { ioctl } for pid=2422, comm="/system/bin/sa_main"  path="/data/service/el1/public/for-all-app/shared_bundles_ark_cache/com.example.myapplication/1000000/arm64/library.an" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=47000 ioctlcmd=0x6685 scontext=u:r:installs:s0 tcontext=u:object_r:data_service_el1_shared_bundles:s0 tclass=file permissive=1
# avc: denied { unlink } for pid=2422, comm="/system/bin/sa_main"  name="/service/el1/public/for-all-app/shared_bundles_ark_cache/com.example.myapplication/1000000/arm64/library.an" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=39070 scontext=u:r:installs:s0 tcontext=u:object_r:data_service_el1_shared_bundles:s0 tclass=file permissive=1
allow installs data_service_el1_shared_bundles:file { ioctl unlink };
# avc: denied { ioctl } for pid=2422, comm="/system/bin/sa_main"  path="/data/service/el1/public/for-all-app/shared_bundles_ark_cache/com.example.myapplication/1000000/arm64/library.an" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=47000 ioctlcmd=0x6685 scontext=u:r:installs:s0 tcontext=u:object_r:data_service_el1_shared_bundles:s0 tclass=file permissive=1
allowxperm installs data_service_el1_shared_bundles:file ioctl { 0x6685 };

# avc: denied { getattr } for pid=2396, comm="/system/bin/sa_main"  path="/data/service/el1/public/for-all-app/framework_ark_cache" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=2069 scontext=u:r:installs:s0 tcontext=u:object_r:data_service_el1_framework_arkcache:s0 tclass=dir permissive=1
# avc: denied { open } for pid=2396, comm="/system/bin/sa_main"  path="/data/service/el1/public/for-all-app/framework_ark_cache" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=2069 scontext=u:r:installs:s0 tcontext=u:object_r:data_service_el1_framework_arkcache:s0 tclass=dir permissive=1
# avc: denied { read } for pid=2396, comm="/system/bin/sa_main"  path="/data/service/el1/public/for-all-app/framework_ark_cache" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=2069 scontext=u:r:installs:s0 tcontext=u:object_r:data_service_el1_framework_arkcache:s0 tclass=dir permissive=1
# avc: denied { write remove_name } for pid=2396, comm="/system/bin/sa_main"  name="/service/el1/public/for-all-app/framework_ark_cache" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=2069 scontext=u:r:installs:s0 tcontext=u:object_r:data_service_el1_framework_arkcache:s0 tclass=dir permissive=1
allow installs data_service_el1_framework_arkcache:dir { getattr open read write remove_name };
# avc: denied { unlink } for pid=2396, comm="/system/bin/sa_main"  name="/service/el1/public/for-all-app/framework_ark_cache/arkoala.an" dev="/dev/block/platform/ee560000.ufs/by-name/userdata" ino=34036 scontext=u:r:installs:s0 tcontext=u:object_r:data_service_el1_framework_arkcache:s0 tclass=file permissive=1
allow installs data_service_el1_framework_arkcache:file { unlink };
