# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

debug_only(`
    # avc:  denied  { transfer } for  pid=261 comm="OS_IPC_3_290" scontext=u:r:samgr:s0 tcontext=u:r:snapshot_display:s0 tclass=binder permissive=1
    allow samgr snapshot_display:binder { transfer };
    # avc:  denied  { search } for  pid=261 comm="OS_IPC_3_290" name="1481" dev="proc" ino=34938 scontext=u:r:samgr:s0 tcontext=u:r:snapshot_display:s0 tclass=dir permissive=1
    allow samgr snapshot_display:dir { search };
    # avc:  denied  { read } for  pid=261 comm="OS_IPC_3_290" name="current" dev="proc" ino=35942 scontext=u:r:samgr:s0 tcontext=u:r:snapshot_display:s0 tclass=file permissive=1
    allow samgr snapshot_display:file { open read };
    # avc:  denied  { getattr } for  pid=261 comm="OS_IPC_3_290" scontext=u:r:samgr:s0 tcontext=u:r:snapshot_display:s0 tclass=process permissive=1
    allow samgr snapshot_display:process { getattr };
')

developer_only(`
    # avc:  denied  { transfer } for  pid=261 comm="OS_IPC_3_290" scontext=u:r:samgr:s0 tcontext=u:r:snapshot_display:s0 tclass=binder permissive=1
    allow samgr snapshot_display:binder { transfer };
    # avc:  denied  { search } for  pid=261 comm="OS_IPC_3_290" name="1481" dev="proc" ino=34938 scontext=u:r:samgr:s0 tcontext=u:r:snapshot_display:s0 tclass=dir permissive=1
    allow samgr snapshot_display:dir { search };
    # avc:  denied  { read } for  pid=261 comm="OS_IPC_3_290" name="current" dev="proc" ino=35942 scontext=u:r:samgr:s0 tcontext=u:r:snapshot_display:s0 tclass=file permissive=1
    allow samgr snapshot_display:file { open read };
    # avc:  denied  { getattr } for  pid=261 comm="OS_IPC_3_290" scontext=u:r:samgr:s0 tcontext=u:r:snapshot_display:s0 tclass=process permissive=1
    allow samgr snapshot_display:process { getattr };
')
