# Copyright (c) 2022-2024 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow print_driver data_file:dir { search };
allow print_driver cupsd:fd { use };
allow print_driver cupsd:fifo_file { read write };
allow print_driver print_driver_exec:dir { search };
allow print_driver print_driver_exec:file { execute execute_no_trans };
allow print_driver print_driver_tmp:dir { create getattr open read search setattr write add_name remove_name };
allow print_driver print_driver_tmp:file { append create getattr open read write rename setattr unlink map };
allow print_driver print_driver_read:file { open read };
allow print_driver print_driver_read:dir { search };
allow print_driver data_service_el1_file:dir { search };
allow print_driver data_service_file:dir { search };
allow print_driver data_service_el1_public_print_service_file:dir { search };
allow print_driver sh_exec:file { execute execute_no_trans map open read };
neverallow print_driver { data_file_attr -print_driver_exec }:file { execute execute_no_trans };
allow print_driver port:tcp_socket { name_connect };
allow print_driver print_driver:tcp_socket { connect create read write };
allow print_driver print_driver:udp_socket { connect create getattr };
allow print_driver system_fonts_file:dir { getattr open read search };
allow print_driver system_fonts_file:file { getattr open read };
allow print_driver system_fonts_file:lnk_file { read };
allow print_driver print_driver_exec:xpm { exec_allow_release_ownerid exec_allow_debug_ownerid };
allow print_driver system_bin_uni_print_driver_file:dir { search };
allow print_driver system_bin_uni_print_driver_file:file { execute execute_no_trans getattr map read open };

# about backends
allow print_driver node:udp_socket { node_bind };
allow print_driver print_driver:udp_socket { bind ioctl read setopt write };
allowxperm print_driver print_driver:udp_socket ioctl { 0x8912 0x8913 0x8919 };
