# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow print_service accesstoken_service:binder { call };
allow print_service bootevent_param:file { map open read };
allow print_service bootevent_samgr_param:file { map open read };
allow print_service build_version_param:file { map open read };
allow print_service const_allow_mock_param:file { map open read };
allow print_service const_allow_param:file { map open read };
allow print_service const_build_param:file { map open read };
allow print_service const_display_brightness_param:file { map open read };
allow print_service const_param:file { map open read };
allow print_service const_postinstall_fstab_param:file { map open read };
allow print_service const_postinstall_param:file { map open read };
allow print_service const_product_param:file { map open read };
allow print_service data_file:dir { search };
allow print_service data_service_el1_file:dir { add_name search write };
allow print_service data_service_el1_file:file { create ioctl open read write open };
allow print_service data_service_file:dir { search };
allow print_service debug_param:file { map open read };
allow print_service default_param:file { map open read };
allow print_service dev_unix_socket:dir { search };
allow print_service distributedsche_param:file { map open read };
allow print_service foundation:binder { call transfer };
allow print_service hilog_param:file { map open read };
allow print_service hw_sc_build_os_param:file { map open read };
allow print_service hw_sc_build_param:file { map open read };
allow print_service hw_sc_param:file { map open read };
allow print_service init_param:file { map open read };
allow print_service init_svc_param:file { map open read };
allow print_service input_pointer_device_param:file { map open read };
allow print_service net_param:file { map open read };
allow print_service net_tcp_param:file { map open read };
allow print_service ohos_boot_param:file { map open read };
allow print_service ohos_param:file { map open read };
allow print_service param_watcher:binder { call transfer };
allow print_service persist_param:file { map open read };
allow print_service persist_sys_param:file { map open read };
allow print_service sa_accesstoken_manager_service:samgr_class { get };
allow print_service sa_foundation_abilityms:samgr_class { get };
allow print_service sa_foundation_cesfwk_service:samgr_class { get };
allow print_service sa_param_watcher:samgr_class { get };
allow print_service sa_print_service:samgr_class { add };
allow print_service security_param:file { map open read };
allow print_service startup_param:file { map open read };
allow print_service sys_param:file { map open read };
allow print_service system_basic_hap_attr:binder { call };
allow print_service system_bin_file:dir { search };
allow print_service sys_usb_param:file { map open read };
allow print_service tracefs:dir { search };
allow print_service tracefs_trace_marker_file:file { open write };
allow print_service print_service:unix_dgram_socket { getopt setopt };
allow print_service sa_foundation_bms:samgr_class { get };
allow print_service sa_accountmgr:samgr_class { get };
allowxperm print_service data_service_el1_file:file ioctl { 0x5413 };
allow print_service accountmgr:binder { call };
allow print_service system_basic_hap_attr:fd { use };
allow print_service system_basic_hap_data_file_attr:file { read };
allow print_service system_core_hap_attr:binder { call };
allow print_service sysfs_devices_system_cpu:file { open read };
# avc:  denied  { search } for  pid=1643 comm="sh" name="local" dev="mmcblk0p14" ino=96 scontext=u:r:print_service:s0 tcontext=u:object_r:data_local:s0 tclass=dir permissive=1
allow print_service data_local:dir { search };
# avc:  denied  { write search } for  pid=1643 comm="sh" name="tmp" dev="mmcblk0p14" ino=99 scontext=u:r:print_service:s0 tcontext=u:object_r:data_local_tmp:s0 tclass=dir permissive=1
allow print_service data_local_tmp:dir { write search };
# avc:  denied  { remove_name } for  pid=1676 comm="cupsd" name="printers.conf.O" dev="mmcblk0p14" ino=2005 scontext=u:r:print_service:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=dir permissive=1
allow print_service data_service_el1_file:dir { remove_name };
# avc:  denied  { getattr } for  pid=1676 comm="cupsd" path="/data/service/el1/public/cups/printers.conf.N" dev="mmcblk0p14" ino=2059 scontext=u:r:print_service:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
# avc:  denied  { rename } for  pid=1676 comm="cupsd" name="printers.conf" dev="mmcblk0p14" ino=2012 scontext=u:r:print_service:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
# avc:  denied  { setattr } for  pid=1676 comm="cupsd" name="printers.conf.N" dev="mmcblk0p14" ino=2059 scontext=u:r:print_service:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
# avc:  denied  { unlink } for  pid=1676 comm="cupsd" name="printers.conf.O" dev="mmcblk0p14" ino=2005 scontext=u:r:print_service:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
allow print_service data_service_el1_file:file { getattr rename setattr unlink };
# avc:  denied  { read write } for  pid=1462 comm="sa_main" path="/dev/console" dev="tmpfs" ino=40 scontext=u:r:print_service:s0 tcontext=u:object_r:dev_console_file:s0 tclass=chr_file permissive=1
allow print_service dev_console_file:chr_file { read write };
# avc:  denied  { name_connect } for  pid=1746 comm="ipp" dest=631 scontext=u:r:print_service:s0 tcontext=u:object_r:port:s0 tclass=tcp_socket permissive=1
allow print_service port:tcp_socket { name_connect };
# avc:  denied  { accept } for  pid=1676 comm="cupsd" laddr=::1 lport=1631 scontext=u:r:print_service:s0 tcontext=u:r:print_service:s0 tclass=tcp_socket permissive=1
# avc:  denied  { connect } for  pid=1746 comm="ipp" scontext=u:r:print_service:s0 tcontext=u:r:print_service:s0 tclass=tcp_socket permissive=1
# avc:  denied  { create } for  pid=1746 comm="ipp" scontext=u:r:print_service:s0 tcontext=u:r:print_service:s0 tclass=tcp_socket permissive=1
# avc:  denied  { getattr } for  pid=1676 comm="cupsd" laddr=::1 lport=1631 faddr=::1 fport=60034 scontext=u:r:print_service:s0 tcontext=u:r:print_service:s0 tclass=tcp_socket permissive=1
# avc:  denied  { read } for  pid=1746 comm="ipp" laddr=192.168.43.57 lport=52766 faddr=192.168.43.111 fport=631 scontext=u:r:print_service:s0 tcontext=u:r:print_service:s0 tclass=tcp_socket permissive=1
# avc:  denied  { setopt } for  pid=1746 comm="ipp" scontext=u:r:print_service:s0 tcontext=u:r:print_service:s0 tclass=tcp_socket permissive=1
# avc:  denied  { write } for  pid=1746 comm="ipp" laddr=192.168.43.57 lport=52766 faddr=192.168.43.111 fport=631 scontext=u:r:print_service:s0 tcontext=u:r:print_service:s0 tclass=tcp_socket permissive=1
allow print_service print_service:tcp_socket { accept connect create getattr read setopt write };
# avc:  denied  { create } for  pid=1746 comm="ipp" scontext=u:r:print_service:s0 tcontext=u:r:print_service:s0 tclass=udp_socket permissive=1
# avc:  denied  { setopt } for  pid=1746 comm="ipp" scontext=u:r:print_service:s0 tcontext=u:r:print_service:s0 tclass=udp_socket permissive=1
allow print_service print_service:udp_socket { create setopt };
# avc:  denied  { execute } for  pid=1673 comm="print_service" name="sh" dev="mmcblk0p7" ino=373 scontext=u:r:print_service:s0 tcontext=u:object_r:sh_exec:s0 tclass=file permissive=1
# avc:  denied  { execute_no_trans } for  pid=1643 comm="print_service" path="/system/bin/sh" dev="mmcblk0p7" ino=373 scontext=u:r:print_service:s0 tcontext=u:object_r:sh_exec:s0 tclass=file permissive=1
# avc:  denied  { map } for  pid=1643 comm="sh" path="/system/bin/sh" dev="mmcblk0p7" ino=373 scontext=u:r:print_service:s0 tcontext=u:object_r:sh_exec:s0 tclass=file permissive=1
# avc:  denied  { read open } for  pid=1673 comm="print_service" path="/system/bin/sh" dev="mmcblk0p7" ino=373 scontext=u:r:print_service:s0 tcontext=u:object_r:sh_exec:s0 tclass=file permissive=1
allow print_service sh_exec:file { execute execute_no_trans map read open };
# avc:  denied  { getattr } for  pid=1462 comm="print_service" path="/sys/devices/system/cpu/online" dev="sysfs" ino=4917 scontext=u:r:print_service:s0 tcontext=u:object_r:sysfs_devices_system_cpu:s0 tclass=file permissive=1
allow print_service sysfs_devices_system_cpu:file { getattr };
# avc:  denied  { execute } for  pid=1744 comm="cupsd" name="cups-exec" dev="mmcblk0p7" ino=165 scontext=u:r:print_service:s0 tcontext=u:object_r:system_bin_file:s0 tclass=file permissive=1
# avc:  denied  { execute_no_trans } for  pid=1744 comm="cupsd" path="/system/bin/cups/daemon/cups-exec" dev="mmcblk0p7" ino=165 scontext=u:r:print_service:s0 tcontext=u:object_r:system_bin_file:s0 tclass=file permissive=1
# avc:  denied  { getattr } for  pid=1676 comm="cupsd" path="/system/bin/cups/filter/imagetoraster" dev="mmcblk0p7" ino=167 scontext=u:r:print_service:s0 tcontext=u:object_r:system_bin_file:s0 tclass=file permissive=1
# avc:  denied  { map } for  pid=1744 comm="cups-exec" path="/system/bin/cups/daemon/cups-exec" dev="mmcblk0p7" ino=165 scontext=u:r:print_service:s0 tcontext=u:object_r:system_bin_file:s0 tclass=file permissive=1
# avc:  denied  { read open } for  pid=1744 comm="cupsd" path="/system/bin/cups/daemon/cups-exec" dev="mmcblk0p7" ino=165 scontext=u:r:print_service:s0 tcontext=u:object_r:system_bin_file:s0 tclass=file permissive=1
allow print_service system_bin_file:file { execute execute_no_trans getattr map read open };
# avc:  denied  { open } for  pid=1643 comm="sh" path="/dev/tty" dev="tmpfs" ino=41 scontext=u:r:print_service:s0 tcontext=u:object_r:tty_device:s0 tclass=chr_file permissive=1
# avc:  denied  { read write } for  pid=1643 comm="sh" name="tty" dev="tmpfs" ino=41 scontext=u:r:print_service:s0 tcontext=u:object_r:tty_device:s0 tclass=chr_file permissive=1
allow print_service tty_device:chr_file { open read write };
