# Copyright (c) 2022-2024 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow scan_service dev_unix_socket:dir { search };
allow scan_service sa_comm_mdns_manager_service:samgr_class { get };
allow scan_service sa_scan_service:samgr_class { add };
allow scan_service scan_service:netlink_kobject_uevent_socket { read bind create setopt};
allow scan_service scan_service:tcp_socket { create read write connect getopt setopt };
allow scan_service arkcompiler_param:file { open read map };
allow scan_service debug_param:file { map open read };
allow scan_service dev_kmsg_file:chr_file { write open };
allow scan_service hilog_param:file { map open read };
allow scan_service mdnsmanager:binder { call transfer };
allow scan_service port:tcp_socket { name_connect };
allow scan_service tracefs:dir { search };
allow scan_service data_file:dir { search };
allow scan_service data_service_el1_file:dir { search };
allow scan_service data_service_el1_public_print_service_file:dir { search remove_name add_name write getattr };
allow scan_service data_service_el1_public_print_service_file:file { read unlink create ioctl write getattr open };
allow scan_service data_service_el1_public_print_service_file:lnk_file { read };
allow scan_service data_service_file:dir { search };
allow scan_service debug_hap:binder { call };
allow scan_service scan_service:udp_socket { ioctl read write create setopt bind getattr };
allow scan_service sysfs_devices_system_cpu:file { getattr open read };
allow scan_service dev_bus:dir { search };
allow scan_service dev_bus_usb_file:dir { open read search };
allow scan_service dev_bus_usb_file:chr_file { ioctl open read write };
allow scan_service proc_cpuinfo_file:file { getattr open read };
allow scan_service netsysnative:unix_stream_socket { connectto };
allow scan_service normal_hap:binder { call };
allow scan_service normal_hap:fd { use };
allow scan_service system_basic_hap:binder { call };
allow scan_service system_basic_hap:fd { use };
allow scan_service sys_file:dir { open read };
allow scan_service system_bin_file:dir { search };
allow scan_service scan_service:netlink_route_socket { create nlmsg_read nlmsg_readpriv write };
allow scan_service sys_file:file { read open };
allow scan_service usb_service:binder { call };
allow scan_service sa_usb_service:samgr_class { get };
allowxperm scan_service scan_service:udp_socket ioctl { 0x8912 0x8915 0x891b };
allowxperm scan_service data_service_el1_public_print_service_file:file ioctl { 0x5413 };
allowxperm scan_service dev_bus_usb_file:chr_file ioctl { 0x5504 0x550a 0x550d 0x550f 0x5510 0x551a 0x5508 0x550b };
allow scan_service scan_service:unix_dgram_socket { setopt getopt ioctl };
allowxperm scan_service scan_service:unix_dgram_socket ioctl { 0x8910 };
allow scan_service foundation:binder { call transfer };
allow scan_service debugfs_usb:dir { search };
allow scan_service sa_foundation_cesfwk_service:samgr_class { get };
allow scan_service persist_param:file { read open map };
allow scan_service data_service_el2_file:dir { add_name remove_name search write };
allow scan_service data_service_el2_file:file { create getattr ioctl open read write unlink append };
allowxperm scan_service data_service_el2_file:file ioctl { 0x5413 };
allow scan_service data_service_el1_public_print_service_file:dir { open read };
allow scan_service data_service_el2_file:dir { getattr };
allow scan_service node:udp_socket { node_bind };
allow init data_service_el1_public_print_service_file:dir { relabelfrom };
allow init data_service_scan_service_driver_file:dir { relabelto };
allow data_service_scan_service_driver_file labeledfs:filesystem { associate };
allow installs data_service_scan_service_driver_file:file { relabelto };
allow installs data_service_scan_service_driver_file:dir { write add_name search getattr remove_name };
allow scan_service dev_bus_usb_file:file { open read };
allow scan_service sa_sane_service:samgr_class { get };
allow scan_service sane_service:binder { call };
allow debug_hap scan_service:fd { use };
allow scan_service data_service_sane_service_config_file:dir { write add_name search getattr };
allow scan_service data_service_sane_service_config_file:file { create open read write setattr getattr ioctl };
allowxperm scan_service data_service_sane_service_config_file:file ioctl 0x5413;
allow scan_service data_service_scan_service_driver_file:dir { write add_name search };
allow scan_service data_service_scan_service_driver_file:lnk_file { create getattr read };
allow scan_service sa_foundation_appms:samgr_class { get };
