# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow download_server accesstoken_service:binder { call };
allow download_server download_server:tcp_socket { read };
allow download_server normal_hap:binder { call };
allow download_server normal_hap_data_file:file { write };
allow download_server normal_hap:fd { use };
allow download_server sa_accesstoken_manager_service:samgr_class { get };
allow download_server normal_hap_data_file:file { read };
allow download_server dev_file:sock_file { write };
allow download_server download_server:udp_socket { bind connect create getattr getopt ioctl read setopt write };
allow download_server download_server:tcp_socket { accept bind connect create getattr getopt listen read setopt shutdown write };
allow download_server port:tcp_socket { name_connect };
allow download_server node:udp_socket { node_bind };
allow download_server port:udp_socket { name_bind };
allow download_server netsysnative:unix_stream_socket { connectto };
