# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow download_server accesstoken_service:binder { call };
allow download_server download_server:tcp_socket { read };
allow download_server normal_hap_attr:binder { call };
allow download_server normal_hap_data_file_attr:file { write };
allow download_server normal_hap_attr:fd { use };
allow download_server sa_accesstoken_manager_service:samgr_class { get };
allow download_server normal_hap_data_file_attr:file { read };
allow download_server dev_file:sock_file { write };
allow download_server download_server:udp_socket { bind connect create getattr getopt ioctl read setopt write };
allow download_server download_server:tcp_socket { accept bind connect create getattr getopt listen read setopt shutdown write };
allow download_server port:tcp_socket { name_connect };
allow download_server node:udp_socket { node_bind };
allow download_server port:udp_socket { name_bind };
allow download_server netsysnative:unix_stream_socket { connectto };
allow download_server accessibility_param:file { map open read };
allow download_server foundation:binder { call transfer };
allow download_server sysfs_hctosys:file { open read };
allow download_server sysfs_rtc:dir { open read };
allow download_server sa_foundation_ans:samgr_class { get };
# avc:  denied  { read write } for  pid=2360 comm="sa_main" path="/dev/console" dev="tmpfs" ino=19 scontext=u:r:download_server:s0 tcontext=u:object_r:dev_console_file:s0 tclass=chr_file permissive=0
allow download_server dev_console_file:chr_file { read write };
#avc:  denied  { call } for  pid=2168 comm="download_server" scontext=u:r:download_server:s0 tcontext=u:r:system_core_hap:s0 tclass=binder permissive=0
allow download_server system_core_hap:binder { call };
#avc:  denied  { use } for  pid=2588 comm="download_server" scontext=u:r:download_server:s0 tcontext=u:r:system_core_hap:s0 tclass=fd permissive=0
allow download_server system_core_hap:fd { use };
#avc:  denied  { call } for  pid=2158 comm="download_server" scontext=u:r:download_server:s0 tcontext=u:r:system_basic_hap:s0 tclass=binder permissive=0
allow download_server system_basic_hap:binder { call };
#avc:  denied  { use } for  pid=2568 comm="download_server" scontext=u:r:download_server:s0 tcontext=u:r:system_basic_hap:s0 tclass=fd permissive=0
allow download_server system_basic_hap:fd { use };
#avc:  denied  { get } for service=501 pid=1640 scontext=u:r:download_server:s0 tcontext=u:object_r:sa_foundation_appms:s0 tclass=samgr_class permissive=0
allow download_server sa_foundation_appms:samgr_class { get };
#avc:  denied  { search } for  pid=1640 comm="SaInit0" name="/" dev="mmcblk0p12" ino=3 scontext=u:r:download_server:s0 tcontext=u:object_r:data_file:s0 tclass=dir permissive=0
allow download_server data_file:dir { add_name open read search write };
#avc:  denied  { open read map } for  pid=1640 comm="SaInit0" name="u:object_r:musl_param:s0" dev="tmpfs" ino=55 scontext=u:r:download_server:s0 tcontext=u:object_r:musl_param:s0 tclass=file permissive=0
allow download_server musl_param:file { open read map };
#avc:  denied  { write } for  pid=1689 comm="SaInit0" name="dnsproxyd" dev="mmcblk0p12" ino=3397 scontext=u:r:download_server:s0 tcontext=u:object_r:dnsproxy_service:s0 tclass=sock_file permissive=0
allow download_server dnsproxy_service:sock_file { write };
#avc:  denied  { getattr } for  pid=1612 comm="sa_main" path="/dev" dev="tmpfs" ino=1 scontext=u:r:download_server:s0 tcontext=u:object_r:dev_file:s0 tclass=dir permissive=0
allow download_server dev_file:dir { getattr };
#avc:  denied  { search } for  pid=1612 comm="download_server" name="usr" dev="mmcblk0p7" ino=2983 scontext=u:r:download_server:s0 tcontext=u:object_r:system_usr_file:s0 tclass=dir permissive=0
allow download_server system_usr_file:dir { search };
#avc: denied  { getattr } for  pid=1587 comm="download_server" path="/system/usr/ohos_locale_config/supported_regions.xml" dev="mmcblk0p7" ino=2990 scontext=u:r:download_server:s0 tcontext=u:object_r:system_usr_file:s0 tclass=file permissive=0
allow download_server system_usr_file:file { getattr open read map };
#avc:  denied  { read } for  pid=1435 comm="download_server" name="online" dev="sysfs" ino=4917 scontext=u:r:download_server:s0 tcontext=u:object_r:sysfs_devices_system_cpu:s0 tclass=file permissive=0
allow download_server sysfs_devices_system_cpu:file { getattr open read map };
#avc:  denied  { getattr } for  pid=1439 comm="IPC_0_1440" path="/data/storage/el2/base/haps/entry/cache/cacert.pem" dev="mmcblk0p12" ino=1331 scontext=u:r:download_server:s0 tcontext=u:object_r:normal_hap_data_file:s0 tclass=file permissive=0
allow download_server normal_hap_data_file:file { getattr };
#avc:  denied  { search } for  pid=1424 comm="tokio-runtime-w" name="data" dev="mmcblk0p12" ino=89 scontext=u:r:download_server:s0 tcontext=u:object_r:data_data_file:s0 tclass=dir permissive=0
allow download_server data_data_file:dir { search };
#avc:  denied  { get } for service=180 pid=1535 scontext=u:r:download_server:s0 tcontext=u:object_r:sa_foundation_abilityms:s0 tclass=samgr_class permissive=0
allow download_server sa_foundation_abilityms:samgr_class { get };
#avc:  denied  { getattr } for  pid=1782 comm="IPC_2_1869" path="/data/storage/el2/base/haps/entry/cache/cacert.pem" dev="mmcblk0p12" ino=2874 scontext=u:r:download_server:s0 tcontext=u:object_r:system_basic_hap_data_file:s0 tclass=file permissive=0
allow download_server system_basic_hap_data_file:file { getattr };
#avc:  denied  { getattr } for  pid=1584 comm="IPC_3_1733" path="/data/storage/el2/base/haps/entry/cache/cacert.pem" dev="mmcblk0p12" ino=2862 scontext=u:r:download_server:s0 tcontext=u:object_r:system_core_hap_data_file:s0 tclass=file permissive=0
allow download_server system_core_hap_data_file:file { getattr };
#avc:  denied  { getattr } for  pid=1593 comm="IPC_3_1711" path="/data/storage/el2/base/haps/entry/cache/upload1.txt" dev="mmcblk0p12" ino=1926 scontext=u:r:download_server:s0 tcontext=u:object_r:debug_hap_data_file:s0 tclass=file permissive=0
allow download_server debug_hap_data_file:file { getattr };
# avc:  denied  { getattr } for  pid=1574 comm="IPC_2_1581" path="/data/service/el1/public/database/request/request.db" dev="mmcblk0p14" ino=3889 scontext=u:r:download_server:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
allow download_server data_service_el1_file:dir { add_name create open read remove_name search write };
#avc:  denied  { read write } for  pid=1574 comm="IPC_2_1581" name="request.db" dev="mmcblk0p14" ino=3889 scontext=u:r:download_server:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
allow download_server data_service_el1_file:file { create lock ioctl map getattr open read setattr unlink write };
#avc:  denied  { search } for  pid=1574 comm="IPC_2_1581" name="service" dev="mmcblk0p14" ino=7 scontext=u:r:download_server:s0 tcontext=u:object_r:data_service_file:s0 tclass=dir permissive=1
allow download_server data_service_file:dir { search };
#avc:  denied  { ioctl } for  pid=1574 comm="IPC_2_1581" path="/data/service/el1/public/database/request/request.db" dev="mmcblk0p14" ino=3889 ioctlcmd=0xf50c scontext=u:r:download_server:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
allowxperm download_server data_service_el1_file:file ioctl { 0xf50c 0x5413 };
#avc:  denied  { open } for  pid=1574 comm="download_server" path="/dev/ashmem" dev="tmpfs" ino=230 scontext=u:r:download_server:s0 tcontext=u:object_r:dev_ashmem_file:s0 tclass=chr_file permissive=1
allow download_server dev_ashmem_file:chr_file { open };
#avc:  denied  { call } for  pid=1524 comm="IPC_1_1526" scontext=u:r:download_server:s0 tcontext=u:r:huks_service:s0 tclass=binder permissive=1
allow download_server huks_service:binder { call };
#avc:  denied  { get } for service=3510 pid=1524 scontext=u:r:download_server:s0 tcontext=u:object_r:sa_huks_service:s0 tclass=samgr_class permissive=1
allow download_server sa_huks_service:samgr_class { get };
