# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow sys_installer_sa accesstoken_service:binder { call };
allow sys_installer_sa bootevent_param:file { map open read };
allow sys_installer_sa bootevent_samgr_param:file { map open read };
allow sys_installer_sa build_version_param:file { map open read };
allow sys_installer_sa const_allow_mock_param:file { map open read };
allow sys_installer_sa const_allow_param:file { map open read };
allow sys_installer_sa const_build_param:file { map open read };
allow sys_installer_sa const_display_brightness_param:file { map open read };
allow sys_installer_sa const_param:file { map open read };
allow sys_installer_sa const_postinstall_fstab_param:file { map open read };
allow sys_installer_sa const_postinstall_param:file { map open read };
allow sys_installer_sa const_product_param:file { map open read };
allow sys_installer_sa debug_param:file { map open read };
allow sys_installer_sa default_param:file { map open read };
allow sys_installer_sa distributedsche_param:file { map open read };
allow sys_installer_sa hilog_param:file { map open read };
allow sys_installer_sa hw_sc_build_os_param:file { map open read };
allow sys_installer_sa hw_sc_build_param:file { map open read };
allow sys_installer_sa hw_sc_param:file { map open read };
allow sys_installer_sa init_param:file { map open read };
allow sys_installer_sa init_svc_param:file { map open read };
allow sys_installer_sa input_pointer_device_param:file { map open read };
allow sys_installer_sa kernel:unix_stream_socket { connectto };
allow sys_installer_sa net_param:file { map open read };
allow sys_installer_sa net_tcp_param:file { map open read };
allow sys_installer_sa ohos_boot_param:file { map open read };
allow sys_installer_sa ohos_param:file { map open read };
allow sys_installer_sa ohos_param:parameter_service { set };
allow sys_installer_sa paramservice_socket:sock_file { write };
allow sys_installer_sa param_watcher:binder { call transfer };
allow sys_installer_sa persist_param:file { map open read };
allow sys_installer_sa persist_sys_param:file { map open read };
allow sys_installer_sa sa_accesstoken_manager_service:samgr_class { get };
allow sys_installer_sa sa_param_watcher:samgr_class { get };
allow sys_installer_sa sa_sys_installer_service:samgr_class { add };
allow sys_installer_sa security_param:file { map open read };
allow sys_installer_sa startup_param:file { map open read };
allow sys_installer_sa startup_param:parameter_service { set };
allow sys_installer_sa sys_param:file { map open read };
allow sys_installer_sa system_bin_file:dir { search };
allow sys_installer_sa sys_usb_param:file { map open read };
allow sys_installer_sa tracefs:dir { search };
allow sys_installer_sa tracefs_trace_marker_file:file { open write };

allow sys_installer_sa data_file:dir { search };
allow sys_installer_sa data_ota_package:dir { add_name search write remove_name };
allow sys_installer_sa data_ota_package:dir { append ioctl open read };
allow sys_installer_sa data_ota_package:file { append create ioctl open read write rename unlink getattr };
allow sys_installer_sa data_file:dir { getattr };
allow sys_installer_sa data_updater_file:dir { add_name search write remove_name getattr };
allow sys_installer_sa data_updater_file:dir { append ioctl open read };
allow sys_installer_sa data_updater_file:file { append create ioctl open read write rename unlink getattr setattr relabelfrom };
allow sys_installer_sa ohos_dev_param:file { read };
allow sys_installer_sa sh:binder { call };
allow sys_installer_sa tmpfs:chr_file { read };
allow sys_installer_sa update_firmware_file:dir { add_name search write remove_name getattr append ioctl open read };
allowxperm sys_installer_sa update_firmware_file:dir ioctl { 0x5413 };
allow sys_installer_sa update_firmware_file:file { append create ioctl open read write rename unlink getattr setattr };
allowxperm sys_installer_sa update_firmware_file:file ioctl { 0x5413 };
