# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#avc:  denied  { add } for service=3302 pid=608 scontext=u:r:bluetooth_service:s0 tcontext=u:object_r:sa_bluetooth_server:s0 tclass=samgr_class permissive=1
allow bluetooth_service sa_bluetooth_server:samgr_class { add };

#avc:  denied  { call } for pid=293 comm="bluetooth_servi" scontext=u:r:bluetooth_service:s0 tcontext=u:r:audio_policy:s0 tclass=binder permissive=1
#avc:  denied  { transfer } for pid=310 comm="bluetooth_servi" scontext=u:r:bluetooth_service:s0 tcontext=u:r:audio_policy:s0 tclass=binder permissive=1
allow bluetooth_service audio_policy:binder { call transfer };

#avc:  denied  {search} for pid=371 comm="threaded-ml" name="data" dev="mmcblk0p7" ino=1436162 scontext=u:r:bluetooth_service:s0 tcontext=u:object_r:data_bluetooth:s0 tclass=dir permissive=1
allow bluetooth_service data_bluetooth:dir { search };

#avc:  denied  { getattr } for pid=371 comm="threaded-ml" path="/data/data/.pulse_dir/state" dev="mmcblk0p7" ino=1436167 scontext=u:r:bluetooth_service:s0 tcontext=u:object_r:data_data_pudata_bluetoothlse_dir:s0 tclass=file permissive=1
#avc:  denied  { open } for pid=371 comm="threaded-ml" path="/data/data/.pulse_dir/state/cookie" dev="mmcblk0p7" ino=1436170 scontext=u:r:bluetooth_service:s0 tcontext=u:object_r:data_bluetooth:s0 tclass=file permissive=1
#avc:  denied  { read } for pid=371 comm="threaded-ml" name="state" dev="mmcblk0p7" ino=1436167 scontext=u:r:bluetooth_service:s0 tcontext=u:object_r:data_bluetooth:s0 tclass=file permissive=1
allow bluetooth_service data_bluetooth:file { getattr open read };

#avc:  denied  { search } for pid=371 comm="threaded-ml" name="/" dev="mmcblk0p7" ino=2 scontext=u:r:bluetooth_service:s0 tcontext=u:object_r:data_file:s0 tclass=dir permissive=1
allow bluetooth_service data_file:dir { search};

allow bluetooth_service samain_exec:file { entrypoint execute map read };

#avc:  denied  { call } for pid=293 comm="bluetooth_servi" scontext=u:r:bluetooth_service:s0 tcontext=u:r:samgr:s0 tclass=binder permissive=1
#avc:  denied  {transfer} for pid=310 comm="bluetooth_servi" scontext=u:r:bluetooth_service:s0 tcontext=u:r:samgr:s0 tclass=binder permissive=1
allow bluetooth_service samgr:binder { call transfer };

#avc:  denied  { call } for pid=293 comm="bluetooth_servi" scontext=u:r:bluetooth_service:s0 tcontext=u:r:softbus_server:s0 tclass=binder permissive=1
#avc:  denied  {transfer} for pid=310 comm="bluetooth_servi" scontext=u:r:bluetooth_service:s0 tcontext=u:r:softbus_server:s0 tclass=binder permissive=1
allow bluetooth_service softbus_server:binder { call transfer };

allow bluetooth_service tmpfs:lnk_file { read };

allow bluetooth_service vendor_file:file { execute getattr map open read };

#avc:  denied  { get } for service=5100 pid=278 scontext=u:r:bluetooth_service:s0 tcontext=u:r:sa_device_service_manager:s0 tclass=samgr_class permissive=1
allow bluetooth_service sa_device_service_manager:samgr_class { get };

#avc:  denied  { get } for service=hci_interface_service pid=278 scontext=u:r:bluetooth_service:s0 tcontext=u:r:hdf_hci_interface_service:s0 tclass=hdf_devmgr_class permissive=1
allow bluetooth_service hdf_hci_interface_service:hdf_devmgr_class { get };

#avc:  denied  { get } for service=4010 pid=278 scontext=u:r:bluetooth_service:s0 tcontext=u:r:sa_telephony_tel_core_service:s0 tclass=samgr_class permissive=1
allow bluetooth_service sa_telephony_tel_core_service:samgr_class { get };

#avc:  denied  { get } for service=4005 pid=278 scontext=u:r:bluetooth_service:s0 tcontext=u:r:sa_foundation_tel_call_manager:s0 tclass=samgr_class permissive=1
allow bluetooth_service sa_foundation_tel_call_manager:samgr_class { get };

#avc:  denied  { get } for service=4009 pid=348 scotext=u:bluetooth_service:s0 tcontext:u:object_r:sa_foundation_tel_state_registry:s0 tclass=samgr_class permissive=0
allow bluetooth_service sa_foundation_tel_state_registry:samgr_class { get };

#avc:  denied  { get } for pid=279 scontext=u:r:bluetooth_service:s0 tcontext=u:r:hdf_device_manager:s0 tclass=hdf_devmgr_class permissive=1
allow bluetooth_service hdf_device_manager:hdf_devmgr_class { get };

#avc:  denied  { get } for service=1130 pid=8861 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:sa_bluetooth_server:s0 tclass=samgr_class permissive=1
allow system_core_hap sa_bluetooth_server:samgr_class { get };

#avc:  denied  { get } for service=1130 pid=1983 scontext=u:r:sh:s0 tcontext=u:object_r:sa_bluetooth_server:s0 tclass=samgr_class permissive=1
allow sh sa_bluetooth_server:samgr_class { get };

#avc:  denied  { get } for service=1130 pid=2180 scontext=u:r:a2dp_host:s0 tcontext=u:object_r:sa_bluetooth_server:s0 tclass=samgr_class permissive=1
allow a2dp_host sa_bluetooth_server:samgr_class { get };

allow bluetooth_service dev_tun_file:chr_file { open read write ioctl };
allow bluetooth_service bluetooth_service:udp_socket { create ioctl read write shutdown };
allowxperm bluetooth_service bluetooth_service:udp_socket ioctl { 0x8927 0x8914 0x8924 0x891c 0x8916 0x8915 };
allow bluetooth_service bluetooth_service:tun_socket { create ioctl read write shutdown };
allowxperm bluetooth_service dev_tun_file:chr_file ioctl { 0x800454d2 0x400454ca };
allow bluetooth_service bluetooth_service:capability { net_admin };
allow bluetooth_service netmanager:binder { call transfer };
allow bluetooth_service kernel:system { module_request };

allow bluetooth_service dev_uhid_file:chr_file { read write };
allow softbus_server bluetooth_service:fd { use };
allow softbus_server bluetooth_service:unix_stream_socket { read write };
allow softbus_server bluetooth_service:unix_stream_socket { setopt };
allow softbus_server bluetooth_service:unix_stream_socket { shutdown };
allow bluetooth_service data_bluetooth:dir { remove_name };
allow bluetooth_service data_bluetooth:file { rename };
allow bluetooth_service data_bluetooth:file { unlink };
allow bluetooth_service sh:binder { transfer };
allow bluetooth_service sh:binder { call };
allow bluetooth_service dev_uhid_file:chr_file { open };
allow sh bluetooth_service:fd { use };
allow sh bluetooth_service:unix_stream_socket { read write };
allow sh bluetooth_service:unix_stream_socket { setopt };
allow sh bluetooth_service:unix_stream_socket { shutdown };
allow sh bluetooth_service:binder { call };
allow sh bluetooth_service:binder { transfer };
allow bluetooth_service normal_hap_attr:binder { call transfer };
allow normal_hap_attr bluetooth_service:fd { use };

#avc:  denied  { call } for  pid=1934 comm="jsThread-1" scontext=u:r:system_core_hap:s0 tcontext=u:r:bluetooth_service:s0 tclass=binder permissive=0
allow system_core_hap bluetooth_service:binder { call transfer };

#avc:  denied  { call } for  pid=380 comm="1IPC_450" scontext=u:r:bluetooth_service:s0 tcontext=u:r:system_core_hap:s0 tclass=binder permissive=1
allow bluetooth_service system_core_hap:binder { call transfer };

allow bluetooth_service dev_console_file:chr_file { read write };
allow bluetooth_service data_service_file:dir { search };
allow bluetooth_service data_service_el1_file:dir { search open read write add_name remove_name };
allow bluetooth_service data_service_el1_file:file { getattr setattr open read write rename unlink ioctl create};

#avc: denied { getattr } bluetooth_service data_log tclass=file
#avc: denied { setattr } bluetooth_service data_log tclass=file
#avc: denied { unlink } bluetooth_service data_log tclass=file
allow bluetooth_service data_log:file { getattr setattr unlink };

#avc: denied { read } bluetooth_service data_log tclass=dir
#avc: denied { open } bluetooth_service data_log tclass=dir
allow bluetooth_service data_log:dir { read open };

#avc: denied { read } bluetooth_service hdf_bluetooth_audio_session_service tclass=hdf_devmgr_class
#avc: denied { open } bluetooth_service a2dp_host tclass=fd
#avc: denied { open } bluetooth_service sa_foundation_battery_service tclass=samgr_class
allow bluetooth_service hdf_bluetooth_audio_session_service:hdf_devmgr_class { get };
allow bluetooth_service a2dp_host:fd { use };
allow bluetooth_service sa_foundation_battery_service:samgr_class { get };

