# Copyright (c) 2025 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

developer_only(`
allow hdcd sysfs_attr:dir { search };
allow hdcd sysfs_attr:lnk_file {getattr read };
allow hdcd fs_attr:filesystem { getattr };
allow hdcd bms_param:file { map open read };
allow hdcd dev_at_file:chr_file { open read write };
allow hdcd dev_unix_file:sock_file write;
allow hdcd hidebug_private_param:file { map open read };

allow hdcd proc_cpuinfo_file:dir { getattr };
allow hdcd hitrace_param:file { read open map };
allow hdcd sysfs_block_zram:dir { search getattr };
allow hdcd sysfs_leds:dir { search getattr };
allow hdcd bytrace:process { siginh signal rlimitinh transition };
allow hdcd proc_iomem_file:dir { getattr };
allow hdcd init:process { sigchld };
allow hdcd fs_bpf:dir { getattr };
allow hdcd proc_bus_file:dir { getattr };
allow hdcd hiprofiler_cmd_exec:file { getattr ioctl read execute open map };
allow hdcd dev_random_file:chr_file { write append watch_reads getattr ioctl read lock open watch map };
allow hdcd hdcd:lockdown { confidentiality };
allow hdcd edm_writable_param:file { read open map };
allow hdcd hdcd:fifo_file { write append watch_reads getattr ioctl read lock open watch map };
allow hdcd configfs:dir { getattr };
allow hdcd debugfs_transaction_log:dir { getattr };
allow hdcd proc_rkisp_vir0_file:dir { getattr };
allow hdcd sysfs_kernel_notes:dir { search getattr };
allow hdcd proc_file:dir { search getattr };
allow hdcd devpts:dir { getattr };
allow hdcd hisysevent:process { siginh signal rlimitinh transition };
allow hdcd kernel:fd { use };
allow hdcd proc_random:dir { getattr };
allow hdcd hiprofiler_plugins:process { siginh signal rlimitinh transition };
allow hdcd etc_file:lnk_file { read };
allow hdcd key_enable:key { search };
allow hdcd sysfs_suspend_stats:dir { search getattr };
allow hdcd proc_stat_file:dir { getattr };
allow hdcd dev_unix_file:dir { search };
allow hdcd cgroup2:dir { getattr };
allow hdcd proc_dynamic_debug_file:dir { getattr };
allow hdcd proc_mpp_service_file:dir { getattr };
allow hdcd devinfo_type_param:file { read open map };
allow hdcd devinfo_public_param:file { read open map };
allow hdcd sysfs_transparent_hugepage:dir { search getattr };
allow hdcd hiebpf:process { siginh transition rlimitinh };
allow hdcd dev_parameters_file:dir { search getattr };
allow hdcd sysfs_block_loop:dir { search getattr };
allow hdcd inotify:dir { getattr };
allow hdcd telephony_param:file { read open map };
allow hdcd proc_vmstat_file:dir { getattr };
allow hdcd faultloggerd:fd { use };
allow hdcd config_usb_gadget:dir { getattr };
allow hdcd labeledfs:dir { getattr };
allow hdcd pipefs:dir { getattr };
allow hdcd storage_daemon:key { search };
allow hdcd native_daemon:unix_stream_socket { connectto };
allow hdcd samgr_writable_param:file { read open map };
allow hdcd init:unix_stream_socket { read write };
allow hdcd proc_version_file:dir { getattr };
allow hdcd time_param:file { read open map };
allow hdcd bootevent_param:parameter_service { set };
allow hdcd proc_zoneinfo_file:dir { getattr };
allow hdcd device:dir { getattr };
allow hdcd hisysevent_exec:file { execute_no_trans getattr ioctl read execute open map };
allow hdcd data_log_sanitizer_file:dir { write search getattr read add_name open remove_name create setattr };
allow hdcd proc_buddyinfo_file:dir { getattr };
allow hdcd proc_misc_file:dir { getattr };
allow hdcd lib_file:file { getattr read execute open map };
allow hdcd servicectrl_param:file { read open map };
allow hdcd system_etc_file:file { map read open getattr };
allow hdcd init:unix_dgram_socket { sendto };
allow hdcd system_lib_file:dir { search };
allow hdcd data_service_el1_i18n_timezone_file:file { map read open getattr };
allow hdcd data_service_el1_i18n_timezone_file:dir { search read mounton open getattr };
allow hdcd sysfs_wake_lck:dir { search getattr };
allow hdcd hilog_private_param:file { read open map };
allow hdcd selinuxfs:file { getattr };
allow hdcd servicectrl_reboot_param:file { read open map };
allow hdcd proc_loadavg_file:dir { getattr };
allow hdcd sysfs_wakeup_reasons:dir { search getattr };
allow hdcd proc_bluetooth_file:dir { getattr };
allow hdcd native_daemon:process { siginh transition rlimitinh };
allow hdcd i18n_param_tz_override:file { read open map };
allow hdcd accesstoken_perm_param:file { read open map };
allow hdcd hdcd:process { signal setpgid getpgid fork getcap signull sigkill sigstop setcap getsession sigchld setsched getattr getsched setrlimit };
allow hdcd sharefs_appdata_file:dir { getattr };
allow hdcd tracefs_trace_marker_file:dir { getattr };
allow hdcd faultloggerd:unix_stream_socket { connectto };
allow hdcd dev_tun_file:chr_file { read write };
allow hdcd dnsproxy_service:sock_file { read write };
allow hdcd hiprofilerd:unix_stream_socket { connectto };
allow hdcd system_lib_file:lnk_file { read };
allow hdcd proc_interrupts_file:dir { getattr };
allow hdcd hilog_whitelist_file:file { read open getattr };
allow hdcd vendor_file:dir { search getattr };
allow hdcd sysfs_rfkill:dir { search getattr };
allow hdcd debugfs_usb:dir { getattr };
allow hdcd native_daemon:fd { use };
allow hdcd sharefs:dir { getattr };
allow hdcd proc_modules_file:dir { getattr };
allow hdcd selinuxfs:dir { getattr };
allow hdcd sysfs_hungtask_userlist:dir { search getattr };
allow hdcd hdcd:unix_stream_socket { connectto write setopt append listen getattr connect getopt read ioctl lock accept create map bind shutdown };
allow hdcd proc_slabinfo_file:dir { getattr };
allow hdcd sysfs_wakeup:dir { search getattr };
allow hdcd sysfs_block_file:dir { search getattr };
allow hdcd hiprofiler_plugins_exec:file { getattr ioctl read execute open map };
allow hdcd system_file:dir { search getattr };
allow hdcd proc_mounts_file:dir { getattr };
allow hdcd proc_uptime_file:dir { getattr };
allow hdcd dev_null_file:chr_file { write append watch_reads getattr ioctl read lock open watch map };
allow hdcd sysfs_power:dir { search getattr };
allow hdcd debugfs_used:dir { getattr };
allow hdcd debugfs_state:dir { getattr };
allow hdcd sysfs_fs_ext4_features:dir { search getattr };
allow hdcd processdump:process { rlimitinh share siginh transition sigchld };
allow hdcd netsysnative:fd { use };
allow hdcd dev_ashmem_file:chr_file { write append getattr ioctl read lock map };
allow hdcd cgroup:dir { getattr };
allow hdcd sysfs_rtc:dir { search getattr };
allow hdcd hiprofiler_socket:sock_file { unlink write getattr };
allow hdcd rootfs:dir { search getattr };
allow hdcd f2fs_hc_file:dir { search getattr };
allow hdcd tracefs:dir { search getattr };
allow hdcd sockfs:dir { getattr };
allow hdcd proc_filesystems_file:dir { getattr };
allow hdcd hiviewdfx_profiler_param:file { read open map };
allow hdcd debugfs_transactions:dir { getattr };
allow hdcd proc_drop_caches_file:dir { getattr };
allow hdcd i18n_param:file { read open map };
allow hdcd hiprofiler_cmd:unix_stream_socket { connectto };
allow hdcd proc_net:dir { getattr };
allow hdcd proc_cmdline_file:dir { getattr };
allow hdcd tracefs_trace_marker_file:file { read open write append };
allow hdcd proc_meminfo_file:dir { getattr };
allow hdcd proc_swaps_file:dir { getattr };
allow hdcd useriam_fwkready_param:file { read open map };
allow hdcd hidumper:process { siginh signal rlimitinh transition };
allow hdcd proc_cgroups_file:dir { getattr };
allow hdcd hdcd:file { write append watch_reads getattr ioctl read lock open watch map };
allow hdcd dev_binder_file:chr_file { write ioctl read open map };
allow hdcd sys_file:dir { search getattr };
allow hdcd faultloggerd_socket:sock_file { write getattr };
allow hdcd hidumper_exec:file { getattr ioctl read execute open map };
allow hdcd startup_init_param:file { read open map };
allow hdcd sysfs_gadget_usb:dir { search getattr };
allow hdcd rootfs:lnk_file { read getattr };
allow hdcd sys_fs_hmdfs:dir { search getattr };
allow hdcd proc_vmallocinfo_file:dir { getattr };
allow hdcd proc_partitions_file:dir { getattr };
allow hdcd hitrace_exec:file { getattr ioctl read execute open map };
allow hdcd startup_uevent_param:file { read open map };
allow hdcd xts_devattest_authresult_param:file { read open map };
allow hdcd debugfs_failed_transaction_log:dir { getattr };
allow hdcd debugfs_kprobes:dir { getattr };
allow hdcd accessibility_param:file { read open map };
allow hdcd hilog_whitelist_file:dir { search };
allow hdcd proc_max_user_watches:dir { getattr };
allow hdcd lib_file:dir { search };
allow hdcd pstorefs:dir { getattr };
allow hdcd dev_parameters_file:file { watch_reads getattr ioctl read lock open watch map };
allow hdcd epfs:dir { getattr };
allow hdcd sysfs_devices_system_cpu:dir { search getattr };
allow hdcd mqueue:dir { getattr };
allow hdcd hilog_input_socket:sock_file { write };
allow hdcd hdcd:unix_dgram_socket { create write connect };
allow hdcd tmpfs:file { map read write };
allow hdcd proc_softirqs_file:dir { getattr };
allow hdcd chipset_init:fd { use };
allow hdcd debugfs_wakeup_sources:dir { getattr };
allow hdcd proc_pagetypeinfo_file:dir { getattr };
allow hdcd shm:dir { getattr };
allow hdcd hiebpf_exec:file { getattr ioctl read execute open map };
allow hdcd sysfs_switch:dir { search getattr };
allow hdcd hiprofiler_cmd:process { siginh transition rlimitinh };
allow hdcd fuse_file:dir { getattr };
allow hdcd dlp_fuse_file:dir { getattr };
allow hdcd processdump_exec:file { getattr ioctl read execute open map };
allow hdcd debugfs_stats:dir { getattr };
allow hdcd proc_kmsg_file:dir { getattr };
allow hdcd sysfs_fs_f2fs:dir { search getattr };
allow hdcd hisysevent_socket:sock_file { write };
allow hdcd data_log_sanitizer_file:file { write append ioctl read open rename unlink create getattr };
allow hdcd proc_fs_file:dir { getattr };
allow hdcd sharefs_appdata_bundle_file:dir { getattr };
allow hdcd bytrace_exec:file { getattr ioctl read execute open map };
allow hdcd hiperf_exec:file { getattr ioctl read execute open map };
allow hdcd startup_appspawn_param:file { read open map };
allow hdcd hiprofilerd_exec:file { getattr ioctl read execute open map };
allow hdcd sysfs_transparent_hugepage:file { read open };
allow hdcd system_etc_file:dir { read search open getattr };
allow hdcd hiperf:process { siginh signal rlimitinh transition };
allow hdcd const_i18n_param:file { read open map };
allow hdcd proc_sysrq_trigger_file:dir { getattr };
allow hdcd inputmethod_param:file { read open map };
allow hdcd hiprofiler_cmd:fd { use };
allow hdcd system_profile_file:dir { search };
allow hdcd sysfs_net:dir { search getattr };
allow hdcd hitrace:process { siginh signal rlimitinh transition };
allow hdcd proc_timer_list_file:dir { getattr };
allow hdcd dhardware_dm_param:file { read open map };
allow hdcd dev_file:dir { search };
allow hdcd sa_hiview_faultlogger_service:samgr_class { get };
allow hdcd const_telephony_param:file { read open map };
allow hdcd dev_zero_file:chr_file { write append watch_reads getattr ioctl read lock open watch map };
allow hdcd sysfs_autosleep:dir { search getattr };
allow hdcd native_daemon_exec:file { getattr ioctl read execute open map };
allow hdcd debugfs:dir { search getattr };
allow hdcd proc_asound_file:dir { getattr };
allow hdcd proc_panic:dir { getattr };
allow hdcd proc_boot_id:dir { getattr };
allow hdcd hdcd:dir { search watch_reads ioctl read lock open watch getattr };
allow hdcd fwmark_service:sock_file { read write };
allow hdcd proc_gt9xx_config_file:dir { getattr };
allow hdcd proc_config_gz_file:dir { getattr };
allow hdcd sysfs_hisys_file:dir { search getattr };
allow hdcd hook_param:file { read open map };
allow hdcd persist_audio_param:file { read open map };
allow hdcd bluetooth_param:file { read open map };
allow hdcd sysfs_state:dir { search getattr };
allow hdcd sysfs_extcon:dir { search getattr };
allow hdcd dev_encaps:chr_file { read open };
allow hdcd hiprofilerd:process { siginh signal rlimitinh transition };
allow hdcd proc_net_tcp_udp:dir { getattr };
allow hdcd system_lib_file:file { getattr read execute open map };
allow hdcd sysfs_hctosys:dir { search getattr };
allow hdcd proc_diskstats_file:dir { getattr };
allow hdcd pasteboard_param:file { read open map };
allow hdcd proc_keys_file:dir { getattr };
allow hdcd exfat:dir { getattr };
allow hdcd ntfs:dir { getattr };
allow hdcd mnt_external_file:dir { getattr };
allow hdcd hilogd:unix_dgram_socket { sendto };
allow hdcd vfat:dir { getattr };
allow hdcd hdcd:lnk_file { watch_reads getattr ioctl read lock open watch map };
allow hdcd vendor_lib_file:lnk_file { read };
allow hdcd proc_developer_file:dir { getattr };
allow hdcd data_service_el0_file:dir { search };
')

allow hdcd functionfs:dir { getattr };
allow hdcd proc_cpuinfo_file:dir { getattr };
allow hdcd hitrace_param:file { read open map };
allow hdcd sysfs_block_zram:dir { search getattr };
allow hdcd sysfs_leds:dir { search getattr };
allow hdcd proc_iomem_file:dir { getattr };
allow hdcd init:process { sigchld };
allow hdcd fs_bpf:dir { getattr };
allow hdcd proc_bus_file:dir { getattr };
allow hdcd hiprofiler_cmd_exec:file { getattr ioctl read execute open map };
allow hdcd dev_random_file:chr_file { write append watch_reads getattr ioctl read lock open watch map };
allow hdcd tracefs:dir { search getattr };
allow hdcd hdcd:lockdown { confidentiality };
allow hdcd edm_writable_param:file { read open map };
allow hdcd hdcd:fifo_file { write append watch_reads getattr ioctl read lock open watch map };
allow hdcd configfs:dir { getattr };
allow hdcd debugfs_transaction_log:dir { getattr };
allow hdcd proc_rkisp_vir0_file:dir { getattr };
allow hdcd sysfs_kernel_notes:dir { search getattr };
allow hdcd devpts:dir { getattr };
allow hdcd default_param:file { read open map };
allow hdcd hisysevent:process { siginh signal rlimitinh transition };
allow hdcd kernel:fd { use };
allow hdcd proc_random:dir { getattr };
allow hdcd etc_file:lnk_file { read };
allow hdcd key_enable:key { search };
allow hdcd sysfs_suspend_stats:dir { search getattr };
allow hdcd proc_stat_file:dir { getattr };
allow hdcd dev_unix_file:dir { search };
allow hdcd cgroup2:dir { getattr };
allow hdcd proc_dynamic_debug_file:dir { getattr };
allow hdcd proc_mpp_service_file:dir { getattr };
allow hdcd devinfo_type_param:file { read open map };
allow hdcd devinfo_public_param:file { read open map };
allow hdcd sysfs_transparent_hugepage:dir { search getattr };
allow hdcd hiebpf:process { siginh transition rlimitinh };
allow hdcd dev_parameters_file:dir { search getattr };
allow hdcd sysfs_block_loop:dir { search getattr };
allow hdcd vendor_lib_file:file { getattr read execute open map };
allow hdcd inotify:dir { getattr };
allow hdcd telephony_param:file { read open map };
allow hdcd proc_vmstat_file:dir { getattr };
allow hdcd faultloggerd:fd { use };
allow hdcd config_usb_gadget:dir { getattr };
allow hdcd labeledfs:dir { getattr };
allow hdcd pipefs:dir { getattr };
allow hdcd storage_daemon:key { search };
allow hdcd native_daemon:unix_stream_socket { connectto };
allow hdcd samgr_writable_param:file { read open map };
allow hdcd init:unix_stream_socket { read write };
allow hdcd proc_version_file:dir { getattr };
allow hdcd time_param:file { read open map };
allow hdcd hmdfs:dir { getattr };
allow hdcd bootevent_param:parameter_service { set };
allow hdcd proc_zoneinfo_file:dir { getattr };
allow hdcd device:dir { getattr };
allow hdcd data_log_sanitizer_file:dir { write search getattr read add_name open remove_name create setattr };
allow hdcd proc_buddyinfo_file:dir { getattr };
allow hdcd proc_misc_file:dir { getattr };
allow hdcd lib_file:file { getattr read execute open map };
allow hdcd servicectrl_param:file { read open map };
allow hdcd system_etc_file:file { map read open getattr };
allow hdcd init:unix_dgram_socket { sendto };
allow hdcd system_lib_file:dir { search };
allow hdcd data_service_el1_i18n_timezone_file:file { map read open getattr };
allow hdcd data_service_el1_i18n_timezone_file:dir { search read mounton open getattr };
allow hdcd sysfs_wake_lck:dir { search getattr };
allow hdcd hilog_private_param:file { read open map };
allow hdcd selinuxfs:file { getattr };
allow hdcd servicectrl_reboot_param:file { read open map };
allow hdcd proc_loadavg_file:dir { getattr };
allow hdcd sysfs_wakeup_reasons:dir { search getattr };
allow hdcd proc_bluetooth_file:dir { getattr };
allow hdcd native_daemon:process { siginh transition rlimitinh };
allow hdcd musl_param:file { read open map };
allow hdcd i18n_param_tz_override:file { read open map };
allow hdcd accesstoken_perm_param:file { read open map };
allow hdcd hdcd:process { signal setpgid getpgid fork getcap signull sigkill sigstop setcap getsession sigchld setsched getattr getsched setrlimit };
allow hdcd sharefs_appdata_file:dir { getattr };
allow hdcd tracefs_trace_marker_file:dir { getattr };
allow hdcd hiperf:process { siginh transition rlimitinh };
allow hdcd faultloggerd:unix_stream_socket { connectto };
allow hdcd dnsproxy_service:sock_file { read write };
allow hdcd dev_tun_file:chr_file { read write };
allow hdcd hiprofilerd:unix_stream_socket { connectto };
allow hdcd system_lib_file:lnk_file { read };
allow hdcd hook_param:file { read open map };
allow hdcd proc_interrupts_file:dir { getattr };
allow hdcd hitrace:process { siginh transition rlimitinh };
allow hdcd hilog_whitelist_file:file { read open getattr };
allow hdcd sysfs_rfkill:dir { search getattr };
allow hdcd debugfs_usb:dir { getattr };
allow hdcd native_daemon:fd { use };
allow hdcd proc_file:dir { getattr };
allow hdcd sharefs:dir { getattr };
allow hdcd proc_modules_file:dir { getattr };
allow hdcd selinuxfs:dir { getattr };
allow hdcd sysfs_hungtask_userlist:dir { search getattr };
allow hdcd hdcd:unix_stream_socket { connectto write setopt append listen getattr connect getopt read ioctl lock accept create map bind shutdown };
allow hdcd proc_slabinfo_file:dir { getattr };
allow hdcd sysfs_wakeup:dir { search getattr };
allow hdcd sysfs_block_file:dir { search getattr };
allow hdcd hiprofiler_plugins_exec:file { getattr ioctl read execute open map };
allow hdcd proc_mounts_file:dir { getattr };
allow hdcd proc_uptime_file:dir { getattr };
allow hdcd dev_null_file:chr_file { write append watch_reads getattr ioctl read lock open watch map };
allow hdcd sysfs_power:dir { search getattr };
allow hdcd debugfs_used:dir { getattr };
allow hdcd debugfs_state:dir { getattr };
allow hdcd sysfs_fs_ext4_features:dir { search getattr };
allow hdcd processdump:process { rlimitinh share siginh transition sigchld };
allow hdcd netsysnative:fd { use };
allow hdcd dev_ashmem_file:chr_file { write append getattr ioctl read lock map };
allow hdcd cgroup:dir { getattr };
allow hdcd tmpfs:dir { search getattr };
allow hdcd sysfs_rtc:dir { search getattr };
allow hdcd hiprofiler_socket:sock_file { unlink write getattr };
allow hdcd rootfs:dir { search getattr };
allow hdcd f2fs_hc_file:dir { search getattr };
allow hdcd sockfs:dir { getattr };
allow hdcd proc_filesystems_file:dir { getattr };
allow hdcd vendor_lib_file:dir { search };
allow hdcd hiviewdfx_profiler_param:file { read open map };
allow hdcd debugfs_transactions:dir { getattr };
allow hdcd proc_drop_caches_file:dir { getattr };
allow hdcd i18n_param:file { read open map };
allow hdcd proc_net:dir { getattr };
allow hdcd proc_cmdline_file:dir { getattr };
allow hdcd hidumper:process { siginh transition rlimitinh };
allow hdcd system_bin_file:dir { search };
allow hdcd proc_meminfo_file:dir { getattr };
allow hdcd proc_swaps_file:dir { getattr };
allow hdcd useriam_fwkready_param:file { read open map };
allow hdcd init:fd { use };
allow hdcd proc_cgroups_file:dir { getattr };
allow hdcd hdcd:file { write append watch_reads getattr ioctl read lock open watch map };
allow hdcd dev_binder_file:chr_file { write ioctl read open map };
allow hdcd hisysevent_exec:file { getattr ioctl read execute open map };
allow hdcd sys_file:dir { search getattr };
allow hdcd faultloggerd_socket:sock_file { write getattr };
allow hdcd hidumper_exec:file { getattr ioctl read execute open map };
allow hdcd startup_init_param:file { read open map };
allow hdcd sysfs_gadget_usb:dir { search getattr };
allow hdcd rootfs:lnk_file { read getattr };
allow hdcd sys_fs_hmdfs:dir { search getattr };
allow hdcd proc_vmallocinfo_file:dir { getattr };
allow hdcd proc_partitions_file:dir { getattr };
allow hdcd hitrace_exec:file { getattr ioctl read execute open map };
allow hdcd system_file:dir { search };
allow hdcd startup_uevent_param:file { read open map };
allow hdcd xts_devattest_authresult_param:file { read open map };
allow hdcd debugfs_failed_transaction_log:dir { getattr };
allow hdcd debugfs_kprobes:dir { getattr };
allow hdcd accessibility_param:file { read open map };
allow hdcd hilog_whitelist_file:dir { search };
allow hdcd proc_max_user_watches:dir { getattr };
allow hdcd lib_file:dir { search };
allow hdcd data_log:dir { search };
allow hdcd pstorefs:dir { getattr };
allow hdcd epfs:dir { getattr };
allow hdcd dev_parameters_file:file { watch_reads getattr ioctl read lock open watch map };
allow hdcd sysfs_devices_system_cpu:dir { search getattr };
allow hdcd mqueue:dir { getattr };
allow hdcd hilog_input_socket:sock_file { write };
allow hdcd hdcd:unix_dgram_socket { create write connect };
allow hdcd tmpfs:file { map read write };
allow hdcd proc_softirqs_file:dir { getattr };
allow hdcd chipset_init:fd { use };
allow hdcd debugfs_wakeup_sources:dir { getattr };
allow hdcd proc_pagetypeinfo_file:dir { getattr };
allow hdcd hdcd:fd { use };
allow hdcd shm:dir { getattr };
allow hdcd hiebpf_exec:file { getattr ioctl read execute open map };
allow hdcd sysfs_switch:dir { search getattr };
allow hdcd hiprofiler_cmd:process { siginh transition rlimitinh };
allow hdcd fuse_file:dir { getattr };
allow hdcd dlp_fuse_file:dir { getattr };
allow hdcd processdump_exec:file { getattr ioctl read execute open map };
allow hdcd debugfs_stats:dir { getattr };
allow hdcd proc_kmsg_file:dir { getattr };
allow hdcd sysfs_fs_f2fs:dir { search getattr };
allow hdcd hisysevent_socket:sock_file { write };
allow hdcd data_log_sanitizer_file:file { write append ioctl read open rename unlink create getattr };
allow hdcd proc_fs_file:dir { getattr };
allow hdcd sharefs_appdata_bundle_file:dir { getattr };
allow hdcd bytrace_exec:file { getattr ioctl read execute open map };
allow hdcd hiperf_exec:file { getattr ioctl read execute open map };
allow hdcd startup_appspawn_param:file { read open map };
allow hdcd hiprofilerd_exec:file { getattr ioctl read execute open map };
allow hdcd system_etc_file:dir { read search open getattr };
allow hdcd sysfs_transparent_hugepage:file { read open };
allow hdcd const_i18n_param:file { read open map };
allow hdcd proc_sysrq_trigger_file:dir { getattr };
allow hdcd inputmethod_param:file { read open map };
allow hdcd bytrace:process { siginh transition rlimitinh };
allow hdcd hilog_param:file { read open map };
allow hdcd system_profile_file:dir { search };
allow hdcd sysfs_net:dir { search getattr };
allow hdcd proc_timer_list_file:dir { getattr };
allow hdcd dhardware_dm_param:file { read open map };
allow hdcd dev_file:dir { search };
allow hdcd sa_hiview_faultlogger_service:samgr_class { get };
allow hdcd const_telephony_param:file { read open map };
allow hdcd dev_zero_file:chr_file { write append watch_reads getattr ioctl read lock open watch map };
allow hdcd sysfs_autosleep:dir { search getattr };
allow hdcd native_daemon_exec:file { getattr ioctl read execute open map };
allow hdcd hiprofiler_plugins:process { siginh transition rlimitinh };
allow hdcd debugfs:dir { search getattr };
allow hdcd proc_asound_file:dir { getattr };
allow hdcd proc_panic:dir { getattr };
allow hdcd proc_boot_id:dir { getattr };
allow hdcd hdcd:dir { search watch_reads ioctl read lock open watch getattr };
allow hdcd fwmark_service:sock_file { read write };
allow hdcd proc_gt9xx_config_file:dir { getattr };
allow hdcd proc_config_gz_file:dir { getattr };
allow hdcd sysfs_hisys_file:dir { search getattr };
allow hdcd persist_audio_param:file { read open map };
allow hdcd bluetooth_param:file { read open map };
allow hdcd sysfs_state:dir { search getattr };
allow hdcd sysfs_extcon:dir { search getattr };
allow hdcd dev_encaps:chr_file { read open };
allow hdcd proc_net_tcp_udp:dir { getattr };
allow hdcd system_lib_file:file { getattr read execute open map };
allow hdcd sysfs_hctosys:dir { search getattr };
allow hdcd proc_diskstats_file:dir { getattr };
allow hdcd pasteboard_param:file { read open map };
allow hdcd vendor_file:dir { search };
allow hdcd proc_keys_file:dir { getattr };
allow hdcd exfat:dir { getattr };
allow hdcd ntfs:dir { getattr };
allow hdcd mnt_external_file:dir { getattr };
allow hdcd tracefs_trace_marker_file:file { read open write append };
allow hdcd hilogd:unix_dgram_socket { sendto };
allow hdcd lib_file:lnk_file { read };
allow hdcd vfat:dir { getattr };
allow hdcd hdcd:lnk_file { watch_reads getattr ioctl read lock open watch map };
allow hdcd hiprofilerd:process { siginh transition rlimitinh };
allow hdcd vendor_lib_file:lnk_file { read };
allow hdcd proc_developer_file:dir { getattr };
allow hdcd data_service_el0_file:dir { search };

allowxperm hdcd dev_at_file:chr_file ioctl { 0x4101 0x4103 0x4107 };
allowxperm hdcd dev_binder_file:chr_file ioctl { 0x6201 0x6205 0x6208-0x6209 0x621e-0x6220 };
