# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

neverallow { domain -installs debug_only(` -aa ') -bundle_data_app_el1_file developer_only(`-hnp') -hnp_violator -appspawn } data_app_el1_file:file { write };

init_daemon_domain(installs);

allow installs data_app_el1_file:dir { add_name getattr open read remove_name rmdir search write setattr rename reparent };
allow installs data_app_el1_file:file { create getattr ioctl setattr unlink map read rename relabelfrom relabelto };
allow installs data_app_el1_file:lnk_file { unlink rename };
allow installs data_app_el1_file:sock_file { unlink rename };
allow installs data_app_el2_file:dir { add_name create getattr open read remove_name search setattr write rmdir rename };
allow installs data_app_el2_file:lnk_file { unlink rename };
allow installs data_app_el2_file:sock_file { unlink rename };
allow installs data_app_el5_file:dir { add_name create getattr open read remove_name search setattr write rmdir rename };
allow installs data_app_el5_file:lnk_file { unlink rename };
allow installs data_app_el5_file:sock_file { unlink rename };
allow installs data_app_file:dir { search rename };
allow installs data_file:file { getattr open read };
allow installs data_service_el1_file:dir { remove_name search rmdir getattr setattr rename };
allow installs data_service_el1_file:file { create setattr unlink getattr open read rename write ioctl map relabelfrom };
allow installs data_service_el2_file:dir { add_name create open read search setattr write getattr rmdir remove_name rename };
allow installs data_service_el2_hmdfs:dir { getattr setattr rmdir remove_name rename };
allow installs data_service_el2_hmdfs:file { open read unlink getattr setattr rename };
allow installs data_service_el2_hmdfs:lnk_file { unlink rename };
allow installs data_service_el2_hmdfs:sock_file { unlink rename };
allow installs data_service_el5_file:dir { add_name create open read search setattr write getattr rmdir remove_name rename };
allow installs data_service_file:dir { search rename };
allow installs dev_unix_socket:dir { search };
allow installs normal_hap_data_file_attr:dir { getattr open read relabelfrom relabelto remove_name rmdir search setattr write rename };
allow installs normal_hap_data_file_attr:file { open read getattr setattr unlink relabelfrom relabelto rename };
allow installs security:security { check_context };
allow installs selinuxfs:dir { search };
allow installs selinuxfs:file { open read write };
allow installs system_basic_hap_data_file_attr:file { open read getattr setattr unlink relabelfrom relabelto rename };
allow installs system_basic_hap_data_file_attr:dir { open read relabelfrom relabelto remove_name rmdir search getattr setattr write rename };
allow installs system_core_hap_data_file_attr:dir { getattr open read relabelfrom relabelto remove_name rmdir search setattr write rename };
allow installs system_core_hap_data_file_attr:file { create open read getattr setattr unlink relabelfrom relabelto rename };
allow installs system_file:file { getattr open read };
allow installs data_service_el2_share:file { open read getattr setattr unlink rename };
allow installs data_service_el2_share:dir { add_name create open read search remove_name setattr write getattr rmdir rename };
allow installs data_service_el2_share:lnk_file { unlink rename };
allow installs data_service_el2_share:sock_file { unlink rename };
allow installs data_local:file { create getattr ioctl setattr unlink map read open write rename };
allow installs data_local:dir { add_name create setattr getattr open read remove_name rmdir search write rename };
allow installs data_local_arkcache:file { create getattr setattr unlink map read open rename };
allow installs data_local_arkcache:dir { add_name create setattr getattr open read remove_name rmdir search write rename };
allow installs data_local_arkprofile:file { create getattr setattr map open read rename unlink write rename };
allow installs data_local_arkprofile:dir { add_name create setattr getattr open read remove_name rmdir search write rename };
allow installs data_local_arkprofile:lnk_file { unlink rename };
allow installs data_local_arkprofile:sock_file { unlink rename };
allow installs data_app_el1_arkcache:file { create getattr ioctl setattr unlink map read open rename };
allow installs data_app_el1_arkcache:dir { add_name create setattr getattr open read remove_name rmdir search write rename };
allow installs data_app_el1_arkprofile:file { create getattr setattr ioctl map open read rename unlink write rename };
allowxperm installs data_app_el1_arkprofile:file ioctl { 0x5413 };
allow installs data_app_el1_arkprofile:dir { add_name create setattr getattr open read remove_name rmdir search write rename };
allow installs data_app_el1_arkprofile:lnk_file { unlink rename };
allow installs data_app_el1_arkprofile:sock_file { unlink rename };
allow installs data_app_el1_arkstartupcache:dir { relabelto read open remove_name search rmdir write add_name create getattr setattr rw_dir_perms_without_ioctl };
allow installs data_app_el1_arkstartupcache:file { mounton create getattr setattr ioctl map open read rename unlink write };
allowxperm installs data_app_el1_arkstartupcache:file ioctl { 0x5413 };
allow installs data_local_shadercache:file { create setattr getattr map open read rename unlink write rename };
allow installs data_local_shadercache:dir { add_name create setattr getattr open read remove_name rmdir search write rename };
allow installs system_bin_file:file { execute execute_no_trans map read open };
allow appspawn data_local:dir { add_name create mounton search write read open getattr };
allow normal_hap_attr data_local:file { getattr open read map create write };
allow normal_hap_attr data_local:dir { getattr search write add_name };
allow normal_hap_attr arkcompiler_param:file { getattr open read map };
allow normal_hap_attr ark_writeable_param:file { getattr open read map };
allow system_basic_hap_attr data_local:file { getattr open read map create write };
allow system_basic_hap_attr data_local:dir { getattr search write add_name };
allow system_basic_hap_attr arkcompiler_param:file { getattr open read map };
allow system_basic_hap_attr ark_writeable_param:file { getattr open read map };
allow system_core_hap_attr data_local:file { getattr open read map create write };
allow system_core_hap_attr data_local:dir { getattr search write add_name };
allow system_core_hap_attr arkcompiler_param:file { getattr open read map };
allow system_core_hap_attr ark_writeable_param:file { getattr open read map };
allowxperm installs data_app_el1_file:file ioctl { 0x5413 };
allowxperm installs data_service_el1_file:file ioctl 0x5413;
allow installs sa_storage_manager_service:samgr_class { get };
allow installs storage_manager:binder { call };
allow installs data_service_el1_public_print_service_file:dir { remove_name getattr setattr rename };
allow installs data_service_el1_public_print_service_file:file { unlink rename getattr setattr };
allow installs print_driver_exec:dir { remove_name getattr setattr rename };
allow installs print_driver_exec:file { unlink rename getattr setattr };
allow installs dev_console_file:chr_file { read write };
allow installs sysfs_devices_system_cpu:file { read };
allow installs tracefs:dir { search };
allow installs data_app_el1_file:file { ioctl };
allow installs sysfs_devices_system_cpu:file { open };
allow installs kernel:key { search };
allow installs installs:unix_dgram_socket { getopt setopt };
allowxperm installs data_app_el1_file:file ioctl { 0x6601 0x66c8 };
allow installs installs:code_sign { add_cert_chain remove_cert_chain };
allow installs data_service_el0_file:dir { add_name create getattr write open read rmdir remove_name search setattr rename };
allow installs data_service_el0_file:file { create getattr open read unlink write setattr rename };
allow installs dev_code_sign:chr_file { ioctl write write open };
allow installs data_app_el2_file:file { create getattr setattr unlink map read rename relabelfrom relabelto };
allowxperm installs dev_code_sign:chr_file ioctl { 0x6b01 };
allow installs data_app_el3_file:file { create getattr setattr unlink map read rename relabelfrom relabelto };
allow installs data_app_el3_file:dir { add_name create getattr open read relabelfrom remove_name search setattr write rmdir rename };
allow installs data_app_el4_file:file { create getattr setattr unlink map read rename relabelfrom relabelto };
allow installs data_app_el4_file:dir { add_name create getattr open read relabelfrom remove_name search setattr write rmdir rename };
allow installs data_app_el5_file:file { create getattr setattr unlink map read rename relabelfrom relabelto };
allow installs data_app_el5_file:dir { add_name create getattr open read relabelfrom remove_name search setattr write rmdir rename };
allow installs normal_hap_data_file_attr:lnk_file { unlink rename };
allow installs system_basic_hap_data_file_attr:lnk_file { unlink rename };
allow installs system_core_hap_data_file_attr:lnk_file { unlink rename };
allow installs normal_hap_data_file_attr:sock_file { unlink rename };
allow installs system_basic_hap_data_file_attr:sock_file { unlink rename };
allow installs system_core_hap_data_file_attr:sock_file { unlink rename };
allow installs data_service_el1_file:dir { relabelfrom };
allow installs dev_kmsg_file:chr_file { write };
allow installs proc_file:file { getattr };
allow installs normal_hap_data_file_attr:dir { add_name create };
allow installs system_basic_hap_data_file_attr:dir { add_name create };
allow installs system_core_hap_data_file_attr:dir { add_name create };
allow installs dev_block_file:dir { search };
allow installs dev_block_file:lnk_file { read };
allow installs dev_block_volfile:dir { search };
allow installs labeledfs:filesystem { quotaget };
allow installs installs:capability { sys_admin };
allow installs sa_el5_filekey_manager:samgr_class { get };
allow installs el5_filekey_manager:binder { call };
allow installs normal_hap_data_file_attr:dir { ioctl };
allowxperm installs normal_hap_data_file_attr:dir ioctl { 0xf554 };
allow installs system_core_hap_data_file_attr:dir { ioctl };
allowxperm installs system_core_hap_data_file_attr:dir ioctl { 0xf554 };
allow installs system_basic_hap_data_file_attr:dir { ioctl };
allowxperm installs system_basic_hap_data_file_attr:dir ioctl { 0xf554 };
allow installs data_app_el5_file:dir { ioctl };
allowxperm installs data_app_el5_file:dir ioctl { 0xf554 };
allow installs foundation:fd { use };
allow installs normal_hap_data_file:fifo_file { getattr setattr relabelfrom relabelto unlink rename };
allow installs system_basic_hap_data_file:fifo_file { getattr setattr relabelfrom relabelto unlink rename };
allow installs system_core_hap_data_file:fifo_file { getattr setattr relabelfrom relabelto unlink rename };
allow installs normal_hap_data_file_attr:fifo_file { unlink rename };
allow installs system_basic_hap_data_file_attr:fifo_file { unlink rename };
allow installs system_core_hap_data_file_attr:fifo_file { unlink rename };
allow installs data_app_el1_file:fifo_file { unlink rename };
allow installs data_app_el2_file:fifo_file { unlink rename };
allow installs data_app_el3_file:fifo_file { unlink rename };
allow installs data_app_el4_file:fifo_file { unlink rename };
allow installs data_app_el5_file:fifo_file { unlink rename };
allow installs data_service_el2_hmdfs:fifo_file { unlink rename };
allow installs data_service_el2_share:fifo_file { unlink rename };
allow installs data_local_arkprofile:fifo_file { unlink rename };
allow installs data_app_el1_arkprofile:fifo_file { unlink rename };
allow installs faultloggerd:fifo_file { write };
allow installs normal_hap_data_file_attr:lnk_file { getattr read rename };
allow installs system_core_hap_data_file_attr:lnk_file { getattr read rename };
allow installs system_basic_hap_data_file_attr:lnk_file { getattr read rename };
allow installs data_service_el0_file:lnk_file { getattr read rename };
allow installs data_service_el1_file:lnk_file { getattr read rename };
allow installs data_service_el2_file:lnk_file { getattr read rename };
allow installs data_service_el2_hmdfs:lnk_file { getattr read rename };
allow installs data_user_file:lnk_file { getattr read rename };
allow installs data_service_el2_share:lnk_file { getattr read rename };
allow installs unlabeled:dir { add_name ioctl getattr open read relabelfrom remove_name rmdir search setattr write rename };
allow installs unlabeled:fifo_file { getattr relabelfrom rename setattr unlink read };
allow installs unlabeled:file { open read ioctl getattr setattr unlink relabelfrom relabelto rename };
allow installs unlabeled:lnk_file { getattr relabelfrom rename setattr unlink read };
allow installs unlabeled:sock_file { getattr relabelfrom rename setattr unlink read };
allow installs data_hilogd_file:dir { read_dir_perms_without_ioctl unlink relabelto };
allow installs data_hilogd_file:file { read_file_perms_without_ioctl };
allow installs data_log:dir { read_dir_perms_without_ioctl unlink relabelto };
allow installs data_log:file { read_file_perms_without_ioctl };
allow installs data_app_el2_file:file { ioctl open write };
allowxperm installs data_app_el2_file:file ioctl { 0x5413 };
allow installs memmgrservice:binder { call };
allow installs sa_memory_manager_service:samgr_class { get };
