# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow service_router samgr:binder { transfer};
allow service_router foundation:fd { use };
allow service_router sa_foundation_cesfwk_service:samgr_class { get };
allow service_router sa_foundation_bms:samgr_class { get };
allow service_router sa_form_mgr_service:samgr_class { get };
allow service_router system_basic_hap:binder { call transfer };
allow service_router sa_service_router_mgr_service:samgr_class { add };
allow service_router foundation:binder { call transfer};
allow service_router hilog_param:file { map open read };
allow service_router data_file:dir { search };
allow service_router dev_unix_socket:dir { search };
allow service_router system_profile_file:file { getattr read open };
allow service_router data_service_el1_file:dir { search };
allow service_router data_service_el1_file:file { getattr };
allow service_router data_service_file:dir { search };
allow service_router accesstoken_service:binder { call transfer };
allow service_router sa_accesstoken_manager_service:samgr_class { get };
allow service_router sa_accountmgr:samgr_class { get };
allow service_router accountmgr:binder { call transfer};
allow service_router sa_foundation_abilityms:samgr_class { get };
allow service_router normal_hap_attr:binder { call };
allow accountmgr service_router:binder { call transfer};
allow foundation service_router:binder { call transfer};
allow system_core_hap service_router:binder { call transfer };
allow system_basic_hap service_router:binder { call transfer };
allow system_core_hap sa_service_router_mgr_service:samgr_class { get };
allow system_basic_hap sa_service_router_mgr_service:samgr_class { get };
