# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow sh configfs:dir { add_name create search write };
allow sh configfs:file { open write };
allow sh data_app_file:dir { open read search };
allow sh data_data_file:dir { open remove_name rmdir };
allow sh data_file:dir { add_name create setattr write rmdir};
allow sh data_file:file { create ioctl setattr write };
allow sh data_local_tmp:dir { open read };
allow sh data_local_tmp:file { setattr };
allow sh data_service_el1_file:dir { getattr search };
allow sh data_service_el1_file:file { getattr ioctl open };
allow sh data_service_file:dir { search };
allow sh dev_kmsg_file:chr_file { open read };
allow sh distributeddata:binder { call transfer };
allow sh distributedsche_param:file { map open read };
allow sh hilog_control_socket:sock_file { write };
allow sh hilog_exec:file { execute execute_no_trans getattr map read open };
allow sh init:unix_stream_socket { connectto };
allow sh kernel:system { syslog_read };
allow sh normal_hap_data_file:dir { getattr open read };
allow sh security:security { check_context };
allow sh selinuxfs:dir { search };
allow sh selinuxfs:file { open read write };
allow sh sh:unix_dgram_socket { getopt setopt };
allow sh sysfs_hctosys:file { open read };
allow sh sysfs_rtc:dir { open read };
allow sh system_basic_hap_data_file:dir { getattr };
allow sh system_core_hap_data_file:dir { getattr open read search };
allow sh tmpfs:file { open write };
allowxperm sh data_file:file ioctl 0x5413;
allowxperm sh data_service_el1_file:file ioctl 0x5413;
