# Copyright (c) 2024 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow powermgr accessibility:binder { call };
allow powermgr accesstoken_service:binder { call };
allow powermgr accountmgr:binder { call };
allow powermgr arkcompiler_param:file { read open getattr map };
allow powermgr audio_server:unix_stream_socket { connectto };
allow powermgr audio_server:fd { use };
allow powermgr audio_server:binder { call transfer };
allow powermgr render_service:binder { call transfer };
allow powermgr sa_render_service:samgr_class { get };
allow powermgr bluetooth_service:binder { call transfer };
allow powermgr bootevent_param:file { map open read };
allow powermgr bootevent_param:parameter_service { set };
allow powermgr bootevent_samgr_param:file { map open read };
allow powermgr bootevent_wms_param:parameter_service { set };
allow powermgr build_version_param:file { map open read };
allow powermgr chip_prod_file:dir { search };
allow powermgr configfs:dir { add_name create open read remove_name rmdir search write };
allow powermgr configfs:file { open write };
allow powermgr const_allow_mock_param:file { map open read };
allow powermgr const_allow_param:file { map open read };
allow powermgr const_build_param:file { map open read };
allow powermgr const_display_brightness_param:file { map open read };
allow powermgr const_param:file { map open read };
allow powermgr const_postinstall_fstab_param:file { map open read };
allow powermgr const_postinstall_param:file { map open read };
allow powermgr const_product_param:file { map open read };
allow powermgr dhardware:binder { call };
allow powermgr data_app_el1_file:dir { search };
allow powermgr data_app_el1_file:file { getattr map read open };
allow powermgr data_app_file:dir { search };
allow powermgr data_data_file:dir { search };
allow powermgr data_data_pulse_dir:dir { getattr open read search };
allow powermgr data_data_pulse_dir:file { lock open read write };
allow powermgr data_file:dir { getattr open read search };
allow powermgr data_file:file { getattr map read open };
allow powermgr data_init_agent:dir { search };
allow powermgr data_service_el1_file:dir { add_name create remove_name search open write getattr rmdir setattr };
allow powermgr data_service_el1_file:file { create getattr setattr ioctl open read write append lock map unlink };
allow powermgr data_service_file:dir { search };
allow powermgr data_storage:dir { search };
allow powermgr debug_param:file { map open read };
allow powermgr default_param:file { map open read };
allow powermgr default_param:file { map open read };
allow powermgr dev_ashmem_file:chr_file { open };
allow powermgr dev_kmsg_file:chr_file { open write };
allow powermgr dev_console_file:chr_file { read write };
allow powermgr dev_unix_socket:dir { search };
allow powermgr dev_unix_socket:sock_file { write };
allow powermgr devinfo_private_param:file { map open read };
allow powermgr distributeddata:binder { call transfer };
allow powermgr distributedsche:binder { call transfer };
allow powermgr distributedsche:fd { use };
allow powermgr distributedsche:file { read open };
allow powermgr distributedsche:dir { search };
allow powermgr distributedsche_param:file { map open read };
allow powermgr distributedsche_param:parameter_service { set };
allow powermgr drm_service:binder { call transfer };
allow powermgr dscreen:binder { call transfer };
allow powermgr edm_sa:binder { call };
allow powermgr exfat:file { read write };
allow powermgr faultloggerd:fifo_file { read };
allow powermgr ffrt_param:file { read open map };
allow powermgr foundation:binder { call transfer };
allow powermgr foundation:unix_dgram_socket { getopt setopt };
allow powermgr powermgr:binder { call transfer };
allow powermgr powermgr:unix_dgram_socket { getopt setopt };
allow powermgr fuse_file:file { read write };
allow powermgr hdcd:binder { transfer };
allow powermgr hdf_devmgr:binder { call transfer };
allow powermgr system_basic_hap:binder { call transfer };
allow powermgr hdf_ext_devmgr:binder { call transfer };
allow powermgr hdf_ext_devmgr:dir { search };
allow powermgr hdf_ext_devmgr:file { getattr open read };
allow powermgr hidumper_service:fd { use };
allow powermgr hidumper_service:fifo_file { write };
allow powermgr hilog_param:file { map open read };
allow powermgr hiview:binder { call transfer };
allow powermgr hiview:unix_dgram_socket { sendto };
allow powermgr hiviewdfx_hiview_param:file { open read };
allow powermgr hmdfs:file { read write };
allow powermgr hw_sc_build_os_param:file { map open read };
allow powermgr hw_sc_build_param:file { map open read };
allow powermgr hw_sc_param:file { map open read };
allow powermgr init:unix_stream_socket { connectto };
allow powermgr init_param:file { map open read };
allow powermgr init_svc_param:file { map open read };
allow powermgr input_pointer_device_param:file { map open read };
allow powermgr inputmethod_service:binder { call };
allow powermgr kernel:unix_stream_socket { connectto };
allow powermgr key_enable:key { search };
allow powermgr media_service:binder { call transfer };
allow powermgr media_service:fd { use };
allow powermgr memmgrservice:binder { call transfer };
allow powermgr multimodalinput:binder { call transfer };
allow powermgr multimodalinput:fd { use };
allow powermgr multimodalinput:unix_stream_socket { read write };
allow powermgr musl_param:file { map open open};
allow powermgr native_socket:sock_file { write };
allow powermgr net_param:file { map open read };
allow powermgr net_tcp_param:file { map open read };
allow powermgr netmanager:binder { call transfer };
allow powermgr sa_net_conn_manager:samgr_class { add get };
allow powermgr ntfs:file { read write };
allow powermgr ohos_boot_param:file { map open read };
allow powermgr ohos_param:file { map open read };
allow powermgr ohos_param:parameter_service { set };
allow powermgr param_watcher:binder { call transfer };
allow powermgr paramservice_socket:sock_file { write };
allow powermgr pasteboard_service:binder { call transfer };
allow powermgr persist_param:file { map open read };
allow powermgr persist_param:parameter_service { set };
allow powermgr persist_sys_param:file { map open read };
allow powermgr power_host:binder { call transfer };
allow powermgr proc_file:file { open read getattr };
allow powermgr resource_schedule_service:binder { call transfer };
allow powermgr riladapter_host:binder { call transfer };
allow powermgr servicectrl_reboot_param:parameter_service { set };
allow powermgr devinfo_private_param:file { map open read };
allow powermgr sa_accesstoken_manager_service:samgr_class { get };
allow powermgr sa_accountmgr:samgr_class { get };
allow powermgr sa_distributeddata_service:samgr_class { get };
allow powermgr sa_foundation_abilityms:samgr_class { get };
allow powermgr sa_foundation_appms:samgr_class { get };
allow powermgr sa_foundation_bms:samgr_class { get };
allow powermgr sa_foundation_cesfwk_service:samgr_class { get };
allow powermgr sa_foundation_devicemanager_service:samgr_class { get };
allow powermgr sa_foundation_dms:samgr_class { get };
allow powermgr sa_foundation_tel_call_manager:samgr_class { get };
allow powermgr sa_foundation_tel_state_registry:samgr_class { get };
allow powermgr sa_foundation_wms:samgr_class { get };
allow powermgr sa_media_service:samgr_class { get };
allow powermgr sa_multimodalinput_service:samgr_class { get };
allow powermgr sa_param_watcher:samgr_class { get };
allow powermgr sa_privacy_service:samgr_class { get };
allow powermgr sa_uri_permission_mgr_service:samgr_class { get };
allow powermgr sa_sensor_service:samgr_class { get };
allow powermgr samgr:binder { call transfer };
allow powermgr security_param:file { map open read };
allow powermgr sensors:binder { call };
allow powermgr servicectrl_param:parameter_service { set };
allow powermgr startup_param:file { map open read };
allow powermgr startup_param:parameter_service { set };
allow powermgr sys_file:dir { open read };
allow powermgr sys_file:file { ioctl open read write getattr };
allow powermgr sys_param:file { map open read };
allow powermgr sys_usb_param:file { map open read };
allow powermgr sysfs_devices_system_cpu:file { open read getattr };
allow powermgr sysfs_hctosys:file { open read };
allow powermgr sysfs_hungtask_userlist:file { open write ioctl getattr };
allow powermgr sysfs_leds:dir { open read };
allow powermgr sysfs_rtc:dir { open read };
allow powermgr system_bin_file:dir { search };
allow powermgr system_etc_power_mode_config_file:file { getattr open read };
allow powermgr system_file:dir { getattr open read };
allow powermgr system_file:file { getattr map open read };
allow powermgr system_lib_file:dir { getattr };
allow powermgr system_usr_file:dir { search };
allow powermgr system_usr_file:file { getattr map open read };
allow powermgr system_basic_hap_attr:binder { call transfer };
allow powermgr system_basic_hap_attr:fd { use };
allow powermgr system_basic_hap_attr:process { sigkill signal };
allow powermgr system_basic_hap_data_file_attr:file { read };
allow powermgr system_core_hap_attr:binder { call transfer };
allow powermgr system_core_hap_attr:dir { search };
allow powermgr system_core_hap_attr:file { getattr open read };
allow powermgr system_core_hap_attr:process { sigkill signal };
allow powermgr system_core_hap_data_file_attr:file { read };
allow powermgr system_core_hap_attr:unix_stream_socket { read write };
allow powermgr system_core_hap_attr:fd { use };
allow powermgr time_service:binder { call transfer };
allow powermgr telephony_sa:binder { call transfer };
allow powermgr sa_time_service:samgr_class { get };
allow powermgr token_sync_service:binder { call };
allow powermgr tracefs:dir { search };
allow powermgr tracefs_trace_marker_file:file { open write };
allow powermgr ui_service:binder { call transfer};
allow powermgr useriam:binder { call transfer };
allow powermgr vendor_etc_file:dir { search };
allow powermgr vendor_etc_file:file { getattr open read };
allow powermgr vendor_lib_file:dir { search };
allow powermgr vendor_lib_file:file { read };
allow powermgr vfat:file { read write };
allow powermgr wifi_manager_service:binder { call transfer };
allow powermgr wukong:binder { call transfer };
allowxperm powermgr data_service_el1_file:file ioctl { 0x5413 0xf50c };
allowxperm powermgr sys_file:file ioctl { 0x5413 };
