# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
allow hap_domain sharefs:file { read open getattr write append map };
allow hap_domain data_service_el2_share:file { read open getattr write append map };
allow hap_domain sharefs:dir { read open getattr search };
allow hap_domain data_service_el2_share:dir { read open getattr search };
allow hap_domain sa_filemanagement_backup_service_service:samgr_class { get };
allow hap_domain system_bin_file:file { execute execute_no_trans getattr map read open };
allow hap_domain system_bin_file:lnk_file { read };
allow hap_domain backup_sa:binder { call };
allow hap_domain data_service_el2_file:dir { read write add_name create getattr open remove_name rmdir search setattr };
allow hap_domain data_service_el2_file:file { getattr create write read open unlink setattr };
