# Copyright (c) 2026 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type disk_manager, sadomain, domain;

# avc: denied { add } for pid=8196, comm="/system/bin/sa_main"  scontext=u:r:disk_manager:s0 tcontext=u:r:sa_disk_manager_service:s0 tclass=samgr_class permissive=0
allow disk_manager sa_disk_manager_service:samgr_class { add };

# avc: denied { get } for pid=8196, comm="/system/bin/sa_main"  scontext=u:r:disk_manager:s0 tcontext=u:r:sa_storage_manager_daemon:s0 tclass=samgr_class permissive=0
allow disk_manager sa_storage_manager_daemon:samgr_class { get };

# avc: denied { call } for pid=8196, comm="/system/bin/sa_main"  scontext=u:r:disk_manager:s0 tcontext=u:r:storage_daemon:s0 tclass=binder permissive=0
allow disk_manager storage_daemon:binder { call };

# avc: denied { get } for pid=7689, comm="/system/bin/sa_main"  scontext=u:r:disk_manager:s0 tcontext=u:r:sa_foundation_cesfwk_service:s0 tclass=samgr_class permissive=0
allow disk_manager sa_foundation_cesfwk_service:samgr_class { get };

# avc: denied { call } for pid=7689, comm="/system/bin/sa_main"  scontext=u:r:disk_manager:s0 tcontext=u:r:foundation:s0 tclass=binder permissive=0
allow disk_manager foundation:binder { call };

# avc: denied { search } for pid=7312, comm="/system/bin/sa_main"  scontext=u:r:disk_manager:s0 tcontext=u:r:dev_unix_socket:s0 tclass=dir permissive=0
allow disk_manager dev_unix_socket:dir { search };

# avc: denied { search } for pid=3567, comm="/system/bin/sa_main"  name="/external" dev="tmpfs" ino=2 scontext=u:r:disk_manager:s0 tcontext=u:object_r:mnt_external_file:s0 tclass=dir permissive=0
allow disk_manager mnt_external_file:dir { search };

# avc:  denied  { ioctl } for  pid=267 comm="IPC_2_767" path="/data/service/el1/public/disk_manager" dev="mmcblk0p14" ino=70 ioctlcmd=0xf546/ scontext=u:r:disk_manager:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=dir permissive=0
allowxperm disk_manager data_service_el1_file:dir ioctl { 0xf546 };
allow disk_manager data_service_el1_file:dir { ioctl create open read remove_name search getattr add_name write };
allowxperm disk_manager data_service_el1_file:file ioctl { 0xf546 };
allow disk_manager data_service_el1_file:file { ioctl create read write getattr setattr lock map open append unlink rename };

# avc: denied { read } for pid=5841, comm="/system/bin/sa_main"  name="" dev="mtpfs" ino=1 scontext=u:r:disk_manager:s0 tcontext=u:object_r:mnt_external_file:s0 tclass=dir permissive=0
allow disk_manager mnt_external_file:dir { read };

# avc: denied { search } for pid=6046, comm="/system/bin/sa_main"  name="/external_fuse" dev="tmpfs" ino=3 scontext=u:r:disk_manager:s0 tcontext=u:object_r:mnt_external_fuse_file:s0 tclass=dir permissive=1
allow disk_manager mnt_external_fuse_file:dir { search };

# avc: denied { use } for pid=679, comm="/system/bin/storage_daemon"  path="/dev/fuse" dev="" ino=17 scontext=u:r:disk_manager:s0 tcontext=u:r:storage_daemon:s0 tclass=fd permissive=1
allow disk_manager storage_daemon:fd { use };
