# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow telephony_sa accesstoken_service:binder call;
allow telephony_sa accountmgr:binder call;
allow telephony_sa chip_prod_file:dir search;
allow telephony_sa data_file:dir search;
allow telephony_sa data_app_el1_file:dir search;
allow telephony_sa data_app_el1_file:file { getattr open read };
allow telephony_sa data_app_file:dir search;
allow telephony_sa data_service_el1_file:dir { add_name create search write getattr remove_name };
allow telephony_sa data_service_el1_file:file { create ioctl open read write getattr setattr rename };
allow telephony_sa data_service_file:dir search;
allow telephony_sa dev_console_file:chr_file { read write };
allow telephony_sa distributeddata:binder { call transfer };
allow telephony_sa distributeddata:fd use;
allow telephony_sa foundation:binder { call transfer };
allow telephony_sa hdf_cellular_radio_ext:hdf_devmgr_class get;
allow telephony_sa init:binder { call transfer };
allow telephony_sa kernel:unix_stream_socket connectto;
allow telephony_sa musl_param:file { map open read };
allow telephony_sa netmanager:binder { call transfer };
allow telephony_sa netsysnative:binder { call transfer };
allow telephony_sa normal_hap_attr:binder { call transfer };
allow telephony_sa normal_hap_attr:fd use;
allow telephony_sa paramservice_socket:sock_file write;
allow telephony_sa persist_param:parameter_service set;
allow telephony_sa privacy_service:binder call;
allow telephony_sa riladapter_host:binder { call transfer };
allow telephony_sa sa_accesstoken_manager_service:samgr_class get;
allow telephony_sa sa_accountmgr:samgr_class get;
allow telephony_sa sa_comm_net_tethering_manager_service:samgr_class get;
allow telephony_sa sa_device_service_manager:samgr_class get;
allow telephony_sa sa_dataobs_mgr_service_service:samgr_class get;
allow telephony_sa sa_distributeddata_service:samgr_class get;
allow telephony_sa sa_foundation_abilityms:samgr_class get;
allow telephony_sa sa_foundation_battery_service:samgr_class get;
allow telephony_sa sa_foundation_bms:samgr_class get;
allow telephony_sa sa_foundation_cesfwk_service:samgr_class get;
allow telephony_sa sa_foundation_powermgr_service:samgr_class get;
allow telephony_sa sa_foundation_tel_call_manager:samgr_class get;
allow telephony_sa sa_foundation_tel_state_registry:samgr_class get;
allow telephony_sa sa_netsys_native_manager:samgr_class get;
allow telephony_sa sa_net_conn_manager:samgr_class get;
allow telephony_sa sa_net_policy_manager:samgr_class get;
allow telephony_sa sa_param_watcher:samgr_class get;
allow telephony_sa sa_privacy_service:samgr_class get;
allow telephony_sa sa_telephony_tel_cellular_call:samgr_class { add get };
allow telephony_sa sa_telephony_tel_cellular_data:samgr_class { add get };
allow telephony_sa sa_telephony_tel_core_service:samgr_class { add get };
allow telephony_sa sa_telephony_tel_ims:samgr_class { add get };
allow telephony_sa sa_telephony_tel_sms_mms:samgr_class { add get };
allow telephony_sa sa_time_service:samgr_class get;
allow telephony_sa self:unix_dgram_socket { getopt setopt };
debug_only(`
    allow telephony_sa sh:binder { call transfer };
')
allow telephony_sa sysfs_net:dir { open read };
allow telephony_sa system_basic_hap_attr:binder { call transfer };
allow telephony_sa system_basic_hap_attr:fd use;
allow telephony_sa system_core_hap_attr:binder call;
allow telephony_sa sys_file:dir { open read };
allow telephony_sa sys_file:file { open read };
allow telephony_sa sys_prod_file:dir search;
allow telephony_sa time_service:binder call;
allow telephony_sa vendor_etc_file:dir search;
allow telephony_sa sa_foundation_tel_call_manager:samgr_class get;

#avc:  denied  { get } for service=ril_service pid=317 scontext=u:r:telephony_sa:s0 tcontext=u:object_r:hdf_ril_service:s0 tclass=hdf_devmgr_class permissive=1
allow telephony_sa hdf_ril_service:hdf_devmgr_class get;

allow telephony_sa rootfs:file { read open };
allow telephony_sa vendor_etc_file:file { read open };
allow telephony_sa chip_prod_file:file { read open };
allow telephony_sa sys_prod_file:file { read open };
allow telephony_sa sysfs_net:file { getattr open read };
allow telephony_sa locationhub:binder call;
allow telephony_sa sysfs_devices_system_cpu:file { getattr open read };
