# Copyright (c) 2024 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow resource_schedule_executor resource_schedule_executor:unix_dgram_socket { getopt setopt };
allow resource_schedule_executor sa_resource_schedule_executor:samgr_class { add };
allow resource_schedule_executor chip_prod_file:dir { search };
allow resource_schedule_executor sys_prod_file:dir { search };
allow resource_schedule_executor sys_prod_file:file { open read };
allow resource_schedule_executor dev_unix_socket:dir { search };
allow resource_schedule_executor dev_unix_socket:sock_file { write };
allow resource_schedule_executor data_service_file:dir { search };
allow resource_schedule_executor sys_file:file { getattr write open ioctl create read };
allow resource_schedule_executor sys_file:dir { open read search };
allow resource_schedule_executor system_usr_file:dir { search map };
allow resource_schedule_executor system_usr_file:file { getattr read map open };
allow resource_schedule_executor foundation:binder { call transfer };
allow resource_schedule_executor persist_param:file { map open read };
allow resource_schedule_executor persist_sys_param:file { map open read };
allow resource_schedule_executor ohos_boot_param:file { map open read };
allow resource_schedule_executor debug_param:file { map open read };

allow foundation resource_schedule_executor:binder { call transfer };
allow hidumper_service sa_resource_schedule_executor:samgr_class { get };
allow resource_schedule_service resource_schedule_executor:binder { call };
allow resource_schedule_service sa_resource_schedule_executor:samgr_class { get };

allowxperm resource_schedule_executor sys_file:file ioctl { 0x5413 };
