# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow normal_hap_attr dev_unix_socket:dir { search };
allow normal_hap_attr system_bin_file:dir { search };
allow normal_hap_attr system_bin_file:file { execute read };
allow normal_hap_attr sysfs_devices_system_cpu:file { getattr };
allow normal_hap_attr sysfs_devices_system_cpu:dir { read open };
allow normal_hap_attr sa_update_distributed_service:samgr_class { get };
allow normal_hap_attr updater_sa:binder { call transfer };

