# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


allow softbus_server bluetooth_service:fd { use };
allow softbus_server bluetooth_service:unix_stream_socket { read read write setopt shutdown write };

#avc:  denied  { call } for  pid=496 comm="softbus_server" scontext=u:r:softbus_server:s0 tcontext=u:r:dcamera:s0 tclass=binder permissive=0
allow softbus_server dcamera:binder { call transfer };

allow softbus_server d-bms:binder { call };

#avc:  denied  { transfer } for  pid=558 comm="softbus_server" scontext=u:r:softbus_server:s0 tcontext=u:r:normal_hap:s0 tclass=binder permissive=0
allow softbus_server normal_hap:binder { call transfer };

#avc:  denied  { use } for  pid=1537 comm="com.ohos.settin" path="/dev/ashmem" dev="tmpfs" ino=178 scontext=u:r:softbus_server:s0 tcontext=u:r:normal_hap:s0 tclass=fd permissive=0
allow softbus_server normal_hap:fd { use };

allow softbus_server sa_accesstoken_manager_service:samgr_class { get };
allow softbus_server sa_accountmgr:samgr_class { get };
allow softbus_server sa_bluetooth_server:samgr_class { get };
allow softbus_server sa_foundation_abilityms:samgr_class { get };
allow softbus_server sa_param_watcher:samgr_class { get };
#avc:  denied  { get } for service=3505 pid=532 scontext=u:r:softbus_server:s0 tcontext=u:object_r:sa_privacy_service:s0 tclass=samgr_class permissive=0
allow softbus_server sa_privacy_service:samgr_class { get };
allow softbus_server sa_softbus_service:samgr_class { add get };
allow softbus_server sa_wifi_device_ability:samgr_class { get };
allow softbus_server sa_wifi_hotspot_ability:samgr_class { get };
allow softbus_server sa_wifi_p2p_ability:samgr_class { get };
allow softbus_server sa_wifi_scan_ability:samgr_class { get };
allow softbus_server sh:binder { call };
allow softbus_server sa_foundation_cesfwk_service:samgr_class { get };

#avc:  denied  { call } for  pid=471 comm="softbus_server" scontext=u:r:softbus_server:s0 tcontext=u:r:dscreen:s0 tclass=binder permissive=0
allow softbus_server dscreen:binder { call };

#avc:  denied  { transfer } for  pid=471 comm="softbus_server" scontext=u:r:softbus_server:s0 tcontext=u:r:normal_hap:s0 tclass=binder permissive=0
allow softbus_server normal_hap:binder { transfer };

#avc:  denied  { use } for  pid=1601 comm="com.ohos.settin" path="/dev/ashmem" dev="tmpfs" ino=177 scontext=u:r:softbus_server:s0 tcontext=u:r:normal_hap:s0 tclass=fd permissive=0
allow softbus_server normal_hap:fd { use };

#avc:  denied  { getopt } for  pid=482 comm="THREAD_POOL" scontext=u:r:softbus_server:s0 tcontext=u:r:softbus_server:s0 tclass=tcp_socket permissive=1
allow softbus_server softbus_server:tcp_socket { getopt };

#avc:  denied  { ioctl } for  pid=526 comm="softbus_server" path="socket:[36080]" dev="sockfs" ino=36080 ioctlcmd=0x8933 scontext=u:r:softbus_server:s0 tcontext=u:r:softbus_server:s0 tclass=socket permissive=0
allowxperm softbus_server softbus_server:socket ioctl { 0x8933 };

binder_call(softbus_server, privacy_service);
