# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type d-bms, sadomain, domain;

allow d-bms accessibility_param:file { map open read };
allow d-bms accesstoken_service:binder { call transfer };
allow d-bms accountmgr:binder { call transfer };
allow d-bms data_app_el1_file:dir { search };
allow d-bms data_app_el1_file:file { getattr open read };
allow d-bms data_app_file:dir { search };
allow d-bms data_file:dir { search };
allow d-bms dev_unix_socket:dir { search };
allow d-bms distributedsche_param:file { read };
allow d-bms distributeddata:binder { call transfer };
allow d-bms d-bms:unix_dgram_socket { getopt setopt };
allow d-bms foundation:binder { call transfer};
allow d-bms foundation:fd { use };
allow d-bms sa_accesstoken_manager_service:samgr_class { get };
allow d-bms sa_accountmgr:samgr_class { get };
allow d-bms sa_distributeddata_service:samgr_class { get };
allow d-bms sa_foundation_bms:samgr_class { get };
allow d-bms sa_foundation_cesfwk_service:samgr_class { get };
allow d-bms sa_param_watcher:samgr_class { get };
allow d-bms sa_softbus_service:samgr_class { get };
allow d-bms softbus_server:binder { call transfer };
allow d-bms system_basic_hap:binder { call transfer };
allow d-bms softbus_server:fd { use };
allow d-bms softbus_server:tcp_socket { read write setopt shutdown };
allow d-bms startup_param:file { map open };
allow d-bms sa_distributed_bundle_mgr_service_service:samgr_class { get_remote };
allow d-bms data_service_el1_file:dir { add_name remove_name search write };
allow d-bms data_service_el1_file:file { create ioctl open unlink write write open };
allow d-bms data_service_file:dir { search };
allow init data_udev:sock_file { relabelfrom };
allow accountmgr d-bms:binder { call transfer };
allow distributeddata d-bms:binder { call transfer };
allow foundation d-bms:binder { call transfer };
allow foundation data_service_el1_file:file { ioctl };
