# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow sh configfs:dir { add_name create search write };
allow sh configfs:file { open write };
allow sh d-bms:dir { getattr search };
allow sh d-bms:file { open read };
allow sh data_app_file:dir { search };
allow sh data_file:dir { add_name create setattr write };
allow sh data_file:file { create ioctl setattr write };
allow sh data_service_el1_file:dir { getattr search };
allow sh data_service_el1_file:file { getattr ioctl open };
allow sh data_service_file:dir { search };
allow sh dcamera:dir { getattr search };
allow sh dcamera:file { open read };
allow sh dcamera_host:dir { getattr search };
allow sh dcamera_host:file { open read };
allow sh dev_kmsg_file:chr_file { open open read read };
allow sh dhardware:dir { getattr search };
allow sh dhardware:file { open read };
allow sh distributeddata:binder { call transfer };
allow sh distributedsche_param:file { map map open read open read };
allow sh dscreen:dir { getattr search };
allow sh dscreen:file { open read };
allow sh hilog_control_socket:sock_file { write };
allow sh hilog_exec:file { execute execute execute_no_trans getattr map read open execute_no_trans getattr map read open };
allow sh init:dir { getattr search };
allow sh init:file { open read };
allow sh init:unix_stream_socket { connectto };
allow sh kernel:dir { getattr search };
allow sh kernel:file { open read };
allow sh kernel:system { syslog_read };
allow sh normal_hap_data_file:dir { open read };
allow sh security:security { check_context setsecparam };
allow sh selinuxfs:dir { search };
allow sh selinuxfs:file { open read write };
allow sh sh:unix_dgram_socket { getopt setopt };
allow sh sysfs_hctosys:file { open read };
allow sh sysfs_rtc:dir { open read };
allow sh system_basic_hap_data_file:dir { getattr };
allow sh system_core_hap:dir { getattr search };
allow sh tmpfs:dir { add_name write };
allow sh tmpfs:file { create open open write write write open };
allow sh token_sync_service:dir { getattr search };
allow sh token_sync_service:file { open read };
allow sh watchdog_service:file { open read };
allowxperm sh data_file:file ioctl { 0x5413 };
allowxperm sh data_service_el1_file:file ioctl { 0x5413 };
allow softbus_server normal_hap:binder { transfer };
allow softbus_server normal_hap:fd { use };
