# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow distributeddata accesstoken_service:binder { call };
allow distributeddata accountmgr:binder { call };
allow distributeddata accountmgr:dir { search };
allow distributeddata accountmgr:file { getattr open read };
allow distributeddata audio_policy:binder { call transfer };
allow distributeddata data_app_el1_database_file:dir { add_name create open read remove_name rmdir search setattr write };
allow distributeddata data_app_el1_database_file:file { create getattr ioctl lock map open read rename setattr unlink write };
allow distributeddata data_app_el2_database_file:dir { add_name create open read remove_name rmdir search setattr write };
allow distributeddata data_app_el2_database_file:file { create getattr ioctl lock map open read rename setattr unlink write };
allow distributeddata data_app_el3_database_file:dir { add_name create open read remove_name rmdir search setattr write };
allow distributeddata data_app_el3_database_file:file { create getattr ioctl lock map open read rename setattr unlink write };
allow distributeddata data_app_el4_database_file:dir { add_name create open read remove_name rmdir search setattr write };
allow distributeddata data_app_el4_database_file:file { create getattr ioctl lock map open read rename setattr unlink write };
allow distributeddata data_app_file:dir { search };
allow distributeddata data_file:dir { search };
allow distributeddata data_service_el0_file:dir { search };
allow distributeddata data_service_el1_file:dir { add_name create getattr open read remove_name rmdir search setattr write };
allow distributeddata data_service_el1_file:file { create getattr ioctl lock map open read rename setattr unlink write };
allow distributeddata data_service_el2_file:dir { search };
allow distributeddata data_service_file:dir { search };
allow distributeddata deviceauth_service:binder { call };
allow distributeddata device_manager:binder { call transfer };
allow distributeddata dev_ashmem_file:chr_file { open };
allow distributeddata dev_console_file:chr_file { read write };
allow distributeddata dev_unix_socket:dir { search };
allow distributeddata dev_unix_socket:sock_file { write };
allow distributeddata dhardware:file { getattr };
allow distributeddata distributeddata:dir { search };
allow distributeddata distributeddata:lnk_file { read };
allow distributeddata distributedsche:binder { call transfer };
allow distributeddata distributedsched:binder { call transfer };
allow distributeddata dslm_service:binder { call transfer };
allow distributeddata d-bms:dir { search };
allow distributeddata d-bms:file { getattr open read };
allow distributeddata foundation:binder { call transfer };
allow distributeddata foundation:dir { search };
allow distributeddata foundation:file { getattr open read };
allow distributeddata hdcd:binder { call transfer };
allow distributeddata hdcd:dir { search };
allow distributeddata hdcd:fd { use };
allow distributeddata hdcd:file { open read };
allow distributeddata huks_service:binder { call };
allow distributeddata musl_param:file { open read map };
allow distributeddata normal_hap_attr:binder { call transfer };
allow distributeddata normal_hap_attr:dir { search };
allow distributeddata normal_hap_attr:file { getattr open read };
allow distributeddata normal_hap_data_file_attr:dir { add_name create getattr remove_name rmdir search write };
allow distributeddata normal_hap_data_file_attr:file { create getattr ioctl lock setattr unlink };
allow distributeddata data_service_el2_hmdfs:lnk_file { create open write read getattr };
allow distributeddata hmdfs:dir { search read open ioctl };
allow distributeddata data_service_el2_hmdfs:dir { search read open create };
allow distributeddata proc_file:file { open read };
allow distributeddata sa_accesstoken_manager_service:samgr_class { get };
allow distributeddata sa_accountmgr:samgr_class { get };
allow distributeddata sa_dataobs_mgr_service_service:samgr_class { get };
allow distributeddata sa_distributeddata_service:samgr_class { add get };
allow distributeddata sa_foundation_abilityms:samgr_class { get };
allow distributeddata sa_foundation_devicemanager_service:samgr_class { get };
allow distributeddata sa_filemanagement_cloud_sync_service:samgr_class { get };
allow distributeddata sa_param_watcher:samgr_class { get };
allow distributeddata samain_exec:file { entrypoint execute read };
allow distributeddata samgr:binder { call transfer };
allow distributeddata softbus_server:binder { call transfer };
allow distributeddata softbus_server:tcp_socket { read setopt write };
allow distributeddata sys_file:dir { search };
allow distributeddata system_basic_hap_attr:binder { call transfer };
allow distributeddata system_basic_hap_attr:dir { search };
allow distributeddata system_basic_hap_attr:file { getattr open read };
allow distributeddata system_basic_hap_data_file_attr:dir { getattr open read search write add_name create remove_name rmdir };
allow distributeddata system_basic_hap_data_file_attr:file { getattr ioctl lock map open setattr create unlink read write };
allow distributeddata system_core_hap_attr:dir { search };
allow distributeddata system_core_hap_attr:file { getattr open read };
allow distributeddata system_core_hap_data_file_attr:dir { getattr open read search write add_name create remove_name rmdir };
allow distributeddata system_core_hap_data_file_attr:file { getattr ioctl lock map open setattr create unlink };
allow distributeddata system_etc_file:dir { getattr open read };
allow distributeddata system_profile_file:dir { search };
allow distributeddata telephony_sa:binder { transfer };
allow distributeddata tmpfs:lnk_file { read };
allow distributeddata vendor_file:file { execute getattr map open read };
allow distributeddata vendor_lib_file:dir { search };
allow distributeddata data_app_el1_file:dir { search };
allow distributeddata data_app_el1_file:file { getattr open read };
allowxperm distributeddata data_service_el1_file:file ioctl { 0xf50c 0x5413 };
allowxperm distributeddata data_app_el1_database_file:file ioctl { 0xf50c 0x5413};
allowxperm distributeddata data_app_el2_database_file:file ioctl { 0xf50c 0x5413};
allowxperm distributeddata data_app_el3_database_file:file ioctl { 0xf50c 0x5413};
allowxperm distributeddata data_app_el4_database_file:file ioctl { 0xf50c 0x5413};
allowxperm distributeddata normal_hap_data_file_attr:file ioctl { 0x5413 };
allowxperm distributeddata system_core_hap_data_file_attr:file ioctl 0xf50c;
allowxperm distributeddata system_basic_hap_data_file_attr:file ioctl 0xf50c;
allow distributeddata locationhub:binder { transfer };
allow distributeddata netmanager:binder { transfer };
allow distributeddata accountmgr:binder { transfer };
allow distributeddata bootevent_param:file { map open read };
allow distributeddata bootevent_samgr_param:file { map open read };
allow distributeddata build_version_param:file { map open read };
allow distributeddata const_allow_mock_param:file { map open read };
allow distributeddata const_allow_param:file { map open read };
allow distributeddata const_build_param:file { map open read };
allow distributeddata const_display_brightness_param:file { map open read };
allow distributeddata const_param:file { map open read };
allow distributeddata const_postinstall_fstab_param:file { map open read };
allow distributeddata const_postinstall_param:file { map open read };
allow distributeddata const_product_param:file { map open read };
allow distributeddata data_app_el2_file:dir { search };
allow distributeddata data_service_el0_file:dir { search };
allow distributeddata debug_param:file { map open read };
allow distributeddata default_param:file { map open read };
allow distributeddata dhardware:binder { call transfer };
allow distributeddata dhardware:dir { search };
allow distributeddata dhardware:file { open read };
allow distributeddata distributeddata:unix_dgram_socket { getopt setopt };
allow distributeddata distributedsche:dir { search };
allow distributeddata distributedsche:file { open read };
allow distributeddata distributedsche_param:file { map open read };
allow distributeddata foundation:dir { search };
allow distributeddata foundation:file { open read };
allow distributeddata hilog_param:file { map open read };
allow distributeddata hiview:unix_dgram_socket { sendto };
allow distributeddata hw_sc_build_os_param:file { map open read };
allow distributeddata hw_sc_build_param:file { map open read };
allow distributeddata hw_sc_param:file { map open read };
allow distributeddata init_param:file { map open read };
allow distributeddata init_svc_param:file { map open read };
allow distributeddata input_pointer_device_param:file { map open read };
allow distributeddata net_param:file { map open read };
allow distributeddata net_tcp_param:file { map open read };
allow distributeddata normal_hap_attr:fd { use };
allow distributeddata normal_hap_data_file_attr:dir { getattr open read };
allow distributeddata normal_hap_data_file_attr:file { ioctl map open read write setattr };
allow distributeddata ohos_boot_param:file { map open read };
allow distributeddata ohos_param:file { map open read };
allow distributeddata param_watcher:binder { call transfer };
allow distributeddata persist_param:file { map open read };
allow distributeddata persist_sys_param:file { map open read };
allow distributeddata sa_device_auth_service:samgr_class { get };
allow distributeddata sa_device_security_level_manager_service:samgr_class { get };
allow distributeddata sa_foundation_abilityms:samgr_class { get };
allow distributeddata sa_foundation_bms:samgr_class { get };
allow distributeddata sa_foundation_cesfwk_service:samgr_class { get };
allow distributeddata sa_huks_service:samgr_class { get };
allow distributeddata sa_softbus_service:samgr_class { get };
allow distributeddata security_param:file { map open read };
allow distributeddata softbus_server:fd { use };
allow distributeddata softbus_server:tcp_socket { shutdown };
allow distributeddata startup_param:file { map open read };
allow distributeddata sys_param:file { map open read };
allow distributeddata system_basic_hap_attr:fd { use };
allow distributeddata system_bin_file:dir { search };
allow distributeddata system_core_hap_attr:binder { call transfer };
allow distributeddata system_core_hap_attr:fd { use };
allow distributeddata sys_usb_param:file { map open read };
allow distributeddata tracefs:dir { search };
allow distributeddata tracefs_trace_marker_file:file { open write };
allowxperm distributeddata normal_hap_data_file_attr:file ioctl { 0xf50c };
debug_only(`
allow distributeddata sh:binder { call transfer };
allow distributeddata sh:dir { search };
allow distributeddata sh:fd { use };
allow distributeddata sh:file { getattr open read };
')
allow distributeddata wifi_manager_service:binder { call transfer };
allow distributeddata bluetooth_service:binder { call transfer };
