# Copyright (c) 2026 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# avc:  denied  { add } for service=186 sid=u:r:aimgr:s0 scontext=u:r:aimgr:s0 tcontext=u:object_r:sa_aimgr_climgr:s0 tclass=samgr_class permissive=0
allow aimgr sa_aimgr_climgr:samgr_class { add };

# avc:  denied  { search } for  pid=2479 comm="sa_main" name="socket" dev="tmpfs" ino=43 scontext=u:r:aimgr:s0 tcontext=u:object_r:dev_unix_socket:s0 tclass=dir permissive=1
allow aimgr dev_unix_socket:dir { search };

# avc:  denied  { get } for service=1301 sid=u:r:aimgr:s0 scontext=u:r:aimgr:s0 tcontext=u:object_r:sa_distributeddata_service:s0 tclass=samgr_class
allow aimgr sa_distributeddata_service:samgr_class { get };

# avc: denied { read } for pid=5696, comm="/system/bin/sa_main"  path="/system/bin/cli_tool/configs" dev="overlay" ino=1098 scontext=u:r:aimgr:s0 tcontext=u:object_r:system_bin_file:s0 tclass=dir permissive=0
# avc: denied { open } for pid=23693, comm="/system/bin/sa_main"  path="/system/bin/cli_tool/configs" dev="overlay" ino=1058 scontext=u:r:aimgr:s0 tcontext=u:object_r:system_bin_file:s0 tclass=dir permissive=0
allow aimgr system_bin_file:dir { open read };

# avc: denied { read } for pid=34492, comm="/system/bin/sa_main"  path="/system/bin/cli_tool/configs/ohos-aa.json" dev="overlay" ino=1046 scontext=u:r:aimgr:s0 tcontext=u:object_r:system_bin_file:s0 tclass=file permissive=0
# avc: denied { open } for pid=30480, comm="/system/bin/sa_main"  path="/system/bin/cli_tool/configs/ohos-aa.json" dev="overlay" ino=1051 scontext=u:r:aimgr:s0 tcontext=u:object_r:system_bin_file:s0 tclass=file permissive=0
# avc: denied { getattr } for pid=18167, comm="/system/bin/sa_main"  path="/system/bin/cli_tool/configs/ohos-aa.json" dev="overlay" ino=1055 scontext=u:r:aimgr:s0 tcontext=u:object_r:system_bin_file:s0 tclass=file permissive=0
allow aimgr system_bin_file:file { open read getattr };

# avc:  denied  { call } for pid=11258, comm="/system/bin/sa_main" scontext=u:r:aimgr:s0 tcontext=u:r:distributeddata:s0 tclass=binder permissive=1
# avc:  denied  { transfer } for pid=11258, comm="/system/bin/sa_main" scontext=u:r:aimgr:s0 tcontext=u:r:distributeddata:s0 tclass=binder permissive=1
allow aimgr distributeddata:binder { call transfer };

# avc:  denied  { rmdir } for pid=11754, comm="/system/bin/sa_main" name="/service/el1/public/database/aimgr" scontext=u:r:aimgr:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=dir permissive=1
# avc:  denied  { search } for pid=11754, comm="/system/bin/sa_main" name="/service/el1/public/database/aimgr" scontext=u:r:aimgr:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=dir permissive=1
allow aimgr data_service_el1_file:dir { add_name create getattr open read remove_name search setattr write rmdir };

# avc:  denied  { create } for pid=11258, comm="/system/bin/sa_main" name="/service/el1/public/database/aimgr" scontext=u:r:aimgr:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
allow aimgr data_service_el1_file:file { create getattr setattr ioctl unlink write open read };

# avc:  denied  { 0xf50c } for pid=11258, comm="/system/bin/sa_main" name="/service/el1/public/database/aimgr" ioctlcmd=0xf50c scontext=u:r:aimgr:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=dir permissive=1
# avc:  denied  { 0xf50c } for pid=11258, comm="/system/bin/sa_main" name="/service/el1/public/database/aimgr" ioctlcmd=0xf546 scontext=u:r:aimgr:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=dir permissive=1
# avc:  denied  { 0xf50c } for pid=11258, comm="/system/bin/sa_main" name="/service/el1/public/database/aimgr" ioctlcmd=0xf547 scontext=u:r:aimgr:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=dir permissive=1
allowxperm aimgr data_service_el1_file:file ioctl { 0xf50c 0xf546 0xf547 };

# avc:  denied  { getopt } for pid=11258, comm="/system/bin/sa_main" scontext=u:r:aimgr:s0 tcontext=u:r:aimgr:s0 tclass=unix_dgram_socket permissive=1
# avc:  denied  { setopt } for pid=11258, comm="/system/bin/sa_main" scontext=u:r:aimgr:s0 tcontext=u:r:aimgr:s0 tclass=unix_dgram_socket permissive=1
allow aimgr aimgr:unix_dgram_socket { getopt setopt };

# avc:  denied  { open } for pid=11754, comm="/system/bin/sa_main" path="/dev/kmsg" dev="" scontext=u:r:aimgr:s0 tcontext=u:object_r:dev_kmsg_file:s0 tclass=chr_file permissive=1
# avc:  denied  { write } for pid=11754, comm="/system/bin/sa_main" path="/dev/kmsg" dev="" scontext=u:r:aimgr:s0 tcontext=u:object_r:dev_kmsg_file:s0 tclass=chr_file permissive=1
allow aimgr dev_kmsg_file:chr_file { open write };
