# Copyright (c) 2026 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# avc:  denied  { add } for service=186 sid=u:r:aimgr:s0 scontext=u:r:aimgr:s0 tcontext=u:object_r:sa_aimgr_climgr:s0 tclass=samgr_class permissive=0
allow aimgr sa_aimgr_climgr:samgr_class { add };

# avc:  denied  { search } for  pid=2479 comm="sa_main" name="socket" dev="tmpfs" ino=43 scontext=u:r:aimgr:s0 tcontext=u:object_r:dev_unix_socket:s0 tclass=dir permissive=1
allow aimgr dev_unix_socket:dir { search };

# avc:  denied  { get } for service=1301 sid=u:r:aimgr:s0 scontext=u:r:aimgr:s0 tcontext=u:object_r:sa_distributeddata_service:s0 tclass=samgr_class
allow aimgr sa_distributeddata_service:samgr_class { get };

# avc: denied { read } for pid=5696, comm="/system/bin/sa_main"  path="/system/bin/cli_tool/configs" dev="overlay" ino=1098 scontext=u:r:aimgr:s0 tcontext=u:object_r:system_bin_file:s0 tclass=dir permissive=0
# avc: denied { open } for pid=23693, comm="/system/bin/sa_main"  path="/system/bin/cli_tool/configs" dev="overlay" ino=1058 scontext=u:r:aimgr:s0 tcontext=u:object_r:system_bin_file:s0 tclass=dir permissive=0
allow aimgr system_bin_file:dir { open read };

# avc: denied { read } for pid=34492, comm="/system/bin/sa_main"  path="/system/bin/cli_tool/configs/ohos-aa.json" dev="overlay" ino=1046 scontext=u:r:aimgr:s0 tcontext=u:object_r:system_bin_file:s0 tclass=file permissive=0
# avc: denied { open } for pid=30480, comm="/system/bin/sa_main"  path="/system/bin/cli_tool/configs/ohos-aa.json" dev="overlay" ino=1051 scontext=u:r:aimgr:s0 tcontext=u:object_r:system_bin_file:s0 tclass=file permissive=0
# avc: denied { getattr } for pid=18167, comm="/system/bin/sa_main"  path="/system/bin/cli_tool/configs/ohos-aa.json" dev="overlay" ino=1055 scontext=u:r:aimgr:s0 tcontext=u:object_r:system_bin_file:s0 tclass=file permissive=0
allow aimgr system_bin_file:file { open read getattr };
