# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow sh accessibility:dir { getattr search };
allow sh accessibility:file { read };
allow sh accountmgr:dir { getattr search };
allow sh accountmgr:file { open read };
allow sh appspawn:file { read };
allow sh audio_hdi_server_host:file { read };
allow sh audio_policy:file { read };
allow sh bluetooth_service:dir { getattr search };
allow sh bluetooth_service:file { read };
allow sh camera_host:file { read };
allow sh codec_host:file { read };
allow sh console:file { read };
allow sh data_data_file:dir { add_name create read search setattr write };
allow sh data_file:dir { write };
allow sh dev_kmsg_file:chr_file { open read };
allow sh dev_unix_socket:sock_file { write };
allow sh deviceauth_service:dir { getattr search };
allow sh deviceauth_service:file { read };
allow sh download_server:file { read };
allow sh edm_sa:dir { getattr search };
allow sh edm_sa:file { open read };
allow sh face_auth_host:file { read };
allow sh faceauth:file { read };
allow sh faultloggerd:file { read };
allow sh fingerprint_auth_host:file { read };
allow sh hdf_devmgr:dir { getattr search };
allow sh hdf_devmgr:file { open read };
allow sh hilog_control_socket:sock_file { write };
allow sh hilog_exec:file { execute execute_no_trans getattr map read open };
allow sh hilogd:dir { getattr search };
allow sh hilogd:file { open read };
allow sh hiview:file { read };
allow sh huks_service:dir { getattr search };
allow sh huks_service:file { read };
allow sh init:dir { getattr search };
allow sh init:file { open read };
allow sh init:unix_stream_socket { connectto };
allow sh input_user_host:file { read };
allow sh ispserver:dir { getattr search };
allow sh ispserver:file { open read };
allow sh kernel:dir { getattr search };
allow sh kernel:file { open read };
allow sh kernel:system { syslog_read };
allow sh kernel:unix_stream_socket { connectto };
allow sh light_host:file { read };
allow sh location_host:file { read };
allow sh locationhub:dir { getattr search };
allow sh locationhub:file { read };
allow sh mmi_uinput_service:dir { getattr search };
allow sh mmi_uinput_service:file { open read };
allow sh msdp_sa:file { read };
allow sh multimodalinput:dir { getattr search };
allow sh multimodalinput:file { open };
allow sh param_watcher:file { read };
allow sh paramservice_socket:sock_file { write };
allow sh pasteboard_service:file { read };
allow sh pin_auth_host:file { read };
allow sh pinauth:file { read };
allow sh pulseaudio:dir { getattr search };
allow sh pulseaudio:file { open read };
allow sh rootfs:dir { open read };
allow sh samgr:dir { getattr search };
allow sh samgr:file { open read };
allow sh screenlock_server:file { read };
allow sh security:security { setenforce };
allow sh selinuxfs:dir { search };
allow sh selinuxfs:file { open read write };
allow sh sensor_host:file { read };
allow sh sh_exec:file { execute_no_trans };
allow sh storage_daemon:dir { getattr search };
allow sh storage_daemon:file { open read };
allow sh storage_manager:dir { getattr search };
allow sh storage_manager:file { open read };
allow sh system_file:dir { remove_name write };
allow sh system_file:file { unlink };
allow sh time_service:dir { getattr search };
allow sh time_service:file { read };
allow sh tmpfs:dir { add_name create open read write };
allow sh tmpfs:file { create create getattr open write };
allow sh udevd:dir { getattr search };
allow sh udevd:file { open read };
allow sh ueventd:file { read };
allow sh user_auth_host:file { read };
allow sh vibrator_host:file { read };
allow sh wallpaper_service:file { read };
allow sh watchdog_service:dir { getattr search };
allow sh watchdog_service:file { open read };

