# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow wifi_hal_service data_file:dir { search };
allow wifi_hal_service data_log:file { read write };
allow wifi_hal_service data_service_el1_file:dir { add_name getattr remove_name search write };
allow wifi_hal_service data_service_el1_file:file { create read write open getattr ioctl rename };
allow wifi_hal_service data_service_el1_file:sock_file { create unlink };
allow wifi_hal_service dev_mgr_file:chr_file { getattr };
allow wifi_hal_service dev_unix_socket:dir { search };
allow wifi_hal_service dev_unix_socket:sock_file { write };
allow wifi_hal_service faultloggerd:fd { use };
allow wifi_hal_service faultloggerd:unix_stream_socket { connectto };
allow wifi_hal_service hiview:binder { call };
allow wifi_hal_service kernel:system { module_request };
allow wifi_hal_service node:udp_socket { node_bind };
allow wifi_hal_service port:udp_socket { name_bind };
allow wifi_hal_service sh_exec:file { execute execute_no_trans map read open };
allow wifi_hal_service system_bin_file:dir { search };
allow wifi_hal_service system_bin_file:file { execute execute_no_trans getattr map read open };
allow wifi_hal_service system_bin_file:lnk_file { read };
allow wifi_hal_service tty_device:chr_file { open read write };
allow wifi_hal_service vendor_etc_file:dir { search };
allow wifi_hal_service vendor_etc_file:file { open read };
allow wifi_hal_service vendor_lib_file:dir { search };
allow wifi_hal_service vendor_lib_file:file { execute getattr map open read };
allow wifi_hal_service wifi_hal_service:capability { net_admin net_raw };
allow wifi_hal_service wifi_hal_service_exec:file { entrypoint execute map read };
allow wifi_hal_service wifi_hal_service:netlink_generic_socket { bind create getattr read setopt write };
allow wifi_hal_service wifi_hal_service:netlink_route_socket { bind create nlmsg_write read write };
allow wifi_hal_service wifi_hal_service:packet_socket { bind create ioctl read setopt write };
allow wifi_hal_service wifi_hal_service:udp_socket { bind connect create ioctl read write };
allow wifi_hal_service wifi_hal_service:unix_dgram_socket { ioctl };
allow wifi_hal_service wifi_manager_service:dir { search };
allow wifi_hal_service wifi_manager_service:file { open read };
allow wifi_hal_service wifi_manager_service:process { signal };
allow wifi_hal_service data_service_file:dir { search };
allow wifi_hal_service sa_cert_manager_service:samgr_class { get };
allow wifi_hal_service sa_accesstoken_manager_service:samgr_class { get };
allow wifi_hal_service cert_manager_service:binder { call };
allow wifi_hal_service huks_service:binder { call };
allowxperm wifi_hal_service wifi_hal_service:packet_socket ioctl { 0x8927 0x8933 };
allowxperm wifi_hal_service wifi_hal_service:udp_socket ioctl { 0x8913 0x8914 0x8915 0x8927 };
allowxperm wifi_hal_service wifi_hal_service:unix_dgram_socket ioctl { 0x8933 0x5411 };
allow wifi_hal_service musl_param:file { read };
allow wifi_hal_service data_service_el1_file:file { append };
allow wifi_hal_service musl_param:file { open };
allow wifi_hal_service musl_param:file { map };
allow wifi_hal_service wifi_hal_service:unix_dgram_socket { setattr };
allow wifi_hal_service wifi_hal_service:unix_dgram_socket { bind };
allow wifi_hal_service wifi_hal_service:unix_dgram_socket { sendto };
allow wifi_hal_service wifi_hal_service:unix_dgram_socket { read };
allow wifi_hal_service wifi_hal_service:unix_dgram_socket { getopt };
allow wifi_hal_service wifi_hal_service:unix_dgram_socket { ioctl };
allow wifi_hal_service dev_hdfwifi:chr_file { read open write getattr ioctl };
allow wifi_hal_service data_service_el1_file:sock_file { write setattr getattr unlink};
allow wifi_hal_service data_service_el1_file:dir { create search write getattr add_name };

