# Copyright (c) 2024 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

binder_call(security_guard, samgr);

allow security_guard sa_accesstoken_manager_service:samgr_class { get };

allow security_guard accesstoken_service:binder { call };

allow security_guard data_service_el1_public_security_guard_file:dir { search add_name write };

allow security_guard data_service_el1_public_security_guard_file:file { read create getattr ioctl write open };
allowxperm security_guard data_service_el1_public_security_guard_file:file ioctl { 0x5413 };

allow security_guard data_service_el1_file:file { lock read getattr write map open setattr create ioctl unlink };
allowxperm security_guard data_service_el1_file:file ioctl { 0xf50c };

allow security_guard data_service_el1_file:dir { read search open getattr add_name create write remove_name};

allow security_guard data_file:dir { search };

allow security_guard dev_unix_socket:dir { search };

allow security_guard tracefs:dir { search };

allow security_guard hilog_param:file { read map open };

allow security_guard debug_param:file { map open read };

allow security_guard foundation:binder { call transfer };

allow security_guard sa_foundation_cesfwk_service:samgr_class { get };

allow security_guard data_service_file:dir { search };

allow security_guard system_etc_security_guard_file:file { getattr open read };

allow security_guard dev_ashmem_file:chr_file { open };

allow security_guard self:netlink_kobject_uevent_socket { read create bind };

allow security_guard hiview:binder { call transfer };

allow security_guard system_bin_file:dir { search };

allow security_guard system_bin_file:lnk_file { read };

allow security_guard sa_accountmgr:samgr_class { get };

allow security_guard sa_security_guard_service:samgr_class { get add };

allow security_guard hap_domain:binder { call };

allow security_guard sa_sys_event_service:samgr_class { get };

