# Copyright (c) 2025 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

binder_call(input_hap, dhardware);
binder_call(input_hap, usb_service);
allow input_hap intell_voice_host:fd { use };

allow input_hap appspawn:fifo_file { read };
allow input_hap arkweb_crashpad_handler_exec:file { execute open read execute_no_trans map };
allow input_hap data_app_el1_arkstartupcache:dir { write add_name remove_name search open read };
allow input_hap data_app_el1_arkstartupcache:file { create ioctl write getattr read map open unlink };
allow input_hap dev_bus_usb_file:chr_file { ioctl read write };
allow input_hap dev_usb_accessory_file:chr_file { read write };
allow input_hap hichecker_writable_param:file { map open read };

allow input_hap sa_dhardware_service:samgr_class { get };
allow input_hap sa_ecological_rule_mgr_service:samgr_class { get };

allowxperm input_hap data_app_el1_arkstartupcache:file ioctl { 0x6685 };
allowxperm input_hap dev_bus_usb_file:chr_file ioctl { 0x5500 0x5504 0x5505 0x5508 0x550a 0x550b 0x550d 0x550f 0x5510 0x5511 0x5512 0x5514 0x5515 0x5516 0x5517 0x551a 0x551b 0x551c 0x551d 0x551e 0x551f };

developer_only(`
binder_call(input_hap, aa);
')
