# Copyright (c) 2024 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

binder_call(input_isolate_hap, hap_domain);
binder_call(hap_domain, input_isolate_hap);
developer_only(`
    binder_call(input_isolate_hap, debug_hap);
    binder_call(debug_hap, input_isolate_hap);
')

allow input_isolate_hap system_file:file { open read getattr };

allow input_isolate_hap concurrent_task_service:binder { call };

allow input_isolate_hap normal_hap_data_file_attr:dir { rmdir create setattr getattr write add_name remove_name search open read rename };
allow input_isolate_hap normal_hap_data_file_attr:file { create read write open getattr setattr map append rename unlink lock ioctl };
allowxperm input_isolate_hap normal_hap_data_file_attr:file ioctl { 0x5413 0xf50c 0xf546 };

allow input_isolate_hap ark_profile:file { read open map };

allow input_isolate_hap data_local_arkprofile:dir { search };
allow input_isolate_hap data_app_el1_arkprofile:dir { search };

allow input_isolate_hap hisysevent_socket:sock_file { write };
allow input_isolate_hap hilog_input_socket:sock_file { write };

