# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type device_usage_stats_service, sadomain, domain;

allow device_usage_stats_service data_file:dir { search };
allow device_usage_stats_service data_service_el1_file:dir { open read write search };
allow device_usage_stats_service data_service_el1_file:file { create getattr ioctl lock open read setattr write };
allow device_usage_stats_service data_service_file:dir { search };
allow device_usage_stats_service dev_console_file:chr_file { read write };
allow device_usage_stats_service dev_unix_socket:dir { search };
allow device_usage_stats_service musl_param:file { read open };
allow device_usage_stats_service system_bin_file:dir { search };
allow device_usage_stats_service tmpfs:chr_file { read write };
allow device_usage_stats_service tracefs:dir { search };
allow device_usage_stats_service vendor_bin_file:dir { search };
allow device_usage_stats_service vendor_file:file { execute getattr map open read };
allow hiview device_usage_stats_service:dir { getattr open read search };
allow hiview device_usage_stats_service:file { getattr open read };
allow normal_hap_attr sa_device_usage_statistics_service:samgr_class { get };
allow system_basic_hap sa_device_usage_statistics_service:samgr_class { get };
allow system_core_hap sa_device_usage_statistics_service:samgr_class { get };
allowxperm device_usage_stats_service data_service_el1_file:file ioctl { 0x5413 0xf50c };

#avc:  denied  { get } for service=3301 pid=282 scontext=u:r:device_usage_stats_service:s0 tcontext=u:object_r:sa_foundation_powermgr_service:s0 tclass=samgr_class permissive=1
allow device_usage_stats_service sa_foundation_powermgr_service:samgr_class { get };

binder_call(device_usage_stats_service, accesstoken_service);
binder_call(device_usage_stats_service, accountmgr);
binder_call(device_usage_stats_service, foundation);
binder_call(device_usage_stats_service, system_basic_hap);
binder_call(device_usage_stats_service, system_core_hap);
binder_call(device_usage_stats_service, time_service);
binder_call(normal_hap_attr, device_usage_stats_service);
binder_call(system_core_hap, device_usage_stats_service);
binder_call(system_basic_hap, device_usage_stats_service);
