# Copyright (c) 2026 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# avc:  denied  { get } for service=66528 sid=u:r:debug_hap:s0 scontext=u:r:debug_hap:s0 tcontext=u:object_r:ohos_sa_object_editor_service:s0 tclass=samgr_class
allow debug_hap ohos_sa_object_editor_service:samgr_class { get };

# avc: denied { transfer } for pid=10323, comm="/system/bin/appspawn"  scontext=u:r:debug_hap:s0 tcontext=u:r:ohos_object_editor_service:s0 tclass=binder
# avc: denied { call } for pid=10323, comm="/system/bin/appspawn"  scontext=u:r:debug_hap:s0 tcontext=u:r:ohos_object_editor_service:s0 tclass=binder
allow debug_hap ohos_object_editor_service:binder { transfer call };

# avc: denied { ioctl } for pid=9873, comm="/system/bin/appspawn"  path="/data/storage/el1/bundle/entry/resources/resfile/default_snapshot.png" dev="/dev/block/platform/b0000000.hi_pcie/by-name/userdata" ino=70111 ioctlcmd=0xf207 scontext=u:r:debug_hap:s0 tcontext=u:object_r:data_app_el1_file:s0 tclass=file
allow debug_hap data_app_el1_file:file ioctl;
allowxperm debug_hap data_app_el1_file:file ioctl { 0xf207 };

# avc: denied { ioctl } for pid=9742, comm="/system/bin/appspawn"  path="/data/storage/el2/base/files/007E005D-1E55-6C00-0000-000000017296/snapshot.png" dev="/dev/block/platform/b0000000.hi_pcie/by-name/userdata" ino=73868 ioctlcmd=0xf207 scontext=u:r:debug_hap:s0 tcontext=u:object_r:debug_hap_data_file:s0 tclass=file
allow debug_hap debug_hap_data_file:file ioctl;
allowxperm debug_hap debug_hap_data_file:file ioctl { 0xf207 };

# avc: denied { ioctl } for pid=9873, comm="/system/bin/appspawn"  path="/storage/Users/currentUser/appdata/el2/base/com.huawei.oeclientdemo/files/007E005D-1E55-6C00-0000-000000017296/ole.bin" dev="/mnt/user/100/nosharefs/appdata" ino=73870 ioctlcmd=0x5413 scontext=u:r:debug_hap:s0 tcontext=u:object_r:sharefs_appdata_bundle_file:s0 tclass=file
allow debug_hap sharefs_appdata_bundle_file:file ioctl;
allowxperm debug_hap sharefs_appdata_bundle_file:file ioctl { 0x5413 };
