# Copyright (c) 2026 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# avc:  denied  { get } for service=66528 sid=u:r:normal_hap:s0 scontext=u:r:normal_hap:s0 tcontext=u:object_r:ohos_sa_object_editor_service:s0 tclass=samgr_class
allow hap_domain ohos_sa_object_editor_service:samgr_class { get };

# avc: denied { transfer } for pid=10323, comm="/system/bin/appspawn"  scontext=u:r:normal_hap:s0 tcontext=u:r:ohos_object_editor_service:s0 tclass=binder
# avc: denied { call } for pid=10323, comm="/system/bin/appspawn"  scontext=u:r:normal_hap:s0 tcontext=u:r:ohos_object_editor_service:s0 tclass=binder
allow hap_domain ohos_object_editor_service:binder { transfer call };
