# Copyright (c) 2026 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# avc: denied { siginh } for pid=11026, comm="/system/bin/sa_main"  scontext=u:r:init:s0 tcontext=u:r:ohos_object_editor_service:s0 tclass=process
# avc: denied { transition } for pid=10658, comm="/bin/init"  scontext=u:r:init:s0 tcontext=u:r:ohos_object_editor_service:s0 tclass=process
# avc: denied { rlimitinh } for pid=11026, comm="/system/bin/sa_main"  scontext=u:r:init:s0 tcontext=u:r:ohos_object_editor_service:s0 tclass=process
allow init ohos_object_editor_service:process { rlimitinh siginh transition };

# avc: denied { getattr } for pid=11945, comm="/bin/init"  path="/data/service/el2/public/object_editor_service" dev="/dev/block/platform/b0000000.hi_pcie/by-name/userdata" ino=67549 scontext=u:r:init:s0 tcontext=u:object_r:object_editor_el2_data_file:s0 tclass=dir
# avc: denied { setattr } for pid=11945, comm="/bin/init"  name="/service/el2/public/object_editor_service" dev="/dev/block/platform/b0000000.hi_pcie/by-name/userdata" ino=67549 scontext=u:r:init:s0 tcontext=u:object_r:object_editor_el2_data_file:s0 tclass=dir
# avc: denied { relabelto } for pid=8174, comm="/bin/init"  name="/service/el2/public/object_editor_service" dev="/dev/block/platform/b0000000.hi_pcie/by-name/userdata" ino=42216 scontext=u:r:init:s0 tcontext=u:object_r:object_editor_el2_data_file:s0 tclass=dir
# avc: denied { read } for pid=8174, comm="/bin/init"  path="/data/service/el2/public/object_editor_service" dev="/dev/block/platform/b0000000.hi_pcie/by-name/userdata" ino=42216 scontext=u:r:init:s0 tcontext=u:object_r:object_editor_el2_data_file:s0 tclass=dir
# avc: denied { open } for pid=8174, comm="/bin/init"  path="/data/service/el2/public/object_editor_service" dev="/dev/block/platform/b0000000.hi_pcie/by-name/userdata" ino=42216 scontext=u:r:init:s0 tcontext=u:object_r:object_editor_el2_data_file:s0 tclass=dir
allow init object_editor_el2_data_file:dir { getattr setattr relabelto read open };
