allow accessibility data_file:dir { search };
allow accessibility data_service_el1_file:dir { add_name getattr remove_name search write };
allow accessibility data_service_el1_file:file { create getattr ioctl read rename setattr unlink write open };
allow accessibility data_service_file:dir { search };
allow accessibility dev_unix_socket:dir { search };
allow accessibility foundation:binder { call transfer };
allow accessibility param_watcher:binder { call transfer };
allow accessibility sa_accessibleabilityms:samgr_class { add };
allow accessibility sa_foundation_bms:samgr_class { get };
allow accessibility sa_foundation_cesfwk_service:samgr_class { get };
allow accessibility sa_foundation_dms:samgr_class { get };
allow accessibility sa_foundation_wms:samgr_class { get };
allow accessibility sa_param_watcher:samgr_class { get };
allow accessibility system_basic_hap:binder { call };
allow accessibility system_bin_file:dir { search };
allow accessibility system_usr_file:dir { search };
allow accessibility system_usr_file:file { getattr map open read };
allow accessibility tracefs:dir { search };
allow accessibility tracefs_trace_marker_file:file { open write };
allow accessibility ui_service:binder { call };
allowxperm accessibility data_service_el1_file:file ioctl { 0x5413 };
