# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow accessibility accessibility:unix_dgram_socket { getopt setopt };
allow accessibility accountmgr:binder { call };
allow accessibility bootevent_param:file { map open read };
allow accessibility bootevent_samgr_param:file { map open read };
allow accessibility build_version_param:file { map open read };
allow accessibility const_allow_mock_param:file { map open read };
allow accessibility const_allow_param:file { map open read };
allow accessibility const_build_param:file { map open read };
allow accessibility const_display_brightness_param:file { map open read };
allow accessibility const_param:file { map open read };
allow accessibility const_postinstall_fstab_param:file { map open read };
allow accessibility const_postinstall_param:file { map open read };
allow accessibility const_product_param:file { map open read };
allow accessibility data_file:dir { search };
allow accessibility data_service_el1_file:dir { add_name getattr remove_name search write };
allow accessibility data_service_el1_file:file { create getattr ioctl read rename setattr unlink write open };
allow accessibility data_service_file:dir { search };
allow accessibility debug_param:file { map open read };
allow accessibility default_param:file { map open read };
allow accessibility dev_unix_socket:dir { search };
allow accessibility distributedsche_param:file { map open read };
allow accessibility foundation:binder { call transfer };
allow accessibility hilog_param:file { map open read };
allow accessibility hw_sc_build_os_param:file { map open read };
allow accessibility hw_sc_build_param:file { map open read };
allow accessibility hw_sc_param:file { map open read };
allow accessibility init_param:file { map open read };
allow accessibility init_svc_param:file { map open read };
allow accessibility input_pointer_device_param:file { map open read };
allow accessibility net_param:file { map open read };
allow accessibility net_tcp_param:file { map open read };
allow accessibility normal_hap:binder { call };
allow accessibility ohos_boot_param:file { map open read };
allow accessibility ohos_param:file { map open read };
allow accessibility param_watcher:binder { call transfer };
allow accessibility persist_param:file { map open read };
allow accessibility persist_sys_param:file { map open read };
allow accessibility sa_accessibleabilityms:samgr_class { add };
allow accessibility sa_accountmgr:samgr_class { get };
allow accessibility sa_foundation_bms:samgr_class { get };
allow accessibility sa_foundation_cesfwk_service:samgr_class { get };
allow accessibility sa_foundation_dms:samgr_class { get };
allow accessibility sa_foundation_wms:samgr_class { get };
allow accessibility sa_param_watcher:samgr_class { get };
allow accessibility security_param:file { map open read };
allow accessibility startup_param:file { map open read };
allow accessibility sys_param:file { map open read };
allow accessibility system_basic_hap:binder { call };
allow accessibility system_bin_file:dir { search };
allow accessibility system_core_hap:binder { call };
allow accessibility system_usr_file:dir { search };
allow accessibility system_usr_file:file { getattr map open read };
allow accessibility sys_usb_param:file { map open read };
allow accessibility tracefs:dir { search };
allow accessibility tracefs_trace_marker_file:file { open write };
allow accessibility ui_service:binder { call };
allowxperm accessibility data_service_el1_file:file ioctl { 0x5413 };
allow accessibility system_file:file { map open read getattr };
allow accessibility sys_prod_file:file { map open read getattr };
allow accessibility vendor_bin_file:dir { search };
allow accessibility vendor_file:file { map open read getattr };
allow accessibility chip_prod_file:file { map open read getattr };
allow accessibility data_app_el1_file:file { map open read getattr };