# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow audio_hdi_server_host audio_hdi_server_host:netlink_kobject_uevent_socket { bind create setopt };
allow audio_hdi_server_host bootevent_param:file { map open read };
allow audio_hdi_server_host bootevent_samgr_param:file { map open read };
allow audio_hdi_server_host build_version_param:file { map open read };
allow audio_hdi_server_host const_allow_mock_param:file { map open read };
allow audio_hdi_server_host const_allow_param:file { map open read };
allow audio_hdi_server_host const_build_param:file { map open read };
allow audio_hdi_server_host const_display_brightness_param:file { map open read };
allow audio_hdi_server_host const_param:file { map open read };
allow audio_hdi_server_host const_postinstall_fstab_param:file { map open read };
allow audio_hdi_server_host const_postinstall_param:file { map open read };
allow audio_hdi_server_host const_product_param:file { map open read };
allow audio_hdi_server_host debug_param:file { map open read };
allow audio_hdi_server_host default_param:file { map open read };
allow audio_hdi_server_host dev_hdf_kevent:chr_file { getattr ioctl open read write };
allow audio_hdi_server_host dev_input_file:dir { search };
allow audio_hdi_server_host distributedsche_param:file { map open read };
allow audio_hdi_server_host hdf_audio_hdi_pnp_service:hdf_devmgr_class { add };
allow audio_hdi_server_host hilog_param:file { map open read };
allow audio_hdi_server_host hw_sc_build_os_param:file { map open read };
allow audio_hdi_server_host hw_sc_build_param:file { map open read };
allow audio_hdi_server_host hw_sc_param:file { map open read };
allow audio_hdi_server_host init_param:file { map open read };
allow audio_hdi_server_host init_svc_param:file { map open read };
allow audio_hdi_server_host input_pointer_device_param:file { map open read };
allow audio_hdi_server_host net_param:file { map open read };
allow audio_hdi_server_host net_tcp_param:file { map open read };
allow audio_hdi_server_host ohos_boot_param:file { map open read };
allow audio_hdi_server_host ohos_param:file { map open read };
allow audio_hdi_server_host persist_param:file { map open read };
allow audio_hdi_server_host persist_sys_param:file { map open read };
allow audio_hdi_server_host samgr:binder { call };
allow audio_hdi_server_host security_param:file { map open read };
allow audio_hdi_server_host startup_param:file { map open read };
allow audio_hdi_server_host sys_param:file { map open read };
allow audio_hdi_server_host sys_usb_param:file { map open read };
allowxperm audio_hdi_server_host dev_hdf_kevent:chr_file ioctl { 0x6203 };
