# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow battery_stats bootevent_param:file { map open read };
allow battery_stats bootevent_samgr_param:file { map open read };
allow battery_stats build_version_param:file { map open read };
allow battery_stats const_allow_mock_param:file { map open read };
allow battery_stats const_allow_param:file { map open read };
allow battery_stats const_build_param:file { map open read };
allow battery_stats const_display_brightness_param:file { map open read };
allow battery_stats const_param:file { map open read };
allow battery_stats const_postinstall_fstab_param:file { map open read };
allow battery_stats const_postinstall_param:file { map open read };
allow battery_stats const_product_param:file { map open read };
allow battery_stats data_file:dir { search };
allow battery_stats data_service_el0_file:dir { search };
allow battery_stats data_service_file:dir { search };
allow battery_stats data_system:dir { search };
allow battery_stats debug_param:file { map open read };
allow battery_stats default_param:file { map open read };
allow battery_stats dev_unix_socket:dir { search };
allow battery_stats foundation:binder { call transfer };
allow battery_stats hilog_param:file { map open read };
allow battery_stats hiview:binder { call transfer };
allow battery_stats hw_sc_build_os_param:file { map open read };
allow battery_stats hw_sc_build_param:file { map open read };
allow battery_stats hw_sc_param:file { map open read };
allow battery_stats init_param:file { map open read };
allow battery_stats init_svc_param:file { map open read };
allow battery_stats input_pointer_device_param:file { map open read };
allow battery_stats net_param:file { map open read };
allow battery_stats net_tcp_param:file { map open read };
allow battery_stats ohos_boot_param:file { map open read };
allow battery_stats ohos_param:file { map open read };
allow battery_stats param_watcher:binder { call transfer };
allow battery_stats persist_param:file { map open read };
allow battery_stats persist_sys_param:file { map open read };
allow battery_stats security_param:file { map open read };
allow battery_stats startup_param:file { map open read };
allow battery_stats sys_param:file { map open read };
allow battery_stats system_bin_file:dir { search };
allow battery_stats system_etc_batterystats_file:file { open read };
allow battery_stats system_usr_file:dir { search };
allow battery_stats system_usr_file:file { getattr map open read };
allow battery_stats sys_usb_param:file { map open read };
allow battery_stats tracefs:dir { search };
allow battery_stats tracefs_trace_marker_file:file { open write };
