allow bluetooth_service accesstoken_service:binder { call };
allow bluetooth_service bluetooth_service:capability { dac_override };
allow bluetooth_service data_bluetooth:dir { add_name write };
allow bluetooth_service data_bluetooth:file { create ioctl write };
allow bluetooth_service dev_unix_socket:dir { search };
allow bluetooth_service param_watcher:binder { call transfer };
allow bluetooth_service sa_accesstoken_manager_service:samgr_class { get };
allow bluetooth_service sa_param_watcher:samgr_class { get };
allow bluetooth_service system_basic_hap:binder { call transfer };
allow bluetooth_service system_bin_file:dir { search };
allow bluetooth_service tracefs:dir { search };
allow bluetooth_service tracefs_trace_marker_file:file { open write };
allowxperm bluetooth_service data_bluetooth:file ioctl { 0x5413 };
