allow bootanimation bootevent_param:parameter_service { set };
allow bootanimation dev_kmsg_file:chr_file { open write };
allow bootanimation dev_mali:chr_file { getattr ioctl map open read write };
allow bootanimation dev_unix_socket:dir { search };
allow bootanimation disp_gralloc_host:fd { use };
allow bootanimation foundation:binder { call transfer };
allow bootanimation kernel:unix_stream_socket { connectto };
allow bootanimation media_service:binder { call transfer };
allow bootanimation multimodalinput:binder { call };
allow bootanimation multimodalinput:fd { use };
allow bootanimation multimodalinput:unix_stream_socket { read write };
allow bootanimation paramservice_socket:sock_file { write };
allow bootanimation param_watcher:binder { call transfer };
allow bootanimation proc_cpuinfo_file:file { open read };
allow bootanimation render_service:binder { call transfer };
allow bootanimation render_service:fd { use };
allow bootanimation render_service:unix_stream_socket { read read write };
allow bootanimation sa_foundation_dms:samgr_class { get };
allow bootanimation sa_foundation_wms:samgr_class { get };
allow bootanimation sa_media_service:samgr_class { get };
allow bootanimation sa_multimodalinput_service:samgr_class { get };
allow bootanimation sa_param_watcher:samgr_class { get };
allow bootanimation sa_render_service:samgr_class { get };
allow bootanimation system_basic_hap:fd { use };
allow bootanimation system_bin_file:dir { search };
allow bootanimation system_bin_file:file { entrypoint execute map read };
allow bootanimation system_usr_file:dir { search };
allow bootanimation system_usr_file:file { getattr map open read };
allow bootanimation tracefs:dir { search };
allow bootanimation tracefs_trace_marker_file:file { open write };
allowxperm bootanimation dev_mali:chr_file ioctl { 0x8000 0x8001 0x8002 0x8003 0x8004 0x8005 0x8006 0x8007 0x800e 0x8011 0x8016 0x8018 0x8019 0x801d 0x801e 0x8026 };
