# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow bootanimation bootevent_param:file { map open read };
allow bootanimation bootevent_param:parameter_service { set };
allow bootanimation bootevent_samgr_param:file { map open read };
allow bootanimation build_version_param:file { map open read };
allow bootanimation const_allow_mock_param:file { map open read };
allow bootanimation const_allow_param:file { map open read };
allow bootanimation const_build_param:file { map open read };
allow bootanimation const_display_brightness_param:file { map open read };
allow bootanimation const_param:file { map open read };
allow bootanimation const_postinstall_fstab_param:file { map open read };
allow bootanimation const_postinstall_param:file { map open read };
allow bootanimation const_product_param:file { map open read };
allow bootanimation debug_param:file { map open read };
allow bootanimation default_param:file { map open read };
allow bootanimation dev_kmsg_file:chr_file { open write };
allow bootanimation dev_mali:chr_file { getattr ioctl map open read write };
allow bootanimation dev_unix_socket:dir { search };
allow bootanimation disp_gralloc_host:fd { use };
allow bootanimation allocator_host:fd { use };
allow bootanimation distributedsche_param:file { map open read };
allow bootanimation foundation:binder { call transfer };
allow bootanimation hilog_param:file { map open read };
allow bootanimation hw_sc_build_os_param:file { map open read };
allow bootanimation hw_sc_build_param:file { map open read };
allow bootanimation hw_sc_param:file { map open read };
allow bootanimation init_param:file { map open read };
allow bootanimation init_svc_param:file { map open read };
allow bootanimation input_pointer_device_param:file { map open read };
allow bootanimation kernel:unix_stream_socket { connectto };
allow bootanimation media_service:binder { call transfer };
allow bootanimation multimodalinput:binder { call };
allow bootanimation multimodalinput:fd { use };
allow bootanimation multimodalinput:unix_stream_socket { read write };
allow bootanimation net_param:file { map open read };
allow bootanimation net_tcp_param:file { map open read };
allow bootanimation ohos_boot_param:file { map open read };
allow bootanimation ohos_param:file { map open read };
allow bootanimation paramservice_socket:sock_file { write };
allow bootanimation param_watcher:binder { call transfer };
allow bootanimation persist_param:file { map open read };
allow bootanimation persist_sys_param:file { map open read };
allow bootanimation proc_cpuinfo_file:file { open read };
allow bootanimation render_service:binder { call transfer };
allow bootanimation render_service:fd { use };
allow bootanimation render_service:unix_stream_socket { read read write };
allow bootanimation sa_foundation_dms:samgr_class { get };
allow bootanimation sa_foundation_wms:samgr_class { get };
allow bootanimation sa_media_service:samgr_class { get };
allow bootanimation sa_multimodalinput_service:samgr_class { get };
allow bootanimation sa_param_watcher:samgr_class { get };
allow bootanimation sa_render_service:samgr_class { get };
allow bootanimation security_param:file { map open read };
allow bootanimation startup_param:file { map open read };
allow bootanimation sys_param:file { map open read };
allow bootanimation system_basic_hap:fd { use };
allow bootanimation system_bin_file:dir { search };
allow bootanimation system_bin_file:file { entrypoint execute map read };
allow bootanimation system_usr_file:dir { search };
allow bootanimation system_usr_file:file { getattr map open read };
allow bootanimation sys_usb_param:file { map open read };
allow bootanimation tracefs:dir { search };
allow bootanimation tracefs_trace_marker_file:file { open write };
allowxperm bootanimation dev_mali:chr_file ioctl { 0x8000 0x8001 0x8002 0x8003 0x8004 0x8005 0x8006 0x8007 0x800e 0x8011 0x8016 0x8018 0x8019 0x801d 0x801e 0x8024 0x8025 0x8026 0x8027 0x800f 0x8029 0x802a 0x8031 0x802b 0x802c 0x802d 0x802e 0x802f 0x8030 0x8033 0x8034 0x8036};
allow bootanimation chip_prod_file:dir { search };
allow bootanimation sys_prod_file:dir { search };
allow bootanimation vendor_bin_file:dir { search };
allow bootanimation vendor_etc_file:dir { search };
allow bootanimation chip_prod_file:file { map open read getattr };
allow bootanimation sys_prod_file:file { map open read getattr };
allow bootanimation vendor_etc_file:file { map open read getattr };
