allow console dev_console_file:chr_file { getattr ioctl read write };
allow console dev_unix_socket:dir { search };
allow console sh_exec:file { entrypoint execute map read };
allow console system_bin_file:dir { search };
allow console tty_device:chr_file { ioctl open read write };
allowxperm console dev_console_file:chr_file ioctl { 0x5413 };
allowxperm console tty_device:chr_file ioctl { 0x5401 0x5403 0x540f 0x5413 };
