# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow dcamera bootevent_param:file { map open read };
allow dcamera bootevent_samgr_param:file { map open read };
allow dcamera build_version_param:file { map open read };
allow dcamera const_allow_mock_param:file { map open read };
allow dcamera const_allow_param:file { map open read };
allow dcamera const_build_param:file { map open read };
allow dcamera const_display_brightness_param:file { map open read };
allow dcamera const_param:file { map open read };
allow dcamera const_postinstall_fstab_param:file { map open read };
allow dcamera const_postinstall_param:file { map open read };
allow dcamera const_product_param:file { map open read };
allow dcamera dcamera_host:binder { transfer };
allow dcamera debug_param:file { map open read };
allow dcamera default_param:file { map open read };
allow dcamera distributedsche_param:file { map open read };
allow dcamera hilog_param:file { map open read };
allow dcamera hw_sc_build_os_param:file { map open read };
allow dcamera hw_sc_build_param:file { map open read };
allow dcamera hw_sc_param:file { map open read };
allow dcamera init_param:file { map open read };
allow dcamera init_svc_param:file { map open read };
allow dcamera input_pointer_device_param:file { map open read };
allow dcamera net_param:file { map open read };
allow dcamera net_tcp_param:file { map open read };
allow dcamera ohos_boot_param:file { map open read };
allow dcamera ohos_param:file { map open read };
allow dcamera param_watcher:binder { call transfer };
allow dcamera persist_param:file { map open read };
allow dcamera persist_sys_param:file { map open read };
allow dcamera security_param:file { map open read };
allow dcamera startup_param:file { map open read };
allow dcamera sys_param:file { map open read };
allow dcamera system_bin_file:dir { search };
allow dcamera sys_usb_param:file { map open read };
allow dcamera tracefs:dir { search };
allow dcamera tracefs_trace_marker_file:file { open write };
