# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow distributeddata accountmgr:binder { transfer };
allow distributeddata bootevent_param:file { map open read };
allow distributeddata bootevent_samgr_param:file { map open read };
allow distributeddata build_version_param:file { map open read };
allow distributeddata const_allow_mock_param:file { map open read };
allow distributeddata const_allow_param:file { map open read };
allow distributeddata const_build_param:file { map open read };
allow distributeddata const_display_brightness_param:file { map open read };
allow distributeddata const_param:file { map open read };
allow distributeddata const_postinstall_fstab_param:file { map open read };
allow distributeddata const_postinstall_param:file { map open read };
allow distributeddata const_product_param:file { map open read };
allow distributeddata data_app_el2_file:dir { search };
allow distributeddata data_service_el0_file:dir { search };
allow distributeddata debug_param:file { map open read };
allow distributeddata default_param:file { map open read };
allow distributeddata dhardware:binder { call transfer };
allow distributeddata dhardware:dir { search };
allow distributeddata dhardware:file { open read };
allow distributeddata distributeddata:unix_dgram_socket { getopt setopt };
allow distributeddata distributedsche:dir { search };
allow distributeddata distributedsche:file { open read };
allow distributeddata distributedsche_param:file { map open read };
allow distributeddata foundation:dir { search };
allow distributeddata foundation:file { open read };
allow distributeddata hilog_param:file { map open read };
allow distributeddata hiview:unix_dgram_socket { sendto };
allow distributeddata hw_sc_build_os_param:file { map open read };
allow distributeddata hw_sc_build_param:file { map open read };
allow distributeddata hw_sc_param:file { map open read };
allow distributeddata init_param:file { map open read };
allow distributeddata init_svc_param:file { map open read };
allow distributeddata input_pointer_device_param:file { map open read };
allow distributeddata net_param:file { map open read };
allow distributeddata net_tcp_param:file { map open read };
allow distributeddata normal_hap_data_file_attr:dir { getattr open read };
allow distributeddata normal_hap_data_file_attr:file { ioctl map open read write setattr };
allow distributeddata ohos_boot_param:file { map open read };
allow distributeddata ohos_param:file { map open read };
allow distributeddata param_watcher:binder { call transfer };
allow distributeddata persist_param:file { map open read };
allow distributeddata persist_sys_param:file { map open read };
allow distributeddata sa_device_auth_service:samgr_class { get };
allow distributeddata sa_device_security_level_manager_service:samgr_class { get };
allow distributeddata sa_foundation_bms:samgr_class { get };
allow distributeddata sa_foundation_cesfwk_service:samgr_class { get };
allow distributeddata sa_huks_service:samgr_class { get };
allow distributeddata sa_softbus_service:samgr_class { get };
allow distributeddata security_param:file { map open read };
allow distributeddata softbus_server:fd { use };
allow distributeddata softbus_server:tcp_socket { shutdown };
allow distributeddata startup_param:file { map open read };
allow distributeddata sys_param:file { map open read };
allow distributeddata system_bin_file:dir { search };
allow distributeddata system_core_hap:binder { call transfer };
allow distributeddata system_base_hap:binder { call transfer };
allow distributeddata sys_usb_param:file { map open read };
allow distributeddata tracefs:dir { search };
allow distributeddata tracefs_trace_marker_file:file { open write };
allowxperm distributeddata normal_hap_data_file_attr:file ioctl { 0xf50c };
