# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow distributedfiledaemon accountmgr:binder { call transfer };
allow distributedfiledaemon bootevent_param:file { map open read };
allow distributedfiledaemon bootevent_samgr_param:file { map open read };
allow distributedfiledaemon build_version_param:file { map open read };
allow distributedfiledaemon const_allow_mock_param:file { map open read };
allow distributedfiledaemon const_allow_param:file { map open read };
allow distributedfiledaemon const_build_param:file { map open read };
allow distributedfiledaemon const_display_brightness_param:file { map open read };
allow distributedfiledaemon const_param:file { map open read };
allow distributedfiledaemon const_postinstall_fstab_param:file { map open read };
allow distributedfiledaemon const_postinstall_param:file { map open read };
allow distributedfiledaemon const_product_param:file { map open read };
allow distributedfiledaemon data_service_el2_file:dir { search };
allow distributedfiledaemon debug_param:file { map open read };
allow distributedfiledaemon default_param:file { map open read };
allow distributedfiledaemon deviceauth_service:binder { call };
allow distributedfiledaemon dev_unix_socket:dir { search };
allow distributedfiledaemon distributedfiledaemon:unix_dgram_socket { getopt setopt };
allow distributedfiledaemon distributedsche_param:file { map open read };
allow distributedfiledaemon dslm_service:binder { call transfer };
allow distributedfiledaemon foundation:binder { call transfer };
allow distributedfiledaemon hilog_param:file { map open read };
allow distributedfiledaemon hiview:unix_dgram_socket { sendto };
allow distributedfiledaemon huks_service:binder { call };
allow distributedfiledaemon hw_sc_build_os_param:file { map open read };
allow distributedfiledaemon hw_sc_build_param:file { map open read };
allow distributedfiledaemon hw_sc_param:file { map open read };
allow distributedfiledaemon init_param:file { map open read };
allow distributedfiledaemon init_svc_param:file { map open read };
allow distributedfiledaemon input_pointer_device_param:file { map open read };
allow distributedfiledaemon net_param:file { map open read };
allow distributedfiledaemon net_tcp_param:file { map open read };
allow distributedfiledaemon ohos_boot_param:file { map open read };
allow distributedfiledaemon ohos_param:file { map open read };
allow distributedfiledaemon param_watcher:binder { call transfer };
allow distributedfiledaemon persist_param:file { map open read };
allow distributedfiledaemon persist_sys_param:file { map open read };
allow distributedfiledaemon sa_accountmgr:samgr_class { get };
allow distributedfiledaemon sa_device_auth_service:samgr_class { get };
allow distributedfiledaemon sa_device_security_level_manager_service:samgr_class { get };
allow distributedfiledaemon sa_filemanagement_distributed_file_daemon_service:samgr_class { add };
allow distributedfiledaemon sa_foundation_devicemanager_service:samgr_class { get };
allow distributedfiledaemon sa_huks_service:samgr_class { get };
allow distributedfiledaemon sa_param_watcher:samgr_class { get };
allow distributedfiledaemon sa_softbus_service:samgr_class { get };
allow distributedfiledaemon security_param:file { map open read };
allow distributedfiledaemon softbus_server:binder { call transfer };
allow distributedfiledaemon softbus_server:fd { use };
allow distributedfiledaemon softbus_server:tcp_socket { setopt shutdown };
allow distributedfiledaemon startup_param:file { map open read };
allow distributedfiledaemon sys_file:file { getattr open read write };
allow distributedfiledaemon sys_fs_hmdfs:file { getattr open read write };
allow distributedfiledaemon sys_param:file { map open read };
allow distributedfiledaemon system_bin_file:dir { search };
allow distributedfiledaemon sys_usb_param:file { map open read };
allow distributedfiledaemon tracefs:dir { search };
allow distributedfiledaemon tracefs_trace_marker_file:file { open write };
