# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow download_server data_log:file { read write write };
allow download_server dev_unix_socket:dir { search };
allow download_server dev_unix_socket:sock_file { write };
allow download_server download_server:process { ptrace };
allow download_server faultloggerd:fd { use };
allow download_server faultloggerd:unix_stream_socket { connectto };
allow download_server netmanager:binder { call transfer };
allow download_server param_watcher:binder { call transfer };
allow download_server sa_download_service:samgr_class { add };
allow download_server sa_net_conn_manager:samgr_class { get };
allow download_server sa_param_watcher:samgr_class { get };
allow download_server system_bin_file:dir { search };
allow download_server system_bin_file:file { execute execute_no_trans map read open };
allow download_server tracefs:dir { search };
allow download_server tracefs_trace_marker_file:file { open write };
