allow drm_service accesstoken_service:binder { call };
allow drm_service bootevent_param:file { map open read };
allow drm_service bootevent_samgr_param:file { map open read };
allow drm_service build_version_param:file { map open read };
#allow drm_service drm_host:binder { call transfer };
allow drm_service clearplay_host:binder { call transfer };
allow drm_service const_allow_mock_param:file { map open read };
allow drm_service const_allow_param:file { map open read };
allow drm_service const_build_param:file { map open read };
allow drm_service const_param:file { map open read };
allow drm_service const_postinstall_fstab_param:file { map open read };
allow drm_service const_postinstall_param:file { map open read };
allow drm_service const_product_param:file { map open read };
allow drm_service debug_param:file { map open read };
allow drm_service default_param:file { map read open };
allow drm_service dev_unix_socket:dir { search };
allow drm_service dhardware:binder { call transfer };
allow drm_service distributedsche_param:file { map open read };
allow drm_service foundation:binder { call };
allow drm_service hdf_drm_service:hdf_devmgr_class { get };
allow drm_service hdf_devmgr:binder { call transfer };
allow drm_service hilog_param:file { map read open };
allow drm_service hw_sc_build_os_param:file { map open read };
allow drm_service hw_sc_build_param:file { map open read };
allow drm_service hw_sc_param:file { map open read };
allow drm_service init_param:file { map open read };
allow drm_service init_svc_param:file { map open read };
allow drm_service input_pointer_device_param:file { map open read };
allow drm_service media_service:binder { call };
allow drm_service net_param:file { map open read };
allow drm_service net_tcp_param:file { map open read };
allow drm_service ohos_boot_param:file { map open read };
allow drm_service ohos_param:file { map open read };
allow drm_service param_watcher:binder { call transfer };
allow drm_service persist_param:file { map open read };
allow drm_service persist_sys_param:file { map open read };
allow drm_service render_service:binder { call };
allow drm_service sa_accesstoken_manager_service:samgr_class { get };
allow drm_service sa_drm_service:samgr_class { add };
allow drm_service sa_device_service_manager:samgr_class { get };
allow drm_service sa_foundation_dms:samgr_class { get };
allow drm_service sa_param_watcher:samgr_class { get };
allow drm_service security_param:file { map open read };
allow drm_service startup_param:file { map open read };
allow drm_service sys_param:file { map open read };
allow drm_service system_bin_file:dir { search };
allow drm_service system_core_hap:binder { call transfer };
allow drm_service sys_usb_param:file { map open read };
allow drm_service tracefs:dir { search };
allow drm_service tracefs_trace_marker_file:file { open write };
allow drm_service hdf_devmgr:hdf_devmgr_class { list };

