# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow edm_sa bootevent_param:file { map open read };
allow edm_sa bootevent_samgr_param:file { map open read };
allow edm_sa build_version_param:file { map read read open };
allow edm_sa const_allow_mock_param:file { map open read };
allow edm_sa const_allow_param:file { map open read };
allow edm_sa const_build_param:file { map open read };
allow edm_sa const_display_brightness_param:file { map open read };
allow edm_sa const_param:file { map open read };
allow edm_sa const_postinstall_fstab_param:file { map open read };
allow edm_sa const_postinstall_param:file { map open read };
allow edm_sa const_product_param:file { map open read };
allow edm_sa data_file:dir { add_name open read remove_name search write };
allow edm_sa data_file:file { create ioctl read rename write open };
allow edm_sa debug_param:file { map open read };
allow edm_sa default_param:file { map open read };
allow edm_sa dev_unix_socket:dir { search };
allow edm_sa distributedsche_param:file { map open read };
allow edm_sa foundation:binder { call transfer };
allow edm_sa hilog_param:file { map open read };
allow edm_sa hw_sc_build_os_param:file { map open read };
allow edm_sa hw_sc_build_param:file { map open read };
allow edm_sa hw_sc_param:file { map open read };
allow edm_sa init_param:file { map read read open };
allow edm_sa init_svc_param:file { map open read };
allow edm_sa input_pointer_device_param:file { map open read };
allow edm_sa net_param:file { map open read };
allow edm_sa net_tcp_param:file { map open read };
allow edm_sa ohos_boot_param:file { map open read };
allow edm_sa ohos_param:file { map open read };
allow edm_sa param_watcher:binder { call transfer };
allow edm_sa persist_param:file { map open read };
allow edm_sa persist_sys_param:file { map open read };
allow edm_sa sa_enterprise_device_manager_service:samgr_class { add };
allow edm_sa sa_foundation_cesfwk_service:samgr_class { get };
allow edm_sa sa_param_watcher:samgr_class { get };
allow edm_sa security_param:file { map open read };
allow edm_sa startup_param:file { map open read };
allow edm_sa sys_file:file { open read };
allow edm_sa sysfs_hctosys:file { open read };
allow edm_sa sysfs_rtc:dir { open read };
allow edm_sa sys_param:file { map open read };
allow edm_sa system_bin_file:dir { search };
allow edm_sa system_lib_file:dir { open read };
allow edm_sa sys_usb_param:file { map open read };
allow edm_sa tracefs:dir { search };
allow edm_sa tracefs_trace_marker_file:file { open write };
allowxperm edm_sa data_file:file ioctl { 0x5413 };
