# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow faceauth bootevent_param:file { map open read };
allow faceauth bootevent_samgr_param:file { map open read };
allow faceauth build_version_param:file { map open read };
allow faceauth const_allow_mock_param:file { map open read };
allow faceauth const_allow_param:file { map open read };
allow faceauth const_build_param:file { map open read };
allow faceauth const_display_brightness_param:file { map open read };
allow faceauth const_param:file { map open read };
allow faceauth const_postinstall_fstab_param:file { map open read };
allow faceauth const_postinstall_param:file { map open read };
allow faceauth const_product_param:file { map open read };
allow faceauth debug_param:file { map open read };
allow faceauth default_param:file { map open read };
allow faceauth dev_unix_socket:dir { search };
allow faceauth distributedsche_param:file { map open read };
allow faceauth face_auth_host:binder { call transfer };
allow faceauth hdf_devmgr:binder { call transfer };
allow faceauth hilog_param:file { map open read };
allow faceauth hw_sc_build_os_param:file { map open read };
allow faceauth hw_sc_build_param:file { map open read };
allow faceauth hw_sc_param:file { map open read };
allow faceauth init_param:file { map open read };
allow faceauth init_svc_param:file { map open read };
allow faceauth input_pointer_device_param:file { map open read };
allow faceauth net_param:file { map open read };
allow faceauth net_tcp_param:file { map open read };
allow faceauth ohos_boot_param:file { map open read };
allow faceauth ohos_param:file { map open read };
allow faceauth param_watcher:binder { call transfer };
allow faceauth persist_param:file { map open read };
allow faceauth persist_sys_param:file { map open read };
allow faceauth security_param:file { map open read };
allow faceauth startup_param:file { map open read };
allow faceauth sys_param:file { map open read };
allow faceauth system_bin_file:dir { search };
allow faceauth sys_usb_param:file { map open read };
allow faceauth tracefs:dir { search };
allow faceauth tracefs_trace_marker_file:file { open write };
allow faceauth useriam:binder { call transfer };
