# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow fingerprint_auth_host dev_hdf_kevent:chr_file { getattr ioctl open read write };
allow fingerprint_auth_host dev_unix_socket:dir { search };
allow fingerprint_auth_host fingerprint_auth_host:capability { dac_override };
allow fingerprint_auth_host hdf_devmgr:binder { call transfer };
allow fingerprint_auth_host samgr:binder { call };
allow fingerprint_auth_host system_bin_file:dir { search };
allow fingerprint_auth_host vendor_etc_file:dir { search };
allow fingerprint_auth_host vendor_etc_file:file { getattr open read };
allowxperm fingerprint_auth_host dev_hdf_kevent:chr_file ioctl { 0x6201 0x6202 0x6203 };
