# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow foundation configfs:dir { search };
allow foundation data_app_el1_file:file { open };
allow foundation data_service_el1_file:file { read append open };
allow foundation data_system_ce:dir { create open read remove_name };
allow foundation data_system_ce:file { unlink };
allow foundation deviceauth_service:binder { transfer };
allow foundation dev_kmsg_file:chr_file { open write };
allow foundation distributedfiledaemon:binder { call };
allow foundation edm_sa:binder { call };
allow foundation fms_service:binder { call };
allow foundation hdf_devmgr:binder { call transfer };
allow foundation hiview:binder { call };
allow foundation huks_service:binder { call };
allow foundation installs:binder { call };
allow foundation locationhub:binder { call };
allow foundation multimodalinput:fd { use };
allow foundation power_host:binder { transfer };
allow foundation sa_accountmgr:samgr_class { get };
allow foundation sa_bgtaskmgr:samgr_class { get };
allow foundation sa_dataobs_mgr_service_service:samgr_class { add };
allow foundation sa_device_auth_service:samgr_class { get };
allow foundation sa_device_service_manager:samgr_class { get };
allow foundation sa_distributeddata_service:samgr_class { get };
allow foundation sa_form_mgr_service:samgr_class { add };
allow foundation sa_foundation_abilityms:samgr_class { add };
allow foundation sa_foundation_ans:samgr_class { add };
allow foundation sa_foundation_appms:samgr_class { add get };
allow foundation sa_foundation_bms:samgr_class { add get };
allow foundation sa_foundation_cesfwk_service:samgr_class { add get };
allow foundation sa_foundation_devicemanager_service:samgr_class { add get };
allow foundation sa_foundation_displaymgr_service:samgr_class { add };
allow foundation sa_foundation_dms:samgr_class { get };
allow foundation sa_huks_service:samgr_class { get };
allow foundation sa_installd_service:samgr_class { get };
allow foundation sa_msdp_devicestatus_service:samgr_class { get };
allow foundation sa_multimodalinput_service:samgr_class { get };
allow foundation sa_param_watcher:samgr_class { get };
allow foundation sa_softbus_service:samgr_class { get };
allow foundation sa_subsys_ace_service:samgr_class { get };
allow foundation sa_uri_permission_mgr_service:samgr_class { add get };
allow foundation sensors:binder { call };
allow foundation softbus_server:binder { transfer };
allow foundation startup_param:parameter_service { set };
allow foundation storage_manager:binder { transfer };
allow foundation sysfs_leds:dir { open read };
allow foundation sysfs_rtc:dir { open read };
allow foundation system_bin_file:dir { search };
allow foundation system_etc_power_mode_config_file:file { getattr open read };
allow foundation system_file:dir { getattr open read };
allow foundation system_file:file { getattr map open read };
allow foundation ui_service:binder { transfer };
allow foundation wallpaper_service:binder { call };
