# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow foundation bluetooth_service:binder { call transfer };
allow foundation bootevent_param:file { map open read };
allow foundation bootevent_samgr_param:file { map open read };
allow foundation build_version_param:file { map open read };
allow foundation configfs:dir { add_name create search };
allow foundation const_allow_mock_param:file { map open read };
allow foundation const_allow_param:file { map open read };
allow foundation const_build_param:file { map open read };
allow foundation const_display_brightness_param:file { map open read };
allow foundation const_param:file { map open read };
allow foundation const_postinstall_fstab_param:file { map open read };
allow foundation const_postinstall_param:file { map open read };
allow foundation const_product_param:file { map open read };
allow foundation data_app_el1_file:file { open };
allow foundation data_service_el1_file:dir { getattr rmdir setattr };
allow foundation data_service_el1_file:file { ioctl lock map read append open setattr };
allow foundation data_system_ce:dir { create open read remove_name };
allow foundation data_system_ce:file { unlink };
allow foundation debug_param:file { map open read };
allow foundation default_param:file { map open read };
allow foundation dev_dri_file:chr_file { getattr ioctl open read write };
allow foundation dev_dri_file:dir { search };
allow foundation deviceauth_service:binder { transfer };
allow foundation dev_kmsg_file:chr_file { open write };
allow foundation dev_mali:chr_file { getattr ioctl open };
allow foundation dhardware:binder { call };
allow foundation disp_gralloc_host:binder { call };
allow foundation distributedfiledaemon:binder { call };
allow foundation distributedsche_param:file { map open read };
allow foundation edm_sa:binder { call };
allow foundation fms_service:binder { call };
allow foundation foundation:capability { kill };
allow foundation hdf_devmgr:binder { call transfer };
allow foundation hdf_hdi_display_gralloc_service:hdf_devmgr_class { get };
allow foundation hidumper_service:fifo_file { write };
allow foundation hilog_param:file { map open read };
allow foundation hiview:binder { call };
allow foundation huks_service:binder { call };
allow foundation hw_sc_build_os_param:file { map open read };
allow foundation hw_sc_build_param:file { map open read };
allow foundation hw_sc_param:file { map open read };
allow foundation init_param:file { map open read };
allow foundation init_svc_param:file { map open read };
allow foundation init:unix_stream_socket { connectto };
allow foundation input_pointer_device_param:file { map open read };
allow foundation installs:binder { call };
allow foundation locationhub:binder { call };
allow foundation multimodalinput:fd { use };
allow foundation net_param:file { map open read };
allow foundation net_tcp_param:file { map open read };
allow foundation normal_hap_data_file:file { read };
allow foundation normal_hap:fd { use };
allow foundation normal_hap:unix_stream_socket { read write };
allow foundation nwebspawn_socket:sock_file { write };
allow foundation ohos_boot_param:file { map open read };
allow foundation ohos_param:file { map open read };
allow foundation persist_param:file { map open read };
allow foundation persist_sys_param:file { map open read };
allow foundation power_host:binder { transfer };
allow foundation proc_boot_id:file { open read };
allow foundation sa_accountmgr:samgr_class { get };
allow foundation sa_bgtaskmgr:samgr_class { get };
allow foundation sa_bluetooth_server:samgr_class { get };
allow foundation sa_dataobs_mgr_service_service:samgr_class { add };
allow foundation sa_device_auth_service:samgr_class { get };
allow foundation sa_device_profile_service:samgr_class { get };
allow foundation sa_device_service_manager:samgr_class { get };
allow foundation sa_dhardware_service:samgr_class { get };
allow foundation sa_distributeddata_service:samgr_class { get };
allow foundation sa_form_mgr_service:samgr_class { add };
allow foundation sa_foundation_abilityms:samgr_class { add };
allow foundation sa_foundation_ans:samgr_class { add };
allow foundation sa_foundation_appms:samgr_class { add get };
allow foundation sa_foundation_bms:samgr_class { add get };
allow foundation sa_foundation_cesfwk_service:samgr_class { add get };
allow foundation sa_foundation_devicemanager_service:samgr_class { add get };
allow foundation sa_foundation_displaymgr_service:samgr_class { add };
allow foundation sa_foundation_dms:samgr_class { get };
allow foundation sa_huks_service:samgr_class { get };
allow foundation sa_installd_service:samgr_class { get };
allow foundation sa_msdp_devicestatus_service:samgr_class { get };
allow foundation sa_multimodalinput_service:samgr_class { get };
allow foundation sa_param_watcher:samgr_class { get };
allow foundation sa_softbus_service:samgr_class { get };
allow foundation sa_subsys_ace_service:samgr_class { get };
allow foundation sa_uri_permission_mgr_service:samgr_class { add get };
allow foundation security_param:file { map open read };
allow foundation sensors:binder { call };
allow foundation softbus_server:binder { transfer };
allow foundation startup_param:file { map open read };
allow foundation startup_param:parameter_service { set };
allow foundation storage_manager:binder { transfer };
allow foundation sysfs_hctosys:file { open read };
allow foundation sysfs_leds:dir { open read };
allow foundation sysfs_rtc:dir { open read };
allow foundation sys_param:file { map open read };
allow foundation system_basic_hap:process { sigkill };
allow foundation system_bin_file:dir { search };
allow foundation system_core_hap:fd { use };
allow foundation system_core_hap:process { signal };
allow foundation system_etc_power_mode_config_file:file { getattr open read };
allow foundation system_file:dir { getattr open read };
allow foundation system_file:file { getattr map open read };
allow foundation system_lib_file:dir { getattr };
allow foundation sys_usb_param:file { map open read };
allow foundation token_sync_service:binder { call };
allow foundation ui_service:binder { transfer };
allow foundation wallpaper_service:binder { call };
allow foundation wifi_manager_service:binder { call };
allowxperm foundation data_service_el1_file:file ioctl { 0xf50c };
allowxperm foundation dev_dri_file:chr_file ioctl { 0x641f };
allowxperm foundation dev_mali:chr_file ioctl { 0x8000 0x8001 0x8003 0x8018 };
