# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow hdcd bootevent_param:file { map open read };
allow hdcd bootevent_samgr_param:file { map open read };
allow hdcd build_version_param:file { map open read };
allow hdcd const_allow_mock_param:file { map open read };
allow hdcd const_allow_param:file { map open read };
allow hdcd const_build_param:file { map open read };
allow hdcd const_display_brightness_param:file { map open read };
allow hdcd const_param:file { map open read };
allow hdcd const_postinstall_fstab_param:file { map open read };
allow hdcd const_postinstall_param:file { map open read };
allow hdcd const_product_param:file { map open read };
allow hdcd data_local_tmp:dir { remove_name };
allow hdcd data_local_tmp:file { unlink };
allow hdcd debug_param:file { map open read };
allow hdcd default_param:file { map open read };
allow hdcd dev_usb_ffs:dir { open read search };
allow hdcd functionfs:dir { search };
allow hdcd functionfs:file { open read write };
allow hdcd hdcd:capability { dac_override dac_read_search };
allow hdcd hdcd_exec:file { entrypoint execute map read };
allow hdcd hilog_param:file { map open read };
allow hdcd hw_sc_build_os_param:file { map open read };
allow hdcd hw_sc_build_param:file { map open read };
allow hdcd hw_sc_param:file { map open read };
allow hdcd init_param:file { map open read };
allow hdcd init_svc_param:file { map open read };
allow hdcd input_pointer_device_param:file { map open read };
allow hdcd net_param:file { map read open };
allow hdcd net_tcp_param:file { map open read };
allow hdcd ohos_boot_param:file { map open read };
allow hdcd ohos_param:file { map open read };
allow hdcd persist_param:file { map open read };
allow hdcd persist_sys_param:file { map open read };
allow hdcd security_param:file { map open read };
allow hdcd startup_param:file { map open read };
allow hdcd sys_file:file { open read };
allow hdcd sys_param:file { map open read };
allow hdcd system_etc_file:dir { add_name write };
allow hdcd system_etc_file:file { create write };
allow hdcd sys_usb_param:file { map open read };
