# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow hidumper data_log:file { write };
allow hidumper dev_bbox:chr_file { read };
allow hidumper distributedsche_param:file { map open read };
allow hidumper faultloggerd:fifo_file { read };
allow hidumper hiview:fd { use };
allow hidumper hiview:fifo_file { read write };
allow hidumper hiview_file:file { read write };
allow hidumper hiview:unix_dgram_socket { read write };
