allow hidumper_service hidumper_service:capability { dac_read_search sys_ptrace };
allow hidumper_service param_watcher:binder { transfer };
allow hidumper_service sa_dfx_sys_hidumper_ability:samgr_class { add };
allow hidumper_service sa_param_watcher:samgr_class { get };
allow hidumper_service tracefs:dir { search };
allow hidumper_service tracefs_trace_marker_file:file { open write };
