# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow hiview accesstoken_service:binder { call };
allow hiview bootevent_param:file { map open read };
allow hiview bootevent_samgr_param:file { map open read };
allow hiview build_version_param:file { map open read };
allow hiview const_allow_mock_param:file { map open read };
allow hiview const_allow_param:file { map open read };
allow hiview const_build_param:file { map open read };
allow hiview const_display_brightness_param:file { map open read };
allow hiview const_param:file { map open read };
allow hiview const_postinstall_fstab_param:file { map open read };
allow hiview const_postinstall_param:file { map open read };
allow hiview const_product_param:file { map open read };
allow hiview data_file:dir { read write add_name create };
allow hiview data_log:dir { setattr };
allow hiview data_system:dir { add_name create setattr write };
allow hiview debug_param:file { map open read };
allow hiview default_param:file { map open read };
allow hiview dev_at_file:chr_file { ioctl };
allow hiview dev_kmsg_file:chr_file { open write };
allow hiview distributedsche_param:file { map open read };
allow hiview faultloggerd:fifo_file { read };
allow hiview faultloggerd_temp_file:dir { open read remove_name search watch write };
allow hiview faultloggerd_temp_file:file { getattr open read unlink };
allow hiview foundation:dir { search };
allow hiview foundation:file { open read };
allow hiview hidumper_exec:file { execute execute_no_trans getattr map read open };
allow hiview hidumper_service:binder { call transfer };
allow hiview hilog_param:file { map open read };
allow hiview hiview_file:dir { create };
allow hiview hiview_file:file { create };
allow hiview hw_sc_build_os_param:file { map open read };
allow hiview hw_sc_build_param:file { map open read };
allow hiview hw_sc_param:file { map open read };
allow hiview init_param:file { map open read };
allow hiview init_svc_param:file { map open read };
allow hiview input_pointer_device_param:file { map open read };
allow hiview net_param:file { map open read };
allow hiview net_tcp_param:file { map open read };
allow hiview ohos_boot_param:file { map open read };
allow hiview ohos_param:file { map open read };
allow hiview persist_param:file { map open read };
allow hiview persist_sys_param:file { map open read };
allow hiview proc_file:file { open read };
allow hiview sa_accesstoken_manager_service:samgr_class { get };
allow hiview sa_accountmgr:samgr_class { get };
allow hiview sa_device_usage_statistics_service:samgr_class { get };
allow hiview sa_dfx_sys_hidumper_ability:samgr_class { get };
allow hiview sa_foundation_bms:samgr_class { get };
allow hiview sa_param_watcher:samgr_class { get };
allow hiview sa_time_service:samgr_class { get };
allow hiview security_param:file { map open read };
allow hiview startup_param:file { map open read };
allow hiview sysfs_hctosys:file { open read };
allow hiview sysfs_rtc:dir { open read };
allow hiview sys_param:file { map open read };
allow hiview system_basic_hap:dir { search };
allow hiview system_basic_hap:file { open read };
allow hiview system_core_hap:dir { search };
allow hiview system_core_hap:file { open read };
allow hiview sys_usb_param:file { map open read };
allow hiview tmpfs:dir { add_name create setattr write };
allow hiview tty_device:chr_file { open read write };
allowxperm hiview dev_at_file:chr_file ioctl { 0x4103 };
