allow installs data_app_el1_file:dir { add_name create getattr open read relabelfrom search setattr write };
allow installs data_app_el1_file:file { create ioctl setattr write open };
allow installs data_app_el2_file:dir { add_name create getattr open read relabelfrom search setattr write };
allow installs data_app_file:dir { search };
allow installs data_file:dir { add_name create getattr open read search setattr write };
allow installs data_service_el1_file:dir { add_name create open read search setattr write };
allow installs data_service_el2_file:dir { add_name create open read search setattr write };
allow installs data_service_file:dir { search };
allow installs dev_unix_socket:dir { search };
allow installs installs:capability { chown dac_override dac_read_search fowner };
allow installs normal_hap_data_file:dir { open read relabelto search };
allow installs sa_installd_service:samgr_class { add };
allow installs security:security { check_context };
allow installs selinuxfs:dir { search };
allow installs selinuxfs:file { open read write };
allow installs system_basic_hap_data_file:dir { open read relabelto search };
allow installs system_bin_file:dir { search };
allow installs system_core_hap_data_file:dir { open read relabelto search };
allow installs system_file:file { getattr open read };
allowxperm installs data_app_el1_file:file ioctl { 0x5413 };
