# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow installs bootevent_param:file { map open read };
allow installs bootevent_samgr_param:file { map open read };
allow installs build_version_param:file { map open read };
allow installs const_allow_mock_param:file { map open read };
allow installs const_allow_param:file { map open read };
allow installs const_build_param:file { map open read };
allow installs const_display_brightness_param:file { map open read };
allow installs const_param:file { map open read };
allow installs const_postinstall_fstab_param:file { map open read };
allow installs const_postinstall_param:file { map open read };
allow installs const_product_param:file { map open read };
allow installs data_app_el1_file:dir { add_name create getattr open read relabelfrom rename search setattr write };
allow installs data_app_el1_file:file { create ioctl setattr write open };
allow installs data_app_el2_file:dir { add_name create getattr open read relabelfrom search setattr write };
allow installs data_app_file:dir { search };
allow installs data_file:dir { add_name create getattr open read search setattr write };
allow installs data_service_el1_file:dir { add_name create getattr open read remove_name search setattr write };
allow installs data_service_el1_file:file { getattr open read rename };
allow installs data_service_el2_file:dir { add_name create open read search setattr write };
allow installs data_service_el2_hmdfs:dir { add_name create open read search setattr write };
allow installs data_service_file:dir { search };
allow installs debug_param:file { map open read };
allow installs default_param:file { map open read };
allow installs dev_unix_socket:dir { search };
allow installs dev_unix_socket:sock_file { write };
allow installs distributedsche_param:file { map open read };
allow installs faultloggerd_temp_file:file { read write };
allow installs hilog_param:file { map open read };
allow installs hw_sc_build_os_param:file { map open read };
allow installs hw_sc_build_param:file { map open read };
allow installs hw_sc_param:file { map open read };
allow installs init_param:file { map open read };
allow installs init_svc_param:file { map open read };
allow installs input_pointer_device_param:file { map open read };
allow installs installs:capability { chown dac_override dac_read_search fowner };
allow installs net_param:file { map open read };
allow installs net_tcp_param:file { map open read };
allow installs normal_hap_data_file:dir { open read relabelto search };
allow installs normal_hap_data_file:file { unlink };
allow installs ohos_boot_param:file { map open read };
allow installs ohos_param:file { map open read };
allow installs persist_param:file { map open read };
allow installs persist_sys_param:file { map open read };
allow installs sa_installd_service:samgr_class { add };
allow installs security_param:file { map open read };
allow installs security:security { check_context };
allow installs selinuxfs:dir { search };
allow installs selinuxfs:file { open read write };
allow installs startup_param:file { map open read };
allow installs sys_param:file { map open read };
allow installs system_basic_hap_data_file:dir { getattr open read relabelto remove_name rmdir search write };
allow installs system_bin_file:dir { search };
allow installs system_core_hap_data_file:dir { getattr open read relabelto search };
allow installs system_file:file { getattr open read };
allow installs sys_usb_param:file { map open read };
allowxperm installs data_app_el1_file:file ioctl { 0x5413 };
