# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow ispserver bootevent_param:file { map open read };
allow ispserver bootevent_samgr_param:file { map open read };
allow ispserver build_version_param:file { map open read };
allow ispserver const_allow_mock_param:file { map open read };
allow ispserver const_allow_param:file { map open read };
allow ispserver const_build_param:file { map open read };
allow ispserver const_display_brightness_param:file { map open read };
allow ispserver const_param:file { map open read };
allow ispserver const_postinstall_fstab_param:file { map open read };
allow ispserver const_postinstall_param:file { map open read };
allow ispserver const_product_param:file { map open read };
allow ispserver debug_param:file { map open read };
allow ispserver default_param:file { map open read };
allow ispserver dev_media_file:chr_file { ioctl open read read write write };
allow ispserver dev_unix_socket:dir { search };
allow ispserver dev_v_file:chr_file { getattr ioctl open read write };
allow ispserver dev_video_file:chr_file { getattr ioctl map open read write };
allow ispserver distributedsche_param:file { map open read };
allow ispserver hilog_param:file { map open read };
allow ispserver hw_sc_build_os_param:file { map open read };
allow ispserver hw_sc_build_param:file { map open read };
allow ispserver hw_sc_param:file { map open read };
allow ispserver init_param:file { map open read };
allow ispserver init_svc_param:file { map open read };
allow ispserver input_pointer_device_param:file { map open read };
allow ispserver net_param:file { map open read };
allow ispserver net_tcp_param:file { map open read };
allow ispserver ohos_boot_param:file { map open read };
allow ispserver ohos_param:file { map open read };
allow ispserver persist_param:file { map open read };
allow ispserver persist_sys_param:file { map open read };
allow ispserver security_param:file { map open read };
allow ispserver startup_param:file { map open read };
allow ispserver sys_param:file { map open read };
allow ispserver system_bin_file:dir { search };
allow ispserver sys_usb_param:file { map open read };
allow ispserver vendor_bin_file:file { entrypoint execute map read };
allow ispserver vendor_etc_file:dir { search };
allow ispserver vendor_etc_file:file { getattr open read };
allowxperm ispserver dev_media_file:chr_file ioctl { 0x7c00 0x7c01 0x7c02 0x7c03 };
allowxperm ispserver dev_v_file:chr_file ioctl { 0x5604 0x5605 0x5615 0x561c 0x5624 0x563d 0x563e 0x5659 0x565a 0x565b 0x56c0 0x56c5 0x56c8 0x56c9 0x56d4 0x56d6 0x564b 0x56c3 };
allowxperm ispserver dev_video_file:chr_file ioctl { 0x5600 0x5604 0x5605 0x5608 0x5609 0x560f 0x5610 0x5611 0x5612 0x5613 0x5659 0x565a 0x5611 0x565b };
