allow ispserver dev_media_file:chr_file { ioctl open read read write write };
allow ispserver dev_unix_socket:dir { search };
allow ispserver dev_v_file:chr_file { getattr ioctl open read write };
allow ispserver dev_video_file:chr_file { getattr ioctl map open read write };
allow ispserver system_bin_file:dir { search };
allow ispserver vendor_bin_file:file { entrypoint execute map read };
allow ispserver vendor_etc_file:dir { search };
allow ispserver vendor_etc_file:file { getattr open read };
allowxperm ispserver dev_media_file:chr_file ioctl { 0x7c00 0x7c01 0x7c02 0x7c03 };
allowxperm ispserver dev_v_file:chr_file ioctl { 0x5604 0x5605 0x5615 0x561c 0x5624 0x563d 0x563e 0x56c0 0x56c5 0x56c8 0x56c9 };
allowxperm ispserver dev_video_file:chr_file ioctl { 0x5600 0x5604 0x5605 0x5608 0x5609 0x5610 0x5612 0x5659 0x565a };
