allow locationhub accesstoken_service:binder { call };
allow locationhub accountmgr:binder { call };
allow locationhub data_file:dir { add_name search write };
allow locationhub data_file:file { create getattr ioctl open read write open };
allow locationhub dev_unix_socket:dir { search };
allow locationhub foundation:binder { call transfer };
allow locationhub hdf_agnss_interface_service:hdf_devmgr_class { get };
allow locationhub hdf_devmgr:binder { call };
allow locationhub hdf_gnss_interface_service:hdf_devmgr_class { get };
allow locationhub location_host:binder { call transfer };
allow locationhub param_watcher:binder { call transfer };
allow locationhub sa_accesstoken_manager_service:samgr_class { get };
allow locationhub sa_accountmgr:samgr_class { get };
allow locationhub sa_device_service_manager:samgr_class { get };
allow locationhub sa_foundation_cesfwk_service:samgr_class { get };
allow locationhub sa_location_geo_convert_service:samgr_class { add };
allow locationhub sa_locationhub_lbsservice_gnss:samgr_class { add get };
allow locationhub sa_locationhub_lbsservice_network:samgr_class { add get };
allow locationhub sa_locationhub_lbsservice_passive:samgr_class { add get };
allow locationhub sa_location_locator_service:samgr_class { add };
allow locationhub sa_param_watcher:samgr_class { get };
allow locationhub system_basic_hap:binder { call };
allow locationhub system_bin_file:dir { search };
allow locationhub tracefs:dir { search };
allow locationhub tracefs_trace_marker_file:file { open write };
allowxperm locationhub data_file:file ioctl { 0x5413 };
