# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow locationhub accesstoken_service:binder { call };
allow locationhub accountmgr:binder { call };
allow locationhub bootevent_param:file { map open read };
allow locationhub bootevent_samgr_param:file { map open read };
allow locationhub build_version_param:file { map open read };
allow locationhub const_allow_mock_param:file { map open read };
allow locationhub const_allow_param:file { map open read };
allow locationhub const_build_param:file { map open read };
allow locationhub const_display_brightness_param:file { map open read };
allow locationhub const_param:file { map open read };
allow locationhub const_postinstall_fstab_param:file { map open read };
allow locationhub const_postinstall_param:file { map open read };
allow locationhub const_product_param:file { map open read };
allow locationhub data_file:dir { add_name search write };
allow locationhub data_file:file { create getattr ioctl open read write open };
allow locationhub debug_param:file { map open read };
allow locationhub default_param:file { map open read };
allow locationhub dev_unix_socket:dir { search };
allow locationhub distributedsche_param:file { map open read };
allow locationhub foundation:binder { call transfer };
allow locationhub hdf_agnss_interface_service:hdf_devmgr_class { get };
allow locationhub hdf_devmgr:binder { call };
allow locationhub hdf_gnss_interface_service:hdf_devmgr_class { get };
allow locationhub hilog_param:file { map open read };
allow locationhub hw_sc_build_os_param:file { map open read };
allow locationhub hw_sc_build_param:file { map open read };
allow locationhub hw_sc_param:file { map open read };
allow locationhub init_param:file { map open read };
allow locationhub init_svc_param:file { map open read };
allow locationhub input_pointer_device_param:file { map open read };
allow locationhub location_host:binder { call transfer };
allow locationhub locationhub:unix_dgram_socket { getopt setopt };
allow locationhub net_param:file { map open read };
allow locationhub net_tcp_param:file { map open read };
allow locationhub ohos_boot_param:file { map open read };
allow locationhub ohos_param:file { map open read };
allow locationhub param_watcher:binder { call transfer };
allow locationhub persist_param:file { map open read };
allow locationhub persist_sys_param:file { map open read };
allow locationhub sa_accesstoken_manager_service:samgr_class { get };
allow locationhub sa_accountmgr:samgr_class { get };
allow locationhub sa_device_service_manager:samgr_class { get };
allow locationhub sa_foundation_cesfwk_service:samgr_class { get };
allow locationhub sa_location_geo_convert_service:samgr_class { add };
allow locationhub sa_locationhub_lbsservice_gnss:samgr_class { add get };
allow locationhub sa_locationhub_lbsservice_network:samgr_class { add get };
allow locationhub sa_locationhub_lbsservice_passive:samgr_class { add get };
allow locationhub sa_location_locator_service:samgr_class { add };
allow locationhub sa_param_watcher:samgr_class { get };
allow locationhub security_param:file { map open read };
allow locationhub startup_param:file { map open read };
allow locationhub sys_param:file { map open read };
allow locationhub system_basic_hap:binder { call };
allow locationhub system_bin_file:dir { search };
allow locationhub sys_usb_param:file { map open read };
allow locationhub tracefs:dir { search };
allow locationhub tracefs_trace_marker_file:file { open write };
allowxperm locationhub data_file:file ioctl { 0x5413 };
