# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow mmi_uinput_service bootevent_param:file { map open read };
allow mmi_uinput_service bootevent_samgr_param:file { map open read };
allow mmi_uinput_service build_version_param:file { map open read };
allow mmi_uinput_service const_allow_mock_param:file { map open read };
allow mmi_uinput_service const_allow_param:file { map open read };
allow mmi_uinput_service const_build_param:file { map open read };
allow mmi_uinput_service const_display_brightness_param:file { map open read };
allow mmi_uinput_service const_param:file { map open read };
allow mmi_uinput_service const_postinstall_fstab_param:file { map open read };
allow mmi_uinput_service const_postinstall_param:file { map open read };
allow mmi_uinput_service const_product_param:file { map open read };
allow mmi_uinput_service debug_param:file { map open read };
allow mmi_uinput_service default_param:file { map open read };
allow mmi_uinput_service dev_hdf_input:chr_file { getattr ioctl open read write };
allow mmi_uinput_service dev_uinput:chr_file { ioctl open write };
allow mmi_uinput_service dev_unix_socket:dir { search };
allow mmi_uinput_service distributedsche_param:file { map open read };
allow mmi_uinput_service hilog_param:file { map open read };
allow mmi_uinput_service hw_sc_build_os_param:file { map open read };
allow mmi_uinput_service hw_sc_build_param:file { map open read };
allow mmi_uinput_service hw_sc_param:file { map open read };
allow mmi_uinput_service init_param:file { map open read };
allow mmi_uinput_service init_svc_param:file { map open read };
allow mmi_uinput_service input_pointer_device_param:file { map open read };
allow mmi_uinput_service net_param:file { map open read };
allow mmi_uinput_service net_tcp_param:file { map open read };
allow mmi_uinput_service ohos_boot_param:file { map open read };
allow mmi_uinput_service ohos_param:file { map open read };
allow mmi_uinput_service persist_param:file { map open read };
allow mmi_uinput_service persist_sys_param:file { map open read };
allow mmi_uinput_service security_param:file { map open read };
allow mmi_uinput_service startup_param:file { map open read };
allow mmi_uinput_service sys_param:file { map open read };
allow mmi_uinput_service system_bin_file:dir { search };
allow mmi_uinput_service sys_usb_param:file { map open read };
allow mmi_uinput_service uinput_inject_exec:file { entrypoint execute map read };
allowxperm mmi_uinput_service dev_hdf_input:chr_file ioctl { 0x6201 0x6202 0x6203 };
allowxperm mmi_uinput_service dev_uinput:chr_file ioctl { 0x5501 0x5564 0x5565 0x5567 0x556e };
