allow mmi_uinput_service dev_hdf_input:chr_file { getattr ioctl open read write };
allow mmi_uinput_service dev_uinput:chr_file { ioctl open write };
allow mmi_uinput_service dev_unix_socket:dir { search };
allow mmi_uinput_service mmi_uinput_service:capability { dac_override };
allow mmi_uinput_service system_bin_file:dir { search };
allow mmi_uinput_service uinput_inject_exec:file { entrypoint execute map read };
allowxperm mmi_uinput_service dev_hdf_input:chr_file ioctl { 0x6201 0x6202 0x6203 };
allowxperm mmi_uinput_service dev_uinput:chr_file ioctl { 0x5501 0x5564 0x5565 0x5567 0x556e };
