allow multimodalinput accesstoken_service:binder { call };
allow multimodalinput data_file:dir { add_name create write };
allow multimodalinput data_file:file { create ioctl open read write };
allow multimodalinput dev_input_file:chr_file { getattr ioctl open read write };
allow multimodalinput dev_input_file:dir { search };
allow multimodalinput dev_kmsg_file:chr_file { open write };
allow multimodalinput kernel:unix_stream_socket { connectto };
allow multimodalinput multimodalinput:capability { dac_override };
allow multimodalinput multimodalinput:netlink_kobject_uevent_socket { bind create getattr setopt };
allow multimodalinput paramservice_socket:sock_file { write };
allow multimodalinput sa_accesstoken_manager_service:samgr_class { get };
allow multimodalinput sa_multimodalinput_service:samgr_class { add };
allow multimodalinput sa_param_watcher:samgr_class { get };
allow multimodalinput sa_resource_schedule:samgr_class { get };
allow multimodalinput sys_file:dir { open read };
allow multimodalinput sys_file:file { getattr open read };
allow multimodalinput system_bin_file:dir { search };
allow multimodalinput system_usr_file:dir { search };
allow multimodalinput system_usr_file:file { getattr map open read };
allow multimodalinput vendor_etc_file:dir { search };
allowxperm multimodalinput data_file:file ioctl { 0x5413 };
allowxperm multimodalinput dev_input_file:chr_file ioctl { 0x4501 0x4502 0x4506 0x4507 0x4508 0x4509 0x4518 0x4519 0x451b 0x4520 0x4521 0x4522 0x4523 0x4524 0x4525 0x4531 0x4532 0x4535 0x4540 0x4541 0x4558 0x4570 0x4571 0x4574 0x4575 0x4576 0x4578 0x4579 0x457a 0x45a0 };
