# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow netmanager bootevent_param:file { map open read };
allow netmanager bootevent_samgr_param:file { map open read };
allow netmanager build_version_param:file { map open read };
allow netmanager const_allow_mock_param:file { map open read };
allow netmanager const_allow_param:file { map open read };
allow netmanager const_build_param:file { map open read };
allow netmanager const_display_brightness_param:file { map open read };
allow netmanager const_param:file { map open read };
allow netmanager const_postinstall_fstab_param:file { map open read };
allow netmanager const_postinstall_param:file { map open read };
allow netmanager const_product_param:file { map open read };
allow netmanager data_data_file:dir { add_name write };
allow netmanager data_data_file:file { append create ioctl write };
allow netmanager data_ethernet:dir { getattr open read };
allow netmanager data_file:dir { add_name create getattr open read write };
allow netmanager data_log:file { read write };
allow netmanager data_system:file { create getattr read write open };
allow netmanager debug_param:file { map open read };
allow netmanager default_param:file { map open read };
allow netmanager distributedsche_param:file { map open read };
allow netmanager dev_file:sock_file { write };
allow netmanager dev_unix_socket:sock_file { write };
allow netmanager faultloggerd:fd { use };
allow netmanager faultloggerd:unix_stream_socket { connectto };
allow netmanager hilog_param:file { map open read };
allow netmanager hiview:binder { call };
allow netmanager hw_sc_build_os_param:file { map open read };
allow netmanager hw_sc_build_param:file { map open read };
allow netmanager hw_sc_param:file { map open read };
allow netmanager init_param:file { map open read };
allow netmanager init_svc_param:file { map open read };
allow netmanager input_pointer_device_param:file { map open read };
allow netmanager netmanager:netlink_route_socket { bind setopt };
allow netmanager netmanager:process { ptrace };
allow netmanager netmanager:udp_socket { ioctl };
allow netmanager netmanager:unix_dgram_socket { getopt setopt };
allow netmanager net_param:file { map open read };
allow netmanager netsysnative:binder { transfer };
allow netmanager netsysnative:unix_stream_socket { connectto };
allow netmanager net_tcp_param:file { map open read };
allow netmanager normal_hap:binder { call };
allow netmanager ohos_boot_param:file { map open read };
allow netmanager ohos_param:file { map open read };
allow netmanager param_watcher:binder { call transfer };
allow netmanager persist_param:file { map open read };
allow netmanager persist_sys_param:file { map open read };
allow netmanager sa_accesstoken_manager_service:samgr_class { get };
allow netmanager sa_comm_dns_manager_service:samgr_class { add };
allow netmanager sa_comm_ethernet_manager_service:samgr_class { add };
allow netmanager sa_comm_net_stats_manager_service:samgr_class { add };
allow netmanager sa_foundation_cesfwk_service:samgr_class { get };
allow netmanager sa_net_conn_manager:samgr_class { add };
allow netmanager sa_net_policy_manager:samgr_class { add };
allow netmanager sa_netsys_native_manager:samgr_class { get };
allow netmanager sa_param_watcher:samgr_class { get };
allow netmanager security_param:file { map open read };
allow netmanager startup_param:file { map open read };
allow netmanager sys_file:file { open read };
allow netmanager sysfs_net:dir { open read };
allow netmanager sysfs_net:file { open read };
allow netmanager sys_param:file { map open read };
allow netmanager sys_usb_param:file { map open read };
allow netmanager tracefs:dir { search };
allow netmanager tracefs_trace_marker_file:file { open write };
allowxperm netmanager data_data_file:file ioctl { 0x5413 };
allowxperm netmanager netmanager:udp_socket ioctl { 0x8927 };
