# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow netsysnative bootevent_param:file { map open read };
allow netsysnative bootevent_samgr_param:file { map open read };
allow netsysnative build_version_param:file { map open read };
allow netsysnative const_allow_mock_param:file { map open read };
allow netsysnative const_allow_param:file { map open read };
allow netsysnative const_build_param:file { map open read };
allow netsysnative const_display_brightness_param:file { map open read };
allow netsysnative const_param:file { map open read };
allow netsysnative const_postinstall_fstab_param:file { map open read };
allow netsysnative const_postinstall_param:file { map open read };
allow netsysnative const_product_param:file { map open read };
allow netsysnative data_file:dir { add_name remove_name search write };
allow netsysnative data_file:sock_file { create setattr unlink };
allow netsysnative debug_param:file { map open read };
allow netsysnative default_param:file { map open read };
allow netsysnative dev_file:dir { add_name write };
allow netsysnative dev_file:sock_file { create setattr };
allow netsysnative distributedsche_param:file { map open read };
allow netsysnative hilog_param:file { map open read };
allow netsysnative hw_sc_build_os_param:file { map open read };
allow netsysnative hw_sc_build_param:file { map open read };
allow netsysnative hw_sc_param:file { map open read };
allow netsysnative init_param:file { map open read };
allow netsysnative init_svc_param:file { map open read };
allow netsysnative input_pointer_device_param:file { map open read };
allow netsysnative kernel:system { module_request };
allow netsysnative netmanager:binder { call };
allow netsysnative net_param:file { map open read };
allow netsysnative netsysnative:capability { net_admin };
allow netsysnative netsysnative:netlink_kobject_uevent_socket { bind create getopt read setopt };
allow netsysnative netsysnative:netlink_netfilter_socket { bind create getopt setopt };
allow netsysnative netsysnative:netlink_nflog_socket { create };
allow netsysnative netsysnative:netlink_route_socket { bind connect getopt nlmsg_read read setopt };
allow netsysnative netsysnative:udp_socket { create ioctl };
allow netsysnative netsysnative:unix_dgram_socket { ioctl };
allow netsysnative net_tcp_param:file { map open read };
allow netsysnative ohos_boot_param:file { map open read };
allow netsysnative ohos_param:file { map open read };
allow netsysnative param_watcher:binder { call transfer };
allow netsysnative persist_param:file { map open read };
allow netsysnative persist_sys_param:file { map read open };
allow netsysnative sa_netsys_native_manager:samgr_class { add };
allow netsysnative sa_param_watcher:samgr_class { get };
allow netsysnative security_param:file { map open read };
allow netsysnative startup_param:file { map open read };
allow netsysnative sysfs_net:dir { open read };
allow netsysnative sys_param:file { map open read };
allow netsysnative system_bin_file:dir { search };
allow netsysnative sys_usb_param:file { map open read };
allow netsysnative tracefs:dir { search };
allow netsysnative tracefs_trace_marker_file:file { open write };
allowxperm netsysnative netsysnative:udp_socket ioctl { 0x8913 0x8914 0x8915 0x891b 0x8927 };
allowxperm netsysnative netsysnative:unix_dgram_socket ioctl { 0x8910 };
