# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow normal_hap_attr appspawn_exec:file { getattr map open read };
allow normal_hap_attr bootevent_param:file { map open read };
allow normal_hap_attr bootevent_samgr_param:file { map open read };
allow normal_hap_attr build_version_param:file { map open read };
allow normal_hap_attr const_allow_mock_param:file { map open read };
allow normal_hap_attr const_allow_param:file { map open read };
allow normal_hap_attr const_build_param:file { map open read };
allow normal_hap_attr const_display_brightness_param:file { map open read };
allow normal_hap_attr const_param:file { map open read };
allow normal_hap_attr const_postinstall_fstab_param:file { map open read };
allow normal_hap_attr const_postinstall_param:file { map open read };
allow normal_hap_attr const_product_param:file { map open read };
allow normal_hap_attr data_app_el1_file:file { execute };
allow normal_hap_attr data_service_el2_file:dir { read open search };
allow normal_hap_attr data_service_el2_hmdfs:dir { add_name create getattr read open remove_name search write };
allow normal_hap_attr data_service_el2_hmdfs:file { create getattr rename };
allow normal_hap_attr data_user_file:dir { getattr read open search add_name create write };
allow normal_hap_attr data_user_file:file { create getattr };
allow normal_hap_attr debug_param:file { map open read };
allow normal_hap_attr default_param:file { map open read };
allow normal_hap_attr dev_ashmem_file:chr_file { open };
allow normal_hap_attr dev_file:sock_file { write };
allow normal_hap_attr deviceauth_service:binder { call };
allow normal_hap_attr dev_mali:chr_file { getattr ioctl map open read write };
allow normal_hap_attr dev_unix_socket:dir { search };
allow normal_hap_attr dev_unix_socket:sock_file { write };
allow normal_hap_attr disp_gralloc_host:binder { call };
allow normal_hap_attr distributeddata:binder { call transfer };
allow normal_hap_attr distributedsche_param:file { map open read };
allow normal_hap_attr dslm_service:binder { call transfer };
allow normal_hap_attr faultloggerd:fd { use };
allow normal_hap_attr faultloggerd_socket:sock_file { write };
allow normal_hap_attr faultloggerd_temp_file:file { read write };
allow normal_hap_attr faultloggerd:unix_stream_socket { connectto };
allow normal_hap_attr hdf_hdi_display_gralloc_service:hdf_devmgr_class { get };
allow normal_hap_attr hilog_param:file { map open read };
allow normal_hap_attr hiview:unix_dgram_socket { sendto };
allow normal_hap_attr huks_service:binder { call };
allow normal_hap_attr hw_sc_build_os_param:file { map open read };
allow normal_hap_attr hw_sc_build_param:file { map open read };
allow normal_hap_attr hw_sc_param:file { map open read };
allow normal_hap_attr init_param:file { map open read };
allow normal_hap_attr init_svc_param:file { map open read };
allow normal_hap_attr input_pointer_device_param:file { map open read };
allow normal_hap_attr media_service:fd { use };
allow normal_hap_attr netmanager:binder { call transfer };
allow normal_hap_attr net_param:file { map open read };
allow normal_hap_attr netsysnative:unix_stream_socket { connectto };
allow normal_hap_attr net_tcp_param:file { map open read };
allow normal_hap_attr normal_hap_attr:binder { call transfer };
allow normal_hap_attr normal_hap_data_file_attr:dir { open read remove_name rmdir search };
allow normal_hap_attr normal_hap_data_file_attr:file { getattr ioctl lock map read write open rename setattr unlink };
allow normal_hap_attr normal_hap_attr:netlink_route_socket { bind nlmsg_read };
allow normal_hap_attr normal_hap_attr:process { ptrace };
allow normal_hap_attr normal_hap_attr:unix_dgram_socket { getopt setopt };
allow normal_hap_attr normal_hap_attr:tcp_socket { getattr bind listen accept };
allow normal_hap_attr node:tcp_socket { node_bind };
allow normal_hap_attr nwebspawn:fifo_file { write };
allow normal_hap_attr ohos_boot_param:file { map open read };
allow normal_hap_attr ohos_param:file { map open read };
allow normal_hap_attr persist_param:file { map open read };
allow normal_hap_attr persist_sys_param:file { map open read };
allow normal_hap_attr proc_max_user_watches:file { open read };
allow normal_hap_attr render_service:unix_stream_socket { read read write write };
allow normal_hap_attr sa_accessibleabilityms:samgr_class { get };
allow normal_hap_attr sa_accesstoken_manager_service:samgr_class { get };
allow normal_hap_attr sa_privacy_service:samgr_class { get };
allow normal_hap_attr sa_dataobs_mgr_service_service:samgr_class { get };
allow normal_hap_attr sa_device_auth_service:samgr_class { get };
allow normal_hap_attr sa_device_security_level_manager_service:samgr_class { get };
allow normal_hap_attr sa_device_service_manager:samgr_class { get };
allow normal_hap_attr sa_distributeddata_service:samgr_class { get };
allow normal_hap_attr sa_foundation_abilityms:samgr_class { get };
allow normal_hap_attr sa_foundation_ans:samgr_class { get };
allow normal_hap_attr sa_foundation_appms:samgr_class { get };
allow normal_hap_attr sa_foundation_bms:samgr_class { get };
allow normal_hap_attr sa_foundation_cesfwk_service:samgr_class { get };
allow normal_hap_attr sa_foundation_devicemanager_service:samgr_class { get };
allow normal_hap_attr sa_foundation_dms:samgr_class { get };
allow normal_hap_attr sa_foundation_tel_state_registry:samgr_class { get };
allow normal_hap_attr sa_foundation_wms:samgr_class { get };
allow normal_hap_attr sa_huks_service:samgr_class { get };
allow normal_hap_attr sa_inputmethod_service:samgr_class { get };
allow normal_hap_attr sa_media_service:samgr_class { get };
allow normal_hap_attr sa_net_conn_manager:samgr_class { get };
allow normal_hap_attr sa_param_watcher:samgr_class { get };
allow normal_hap_attr sa_render_service:samgr_class { get };
allow normal_hap_attr sa_resource_schedule:samgr_class { get };
allow normal_hap_attr sa_telephony_tel_cellular_data:samgr_class { get };
allow normal_hap_attr sa_telephony_tel_core_service:samgr_class { get };
allow normal_hap_attr sa_uri_permission_mgr_service:samgr_class { get };
allow normal_hap_attr security_param:file { map open read };
allow normal_hap_attr startup_param:file { map open read };
allow normal_hap_attr sysfs_devices_system_cpu:file { open read };
allow normal_hap_attr sysfs_hctosys:file { open read };
allow normal_hap_attr sysfs_rtc:dir { open read };
allow normal_hap_attr sys_param:file { map open read };
allow normal_hap_attr system_bin_file:file { execute_no_trans map open };
allow normal_hap_attr system_core_hap:binder { transfer };
allow normal_hap_attr system_core_hap:fd { use };
allow normal_hap_attr system_lib_file:dir { open read };
allow normal_hap_attr sys_usb_param:file { map open read };
allow normal_hap_attr telephony_sa:binder { call };
allow normal_hap_attr tmpfs:lnk_file { create };
allow normal_hap_attr tracefs:dir { search };
allow normal_hap_attr tracefs_trace_marker_file:file { open write };
allowxperm normal_hap_attr dev_mali:chr_file ioctl { 0x8000 0x8001 0x8002 0x8003 0x8005 0x8006 0x8007 0x800c 0x800e 0x8011 0x8016 0x8018 0x8019 0x801d 0x801e 0x8026 0x8024 0x8025 0x8027 0x8030 0x8033 0x8034 0x8036 0x802a 0x802c 0x802d 0x802f 0x8014 };
allowxperm normal_hap_attr normal_hap_data_file_attr:file ioctl { 0x5413 0xf50c };
binder_call(normal_hap_attr system_basic_hap);
allow normal_hap_attr dev_asanlog_file:dir { rw_dir_perms };
allow normal_hap_attr dev_asanlog_file:file { create_file_perms };
