# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow nwebspawn bootevent_param:file { map open read };
allow nwebspawn bootevent_samgr_param:file { map open read };
allow nwebspawn build_version_param:file { map open read };
allow nwebspawn const_allow_mock_param:file { map open read };
allow nwebspawn const_allow_param:file { map open read };
allow nwebspawn const_build_param:file { map open read };
allow nwebspawn const_display_brightness_param:file { map open read };
allow nwebspawn const_param:file { map open read };
allow nwebspawn const_postinstall_fstab_param:file { map open read };
allow nwebspawn const_postinstall_param:file { map open read };
allow nwebspawn const_product_param:file { map open read };
allow nwebspawn data_app_el1_file:dir { mounton search };
allow nwebspawn data_app_el1_file:file { execute getattr map open read };
allow nwebspawn data_app_el2_file:dir { search };
allow nwebspawn data_app_file:dir { search };
allow nwebspawn debug_param:file { map open read };
allow nwebspawn default_param:file { map open read };
allow nwebspawn dev_at_file:chr_file { ioctl };
allow nwebspawn distributedsche_param:file { map open read };
allow nwebspawn hilog_param:file { map open read };
allow nwebspawn hw_sc_build_os_param:file { map open read };
allow nwebspawn hw_sc_build_param:file { map open read };
allow nwebspawn hw_sc_param:file { map open read };
allow nwebspawn init_param:file { map open read };
allow nwebspawn init_svc_param:file { map open read };
allow nwebspawn init:unix_stream_socket { getattr getopt };
allow nwebspawn input_pointer_device_param:file { map open read };
allow nwebspawn net_param:file { map open read };
allow nwebspawn net_tcp_param:file { map open read };
allow nwebspawn normal_hap_data_file_attr:dir { mounton };
allow nwebspawn nwebspawn:capability { setgid setuid sys_admin kill };
allow nwebspawn nwebspawn_socket:sock_file { setattr };
allow nwebspawn ohos_boot_param:file { map open read };
allow nwebspawn ohos_param:file { map open read };
allow nwebspawn persist_param:file { map open read };
allow nwebspawn persist_sys_param:file { map open read };
allow nwebspawn proc_file:dir { mounton };
allow nwebspawn rootfs:dir { mounton };
allow nwebspawn security_param:file { map open read };
allow nwebspawn startup_param:file { map open read };
allow nwebspawn sys_file:dir { mounton };
allow nwebspawn sys_param:file { map open read };
allow nwebspawn system_bin_file:dir { mounton search };
allow nwebspawn system_bin_file:file { entrypoint execute map read };
allow nwebspawn system_etc_file:dir { mounton };
allow nwebspawn system_file:dir { mounton };
allow nwebspawn system_fonts_file:dir { mounton };
allow nwebspawn system_lib_file:dir { mounton };
allow nwebspawn system_profile_file:dir { mounton };
allow nwebspawn system_usr_file:dir { mounton search };
allow nwebspawn system_usr_file:file { getattr map open read };
allow nwebspawn sys_usb_param:file { map open read };
allow nwebspawn tmpfs:dir { mounton };
allow nwebspawn tmpfs:filesystem { unmount };
allow nwebspawn vendor_lib_file:dir { mounton };
allow nwebspawn self:xpm { exec_anon_mem };
allowxperm nwebspawn dev_at_file:chr_file ioctl { 0x4102 };
