allow param_watcher accessibility:binder { call };
allow param_watcher accesstoken_service:binder { call };
allow param_watcher accountmgr:binder { call };
allow param_watcher battery_stats:binder { call };
allow param_watcher bgtaskmgr_service:binder { call };
allow param_watcher bluetooth_service:binder { call };
allow param_watcher bootanimation:binder { call };
allow param_watcher camera_service:binder { call };
allow param_watcher device_usage_stats_service:binder { call };
allow param_watcher dev_unix_socket:dir { search };
allow param_watcher distributeddata:binder { call };
allow param_watcher distributedfiledaemon:binder { call };
allow param_watcher distributedsche:binder { call };
allow param_watcher download_server:binder { call };
allow param_watcher dslm_service:binder { call };
allow param_watcher edm_sa:binder { call };
allow param_watcher faceauth:binder { call };
allow param_watcher fms_service:binder { call };
allow param_watcher foundation:binder { call };
allow param_watcher hidumper_service:binder { call };
allow param_watcher huks_service:binder { call };
allow param_watcher inputmethod_service:binder { call };
allow param_watcher kernel:unix_stream_socket { connectto };
allow param_watcher locationhub:binder { call };
allow param_watcher media_service:binder { call };
allow param_watcher memmgrservice:binder { call };
allow param_watcher msdp_sa:binder { call };
allow param_watcher netmanager:binder { call };
allow param_watcher netsysnative:binder { call };
allow param_watcher normal_hap:binder { call };
allow param_watcher paramservice_socket:sock_file { write };
allow param_watcher pasteboard_service:binder { call };
allow param_watcher pinauth:binder { call };
allow param_watcher pulseaudio:binder { call };
allow param_watcher render_service:binder { call };
allow param_watcher resource_schedule_service:binder { call };
allow param_watcher sa_param_watcher:samgr_class { add get };
allow param_watcher screenlock_server:binder { call };
allow param_watcher sensors:binder { call };
allow param_watcher softbus_server:binder { call };
allow param_watcher system_basic_hap:binder { call };
allow param_watcher system_bin_file:dir { search };
allow param_watcher telephony_sa:binder { call };
allow param_watcher thermal:binder { call };
allow param_watcher time_service:binder { call };
allow param_watcher tracefs:dir { search };
allow param_watcher tracefs_trace_marker_file:file { open write };
allow param_watcher ui_service:binder { call };
allow param_watcher updater_sa:binder { call };
allow param_watcher usb_service:binder { call };
allow param_watcher useriam:binder { call };
allow param_watcher wallpaper_service:binder { call };
allow param_watcher wifi_manager_service:binder { call };
