# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow pulseaudio bootevent_param:file { map open read };
allow pulseaudio bootevent_samgr_param:file { map open read };
allow pulseaudio build_version_param:file { map open read };
allow pulseaudio const_allow_mock_param:file { map open read };
allow pulseaudio const_allow_param:file { map open read };
allow pulseaudio const_build_param:file { map open read };
allow pulseaudio const_display_brightness_param:file { map open read };
allow pulseaudio const_param:file { map open read };
allow pulseaudio const_postinstall_fstab_param:file { map open read };
allow pulseaudio const_postinstall_param:file { map open read };
allow pulseaudio const_product_param:file { map open read };
allow pulseaudio debug_param:file { map open read };
allow pulseaudio default_param:file { map open read };
allow pulseaudio distributedsche_param:file { map open read };
allow pulseaudio hilog_param:file { map open read };
allow pulseaudio hw_sc_build_os_param:file { map open read };
allow pulseaudio hw_sc_build_param:file { map open read };
allow pulseaudio hw_sc_param:file { map open read };
allow pulseaudio init_param:file { map open read };
allow pulseaudio init_svc_param:file { map open read };
allow pulseaudio input_pointer_device_param:file { map open read };
allow pulseaudio net_param:file { map open read };
allow pulseaudio net_tcp_param:file { map open read };
allow pulseaudio ohos_boot_param:file { map open read };
allow pulseaudio ohos_param:file { map open read };
allow pulseaudio param_watcher:binder { call transfer };
allow pulseaudio persist_param:file { map open read };
allow pulseaudio persist_sys_param:file { map open read };
allow pulseaudio sa_param_watcher:samgr_class { get };
allow pulseaudio security_param:file { map open read };
allow pulseaudio startup_param:file { map open read };
allow pulseaudio sys_param:file { map open read };
allow pulseaudio sys_usb_param:file { map open read };
allow pulseaudio tracefs:dir { search };
allow pulseaudio tracefs_trace_marker_file:file { open write };
