allow render_service bootanimation:binder { call transfer };
allow render_service bootanimation:fd { use };
allow render_service dev_dri_file:chr_file { getattr ioctl open read write };
allow render_service dev_dri_file:dir { search };
allow render_service dev_graphics_file:chr_file { open read write };
allow render_service dev_graphics_file:dir { search };
allow render_service dev_mali:chr_file { getattr ioctl map open read write };
allow render_service dev_rga:chr_file { ioctl open read write };
allow render_service param_watcher:binder { call transfer };
allow render_service render_service:capability { sys_nice };
allow render_service render_service:netlink_kobject_uevent_socket { bind create setopt };
allow render_service sa_device_service_manager:samgr_class { get };
allow render_service sa_param_watcher:samgr_class { get };
allow render_service sa_render_service:samgr_class { add };
allow render_service system_bin_file:dir { search };
allow render_service tracefs:dir { search };
allow render_service tracefs_trace_marker_file:file { open write };
allow render_service ui_service:binder { call transfer };
allow render_service ui_service:fd { use };
allowxperm render_service dev_dri_file:chr_file ioctl { 0x640d 0x6411 0x641e 0x641f 0x642d 0x64a0 0x64a1 0x64a6 0x64a7 0x64aa 0x64b2 0x64b4 0x64b5 0x64b6 0x64b9 };
allowxperm render_service dev_mali:chr_file ioctl { 0x8000 0x8001 0x8003 0x8005 0x800e 0x8011 0x8026 };
allowxperm render_service dev_rga:chr_file ioctl { 0x601b };
