# Copyright (c) 2022-2025 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# bootdevice rely
allow resource_schedule_service bootevent_param:file { map open read };
allow resource_schedule_service bootevent_samgr_param:file { map open read };
allow resource_schedule_service const_display_brightness_param:file { map open read };
# install unintsall envent
allow resource_schedule_service const_postinstall_fstab_param:file { map open read };
allow resource_schedule_service const_postinstall_param:file { map open read };
# hilog file open rely
allow resource_schedule_service hilog_param:file { map open read };
allow resource_schedule_service hw_sc_build_os_param:file { map open read };
allow resource_schedule_service hw_sc_build_param:file { map open read };
allow resource_schedule_service hw_sc_param:file { map open read };
# boot device rely
allow resource_schedule_service ohos_boot_param:file { map open read };
allow resource_schedule_service ohos_param:file { map open read };
allow resource_schedule_service sa_bgtaskmgr:samgr_class { get };
allow resource_schedule_service sa_foundation_appms:samgr_class { get };
allow resource_schedule_service sa_resource_schedule_socperf_server:samgr_class { add get };
allow resource_schedule_service security_param:file { map open read };
allow resource_schedule_service startup_param:file { map open read };
# hdc device recognition
allow resource_schedule_service sys_param:file { map open read };
allow resource_schedule_service system_usr_file:file { map open };
allow resource_schedule_service sys_usb_param:file { map open read };
allow resource_schedule_service vendor_etc_file:dir { search };
debug_only(`
    allow resource_schedule_service debug_param:file { map open read };
')
allow resource_schedule_service default_param:file { map open read };
allow resource_schedule_service dev_file:lnk_file { read };
allow resource_schedule_service persist_param:file { map open read };
allow resource_schedule_service persist_sys_param:file { map open read };
allow resource_schedule_service sa_foundation_tel_state_registry:samgr_class { get };
allow resource_schedule_service sa_foundation_wms:samgr_class { get };
allow resource_schedule_service sa_resource_schedule:samgr_class { add get };
allow resource_schedule_service sa_sys_event_service:samgr_class { get };
allowxperm resource_schedule_service sysfs_devices_system_cpu:file ioctl { 0x5413 };
allow resource_schedule_service sa_multimodalinput_service:samgr_class { get };
allow resource_schedule_service multimodalinput:unix_stream_socket { read };
allow resource_schedule_service sa_work_schedule_service:samgr_class { get };
allow resource_schedule_service distributeddata:fd { use };
allow distributeddata resource_schedule_service:binder { transfer };
allow resource_schedule_service wifi_manager_service:binder { call };
allow resource_schedule_service sa_wifi_hotspot_ability:samgr_class { get };
allow resource_schedule_service sa_wifi_p2p_ability:samgr_class { get };
allow resource_schedule_service sa_wifi_device_ability:samgr_class { get };
allow resource_schedule_service netmanager:binder { call };
allow resource_schedule_service powermgr:binder {call transfer};

#smoke test
#avc:  denied  { get } for service=401 pid=473 scontext=u:r:resource_schedule_service:s0 tcontext=u:object_r:sa_foundation_bms:s0 tclass=samgr_class permissive=0
allow resource_schedule_service sa_foundation_bms:samgr_class { get };
#avc:  denied  { add } for service=1903 pid=471 scontext=u:r:resource_schedule_service:s0 tcontext=u:object_r:sa_bgtaskmgr:s0 tclass=samgr_class permissive=0
allow resource_schedule_service sa_bgtaskmgr:samgr_class { add };

