# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow sh accessibility:dir { getattr search };
allow sh accessibility:file { open read };
allow sh accesstoken_service:dir { getattr search };
allow sh accesstoken_service:file { open read };
allow sh account_data_file:file { getattr unlink };
allow sh accountmgr:dir { getattr search };
allow sh accountmgr:file { open read };
allow sh appspawn:dir { getattr search };
allow sh appspawn:file { open read };
allow sh appspawn:process { getattr };
allow sh audio_host:dir { getattr search };
allow sh audio_host:file { open read };
allow sh audio_policy:binder { call transfer };
allow sh audio_policy:dir { getattr search };
allow sh audio_policy:file { open read };
allow sh audio_policy:process { getattr };
allow sh blue_host:dir { getattr search };
allow sh blue_host:file { open read };
allow sh bluetooth_service:dir { getattr search };
allow sh bluetooth_service:file { open read };
allow sh bootevent_param:file { map open read };
allow sh bootevent_samgr_param:file { map open read };
allow sh build_version_param:file { map open read };
allow sh camera_host:dir { getattr search };
allow sh camera_host:file { open read };
allow sh camera_service:dir { getattr search };
allow sh camera_service:file { open read };
allow sh codec_host:dir { getattr search };
allow sh codec_host:file { open read };
allow sh console:dir { getattr search };
allow sh console:file { open read };
allow sh console:lnk_file { read };
allow sh console:process { getattr };
allow sh const_allow_mock_param:file { map open read };
allow sh const_allow_param:file { map open read };
allow sh const_build_param:file { map open read };
allow sh const_display_brightness_param:file { map open read };
allow sh const_param:file { map open read };
allow sh const_postinstall_fstab_param:file { map open read };
allow sh const_postinstall_param:file { map open read };
allow sh const_product_param:file { map open read };
allow sh data_appasec:dir { getattr };
dontaudit sh data_app_el1_file:dir { add_name create search write };
dontaudit sh data_app_el2_file:dir { getattr open read remove_name rmdir search write };
dontaudit sh data_app_el3_file:dir { getattr open read remove_name rmdir search write };
dontaudit sh data_app_el4_file:dir { getattr open remove_name rmdir search write };
allow sh data_appephemeral:dir { getattr };
dontaudit sh data_app_file:dir { getattr remove_name rmdir write };
allow sh data_applib:dir { getattr };
allow sh data_appprivate:dir { getattr };
allow sh data_appstaging:dir { getattr open read rmdir search };
allow sh data_backup:dir { getattr };
allow sh data_bluetooth:dir { getattr open read remove_name search write };
allow sh data_bluetooth:file { getattr };
allow sh data_startup:dir { getattr };
allow sh data_cache:dir { getattr };
allow sh data_chipset_file:dir { getattr };
allow sh data_data_file:dir { getattr search };
allow sh data_data_pulse_dir:dir { getattr open read search };
allow sh data_data_pulse_dir:file { lock open read write };
allow sh data_service_el1_file:dir { getattr };
allow sh data_drm:dir { getattr };
allow sh data_file:dir { getattr };
dontaudit sh data_file:file { execute execute_no_trans };
allow sh data_file:sock_file { getattr };
allow sh data_hilogd_file:dir { add_name getattr open read remove_name search write };
dontaudit sh data_hilogd_file:file { create getattr ioctl open read unlink write write open };
allow sh data_local:dir { getattr search remove_name rmdir write };
dontaudit sh data_local_tmp:dir { remove_name rmdir search write };
allow sh data_local_tmp:file { getattr open read unlink };
allow sh data_local_traces:dir { getattr open read rmdir search };
allow sh data_log:dir { getattr open read search write };
allow sh data_log:file { getattr };
allow sh data_media:dir { getattr };
allow sh data_misc_ce:dir { getattr };
allow sh data_misc_de:dir { getattr };
allow sh data_misc:dir { getattr search };
allow sh data_nfc:dir { getattr remove_name rmdir };
allow sh data_ota:dir { getattr };
allow sh data_ota_package:dir { getattr };
allow sh data_preloads:dir { getattr };
allow sh data_resourcecache:dir { getattr };
allow sh data_service_el1_file:dir { open read remove_name rmdir write };
allow sh data_service_el1_file:file { read write };
allow sh data_service_el1_public_deviceauthService_file:dir { getattr open read remove_name rmdir search write };
allow sh data_service_el1_public_huksService_file:dir { getattr open read remove_name rmdir search write };
allow sh data_service_el1_public_huksService_file:file { getattr unlink };
allow sh data_service_el2_file:dir { getattr open read search };
allow sh data_service_el2_hmdfs:dir { getattr open read search };
allow sh data_service_file:dir { getattr open read remove_name write };
allow sh data_ss:dir { getattr };
allow sh data_system_ce:dir { getattr open remove_name search write };
allow sh data_system_ce:file { unlink };
allow sh data_system_de:dir { getattr read rmdir search };
allow sh data_system:dir { getattr };
allow sh data_updater_file:dir { getattr };
allow sh data_user_de:dir { getattr };
allow sh data_user:dir { getattr read search };
allow sh data_vendor_ce:dir { getattr };
allow sh data_vendor_de:dir { getattr };
allow sh data_vendor:dir { getattr };
allow sh debug_param:file { map open read };
allow sh default_param:file { map open read };
allow sh dev_block_file:dir { search };
allow sh dev_block_file:lnk_file { read };
allow sh dev_block_volfile:dir { search };
allow sh dev_console_file:chr_file { getattr };
allow sh dev_file:dir { getattr };
allow sh dev_file:sock_file { write };
allow sh deviceauth_service:dir { getattr search };
allow sh deviceauth_service:file { open read };
allow sh devpts:chr_file { getattr ioctl read };
allow sh dev_pts_file:dir { getattr };
allow sh dev_rfkill:chr_file { open read };
allow sh dev_usb_ffs:dir { search };
allow sh disp_gralloc_host:dir { getattr search };
allow sh disp_gralloc_host:file { open read };
allow sh allocator_host:dir { getattr search };
allow sh allocator_host:file { open read };
allow sh distributeddata:dir { getattr search };
allow sh distributeddata:file { open read };
allow sh distributedfiledaemon:dir { getattr search };
allow sh distributedfiledaemon:file { open read };
allow sh distributedsche:dir { getattr search };
allow sh distributedsche:file { open read };
allow sh distributedsche_param:file { map open read };
allow sh download_server:dir { getattr search };
allow sh download_server:file { open read };
allow sh dslm_service:dir { getattr search };
allow sh dslm_service:file { open read };
allow sh edm_sa:dir { getattr search };
allow sh edm_sa:file { open read };
allow sh edm_sa:process { getattr };
allow sh etc_file:lnk_file { getattr };
allow sh face_auth_host:dir { getattr search };
allow sh face_auth_host:file { open read };
allow sh faultloggerd:dir { getattr search };
allow sh faultloggerd:file { open };
allow sh faultloggerd_temp_file:dir { add_name getattr open read search write };
allow sh faultloggerd_temp_file:file { create getattr open read write write open };
allow sh fingerprint_auth_host:dir { getattr search };
allow sh fingerprint_auth_host:file { open read };
allow sh foundation:binder { call transfer };
allow sh foundation:dir { getattr search };
allow sh foundation:file { open read };
allow sh foundation:process { getattr };
allow sh hdcd:dir { getattr search };
allow sh hdcd:fd { use };
allow sh hdcd:fifo_file { ioctl write };
allow sh hdcd:file { open read };
allow sh hdcd:unix_stream_socket { read write };
allow sh hdf_devmgr:dir { getattr search };
allow sh hdf_devmgr:file { open read };
allow sh hdf_devmgr:process { getattr };
allow sh hidumper_file:dir { getattr };
allow sh hidumper_service:dir { getattr search };
allow sh hidumper_service:file { open read };
allow sh hilogd:dir { getattr search };
allow sh hilogd:file { open read };
allow sh hilogd:process { getattr };
allow sh hilog_param:file { map open read };
allow sh hiview:dir { getattr search };
allow sh hiview:file { open };
allow sh hiview:process { getattr };
allow sh huks_service:dir { getattr search };
allow sh huks_service:file { open read };
allow sh hw_sc_build_os_param:file { map open read };
allow sh hw_sc_build_param:file { map open read };
allow sh hw_sc_param:file { map open read };
allow sh init_param:file { map open read };
allow sh init:process { getattr };
allow sh init_svc_param:file { map open read };
allow sh inputmethod_service:dir { getattr search };
allow sh inputmethod_service:file { open read };
allow sh input_pointer_device_param:file { map open read };
allow sh input_user_host:dir { getattr search };
allow sh input_user_host:file { open read };
allow sh installs:dir { getattr search };
allow sh installs:file { open read };
allow sh installs:process { getattr };
allow sh ispserver:dir { getattr search };
allow sh ispserver:file { open read };
allow sh kernel:process { getattr };
allow sh kernel:system { module_request };
allow sh kernel:unix_stream_socket { connectto };
allow sh lib_file:lnk_file { getattr };
allow sh light_host:dir { getattr search };
allow sh light_host:file { open read };
allow sh location_host:dir { getattr search };
allow sh location_host:file { open read };
allow sh locationhub:dir { getattr search };
allow sh locationhub:file { open read };
allow sh media_service:dir { getattr search };
allow sh media_service:file { open read };
allow sh mmi_uinput_service:dir { getattr search };
allow sh mmi_uinput_service:file { open read };
allow sh mmi_uinput_service:process { getattr };
allow sh msdp_sa:dir { getattr search };
allow sh msdp_sa:file { open read };
allow sh multimodalinput:dir { getattr search };
allow sh multimodalinput:file { open };
allow sh multimodalinput:process { getattr };
allow sh native_socket:sock_file { write };
allow sh netmanager:dir { getattr search };
allow sh netmanager:file { open read };
allow sh net_param:file { map open read };
allow sh netsysnative:dir { getattr search };
allow sh netsysnative:file { open read };
allow sh netsysnative:process { getattr };
allow sh netsysnative:unix_stream_socket { connectto };
allow sh net_tcp_param:file { map open read };
allow sh node:udp_socket { node_bind };
dontaudit sh normal_hap_data_file_attr:dir { remove_name search write };
dontaudit sh normal_hap_data_file_attr:file { getattr ioctl lock map open read write setattr unlink };
allow sh normal_hap_attr:dir { getattr search };
allow sh normal_hap_attr:file { open read };
allow sh ohos_boot_param:file { map open read };
allow sh ohos_param:file { map open read };
allow sh paramservice_socket:sock_file { write };
allow sh param_watcher:binder { call transfer };
allow sh param_watcher:dir { getattr search };
allow sh param_watcher:file { open read };
allow sh param_watcher:process { getattr };
allow sh pasteboard_service:dir { getattr search };
allow sh pasteboard_service:file { open read };
allow sh pasteboard_service:process { getattr };
allow sh persist_param:file { map open read };
allow sh persist_sys_param:file { map open read };
allow sh pinauth:dir { getattr search };
allow sh pinauth:file { open read };
allow sh pin_auth_host:dir { getattr search };
allow sh pin_auth_host:file { open read };
allow sh power_host:dir { getattr search };
allow sh power_host:file { open read };
allow sh power_host:process { getattr };
allow sh power_shell_exec:file { execute execute_no_trans getattr map open read read open };
allow sh proc_file:file { open read };
allow sh pulseaudio:binder { call };
allow sh pulseaudio:dir { getattr search };
allow sh pulseaudio:file { open read };
allow sh render_service:dir { getattr search };
allow sh render_service:file { open read };
allow sh render_service:process { getattr };
allow sh rootfs:dir { open read };
allow sh sa_audio_policy_service:samgr_class { get };
allow sh sa_foundation_bms:samgr_class { get };
allow sh sa_foundation_dms:samgr_class { get };
allow sh samgr:dir { getattr search };
allow sh samgr:file { open read };
allow sh samgr:process { getattr };
allow sh sa_multimodalinput_service:samgr_class { get };
allow sh sa_param_watcher:samgr_class { get };
allow sh sa_pulseaudio_audio_service:samgr_class { get };
allow sh screenlock_server:dir { getattr search };
allow sh screenlock_server:file { open read };
allow sh security_param:file { map open read };
allow sh sensor_host:dir { getattr search };
allow sh sensor_host:file { open read };
allow sh sensors:file { open read };
dontaudit sh sh:capability { chown dac_override net_admin net_raw sys_admin sys_module sys_ptrace };
allow sh sh:netlink_generic_socket { bind create getattr read setopt write };
allow sh sh:netlink_route_socket { bind create nlmsg_write read write };
allow sh sh:packet_socket { bind create ioctl setopt write };
allow sh sh:rawip_socket { create ioctl };
allow sh sh:udp_socket { bind create ioctl write };
allow sh sh:unix_dgram_socket { ioctl };
allow sh softbus_server:dir { getattr search };
allow sh softbus_server:file { open read };
allow sh startup_param:file { map open read };
allow sh storage_daemon:dir { getattr search };
allow sh storage_daemon:file { open read };
allow sh storage_daemon:process { getattr };
allow sh storage_manager:dir { getattr search };
allow sh storage_manager:file { open read };
allow sh storage_manager:process { getattr };
allow sh sys_param:file { map open read };
dontaudit sh system_basic_hap_data_file:dir { remove_name write };
dontaudit sh system_basic_hap_data_file:file { getattr unlink };
allow sh system_basic_hap:dir { getattr search };
allow sh system_basic_hap:file { open read };
allow sh system_bin_file:dir { search };
allow sh system_bin_file:lnk_file { read };
dontaudit sh system_core_hap_data_file:dir { remove_name write };
dontaudit sh system_core_hap_data_file:file { getattr unlink };
allow sh system_etc_file:dir { add_name remove_name write };
allow sh system_etc_file:file { create rename setattr unlink write };
allow sh system_file:dir { getattr };
allow sh sys_usb_param:file { map open read };
allow sh telephony_sa:dir { getattr search };
allow sh telephony_sa:file { open read };
allow sh telephony_sa:process { getattr };
allow sh time_service:dir { getattr search };
allow sh time_service:file { open read };
allow sh tracefs:dir { search };
allow sh tracefs_trace_marker_file:file { open write };
allow sh tty_device:chr_file { getattr ioctl open read write };
allow sh udevd:dir { getattr search };
allow sh udevd:file { open read };
allow sh udevd:process { getattr };
allow sh ueventd:dir { getattr search };
allow sh ueventd:file { open read };
allow sh ui_service:dir { getattr search };
allow sh ui_service:file { open read };
allow sh ui_service:process { getattr };
allow sh updater_file:dir { getattr };
allow sh updater_sa:dir { getattr search };
allow sh updater_sa:file { open read };
allow sh usb_host:dir { getattr search };
allow sh usb_host:file { open read };
allow sh usb_service:dir { getattr search };
allow sh usb_service:file { open read };
allow sh user_auth_host:dir { getattr search };
allow sh user_auth_host:file { open read };
allow sh useriam:dir { getattr search };
allow sh useriam:file { open read };
allow sh vendor_etc_file:dir { search };
allow sh vendor_etc_file:file { open read };
allow sh vendor_file:dir { getattr };
allow sh vibrator_host:dir { getattr search };
allow sh vibrator_host:file { open read };
allow sh wallpaper_service:dir { getattr search };
allow sh wallpaper_service:file { open read };
allow sh watchdog_service:dir { getattr search };
allow sh watchdog_service:file { open };
allow sh watchdog_service:process { getattr };
allow sh wifi_hal_service:dir { getattr search };
allow sh wifi_hal_service:file { open read };
allow sh wifi_hal_service:process { getattr };
allow sh wifi_host:dir { getattr search };
allow sh wifi_host:file { open read };
allow sh wifi_manager_service:dir { getattr search };
allow sh wifi_manager_service:file { open read };
allow sh dev_mali:chr_file { getattr ioctl map open read write };
allowxperm sh data_hilogd_file:file ioctl { 0x5413 };
allowxperm sh devpts:chr_file ioctl { 0x5413 };
allowxperm sh hdcd:fifo_file ioctl { 0x5413 };
allowxperm sh normal_hap_data_file_attr:file ioctl { 0xf50c };
allowxperm sh sh:packet_socket ioctl { 0x8933 };
allowxperm sh sh:rawip_socket ioctl { 0x8933 };
allowxperm sh sh:udp_socket ioctl { 0x8913 };
allowxperm sh sh:unix_dgram_socket ioctl { 0x8933 };
allowxperm sh tty_device:chr_file ioctl { 0x5401 0x5403 0x540f 0x5413 };
allow sh sa_memory_manager_service:samgr_class { get };
allow sh memmgrservice:binder { call transfer };
