# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow storage_manager bootevent_param:file { map open read };
allow storage_manager bootevent_samgr_param:file { map open read };
allow storage_manager build_version_param:file { map open read };
allow storage_manager const_allow_mock_param:file { map open read };
allow storage_manager const_allow_param:file { map open read };
allow storage_manager const_build_param:file { map open read };
allow storage_manager const_display_brightness_param:file { map open read };
allow storage_manager const_param:file { map open read };
allow storage_manager const_postinstall_fstab_param:file { map open read };
allow storage_manager const_postinstall_param:file { map open read };
allow storage_manager const_product_param:file { map open read };
allow storage_manager debug_param:file { map open read };
allow storage_manager default_param:file { map open read };
allow storage_manager dev_unix_socket:dir { search };
allow storage_manager distributedsche_param:file { map open read };
allow storage_manager foundation:binder { call transfer };
allow storage_manager hilog_param:file { map open read };
allow storage_manager hw_sc_build_os_param:file { map open read };
allow storage_manager hw_sc_build_param:file { map open read };
allow storage_manager hw_sc_param:file { map open read };
allow storage_manager init_param:file { map open read };
allow storage_manager init_svc_param:file { map open read };
allow storage_manager input_pointer_device_param:file { map open read };
allow storage_manager net_param:file { map open read };
allow storage_manager net_tcp_param:file { map open read };
allow storage_manager normal_hap:binder { call };
allow storage_manager ohos_boot_param:file { map open read };
allow storage_manager ohos_param:file { map open read };
allow storage_manager param_watcher:binder { call transfer };
allow storage_manager persist_param:file { map open read };
allow storage_manager persist_sys_param:file { map open read };
allow storage_manager sa_foundation_abilityms:samgr_class { get };
allow storage_manager sa_foundation_cesfwk_service:samgr_class { get };
allow storage_manager sa_param_watcher:samgr_class { get };
allow storage_manager sa_storage_manager_daemon:samgr_class { get };
allow storage_manager sa_storage_manager_service:samgr_class { add get };
allow storage_manager security_param:file { map open read };
allow storage_manager startup_param:file { map open read };
allow storage_manager storage_daemon:binder { call };
allow storage_manager sys_file:file { open read };
allow storage_manager sysfs_rtc:dir { open read };
allow storage_manager sys_param:file { map open read };
allow storage_manager system_bin_file:dir { search };
allow storage_manager system_usr_file:dir { search };
allow storage_manager system_usr_file:file { getattr map open read };
allow storage_manager sys_usb_param:file { map open read };
allow storage_manager tracefs:dir { search };
allow storage_manager tracefs_trace_marker_file:file { open write };
