# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow system_basic_hap_attr appspawn_exec:file { getattr map open read };
allow system_basic_hap_attr bluetooth_service:binder { call transfer };
allow system_basic_hap_attr bootanimation:fd { use };
allow system_basic_hap_attr bootevent_param:file { map open read };
allow system_basic_hap_attr bootevent_samgr_param:file { map open read };
allow system_basic_hap_attr build_version_param:file { map open read };
allow system_basic_hap_attr const_allow_mock_param:file { map open read };
allow system_basic_hap_attr const_allow_param:file { map open read };
allow system_basic_hap_attr const_build_param:file { map open read };
allow system_basic_hap_attr const_display_brightness_param:file { map open read };
allow system_basic_hap_attr const_postinstall_fstab_param:file { map open };
allow system_basic_hap_attr const_product_param:file { map open read };
allow system_basic_hap_attr data_service_el1_file:file { getattr read };
allow system_basic_hap_attr data_service_el2_file:dir { search };
allow system_basic_hap_attr data_service_el2_hmdfs:dir { search };
allow system_basic_hap_attr data_service_file:dir { search };
allow system_basic_hap_attr debug_param:file { map open read };
allow system_basic_hap_attr default_param:file { map open read };
allow system_basic_hap_attr dev_ashmem_file:chr_file { open };
allow system_basic_hap_attr deviceinfoservice:binder { call };
allow system_basic_hap_attr dev_mali:chr_file { getattr ioctl map open read write };
allow system_basic_hap_attr dev_unix_socket:dir { search };
allow system_basic_hap_attr dev_unix_socket:sock_file { write };
allow system_basic_hap_attr allocator_host:fd { use };
allow system_basic_hap_attr distributedsche_param:file { map open read };
allow system_basic_hap_attr download_server:binder { call transfer };
allow system_basic_hap_attr faultloggerd_temp_file:file { read };
allow system_basic_hap_attr hilog_param:file { map open read };
allow system_basic_hap_attr hiview:unix_dgram_socket { sendto };
allow system_basic_hap_attr hmdfs:dir { search };
allow system_basic_hap_attr huks_service:binder { call };
allow system_basic_hap_attr hw_sc_build_os_param:file { map open };
allow system_basic_hap_attr hw_sc_build_param:file { map open };
allow system_basic_hap_attr hw_sc_param:file { map open };
allow system_basic_hap_attr init_param:file { map open };
allow system_basic_hap_attr input_pointer_device_param:file { map open read };
allow system_basic_hap_attr kernel:unix_stream_socket { connectto };
allow system_basic_hap_attr locationhub:binder { call transfer };
allow system_basic_hap_attr media_service:binder { call transfer };
allow system_basic_hap_attr multimodalinput:unix_stream_socket { read write };
allow system_basic_hap_attr netmanager:binder { call transfer };
allow system_basic_hap_attr netsysnative:unix_stream_socket { connectto };
allow system_basic_hap_attr net_tcp_param:file { map open read };
allow system_basic_hap_attr node:udp_socket { node_bind };
allow system_basic_hap_attr paramservice_socket:sock_file { write };
allow system_basic_hap_attr persist_param:file { map open read };
allow system_basic_hap_attr persist_param:parameter_service { set };
allow system_basic_hap_attr persist_sys_param:file { map open read };
allow system_basic_hap_attr pinauth:binder { call transfer };
allow system_basic_hap_attr port:tcp_socket { name_connect };
allow system_basic_hap_attr port:udp_socket { name_bind };
allow system_basic_hap_attr proc_boot_id:file { open read };
allow system_basic_hap_attr proc_cpuinfo_file:file { open read };
allow system_basic_hap_attr proc_file:file { open read };
allow system_basic_hap_attr render_service:unix_stream_socket { read read write write };
allow system_basic_hap_attr resource_schedule_service:binder { call };
allow system_basic_hap_attr sa_accessibleabilityms:samgr_class { get };
allow system_basic_hap_attr sa_accesstoken_manager_service:samgr_class { get };
allow system_basic_hap_attr sa_bluetooth_server:samgr_class { get };
allow system_basic_hap_attr sa_dataobs_mgr_service_service:samgr_class { get };
allow system_basic_hap_attr sa_form_mgr_service:samgr_class { get };
allow system_basic_hap_attr sa_foundation_abilityms:samgr_class { get };
allow system_basic_hap_attr sa_foundation_ans:samgr_class { get };
allow system_basic_hap_attr sa_foundation_appms:samgr_class { get };
allow system_basic_hap_attr sa_foundation_bms:samgr_class { get };
allow system_basic_hap_attr sa_foundation_cesfwk_service:samgr_class { get };
allow system_basic_hap_attr sa_foundation_devicemanager_service:samgr_class { get };
allow system_basic_hap_attr sa_foundation_dms:samgr_class { get };
allow system_basic_hap_attr sa_foundation_wms:samgr_class { get };
allow system_basic_hap_attr sa_huks_service:samgr_class { get };
allow system_basic_hap_attr sa_inputmethod_service:samgr_class { get };
allow system_basic_hap_attr sa_location_locator_service:samgr_class { get };
allow system_basic_hap_attr sa_media_service:samgr_class { get };
allow system_basic_hap_attr sa_multimodalinput_service:samgr_class { get };
allow system_basic_hap_attr sa_param_watcher:samgr_class { get };
allow system_basic_hap_attr sa_render_service:samgr_class { get };
allow system_basic_hap_attr sa_resource_schedule:samgr_class { get };
allow system_basic_hap_attr sa_screenlock_service:samgr_class { get };
allow system_basic_hap_attr sa_subsys_ace_service:samgr_class { get };
allow system_basic_hap_attr sa_sysparam_device_service:samgr_class { get };
allow system_basic_hap_attr sa_time_service:samgr_class { get };
allow system_basic_hap_attr sa_update_distributed_service:samgr_class { get };
allow system_basic_hap_attr sa_uri_permission_mgr_service:samgr_class { get };
allow system_basic_hap_attr sa_wallpaper_manager_service:samgr_class { get };
allow system_basic_hap_attr screenlock_server:binder { call transfer };
allow system_basic_hap_attr security_param:file { map open read };
allow system_basic_hap_attr softbus_server:binder { call transfer };
allow system_basic_hap_attr startup_param:file { map open read };
allow system_basic_hap_attr sys_file:dir { open read };
allow system_basic_hap_attr sys_file:file { open read };
allow system_basic_hap_attr sysfs_devices_system_cpu:file { open read };
allow system_basic_hap_attr sysfs_hctosys:file { open read };
allow system_basic_hap_attr sysfs_rtc:dir { open read };
allow system_basic_hap_attr system_basic_hap_attr:binder { call transfer };
allow system_basic_hap_attr system_basic_hap_data_file_attr:dir { add_name create getattr open read remove_name search write };
allow system_basic_hap_attr system_basic_hap_data_file_attr:file { create getattr ioctl lock map read write open setattr unlink };
allow system_basic_hap_attr system_basic_hap_attr:tcp_socket { connect getattr getopt shutdown };
allow system_basic_hap_attr system_basic_hap_attr:udp_socket { bind create connect getattr getopt write };
allow system_basic_hap_attr system_basic_hap_attr:unix_dgram_socket { getopt setopt };
allow system_basic_hap_attr system_basic_hap_data_file_attr:file { append rename };
allow system_basic_hap_attr system_core_hap_attr:fd { use };
allow system_basic_hap_attr system_fonts_file:dir { search };
allow system_basic_hap_attr system_fonts_file:file { getattr map open read };
allow system_basic_hap_attr system_lib_file:dir { open read };
allow system_basic_hap_attr system_usr_file:dir { search };
allow system_basic_hap_attr time_service:binder { call transfer };
allow system_basic_hap_attr tmpfs:dir { add_name create write };
allow system_basic_hap_attr tmpfs:lnk_file { create };
allow system_basic_hap_attr tracefs:dir { search };
allow system_basic_hap_attr tracefs_trace_marker_file:file { open write };
allow system_basic_hap_attr ui_service:binder { call transfer };
allow system_basic_hap_attr ui_service:fd { use };
allow system_basic_hap_attr updater_sa:binder { call transfer };
allow system_basic_hap_attr useriam:binder { call transfer };
allow system_basic_hap_attr wallpaper_service:binder { call transfer };
allow system_basic_hap_attr wallpaper_service:fd { use };
allowxperm system_basic_hap_attr dev_mali:chr_file ioctl { 0x8000 0x8001 0x8002 0x8003 0x8005 0x8006 0x800e 0x8011 0x8014 0x8016 0x8018 0x8019 0x801d 0x801e 0x8024 0x8025 0x8026 0x8027 0x802a 0x802c 0x802d 0x802f 0x8030 0x8033 0x8034 0x8036 };
allow system_basic_hap_attr allocator_host:fd { use };
allowxperm system_basic_hap_attr system_basic_hap_data_file_attr:file ioctl { 0x5413 0xf50c };
binder_call(system_basic_hap_attr normal_hap_attr);
allow system_basic_hap_attr sa_locationhub_lbsservice_gnss:samgr_class { get };
allow system_basic_hap_attr sa_locationhub_lbsservice_network:samgr_class { get };
allow system_basic_hap_attr sa_locationhub_lbsservice_passive:samgr_class { get };
allow system_basic_hap_attr sa_location_geo_convert_service:samgr_class { get };
allow system_basic_hap_attr sa_hiview_service:samgr_class { get };
