allow system_basic_hap accesstoken_service:binder { call };
allow system_basic_hap bluetooth_service:binder { call transfer };
allow system_basic_hap bootanimation:fd { use };
allow system_basic_hap configfs:dir { mounton };
allow system_basic_hap data_app_el1_file:dir { mounton };
allow system_basic_hap data_service_el1_file:file { getattr read };
allow system_basic_hap data_service_el2_file:dir { search };
allow system_basic_hap data_service_file:dir { search };
allow system_basic_hap dev_ashmem_file:chr_file { open };
allow system_basic_hap dev_file:dir { mounton };
allow system_basic_hap dev_mali:chr_file { getattr ioctl map open read write };
allow system_basic_hap dev_unix_socket:dir { search };
allow system_basic_hap disp_gralloc_host:fd { use };
allow system_basic_hap hmdfs:dir { mounton search };
allow system_basic_hap labeledfs:filesystem { unmount };
allow system_basic_hap locationhub:binder { call transfer };
allow system_basic_hap media_service:binder { call transfer };
allow system_basic_hap multimodalinput:unix_stream_socket { read write };
allow system_basic_hap proc_cpuinfo_file:file { open read };
allow system_basic_hap proc_file:dir { mounton };
allow system_basic_hap proc_file:file { open read };
allow system_basic_hap render_service:unix_stream_socket { read read write write };
allow system_basic_hap resource_schedule_service:binder { call };
allow system_basic_hap rootfs:dir { mounton };
allow system_basic_hap sa_accessibleabilityms:samgr_class { get };
allow system_basic_hap sa_accesstoken_manager_service:samgr_class { get };
allow system_basic_hap sa_accountmgr:samgr_class { get };
allow system_basic_hap sa_bluetooth_server:samgr_class { get };
allow system_basic_hap sa_dataobs_mgr_service_service:samgr_class { get };
allow system_basic_hap sa_form_mgr_service:samgr_class { get };
allow system_basic_hap sa_foundation_abilityms:samgr_class { get };
allow system_basic_hap sa_foundation_ans:samgr_class { get };
allow system_basic_hap sa_foundation_appms:samgr_class { get };
allow system_basic_hap sa_foundation_bms:samgr_class { get };
allow system_basic_hap sa_foundation_cesfwk_service:samgr_class { get };
allow system_basic_hap sa_foundation_devicemanager_service:samgr_class { get };
allow system_basic_hap sa_foundation_dms:samgr_class { get };
allow system_basic_hap sa_foundation_wms:samgr_class { get };
allow system_basic_hap sa_inputmethod_service:samgr_class { get };
allow system_basic_hap sa_location_locator_service:samgr_class { get };
allow system_basic_hap sa_media_service:samgr_class { get };
allow system_basic_hap sa_multimodalinput_service:samgr_class { get };
allow system_basic_hap sa_param_watcher:samgr_class { get };
allow system_basic_hap sa_render_service:samgr_class { get };
allow system_basic_hap sa_resource_schedule:samgr_class { get };
allow system_basic_hap sa_screenlock_service:samgr_class { get };
allow system_basic_hap sa_subsys_ace_service:samgr_class { get };
allow system_basic_hap sa_wallpaper_manager_service:samgr_class { get };
allow system_basic_hap sa_wifi_device_ability:samgr_class { get };
allow system_basic_hap sa_wifi_hotspot_ability:samgr_class { get };
allow system_basic_hap sa_wifi_p2p_ability:samgr_class { get };
allow system_basic_hap sa_wifi_scan_ability:samgr_class { get };
allow system_basic_hap screenlock_server:binder { call transfer };
allow system_basic_hap sys_file:dir { mounton };
allow system_basic_hap sys_file:file { open read };
allow system_basic_hap sysfs_devices_system_cpu:file { open read };
allow system_basic_hap sysfs_rtc:dir { open read };
allow system_basic_hap system_basic_hap:binder { call transfer };
allow system_basic_hap system_basic_hap:capability { setgid setuid sys_admin };
allow system_basic_hap system_basic_hap_data_file:dir { add_name create getattr mounton open read remove_name search write };
allow system_basic_hap system_basic_hap_data_file:file { create getattr ioctl lock map read write open setattr unlink };
allow system_basic_hap system_basic_hap:unix_dgram_socket { getopt setopt };
allow system_basic_hap system_bin_file:dir { mounton };
allow system_basic_hap system_etc_file:dir { mounton };
allow system_basic_hap system_file:dir { mounton };
allow system_basic_hap system_fonts_file:dir { mounton search };
allow system_basic_hap system_fonts_file:file { getattr map open read };
allow system_basic_hap system_lib_file:dir { mounton open read };
allow system_basic_hap system_profile_file:dir { mounton };
allow system_basic_hap system_usr_file:dir { mounton search };
allow system_basic_hap tmpfs:dir { add_name create mounton write };
allow system_basic_hap tmpfs:lnk_file { create };
allow system_basic_hap tracefs:dir { search };
allow system_basic_hap tracefs_trace_marker_file:file { open write };
allow system_basic_hap ui_service:binder { call transfer };
allow system_basic_hap useriam:binder { call transfer };
allow system_basic_hap vendor_lib_file:dir { mounton };
allow system_basic_hap wallpaper_service:binder { call };
allow system_basic_hap wallpaper_service:fd { use };
allow system_basic_hap wifi_manager_service:binder { call transfer };
allowxperm system_basic_hap dev_mali:chr_file ioctl { 0x8000 0x8001 0x8002 0x8003 0x8005 0x8006 0x800e 0x8011 0x8016 0x8018 0x8019 0x801d 0x801e 0x8026 };
allowxperm system_basic_hap system_basic_hap_data_file:file ioctl { 0x5413 0xf50c };
