# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow system_basic_hap appspawn_exec:file { getattr map open read };
allow system_basic_hap bluetooth_service:binder { call transfer };
allow system_basic_hap bootanimation:fd { use };
allow system_basic_hap bootevent_param:file { map open read };
allow system_basic_hap bootevent_samgr_param:file { map open read };
allow system_basic_hap build_version_param:file { map open read };
allow system_basic_hap const_allow_mock_param:file { map open read };
allow system_basic_hap const_allow_param:file { map open read };
allow system_basic_hap const_build_param:file { map open read };
allow system_basic_hap const_display_brightness_param:file { map open read };
allow system_basic_hap const_postinstall_fstab_param:file { map open };
allow system_basic_hap const_product_param:file { map open read };
allow system_basic_hap data_service_el1_file:file { getattr read };
allow system_basic_hap data_service_el2_file:dir { search };
allow system_basic_hap data_service_el2_hmdfs:dir { search };
allow system_basic_hap data_service_file:dir { search };
allow system_basic_hap debug_param:file { map open read };
allow system_basic_hap default_param:file { map open read };
allow system_basic_hap dev_ashmem_file:chr_file { open };
allow system_basic_hap deviceinfoservice:binder { call };
allow system_basic_hap dev_mali:chr_file { getattr ioctl map open read write };
allow system_basic_hap dev_unix_socket:dir { search };
allow system_basic_hap dev_unix_socket:sock_file { write };
allow system_basic_hap disp_gralloc_host:fd { use };
allow system_basic_hap allocator_host:fd { use };
allow system_basic_hap distributedsche_param:file { map open read };
allow system_basic_hap download_server:binder { call transfer };
allow system_basic_hap faultloggerd_temp_file:file { read };
allow system_basic_hap hilog_param:file { map open read };
allow system_basic_hap hiview:unix_dgram_socket { sendto };
allow system_basic_hap hmdfs:dir { search };
allow system_basic_hap huks_service:binder { call };
allow system_basic_hap hw_sc_build_os_param:file { map open };
allow system_basic_hap hw_sc_build_param:file { map open };
allow system_basic_hap hw_sc_param:file { map open };
allow system_basic_hap init_param:file { map open };
allow system_basic_hap input_pointer_device_param:file { map open read };
allow system_basic_hap kernel:unix_stream_socket { connectto };
allow system_basic_hap locationhub:binder { call transfer };
allow system_basic_hap media_service:binder { call transfer };
allow system_basic_hap multimodalinput:unix_stream_socket { read write };
allow system_basic_hap netmanager:binder { call transfer };
allow system_basic_hap netsysnative:unix_stream_socket { connectto };
allow system_basic_hap net_tcp_param:file { map open read };
allow system_basic_hap node:udp_socket { node_bind };
allow system_basic_hap paramservice_socket:sock_file { write };
allow system_basic_hap persist_param:file { map open read };
allow system_basic_hap persist_param:parameter_service { set };
allow system_basic_hap persist_sys_param:file { map open read };
allow system_basic_hap pinauth:binder { call transfer };
allow system_basic_hap port:tcp_socket { name_connect };
allow system_basic_hap port:udp_socket { name_bind };
allow system_basic_hap proc_boot_id:file { open read };
allow system_basic_hap proc_cpuinfo_file:file { open read };
allow system_basic_hap proc_file:file { open read };
allow system_basic_hap render_service:unix_stream_socket { read read write write };
allow system_basic_hap resource_schedule_service:binder { call };
allow system_basic_hap sa_accessibleabilityms:samgr_class { get };
allow system_basic_hap sa_accesstoken_manager_service:samgr_class { get };
allow system_basic_hap sa_bluetooth_server:samgr_class { get };
allow system_basic_hap sa_dataobs_mgr_service_service:samgr_class { get };
allow system_basic_hap sa_form_mgr_service:samgr_class { get };
allow system_basic_hap sa_foundation_abilityms:samgr_class { get };
allow system_basic_hap sa_foundation_ans:samgr_class { get };
allow system_basic_hap sa_foundation_appms:samgr_class { get };
allow system_basic_hap sa_foundation_bms:samgr_class { get };
allow system_basic_hap sa_foundation_cesfwk_service:samgr_class { get };
allow system_basic_hap sa_foundation_devicemanager_service:samgr_class { get };
allow system_basic_hap sa_foundation_dms:samgr_class { get };
allow system_basic_hap sa_foundation_wms:samgr_class { get };
allow system_basic_hap sa_huks_service:samgr_class { get };
allow system_basic_hap sa_inputmethod_service:samgr_class { get };
allow system_basic_hap sa_location_locator_service:samgr_class { get };
allow system_basic_hap sa_media_service:samgr_class { get };
allow system_basic_hap sa_multimodalinput_service:samgr_class { get };
allow system_basic_hap sa_param_watcher:samgr_class { get };
allow system_basic_hap sa_render_service:samgr_class { get };
allow system_basic_hap sa_resource_schedule:samgr_class { get };
allow system_basic_hap sa_screenlock_service:samgr_class { get };
allow system_basic_hap sa_subsys_ace_service:samgr_class { get };
allow system_basic_hap sa_sysparam_device_service:samgr_class { get };
allow system_basic_hap sa_time_service:samgr_class { get };
allow system_basic_hap sa_update_distributed_service:samgr_class { get };
allow system_basic_hap sa_uri_permission_mgr_service:samgr_class { get };
allow system_basic_hap sa_wallpaper_manager_service:samgr_class { get };
allow system_basic_hap screenlock_server:binder { call transfer };
allow system_basic_hap security_param:file { map open read };
allow system_basic_hap softbus_server:binder { call transfer };
allow system_basic_hap startup_param:file { map open read };
allow system_basic_hap sys_file:dir { open read };
allow system_basic_hap sys_file:file { open read };
allow system_basic_hap sysfs_devices_system_cpu:file { open read };
allow system_basic_hap sysfs_hctosys:file { open read };
allow system_basic_hap sysfs_rtc:dir { open read };
allow system_basic_hap system_basic_hap:binder { call transfer };
allow system_basic_hap system_basic_hap_data_file:dir { add_name create getattr open read remove_name search write };
allow system_basic_hap system_basic_hap_data_file:file { create getattr ioctl lock map read write open setattr unlink };
allow system_basic_hap system_basic_hap:tcp_socket { connect getattr getopt shutdown };
allow system_basic_hap system_basic_hap:udp_socket { bind create connect getattr getopt write };
allow system_basic_hap system_basic_hap:unix_dgram_socket { getopt setopt };
allow system_basic_hap system_basic_hap_data_file:file { append rename };
allow system_basic_hap system_core_hap:fd { use };
allow system_basic_hap system_fonts_file:dir { search };
allow system_basic_hap system_fonts_file:file { getattr map open read };
allow system_basic_hap system_lib_file:dir { open read };
allow system_basic_hap system_usr_file:dir { search };
allow system_basic_hap time_service:binder { call transfer };
allow system_basic_hap tmpfs:dir { add_name create write };
allow system_basic_hap tmpfs:lnk_file { create };
allow system_basic_hap tracefs:dir { search };
allow system_basic_hap tracefs_trace_marker_file:file { open write };
allow system_basic_hap ui_service:binder { call transfer };
allow system_basic_hap ui_service:fd { use };
allow system_basic_hap updater_sa:binder { call transfer };
allow system_basic_hap useriam:binder { call transfer };
allow system_basic_hap wallpaper_service:binder { call transfer };
allow system_basic_hap wallpaper_service:fd { use };
allowxperm system_basic_hap dev_mali:chr_file ioctl { 0x8000 0x8001 0x8002 0x8003 0x8005 0x8006 0x800e 0x8011 0x8014 0x8016 0x8018 0x8019 0x801d 0x801e 0x8024 0x8025 0x8026 0x8027 0x802a 0x802c 0x802d 0x802f 0x8030 0x8033 0x8034 0x8036 };
allow system_basic_hap allocator_host:fd { use };
allowxperm system_basic_hap system_basic_hap_data_file:file ioctl { 0x5413 0xf50c };
binder_call(system_basic_hap normal_hap_attr);
allow system_basic_hap sa_locationhub_lbsservice_gnss:samgr_class { get };
allow system_basic_hap sa_locationhub_lbsservice_network:samgr_class { get };
allow system_basic_hap sa_locationhub_lbsservice_passive:samgr_class { get };
allow system_basic_hap sa_location_geo_convert_service:samgr_class { get };
allow system_basic_hap sa_hiview_service:samgr_class { get };
