# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow thermal bootevent_param:file { map open read };
allow thermal bootevent_samgr_param:file { map open read };
allow thermal build_version_param:file { map open read };
allow thermal const_allow_mock_param:file { map open read };
allow thermal const_allow_param:file { map open read };
allow thermal const_build_param:file { map open read };
allow thermal const_display_brightness_param:file { map open read };
allow thermal const_param:file { map open read };
allow thermal const_postinstall_fstab_param:file { map open read };
allow thermal const_postinstall_param:file { map open read };
allow thermal const_product_param:file { map open read };
allow thermal data_file:dir { add_name search write };
allow thermal data_file:file { create ioctl open read write read write open };
allow thermal data_service_el0_file:dir { add_name search write };
allow thermal data_service_el0_file:file { create ioctl open read write read write open };
allow thermal data_service_file:dir { search };
allow thermal debug_param:file { map open read };
allow thermal default_param:file { map open read };
allow thermal dev_unix_socket:dir { search };
allow thermal distributedsche_param:file { map open read };
allow thermal foundation:binder { call transfer };
allow thermal hdf_devmgr:binder { call transfer };
allow thermal hilog_param:file { map open read };
allow thermal hw_sc_build_os_param:file { map open read };
allow thermal hw_sc_build_param:file { map open read };
allow thermal hw_sc_param:file { map open read };
allow thermal init_param:file { map open read };
allow thermal init_svc_param:file { map open read };
allow thermal input_pointer_device_param:file { map open read };
allow thermal net_param:file { map open read };
allow thermal net_tcp_param:file { map open read };
allow thermal ohos_boot_param:file { map open read };
allow thermal ohos_param:file { map open read };
allow thermal param_watcher:binder { call transfer };
allow thermal persist_param:file { map open read };
allow thermal persist_sys_param:file { map open read };
allow thermal power_host:binder { call transfer };
allow thermal sa_param_watcher:samgr_class { get };
allow thermal security_param:file { map open read };
allow thermal startup_param:file { map open read };
allow thermal sys_file:dir { open read };
allow thermal sys_file:file { open read };
allow thermal sysfs_hctosys:file { open read };
allow thermal sysfs_rtc:dir { open read };
allow thermal sys_param:file { map open read };
allow thermal system_bin_file:dir { search };
allow thermal system_etc_thermal_file:dir { search };
allow thermal system_etc_thermal_file:file { getattr open read };
allow thermal sys_usb_param:file { map open read };
allow thermal thermal_protector_exec:file { entrypoint execute map read };
allow thermal thermal:unix_dgram_socket { getopt setopt };
allow thermal tracefs:dir { search };
allow thermal tracefs_trace_marker_file:file { open write };
allow thermal vendor_etc_file:dir { search };
allowxperm thermal data_file:file ioctl { 0x5413 };
allowxperm thermal data_service_el0_file:file ioctl { 0x5413 };
