# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow time_service bootevent_param:file { map open read };
allow time_service bootevent_samgr_param:file { map open read };
allow time_service build_version_param:file { map open read };
allow time_service const_allow_mock_param:file { map open read };
allow time_service const_allow_param:file { map open read };
allow time_service const_build_param:file { map open read };
allow time_service const_display_brightness_param:file { map open read };
allow time_service const_param:file { map open read };
allow time_service const_postinstall_fstab_param:file { map open read };
allow time_service const_postinstall_param:file { map open read };
allow time_service const_product_param:file { map open read };
allow time_service data_file:dir { search };
allow time_service data_misc:dir { getattr search };
allow time_service data_service_el1_file:dir { add_name search write };
allow time_service data_service_el1_file:file { create ioctl read write open };
allow time_service data_service_file:dir { search };
allow time_service debug_param:file { map open read };
allow time_service default_param:file { map open read };
allow time_service dev_file:sock_file { write };
allow time_service distributedsche_param:file { map read read open };
allow time_service hilog_param:file { map open read };
allow time_service hiview:binder { call };
allow time_service hw_sc_build_os_param:file { map open read };
allow time_service hw_sc_build_param:file { map open read };
allow time_service hw_sc_param:file { map open read };
allow time_service init_param:file { map open read };
allow time_service init_svc_param:file { map open read };
allow time_service input_pointer_device_param:file { map open read };
allow time_service netmanager:binder { call transfer };
allow time_service net_param:file { map open read };
allow time_service netsysnative:unix_stream_socket { connectto };
allow time_service net_tcp_param:file { map open read };
allow time_service ohos_boot_param:file { map open read };
allow time_service ohos_param:file { map open read };
allow time_service param_watcher:binder { call transfer };
allow time_service persist_param:file { map open read };
allow time_service persist_sys_param:file { map open read };
allow time_service sa_foundation_bms:samgr_class { get };
allow time_service sa_foundation_cesfwk_service:samgr_class { get };
allow time_service sa_net_conn_manager:samgr_class { get };
allow time_service sa_time_service:samgr_class { add };
allow time_service security_param:file { map open read };
allow time_service startup_param:file { map open read };
allow time_service sys_file:file { open read };
allow time_service sysfs_hctosys:file { open read };
allow time_service sysfs_rtc:dir { open read };
allow time_service sys_param:file { map open read };
allow time_service system_bin_file:dir { search };
allow time_service sys_usb_param:file { map open read };
allow time_service time_service:unix_dgram_socket { getopt setopt };
allow time_service tracefs:dir { search };
allow time_service tracefs_trace_marker_file:file { open write };
allowxperm time_service data_service_el1_file:file ioctl { 0x5413 };
