# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow udevd bootevent_param:file { map open read };
allow udevd bootevent_samgr_param:file { map open read };
allow udevd build_version_param:file { map open read };
allow udevd const_allow_mock_param:file { map open read };
allow udevd const_allow_param:file { map open read };
allow udevd const_build_param:file { map open read };
allow udevd const_display_brightness_param:file { map open read };
allow udevd const_param:file { map open read };
allow udevd const_postinstall_fstab_param:file { map open read };
allow udevd const_postinstall_param:file { map open read };
allow udevd const_product_param:file { map open read };
allow udevd data_file:dir { add_name create read remove_name watch write };
allow udevd data_file:file { ioctl read };
allow udevd data_file:sock_file { create unlink };
allow udevd data_udev:dir { add_name create getattr open read remove_name search watch write };
allow udevd data_udev:file { create ioctl open read rename unlink write write open };
allow udevd data_udev:sock_file { create unlink };
allow udevd debug_param:file { map open read };
allow udevd default_param:file { map open read };
allow udevd dev_at_file:chr_file { getattr };
allow udevd dev_bbox:chr_file { getattr write };
allow udevd dev_binder_file:chr_file { getattr };
allow udevd dev_bus:dir { search };
allow udevd dev_bus_usb_file:chr_file { getattr write };
allow udevd dev_bus_usb_file:dir { search };
allow udevd dev_char_file:dir { add_name getattr search write };
allow udevd dev_char_file:lnk_file { create getattr read write };
allow udevd dev_console_file:chr_file { getattr write };
allow udevd dev_cpu_dma_latency_file:chr_file { getattr write };
allow udevd dev_dev_cec0:chr_file { getattr write };
allow udevd dev_dma_heap_file:chr_file { getattr write };
allow udevd dev_dma_heap_file:dir { search };
allow udevd dev_dri_file:dir { create getattr };
allow udevd dev_dri_file:lnk_file { create getattr read write };
#allow udevd dev_file:chr_file { getattr setattr write };
allow udevd dev_file:dir { getattr remove_name };
allow udevd dev_file:lnk_file { getattr read unlink write };
allow udevd dev_full:chr_file { getattr write };
allow udevd dev_fuse_file:chr_file { getattr setattr write };
allow udevd dev_gpiochip:chr_file { getattr write };
allow udevd dev_hdmi_hdcp1x:chr_file { getattr write };
allow udevd dev_hwbinder_file:chr_file { getattr write };
allow udevd dev_hwrng:chr_file { getattr write };
allow udevd dev_i2c:chr_file { getattr write };
allow udevd dev_iio_file:chr_file { getattr write };
allow udevd dev_input_file:chr_file { getattr ioctl open read setattr write };
allow udevd dev_input_file:dir { add_name create getattr search write };
allow udevd dev_input_file:lnk_file { create };
allow udevd dev_kmsg_file:chr_file { getattr ioctl open write };
allow udevd dev_loop_control_file:chr_file { getattr write };
allow udevd dev_mali:chr_file { getattr write };
allow udevd dev_media_file:chr_file { getattr write };
allow udevd dev_mem:chr_file { getattr write };
allow udevd dev_mpp:chr_file { getattr write };
allow udevd dev_ptp:chr_file { getattr setattr write };
allow udevd dev_rfkill:chr_file { getattr write };
allow udevd dev_rga:chr_file { getattr write };
allow udevd dev_rpmb_file:chr_file { getattr write };
allow udevd dev_rtc_file:chr_file { getattr write };
allow udevd dev_sched_rtg_ctrl:chr_file { getattr write };
allow udevd dev_snapshot:chr_file { getattr write };
allow udevd dev_sw_sync:chr_file { getattr write };
allow udevd dev_tee_file:chr_file { getattr write };
allow udevd dev_ubi_file:chr_file { getattr write };
allow udevd dev_uhid_file:chr_file { getattr write };
allow udevd dev_tun_file:chr_file { getattr write };
allow udevd dev_uinput:chr_file { getattr write };
allow udevd dev_unix_socket:dir { search };
allow udevd dev_vcs_file:chr_file { getattr write };
allow udevd dev_v_file:chr_file { getattr write };
allow udevd dev_v_file:dir { add_name create getattr search write };
allow udevd dev_v_file:lnk_file { create };
allow udevd dev_vhci_file:chr_file { getattr write };
allow udevd dev_video_file:chr_file { getattr write };
allow udevd dev_vndbinder_file:chr_file { getattr write };
allow udevd dev_watchdog_file:chr_file { getattr write };
allow udevd distributedsche_param:file { map open read };
allow udevd hilog_param:file { map open read };
allow udevd hw_sc_build_os_param:file { map open read };
allow udevd hw_sc_build_param:file { map open read };
allow udevd hw_sc_param:file { map open read };
allow udevd init_param:file { map open read };
allow udevd init_svc_param:file { map open read };
allow udevd input_pointer_device_param:file { map open read };
allow udevd net_param:file { map open read };
allow udevd net_tcp_param:file { map open read };
allow udevd ohos_boot_param:file { map open read };
allow udevd ohos_param:file { map open read };
allow udevd persist_param:file { map open read };
allow udevd persist_sys_param:file { map open read };
allow udevd proc_cmdline_file:file { open read };
allow udevd security_param:file { map open read };
allow udevd startup_param:file { map open read };
allow udevd sysfs_android_usb:file { open read getattr };
allow udevd sysfs_block_file:file { open read };
allow udevd sysfs_block_loop:file { open read };
allow udevd sysfs_block_zram:file { open read };
allow udevd sysfs_devices_system_cpu:file { getattr open read };
allow udevd sysfs_hctosys:file { getattr open read };
allow udevd sysfs_net:file { getattr open read };
allow udevd sysfs_wakeup:file { getattr open read };
allow udevd sys_param:file { map open read };
allow udevd system_etc_file:dir { watch };
allow udevd sys_usb_param:file { map open read };
allow udevd tty_device:chr_file { getattr };
allow udevd udevd:capability { net_admin };
allow udevd udevd_socket:sock_file { unlink };
allow udevd udevd:unix_dgram_socket { setopt };
allowxperm udevd data_file:file ioctl { 0x5413 };
allowxperm udevd data_udev:file ioctl { 0x5413 };
allowxperm udevd dev_input_file:chr_file ioctl { 0x4540 0x4541 };
allowxperm udevd dev_kmsg_file:chr_file ioctl { 0x5413 };
