allow ueventd dev_ashmem_file:chr_file { relabelto };
allow ueventd dev_at_file:chr_file { relabelto };
allow ueventd dev_bbox:chr_file { relabelto };
allow ueventd dev_binder_file:chr_file { getattr setattr };
allow ueventd dev_block_file:blk_file { create getattr setattr };
allow ueventd dev_block_file:dir { add_name getattr search write };
allow ueventd dev_block_file:lnk_file { create };
allow ueventd dev_bus:dir { getattr relabelto search };
allow ueventd dev_bus_usb_file:chr_file { create getattr relabelto setattr unlink };
allow ueventd dev_bus_usb_file:dir { add_name create getattr relabelto remove_name search write };
allow ueventd dev_console_file:chr_file { relabelto };
allow ueventd dev_cpu_dma_latency_file:chr_file { relabelto };
allow ueventd dev_dev_cec0:chr_file { relabelto };
allow ueventd dev_dma_heap_file:chr_file { create getattr relabelto setattr };
allow ueventd dev_dma_heap_file:dir { add_name getattr relabelto search write };
allow ueventd dev_dri_file:chr_file { create getattr relabelto setattr };
allow ueventd dev_dri_file:dir { add_name getattr relabelto search write };
allow ueventd dev_file:chr_file { create getattr relabelfrom setattr };
allow ueventd dev_file:dir { add_name create getattr relabelfrom write };
allow ueventd dev_file:file { create read write open };
allow ueventd dev_full:chr_file { relabelto };
allow ueventd dev_fuse_file:chr_file { relabelto };
allow ueventd dev_gpiochip:chr_file { relabelto };
allow ueventd dev_graphics_file:chr_file { relabelto };
allow ueventd dev_graphics_file:dir { getattr relabelto search };
allow ueventd dev_hdf_audio_capture:chr_file { relabelto };
allow ueventd dev_hdf_audio_codec_primary:chr_file { relabelto };
allow ueventd dev_hdf_audio_control:chr_file { relabelto };
allow ueventd dev_hdf_audio_render:chr_file { relabelto };
allow ueventd dev_hdf_bl:chr_file { relabelto };
allow ueventd dev_hdf_disp:chr_file { relabelto };
allow ueventd dev_hdf_file:chr_file { relabelto };
allow ueventd dev_hdf_i2c_mgr:chr_file { relabelto };
allow ueventd dev_hdf_input:chr_file { relabelto };
allow ueventd dev_hdf_kevent:chr_file { relabelto };
allow ueventd dev_hdf_light:chr_file { relabelto };
allow ueventd dev_hdf_misc_vibrator:chr_file { relabelto };
allow ueventd dev_hdf_sensor_mgr:chr_file { relabelto };
allow ueventd dev_hdf_test:chr_file { relabelto };
allow ueventd dev_hdf_usb_pnp:chr_file { relabelto };
allow ueventd dev_hdmi_hdcp1x:chr_file { relabelto };
allow ueventd dev_hwbinder_file:chr_file { relabelto };
allow ueventd dev_hwrng:chr_file { relabelto };
allow ueventd dev_i2c:chr_file { relabelto };
allow ueventd dev_i2c_test:chr_file { relabelto };
allow ueventd dev_iio_file:chr_file { relabelto };
allow ueventd dev_input_file:chr_file { create getattr relabelto setattr };
allow ueventd dev_input_file:dir { add_name getattr relabelto search write };
allow ueventd dev_kmsg_file:chr_file { getattr open setattr write };
allow ueventd dev_loop_control_file:chr_file { relabelto };
allow ueventd dev_mali:chr_file { relabelto };
allow ueventd dev_media_file:chr_file { relabelto };
allow ueventd dev_mem:chr_file { relabelto };
allow ueventd dev_mgr_file:chr_file { relabelto };
allow ueventd dev_mpp:chr_file { relabelto };
allow ueventd dev_null_file:chr_file { setattr };
allow ueventd dev_pm_test:chr_file { relabelto };
allow ueventd dev_port:chr_file { relabelto };
allow ueventd dev_ptmx:chr_file { relabelto };
allow ueventd dev_ptp:chr_file { relabelto };
allow ueventd dev_random_file:chr_file { setattr };
allow ueventd dev_rfkill:chr_file { relabelto };
allow ueventd dev_rga:chr_file { relabelto };
allow ueventd dev_rpmb_file:chr_file { relabelto };
allow ueventd dev_rtc_file:chr_file { relabelto };
allow ueventd dev_sample_svc:chr_file { relabelto };
allow ueventd dev_sched_rtg_ctrl:chr_file { relabelto };
allow ueventd dev_snapshot:chr_file { relabelto };
allow ueventd dev_svc_mgr_file:chr_file { relabelto };
allow ueventd dev_sw_sync:chr_file { relabelto };
allow ueventd dev_tee_file:chr_file { relabelto };
allow ueventd dev_ubi_file:chr_file { relabelto };
allow ueventd dev_uhid_file:chr_file { relabelto };
allow ueventd dev_uinput:chr_file { relabelto };
allow ueventd dev_unix_socket:dir { search };
allow ueventd dev_vcs_file:chr_file { relabelto };
allow ueventd dev_v_file:chr_file { relabelto };
allow ueventd dev_vhci_file:chr_file { relabelto };
allow ueventd dev_video_file:chr_file { relabelto };
allow ueventd dev_vndbinder_file:chr_file { relabelto };
allow ueventd dev_watchdog_file:chr_file { relabelto };
allow ueventd dev_zero_file:chr_file { relabelto };
allow ueventd init:netlink_kobject_uevent_socket { getopt };
allow ueventd proc_cmdline_file:file { open read };
allow ueventd sys_file:dir { open read };
allow ueventd sys_file:file { open write };
allow ueventd sysfs_android_usb:dir { open read };
allow ueventd sysfs_block_file:dir { open read };
allow ueventd sysfs_block_file:file { open write };
allow ueventd sysfs_block_loop:dir { open read };
allow ueventd sysfs_block_loop:file { open write };
allow ueventd sysfs_block_zram:dir { open read };
allow ueventd sysfs_block_zram:file { open write };
allow ueventd sysfs_devices_system_cpu:dir { open read };
allow ueventd sysfs_devices_system_cpu:file { open write };
allow ueventd sysfs_extcon:dir { open read };
allow ueventd sysfs_leds:dir { open read };
allow ueventd sysfs_net:dir { open read };
allow ueventd sysfs_net:file { open write };
allow ueventd sysfs_rtc:dir { open read };
allow ueventd sysfs_wakeup:dir { open read };
allow ueventd sysfs_wakeup:file { open write };
allow ueventd system_bin_file:dir { search };
allow ueventd tty_device:chr_file { getattr relabelto setattr };
allow ueventd ueventd:capability { chown fowner fsetid mknod setgid };
allow ueventd vendor_etc_file:dir { search };
