# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow ui_service accessibility:binder { call transfer };
allow ui_service bootevent_param:file { map open read };
allow ui_service bootevent_samgr_param:file { map open read };
allow ui_service build_version_param:file { map open read };
allow ui_service const_allow_mock_param:file { map open read };
allow ui_service const_allow_param:file { map open read };
allow ui_service const_build_param:file { map open read };
allow ui_service const_display_brightness_param:file { map open read };
allow ui_service const_param:file { map open read };
allow ui_service const_postinstall_fstab_param:file { map open read };
allow ui_service const_postinstall_param:file { map open read };
allow ui_service const_product_param:file { map open read };
allow ui_service data_file:dir { search };
allow ui_service data_storage:dir { search };
allow ui_service debug_param:file { map open read };
allow ui_service default_param:file { map open read };
allow ui_service dev_kmsg_file:chr_file { open write };
allow ui_service dev_mali:chr_file { getattr ioctl map open read write };
allow ui_service dev_unix_socket:dir { search };
allow ui_service disp_gralloc_host:fd { use };
allow ui_service distributedsche_param:file { map read read open };
allow ui_service foundation:binder { call transfer };
allow ui_service hilog_param:file { map open read };
allow ui_service hw_sc_build_os_param:file { map open read };
allow ui_service hw_sc_build_param:file { map open read };
allow ui_service hw_sc_param:file { map open read };
allow ui_service init_param:file { map open read };
allow ui_service init_svc_param:file { map open read };
allow ui_service inputmethod_service:binder { call transfer };
allow ui_service input_pointer_device_param:file { map open read };
allow ui_service multimodalinput:binder { call };
allow ui_service multimodalinput:fd { use };
allow ui_service multimodalinput:unix_stream_socket { read write };
allow ui_service net_param:file { map open read };
allow ui_service net_tcp_param:file { map open read };
allow ui_service normal_hap_attr:fd { use };
allow ui_service ohos_boot_param:file { map open read };
allow ui_service ohos_param:file { map open read };
allow ui_service param_watcher:binder { call transfer };
allow ui_service persist_param:file { map open read };
allow ui_service persist_sys_param:file { map open read };
allow ui_service render_service:binder { call transfer };
allow ui_service render_service:fd { use };
allow ui_service render_service:unix_stream_socket { read read write };
allow ui_service resource_schedule_service:binder { call };
allow ui_service sa_accessibleabilityms:samgr_class { get };
allow ui_service sa_foundation_dms:samgr_class { get };
allow ui_service sa_foundation_wms:samgr_class { get };
allow ui_service sa_inputmethod_service:samgr_class { get };
allow ui_service sa_multimodalinput_service:samgr_class { get };
allow ui_service sa_param_watcher:samgr_class { get };
allow ui_service sa_render_service:samgr_class { get };
allow ui_service sa_resource_schedule:samgr_class { get };
allow ui_service sa_subsys_ace_service:samgr_class { add };
allow ui_service security_param:file { map open read };
allow ui_service startup_param:file { map open read };
allow ui_service sysfs_devices_system_cpu:file { open read };
allow ui_service sys_param:file { map open read };
allow ui_service system_basic_hap:binder { call };
allow ui_service system_basic_hap:fd { use };
allow ui_service system_bin_file:dir { search };
allow ui_service system_core_hap:fd { use };
allow ui_service system_fonts_file:dir { open read search };
allow ui_service system_fonts_file:file { getattr map open read };
allow ui_service system_usr_file:dir { search };
allow ui_service system_usr_file:file { getattr map open read };
allow ui_service sys_usb_param:file { map open read };
allow ui_service tracefs:dir { search };
allow ui_service tracefs_trace_marker_file:file { open write };
allow ui_service ui_service:unix_dgram_socket { getopt setopt };
allowxperm ui_service dev_mali:chr_file ioctl { 0x8000 0x8001 0x8002 0x8003 0x8005 0x8006 0x8007 0x800e 0x800f 0x8011 0x8016 0x8018 0x8019 0x801d 0x801e 0x8026 };
