allow user_auth_host data_file:dir { search };
allow user_auth_host data_service_el1_file:dir { search };
allow user_auth_host data_service_file:dir { search };
allow user_auth_host dev_hdf_kevent:chr_file { getattr ioctl open read write };
allow user_auth_host dev_unix_socket:dir { search };
allow user_auth_host hdf_devmgr:binder { call transfer };
allow user_auth_host samgr:binder { call };
allow user_auth_host system_bin_file:dir { search };
allow user_auth_host user_auth_host:capability { dac_override };
allow user_auth_host vendor_etc_file:dir { search };
allow user_auth_host vendor_etc_file:file { getattr open read };
allowxperm user_auth_host dev_hdf_kevent:chr_file ioctl { 0x6201 0x6202 0x6203 };
