# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow wifi_hal_service bootevent_param:file { map open read };
allow wifi_hal_service bootevent_samgr_param:file { map open read };
allow wifi_hal_service build_version_param:file { map open read };
allow wifi_hal_service const_allow_mock_param:file { map open read };
allow wifi_hal_service const_allow_param:file { map open read };
allow wifi_hal_service const_build_param:file { map open read };
allow wifi_hal_service const_display_brightness_param:file { map open read };
allow wifi_hal_service const_param:file { map open read };
allow wifi_hal_service const_postinstall_fstab_param:file { map open read };
allow wifi_hal_service const_postinstall_param:file { map open read };
allow wifi_hal_service const_product_param:file { map open read };
allow wifi_hal_service data_file:dir { search };
allow wifi_hal_service data_misc:dir { add_name remove_name search write };
allow wifi_hal_service data_misc:file { ioctl rename unlink };
allow wifi_hal_service data_misc:sock_file { create unlink };
allow wifi_hal_service debug_param:file { map open read };
allow wifi_hal_service default_param:file { map open read };
allow wifi_hal_service dev_mgr_file:chr_file { getattr };
allow wifi_hal_service dev_unix_socket:dir { search };
allow wifi_hal_service distributedsche_param:file { map open read };
allow wifi_hal_service faultloggerd_socket:sock_file { write };
allow wifi_hal_service hilog_param:file { map open read };
allow wifi_hal_service hw_sc_build_os_param:file { map open read };
allow wifi_hal_service hw_sc_build_param:file { map open read };
allow wifi_hal_service hw_sc_param:file { map open read };
allow wifi_hal_service init_param:file { map open read };
allow wifi_hal_service init_svc_param:file { map open read };
allow wifi_hal_service input_pointer_device_param:file { map read open };
allow wifi_hal_service net_param:file { map open read };
allow wifi_hal_service net_tcp_param:file { map open read };
allow wifi_hal_service ohos_boot_param:file { map open read };
allow wifi_hal_service ohos_param:file { map open read };
allow wifi_hal_service persist_param:file { map open read };
allow wifi_hal_service persist_sys_param:file { map open read };
allow wifi_hal_service security_param:file { map open read };
allow wifi_hal_service sh_exec:file { execute execute_no_trans map read read open };
allow wifi_hal_service startup_param:file { map open read };
allow wifi_hal_service sys_param:file { map open read };
allow wifi_hal_service system_bin_file:dir { search };
allow wifi_hal_service system_bin_file:file { execute execute_no_trans getattr map read read open };
allow wifi_hal_service system_bin_file:lnk_file { read };
allow wifi_hal_service sys_usb_param:file { map open read };
allow wifi_hal_service tty_device:chr_file { open read write };
allow wifi_hal_service wifi_hal_service_exec:file { entrypoint execute map read };
allow wifi_hal_service wifi_manager_service:dir { search };
allow wifi_hal_service wifi_manager_service:file { open read };
allow wifi_hal_service wifi_manager_service:process { signal };
allowxperm wifi_hal_service data_misc:file ioctl { 0x5413 };
