allow wifi_manager_service accesstoken_service:binder { call };
allow wifi_manager_service data_file:dir { search };
allow wifi_manager_service data_misc:dir { add_name search write };
allow wifi_manager_service data_misc:file { create ioctl read write open };
allow wifi_manager_service data_misc:sock_file { write };
allow wifi_manager_service dev_unix_socket:dir { search };
allow wifi_manager_service param_watcher:binder { call transfer };
allow wifi_manager_service sa_accesstoken_manager_service:samgr_class { get };
allow wifi_manager_service sa_param_watcher:samgr_class { get };
allow wifi_manager_service sa_wifi_device_ability:samgr_class { add };
allow wifi_manager_service sa_wifi_hotspot_ability:samgr_class { add };
allow wifi_manager_service sa_wifi_p2p_ability:samgr_class { add };
allow wifi_manager_service sa_wifi_scan_ability:samgr_class { add };
allow wifi_manager_service softbus_server:binder { call };
allow wifi_manager_service system_basic_hap:binder { call transfer };
allow wifi_manager_service system_bin_file:dir { search };
allow wifi_manager_service tracefs:dir { search };
allow wifi_manager_service tracefs_trace_marker_file:file { open write };
allow wifi_manager_service wifi_hal_service:unix_stream_socket { connectto };
allowxperm wifi_manager_service data_misc:file ioctl { 0x5413 };
