# Copyright (c) 2025 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow clouddiskservice accountmgr:binder { call transfer };
allow clouddiskservice clouddiskservice:capability { dac_read_search sys_admin };
allow clouddiskservice clouddiskservice:unix_dgram_socket { getopt setopt };
allow clouddiskservice data_service_el2_file:dir { open read search };
allow clouddiskservice data_service_el2_hmdfs:dir { create open read rmdir setattr write add_name remove_name search };
allow clouddiskservice data_service_el2_hmdfs:file { create getattr lock open read write unlink };
allow clouddiskservice data_service_file:dir { open read search watch_sb };
allow clouddiskservice data_user_file:dir { getattr open read search };
allow clouddiskservice data_user_file:file { getattr read setattr write };
allow clouddiskservice dev_unix_socket:dir { search };
allow clouddiskservice file_access_service:binder { call };
allow clouddiskservice foundation:binder { call transfer };
allow clouddiskservice hap_domain:binder { call };
allow clouddiskservice hmdfs:dir { open read search };
allow clouddiskservice hmdfs:file { getattr read setattr write };
allow clouddiskservice labeledfs:filesystem { watch };
allow clouddiskservice sa_accountmgr:samgr_class { get };
allow clouddiskservice sa_file_access_service:samgr_class { get };
allow clouddiskservice sa_filemanagement_cloud_disk_service:samgr_class { add get };
allow clouddiskservice sa_foundation_cesfwk_service:samgr_class { get };
