# Copyright (c) 2024 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type dev_dec, dev_attr;

neverallow { domain -sandbox_manager_service -appspawn } dev_dec:chr_file { ioctl open read write };

allow appspawn dev_dec:chr_file { read write open ioctl };
allowxperm appspawn dev_dec:chr_file ioctl { 0x7306 0x7301 0x7308 };

allow sandbox_manager_service dev_dec:chr_file { ioctl open read write };
allowxperm sandbox_manager_service dev_dec:chr_file ioctl { 0x7301 0x7302 0x7303 0x7304 0x7305 0x7307 0x7309 };

allow ueventd dev_dec:chr_file { relabelto };

allow sandbox_manager_service system_file:dir { search getattr open read };

allow sandbox_manager_service system_file:file { getattr open read };
