# Copyright (c) 2022-2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

init_daemon_domain(hiview);

define(`use_hisysevent', `
    allow $1 hisysevent_socket:sock_file write;
')

use_hisysevent({ domain -kernel })

allow hiview hiview:capability2 { syslog };
allow hiview hiview:dir { search };
allow hiview hiview_exec:file { entrypoint execute map read };
allow hiview hiview:capability { sys_ptrace };
neverallow hiview *:process ptrace;

allow hiview hiview:unix_dgram_socket { getopt setopt };
allow hiview init:unix_dgram_socket { getattr getopt read write setopt };
allow hiview init:unix_stream_socket { connectto };
allow hiview faultloggerd:unix_stream_socket { connectto };

allow hiview hiview_file:dir { search getattr read open write add_name remove_name rmdir };
allow hiview hiview_file:file { getattr setattr append ioctl unlink map read write getattr open lock };

allow hiview data_file:dir { search };
allow hiview data_log:dir { add_name open read search watch write create remove_name };
allow hiview data_log:file { create getattr lock map open read write unlink rename };
allow hiview data_system:dir { search getattr };
allow hiview system_etc_file:dir { open read };
allow hiview system_bin_file:dir { search };
allow hiview system_bin_file:file { read execute entrypoint };
allow hiview system_bin_file:lnk_file { read };
allow hiview sys_file:dir { read open };
allow hiview sys_file:file { read open };
allow hiview dev_bbox:chr_file { read open };
allow hiview normal_hap_attr:dir { search };
allow hiview normal_hap_attr:file { read open };
allow hiview proc_cpuinfo_file:file { read open };
allow hiview rootfs:chr_file { read write };
allow hiview faultloggerd_temp_file:file { getattr };
allow hiview faultloggerd:fifo_file { read };
allow hiview system_basic_hap:dir { search };
allow hiview system_basic_hap:file { getattr read open };
allow hiview system_core_hap:file { getattr read open };
allow hiview usage_report_exec:file { getattr read open execute_no_trans map execute };
allow hiview vendor_bin_file:dir { search };

allow hiview data_init_agent:dir { search };
allow hiview data_init_agent:file { ioctl open read append };

allow hiview foundation:binder { call transfer };
allow hiview init:binder { call transfer };
allow hiview samgr:binder { call transfer };
allow hiview tmpfs:lnk_file { read };
allow hiview time_service:binder { call transfer };
allow hiview param_watcher:binder { call transfer };
allow hiview hdcd:binder { call transfer };
allow hiview resource_schedule_service:binder { call transfer };
allow hiview normal_hap_attr:binder { call transfer };
allow hiview system_basic_hap:binder { call transfer };
allow hiview system_core_hap:binder { call transfer };
allow hiview accountmgr:binder { call transfer };
allow hiview device_usage_stats_service:binder { call transfer };

allow hiview dev_unix_socket:dir { search };
allow hiview dev_unix_socket:sock_file { write };
allow hiview faultloggerd_socket:sock_file { write };

allow hiview tracefs:dir { search };
allow hiview tracefs_trace_marker_file:file { write open };

allow hiview vendor_lib_file:dir { search };
allow hiview vendor_lib_file:file { read open getattr map execute };

allow hiview bgtaskmgr_service:dir { search };
allow hiview bgtaskmgr_service:file { open read };

#avc:  denied  { get } for service=3301 pid=618 scontext=u:r:hiview:s0 tcontext=u:object_r:sa_foundation_powermgr_service:s0 tclass=samgr_class permissive=1
allow hiview sa_foundation_powermgr_service:samgr_class { get };

allowxperm hiview data_init_agent:file ioctl { 0x5413 };

allow hiview sa_sys_event_service:samgr_class { add get };
allow hiview sa_hiview_service:samgr_class { add get };
allow hiview sa_hiview_faultlogger_service:samgr_class  { add get };

#avc:  denied  { read write } for  pid=1955 comm="hiview" path="/dev/console" dev="tmpfs" ino=19 scontext=u:r:hiview:s0 tcontext=u:object_r:dev_console_file:s0 tclass=chr_file permissive=0
allow hiview dev_console_file:chr_file  { read write };
#avc:  denied  { write } for  pid=1961 comm="hiview" name="paramservice" dev="tmpfs" ino=28 scontext=u:r:hiview:s0 tcontext=u:object_r:paramservice_socket:s0 tclass=sock_file permissive=0
allow hiview paramservice_socket:sock_file  { write };
#avc:  denied  { connectto } for  pid=1130 comm="hiview" path="/dev/unix/socket/paramservice" scontext=u:r:hiview:s0 tcontext=u:r:kernel:s0 tclass=unix_stream_socket permissive=0
allow hiview kernel:unix_stream_socket  { connectto };

#avc:  denied  { read } for  pid=4200 comm="usage_report" name="u:object_r:musl_param:s0" dev="tmpfs" ino=53 scontext=u:r:hiview:s0 tcontext=u:object_r:musl_param:s0 tclass=file permissive=0
#avc:  denied  { open } for  pid=1594 comm="hiview" path="/dev/__parameters__/u:object_r:musl_param:s0" dev="tmpfs" ino=53 scontext=u:r:hiview:s0 tcontext=u:object_r:musl_param:s0 tclass=file permissive=0
#avc:  denied  { map } for  pid=1594 comm="hiview" path="/dev/__parameters__/u:object_r:musl_param:s0" dev="tmpfs" ino=53 scontext=u:r:hiview:s0 tcontext=u:object_r:musl_param:s0 tclass=file permissive=0
allow hiview musl_param:file  { read open map };



#avc:  denied  { getattr } for  pid=1123 comm="hdcd" path="/dev/asanlog" dev="tmpfs" ino=629 scontext=u:r:hdcd:s0 tcontext=u:object_r:dev_asanlog_file:s0 tclass=dir permissive=0
allow hdcd dev_asanlog_file:dir { read_dir_perms write add_name create };
#avc:  denied  { write create open } for  pid=1358 comm="hdcd" path="/dev/asanlog/asan.log.3273" dev="tmpfs" ino=727 scontext=u:r:hdcd:s0 tcontext=u:object_r:dev_asanlog_file:s0 tclass=file permissive=1
allow hdcd dev_asanlog_file:file { write create read_file_perms };


#avc:  denied  { read } for  pid=3520 comm="hiview" name="asanlog" dev="tmpfs" ino=726 scontext=u:r:hiview:s0 tcontext=u:object_r:dev_file:s0 tclass=dir permissive=0
#allow hiview dev_asanlog_file:dir { read open watch getattr create search };
allow hiview dev_asanlog_file:dir { read_dir_perms };

#avc:  denied  { read } for  pid=449 comm="hiview" name="asan.log.2718" dev="tmpfs" ino=731 scontext=u:r:hiview:s0 tcontext=u:object_r:dev_file:s0 tclass=file permissive=0
allow hiview dev_asanlog_file:file { read_file_perms };

#avc:  denied  { relabelto } for  pid=3281 comm="init" name="asanlog" dev="tmpfs" ino=629 scontext=u:r:init:s0 tcontext=u:object_r:dev_asanlog_file:s0 tclass=dir permissive=0
#avc:  denied  { getattr } for  pid=3281 comm="init" path="/dev/asanlog/asan.log.2718" dev="tmpfs" ino=727 scontext=u:r:init:s0 tcontext=u:object_r:dev_file:s0 tclass=file permissive=0
allow init dev_asanlog_file:dir { setattr read getattr relabelto };

allow hiview kernel:system { syslog_read };

allow hiview hilog_exec:file { execute read open execute_no_trans map };
allow hiview hilog_output_socket:sock_file { write };
allow hiview hilogd:unix_stream_socket { connectto };

allow hiview hitrace_exec:file { execute read open execute_no_trans map };
allow hiview tracefs:file { write };

allow hiview proc_sysrq_trigger_file:file { open getattr write ioctl };

#avc:  denied  { search } for  pid=252 comm="exportSysEventT" name="app" dev="mmcblk0p12" ino=43 scontext=u:r:hiview:s0 tcontext=u:object_r:data_app_file:s0 tclass=dir permissive=0
allow hiview data_app_file:dir { search };

#avc:  denied  { search } for  pid=247 comm="exportSysEventT" name="el2" dev="mmcblk0p12" ino=47 scontext=u:r:hiview:s0 tcontext=u:object_r:data_app_el2_file:s0 tclass=dir permissive=0
allow hiview data_app_el2_file:dir { search };

#avc:  denied  { search } for  pid=247 comm="exportSysEventT" name="com.huawei.myapplication" dev="mmcblk0p12" ino=2366 scontext=u:r:hiview:s0 tcontext=u:object_r:system_basic_hap_data_file:s0 tclass=dir permissive=0
#avc:  denied  { write } for  pid=252 comm="exportSysEventT" name="hiview" dev="mmcblk0p12" ino=2417 scontext=u:r:hiview:s0 tcontext=u:object_r:system_basic_hap_data_file:s0 tclass=dir permissive=0
#avc:  denied  { add_name } for  pid=251 comm="exportSysEventT" name="Reliability-EVENT-20170816160811-000-0.evt" scontext=u:r:hiview:s0 tcontext=u:object_r:system_basic_hap_data_file:s0 tclass=dir permissive=0
allow hiview system_basic_hap_data_file:dir { add_name search write };

#avc:  denied  { create write open } for  pid=256 comm="exportSysEventT" name="Reliability-EVENT-20170816164943-000-0.evt" scontext=u:r:hiview:s0 tcontext=u:object_r:system_basic_hap_data_file:s0 tclass=file permissive=0
allow hiview system_basic_hap_data_file:file { create write open };

#avc:  denied  { search } for  pid=241 comm="exportSysEventT" name="com.huawei.myapplicationtest" dev="mmcblk0p12" ino=1615 scontext=u:r:hiview:s0 tcontext=u:object_r:normal_hap_data_file:s0 tclass=dir permissive=0
allow hiview normal_hap_data_file:dir { search };

#avc:  denied  { write } for  pid=245 comm="exportSysEventT" name="cache" dev="mmcblk0p12" ino=1616 scontext=u:r:hiview:s0 tcontext=u:object_r:normal_hap_data_file:s0 tclass=dir permissive=0
allow hiview normal_hap_data_file:dir { write add_name };

allow hiview normal_hap_data_file:file { create  write open };

#avc:  denied  { setattr } for  pid=246 comm="exportSysEventT" name="RELIABILITY-20170806025113-000-0.evt" dev="mmcblk0p12" ino=2052 scontext=u:r:hiview:s0 tcontext=u:object_r:system_basic_hap_data_file:s0 tclass=file permissive=0
allow hiview system_basic_hap_data_file:file { setattr };
allow hiview normal_hap_data_file:file { setattr };

allow hiview sa_dfx_sys_hidumper_cpu_ability:samgr_class { add get };

allow hiview appspawn:dir { getattr open read search };
allow hiview appspawn:file { getattr open read };
allow hiview appspawn:lnk_file read;
allow hiview appspawn_exec:file { getattr map open read };

allow hiview data_file:dir { getattr open read search };
allow hiview data_init_agent:dir search;
allow hiview data_init_agent:file { append ioctl open read };
allow hiview data_log:dir { open read search };
allow hiview data_log:file { getattr open read };
allow hiview data_misc:dir search;

allow hiview debugfs:dir { open read };

allow hiview dev_block_file:blk_file getattr;
allow hiview dev_block_file:dir search;
allow hiview dev_block_file:lnk_file read;
allow hiview dev_file:dir getattr;
allow hiview dev_kmsg_file:chr_file { open read };
allow hiview dev_pts_file:dir getattr;
allow hiview dev_unix_socket:dir search;
allow hiview dev_unix_socket:sock_file write;

allow hiview deviceauth_service_exec:file { getattr map open read };
allow hiview devpts:chr_file { read write };

allow hiview faultloggerd:fifo_file read;
allow hiview faultloggerd:unix_stream_socket connectto;
allow hiview faultloggerd_exec:file { getattr map open read };

allow hiview hdcd:dir { getattr open read search };
allow hiview hdcd:fd use;
allow hiview hdcd:file { getattr open read };
allow hiview hdcd:lnk_file read;
allow hiview hdcd_exec:file { getattr map open read };

allow hiview hdf_devmgr_exec:file { getattr map open read };

allow hiview hidumper:binder call;
allow hiview hidumper:dir { getattr open read search };
allow hiview hidumper:file { getattr open read };
allow hiview hidumper:lnk_file read;
allow hiview hidumper_exec:file { getattr map open read };

allow hiview hidumper_file:dir { add_name open read remove_name search write };
allow hiview hidumper_file:file { create ioctl open unlink write };

allow hiview hilogd_exec:file { getattr map open read };
allow hiview hiview_exec:file { getattr map open read };

allow hiview init:dir { getattr open read search };
allow hiview init:file { getattr open read };
allow hiview init:lnk_file read;
allow hiview init:unix_stream_socket connectto;

allow hiview installs_exec:file { getattr map open read };

allow hiview kernel:dir { getattr open read search };
allow hiview kernel:file { getattr open read };
allow hiview kernel:lnk_file read;
allow hiview kernel:system syslog_read;

allow hiview normal_hap_attr:dir { getattr open read search };
allow hiview normal_hap_attr:file { getattr open read };
allow hiview normal_hap_attr:lnk_file read;

allow hiview proc_cmdline_file:file { getattr open read };
allow hiview proc_loadavg_file:file { open read };
allow hiview proc_meminfo_file:file { open read };
allow hiview proc_modules_file:file { getattr open read };
allow hiview proc_net:file { getattr open read };
allow hiview proc_net_tcp_udp:file { open read };
allow hiview proc_slabinfo_file:file { getattr open read };
allow hiview proc_stat_file:file { open read };
allow hiview proc_version_file:file { getattr open read };
allow hiview proc_vmallocinfo_file:file { getattr open read };
allow hiview proc_vmstat_file:file { getattr open read };
allow hiview proc_zoneinfo_file:file { getattr open read };

allow hiview render_service_exec:file { getattr map open read };

allow hiview self:udp_socket { create ioctl };

allow hiview sh_exec:file { execute execute_no_trans getattr map open read };
allow hiview storage_daemon_exec:file { getattr map open read };

allow hiview sys_file:dir { open read };
allow hiview sys_file:file { getattr open read };

allow hiview system_basic_hap:dir { getattr open read search };
allow hiview system_basic_hap:file { getattr open read };
allow hiview system_basic_hap:lnk_file read;

allow hiview system_bin_file:dir { getattr search };
allow hiview system_bin_file:file { execute execute_no_trans getattr map open read };
allow hiview system_bin_file:lnk_file read;
allow hiview system_file:dir getattr;
allow hiview system_fonts_file:dir getattr;
allow hiview system_lib_file:dir getattr;
allow hiview system_profile_file:dir getattr;
allow hiview system_usr_file:dir getattr;

allow hiview tty_device:chr_file { open read write };

allow hiview udevd:dir { getattr open read search };
allow hiview udevd:file { getattr read open };
allow hiview udevd:lnk_file read;
allow hiview udevd_exec:file { getattr map open read };

allow hiview ueventd:dir { getattr open read search };
allow hiview ueventd:file { getattr open read };
allow hiview ueventd:lnk_file read;
allow hiview ueventd_exec:file { getattr map open read };

allow hiview uinput_inject_exec:file { getattr map open read };

allow hiview vendor_bin_file:dir search;
allow hiview vendor_bin_file:file { getattr map open read };
allow hiview vendor_file:dir getattr;
allow hiview vendor_lib_file:dir search;
allow hiview vendor_lib_file:file { getattr map open read };

allow hiview watchdog_service_exec:file { getattr map open read };
allow hiview wifi_hal_service_exec:file { getattr map open read };

allow hiview { sadomain -installs }:binder call;
allow hiview { hdfdomain sadomain }:dir { getattr open read search };
allow hiview { hdfdomain sadomain }:file { getattr open read };
allow hiview { hdfdomain sadomain }:lnk_file read;

#avc:  denied  { get } for service=3302 pid=581 scontext=u:r:hiview:s0 tcontext=u:object_r:sa_foundation_battery_service:s0 tclass=samgr_class permissive=1
allow hiview sa_foundation_battery_service:samgr_class { get };

#avc:  denied  { get } for service=3308 pid=581 scontext=u:r:hiview:s0 tcontext=u:object_r:sa_foundation_displaymgr_service:s0 tclass=samgr_class permissive=1
allow hiview sa_foundation_displaymgr_service:samgr_class { get };

#avc:  denied  { get } for service=3303 pid=553 scontext=u:r:hiview:s0 tcontext=u:object_r:sa_foundation_thermal_service:s0 tclass=samgr_class permissive=1
allow hiview sa_foundation_thermal_service:samgr_class { get };

allow hiview dev_at_file:chr_file ioctl;
allow hiview dev_block_volfile:dir search;
allow hiview dev_console_file:chr_file getattr;
allow hiview devpts:chr_file getattr;
allow hiview hidumper_file:dir getattr;
allow hiview hidumper_file:file read;
allow hiview hilog_exec:file { execute execute_no_trans getattr map open read };
allow hiview proc_file:file { open read };
allow hiview processdump:dir search;
allow hiview processdump:file { open read };

allow hiview sysfs_devices_system_cpu:file { open read getattr};
allow hiview tty_device:chr_file getattr;
allow hiview hdcd:fifo_file write;

debug_only(`
    allow hiview sh:dir { getattr open read };
    allow hiview sh:fifo_file getattr;
    allow hiview sh:file getattr;
    allow hiview sh:lnk_file read;
    allow hiview sh:fd use;
    allow hiview sh:file { read open };
    allow hiview sh:dir { search };
    allow hiview sh:binder { call transfer };
    allow sh hiview:dir { getattr search };
    allow sh hiview:file { open };
    allow sh hiview:process { getattr };
')

allow hiview sa_accessibleabilityms:samgr_class get;
allow hiview sa_accountmgr:samgr_class get;
allow hiview sa_bgtaskmgr:samgr_class get;
allow hiview sa_bluetooth_server:samgr_class get;
allow hiview sa_comm_dns_manager_service:samgr_class get;
allow hiview sa_comm_ethernet_manager_service:samgr_class get;
allow hiview sa_comm_mdns_manager_service:samgr_class get;
allow hiview sa_comm_net_stats_manager_service:samgr_class get;
allow hiview sa_dataobs_mgr_service_service:samgr_class get;
allow hiview sa_device_usage_statistics_service:samgr_class get;
allow hiview sa_dfx_sys_hidumper_cpu_ability:samgr_class get;
allow hiview sa_distributeddata_service:samgr_class get;
allow hiview sa_distributeschedule:samgr_class get;
allow hiview sa_enterprise_device_manager_service:samgr_class get;
allow hiview sa_form_mgr_service:samgr_class get;
allow hiview sa_foundation_abilityms:samgr_class get;
allow hiview sa_foundation_appms:samgr_class get;
allow hiview sa_foundation_bms:samgr_class get;
allow hiview sa_hiview_service:samgr_class get;
allow hiview sa_installd_service:samgr_class get;
allow hiview sa_net_conn_manager:samgr_class get;
allow hiview sa_net_policy_manager:samgr_class get;
allow hiview sa_netsys_native_manager:samgr_class get;
allow hiview sa_render_service:samgr_class get;
allow hiview sa_resource_schedule:samgr_class get;
allow hiview sa_resource_schedule_socperf_server:samgr_class get;
allow hiview sa_sys_event_service:samgr_class get;
allow hiview sa_uri_permission_mgr_service:samgr_class get;
allow hiview sa_useriam_authexecutormgr_service:samgr_class get;
allow hiview sa_useriam_faceauth_service:samgr_class get;
allow hiview sa_useriam_userauth_service:samgr_class get;
allow hiview sa_wifi_device_ability:samgr_class get;
allow hiview sa_wifi_hotspot_ability:samgr_class get;
allow hiview sa_wifi_p2p_ability:samgr_class get;
allow hiview sa_wifi_scan_ability:samgr_class get;
allow hiview sa_work_schedule_service:samgr_class get;
allow hiview sa_accesstoken_manager_service:samgr_class get;
allow hiview sa_audio_policy_service:samgr_class get;
allow hiview sa_camera_service:samgr_class get;
allow hiview sa_device_auth_service:samgr_class get;
allow hiview sa_device_profile_service:samgr_class get;
allow hiview sa_device_security_level_manager_service:samgr_class get;
allow hiview sa_device_service_manager:samgr_class get;
allow hiview sa_download_service:samgr_class get;
allow hiview sa_file_manager_service:samgr_class get;
allow hiview sa_filemanagement_distributed_file_daemon_service:samgr_class get;
allow hiview sa_foundation_ans:samgr_class get;
allow hiview sa_foundation_cesfwk_service:samgr_class get;
allow hiview sa_foundation_devicemanager_service:samgr_class get;
allow hiview sa_foundation_dms:samgr_class get;
allow hiview sa_foundation_tel_call_manager:samgr_class get;
allow hiview sa_foundation_tel_state_registry:samgr_class get;
allow hiview sa_huks_service:samgr_class get;
allow hiview sa_inputmethod_service:samgr_class get;
allow hiview sa_location_geo_convert_service:samgr_class get;
allow hiview sa_location_locator_service:samgr_class get;
allow hiview sa_locationhub_lbsservice_gnss:samgr_class get;
allow hiview sa_locationhub_lbsservice_network:samgr_class get;
allow hiview sa_locationhub_lbsservice_passive:samgr_class get;
allow hiview sa_media_service:samgr_class get;
allow hiview sa_memory_manager_service:samgr_class get;
allow hiview sa_msdp_devicestatus_service:samgr_class get;
allow hiview sa_multimodalinput_service:samgr_class get;
allow hiview sa_pasteboard_service:samgr_class get;
allow hiview sa_privacy_service:samgr_class get;
allow hiview sa_pulseaudio_audio_service:samgr_class get;
allow hiview sa_screenlock_service:samgr_class get;
allow hiview sa_softbus_service:samgr_class get;
allow hiview sa_storage_manager_daemon:samgr_class get;
allow hiview sa_storage_manager_service:samgr_class get;
allow hiview sa_subsys_ace_service:samgr_class get;
allow hiview sa_telephony_tel_cellular_call:samgr_class get;
allow hiview sa_telephony_tel_cellular_data:samgr_class get;
allow hiview sa_telephony_tel_core_service:samgr_class get;
allow hiview sa_telephony_tel_sms_mms:samgr_class get;
allow hiview sa_time_service:samgr_class get;
allow hiview sa_update_distributed_service:samgr_class get;
allow hiview sa_usb_service:samgr_class get;
allow hiview sa_useriam_pinauth_service:samgr_class get;
allow hiview sa_useriam_useridm_service:samgr_class get;
allow hiview sa_wallpaper_manager_service:samgr_class get;
allow hiview sa_devattest_service:samgr_class get;
allow hiview sa_device_standby:samgr_class get;
allow hiview samgr:samgr_class list;

allow hiview hiprofiler_cmd:file getattr;
allow hiview hiprofiler_plugins:file getattr;
allow hiview hiprofilerd:file getattr;
allow hiview musl_param:file { map open read };
allow hiview native_daemon:dir search;
allow hiview native_daemon:file { getattr open read };
allow hiview proc_loadavg_file:file getattr;
allow hiview proc_meminfo_file:file getattr;
allow hiview proc_net_tcp_udp:file getattr;
allow hiview proc_stat_file:file getattr;
allow hiview self:rawip_socket create;
allow hiview system_etc_file:file lock;

allow hiview debugfs_failed_transaction_log:file { getattr open read };
allow hiview debugfs_transactions:file { getattr open read };
allow hiview debugfs_transaction_log:file { getattr open read };
allow hiview debugfs_used:file { getattr open read };
allow hiview debugfs_wakeup_sources:file { getattr open read };
allow hiview debugfs_stats:file { getattr open read };
allow hiview debugfs_state:file { getattr open read };
allow hiview data_log:file { read write };
allow hiview self:capability dac_read_search;
