# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#avc:  denied  { get } for service=1203 pid=1913 scontext=u:r:normal_hap:s0 tcontext=u:object_r:sa_sys_event_service:s0 tclass=samgr_class permissive=0
allow normal_hap sa_sys_event_service:samgr_class { get };
allow system_basic_hap sa_sys_event_service:samgr_class { get };
allow system_core_hap sa_sys_event_service:samgr_class { get };

#avc:  denied  { call } for  pid=256 comm="IPC_3_1647" scontext=u:r:hiview:s0 tcontext=u:r:system_basic_hap:s0 tclass=binder permissive=0
allow hiview system_basic_hap:binder { call };

#avc:  denied  { getattr } for  pid=1989 comm="sysevent_source" path="/dev/unix/socket/hisysevent" scontext=u:r:hiview:s0 tcontext=u:r:hiview:s0 tclass=unix_dgram_socket permissive=1
allow hiview hiview:unix_dgram_socket { getattr };

#avc:  denied  { open } for  pid=262 comm="hiview" path="/dev/ashmem" dev="tmpfs" ino=177 scontext=u:r:hiview:s0 tcontext=u:object_r:dev_ashmem_file:s0 tclass=chr_file permissive=1
allow hiview dev_ashmem_file:chr_file { open };

