# Copyright (c) 2025 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# allow distributed_isolate_hap to get sa
allow distributed_isolate_hap sa_foundation_abilityms:samgr_class { get };
allow distributed_isolate_hap sa_dataobs_mgr_service_service:samgr_class { get add };
allow distributed_isolate_hap sa_uri_permission_mgr_service:samgr_class { get };
allow distributed_isolate_hap sa_foundation_bms:samgr_class { get };
allow distributed_isolate_hap sa_service_router_mgr_service:samgr_class { get };
allow distributed_isolate_hap sa_foundation_appms:samgr_class { get };
allow distributed_isolate_hap sa_accessibleabilityms:samgr_class { get };
allow distributed_isolate_hap sa_wifi_device_ability:samgr_class { get };
allow distributed_isolate_hap sa_wifi_hotspot_ability:samgr_class { get };
allow distributed_isolate_hap sa_wifi_p2p_ability:samgr_class { get };
allow distributed_isolate_hap sa_wifi_scan_ability:samgr_class { get };
allow distributed_isolate_hap sa_bluetooth_server:samgr_class { get };
allow distributed_isolate_hap sa_net_conn_manager:samgr_class { get };
allow distributed_isolate_hap sa_net_policy_manager:samgr_class { get };
allow distributed_isolate_hap sa_comm_net_stats_manager_service:samgr_class { get };
allow distributed_isolate_hap sa_comm_net_tethering_manager_service:samgr_class { get };
allow distributed_isolate_hap sa_comm_vpn_manager_service:samgr_class { get };
allow distributed_isolate_hap sa_comm_ethernet_manager_service:samgr_class { get };
allow distributed_isolate_hap sa_comm_mdns_manager_service:samgr_class { get };
allow distributed_isolate_hap sa_hiview_service:samgr_class { get };
allow distributed_isolate_hap sa_sys_event_service:samgr_class { get };
allow distributed_isolate_hap sa_distributeddata_service:samgr_class { get };
allow distributed_isolate_hap sa_distributeschedule:samgr_class { get };
allow distributed_isolate_hap sa_enterprise_device_manager_service:samgr_class { get };
allow distributed_isolate_hap sa_i18n_service:samgr_class { get };
allow distributed_isolate_hap sa_resource_schedule:samgr_class { get };
allow distributed_isolate_hap sa_bgtaskmgr:samgr_class { get };
allow distributed_isolate_hap sa_work_schedule_service:samgr_class { get };
allow distributed_isolate_hap sa_device_usage_statistics_service:samgr_class { get };
allow distributed_isolate_hap sa_concurrent_task_service:samgr_class { get };
allow distributed_isolate_hap sa_device_standby:samgr_class { get };
allow distributed_isolate_hap sa_location_locator_service:samgr_class { get };
allow distributed_isolate_hap sa_msdp_devicestatus_service:samgr_class { get };
allow distributed_isolate_hap sa_update_distributed_service:samgr_class { get };
allow distributed_isolate_hap sa_foundation_cesfwk_service:samgr_class { get };
allow distributed_isolate_hap sa_accesstoken_manager_service:samgr_class { get };
allow distributed_isolate_hap sa_privacy_service:samgr_class { get };
allow distributed_isolate_hap sa_device_security_level_manager_service:samgr_class { get };
allow distributed_isolate_hap sa_time_service:samgr_class { get };
allow distributed_isolate_hap sa_download_service:samgr_class { get };
allow distributed_isolate_hap sa_param_watcher:samgr_class { get };
allow distributed_isolate_hap sa_sysparam_device_service:samgr_class { get };
allow distributed_isolate_hap sa_telephony_tel_cellular_data:samgr_class { get };
allow distributed_isolate_hap sa_usb_service:samgr_class { get };
allow distributed_isolate_hap sa_softbus_service:samgr_class { get };
allow distributed_isolate_hap sa_device_auth_service:samgr_class { get };
allow distributed_isolate_hap sa_storage_manager_service:samgr_class { get };
allow distributed_isolate_hap sa_file_access_service:samgr_class { get };
allow distributed_isolate_hap sa_device_service_manager:samgr_class { get };
allow distributed_isolate_hap sa_devattest_service:samgr_class { get };

# avc: denied { dyntransition } for pid=9870, comm="/system/bin/appspawn"  scontext=u:r:appspawn:s0 tcontext=u:r:distributed_isolate_hap:s0 tclass=process permissive=1
allow appspawn distributed_isolate_hap:process { dyntransition };
allow distributed_isolate_hap data_service_el1_file:dir { open read };

# avc: denied { getattr } for pid=9682, comm="/system/bin/appspawn"  path="/data/themes/a/app/flag" dev="/dev/block/platform/fa500000.ufs/by-name/userdata" ino=13448 scontext=u:r:distributed_isolate_hap:s0 tcontext=u:object_r:data_service_el1_file:s0 tclass=file permissive=1
allow distributed_isolate_hap data_service_el1_file:file { getattr };

# avc: denied { open } for pid=9682, comm="/system/bin/appspawn"  path="/dev/ashmem" dev="" ino=1 scontext=u:r:distributed_isolate_hap:s0 tcontext=u:object_r:dev_ashmem_file:s0 tclass=chr_file permissive=1
allow distributed_isolate_hap dev_ashmem_file:chr_file { open };

# avc: denied { supervsable } for pid=9682, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:distributed_isolate_hap:s0 tclass=hmcap permissive=1
# allow distributed_isolate_hap distributed_isolate_hap:hmcap { supervsable };

# avc: denied { connect } for pid=9682, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:distributed_isolate_hap:s0 tclass=tcp_socket permissive=1
# avc: denied { create } for pid=9682, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:distributed_isolate_hap:s0 tclass=tcp_socket permissive=1
# avc: denied { getattr } for pid=9682, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:distributed_isolate_hap:s0 tclass=tcp_socket permissive=1
# avc: denied { getopt } for pid=9682, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:distributed_isolate_hap:s0 tclass=tcp_socket permissive=1
# avc: denied { read } for pid=9682, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:distributed_isolate_hap:s0 tclass=tcp_socket permissive=1
# avc: denied { setopt } for pid=9682, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:distributed_isolate_hap:s0 tclass=tcp_socket permissive=1
# avc: denied { write } for pid=9682, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:distributed_isolate_hap:s0 tclass=tcp_socket permissive=1
allow distributed_isolate_hap distributed_isolate_hap:tcp_socket { connect create getattr getopt read setopt write };

# avc: denied { connect } for pid=9215, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:distributed_isolate_hap:s0 tclass=udp_socket permissive=1
# avc: denied { create } for pid=9215, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:distributed_isolate_hap:s0 tclass=udp_socket permissive=1
# avc: denied { getattr } for pid=9215, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:distributed_isolate_hap:s0 tclass=udp_socket permissive=1
# avc: denied { read } for pid=9215, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:distributed_isolate_hap:s0 tclass=udp_socket permissive=1
# avc: denied { write } for pid=9215, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:distributed_isolate_hap:s0 tclass=udp_socket permissive=1
allow distributed_isolate_hap distributed_isolate_hap:udp_socket { connect create getattr read write };

# avc: denied { sendto } for pid=9682, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:hiview:s0 tclass=unix_dgram_socket permissive=1
allow distributed_isolate_hap hiview:unix_dgram_socket { sendto };

# avc: denied { transfer } for pid=9682, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:netmanager:s0 tclass=binder permissive=1
allow distributed_isolate_hap netmanager:binder { transfer };

# avc: denied { connectto } for pid=9682, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:netsysnative:s0 tclass=unix_stream_socket permissive=1
allow distributed_isolate_hap netsysnative:unix_stream_socket { connectto };

# avc: denied { getattr } for pid=9682, comm="/system/bin/appspawn"  path="/data/storage/el2/base/files/hiappevent/databases" dev="/dev/block/platform/fa500000.ufs/by-name/userdata" ino=62920 scontext=u:r:distributed_isolate_hap:s0 tcontext=u:object_r:normal_hap_data_file:s0 tclass=dir permissive=1
# avc: denied { ioctl } for pid=9682, comm="/system/bin/appspawn"  path="/data/storage/el2/base/files/hiappevent/databases" dev="/dev/block/platform/fa500000.ufs/by-name/userdata" ino=62920 ioctlcmd=0xf546 scontext=u:r:distributed_isolate_hap:s0 tcontext=u:object_r:normal_hap_data_file:s0 tclass=dir permissive=1
# avc: denied { open } for pid=9682, comm="/system/bin/appspawn"  path="/data/storage/el2/base/files/hiappevent/databases" dev="/dev/block/platform/fa500000.ufs/by-name/userdata" ino=62920 scontext=u:r:distributed_isolate_hap:s0 tcontext=u:object_r:normal_hap_data_file:s0 tclass=dir permissive=1
# avc: denied { read } for pid=9682, comm="/system/bin/appspawn"  path="/data/storage/el2/base/files/hiappevent/databases" dev="/dev/block/platform/fa500000.ufs/by-name/userdata" ino=62920 scontext=u:r:distributed_isolate_hap:s0 tcontext=u:object_r:normal_hap_data_file:s0 tclass=dir permissive=1
# avc: denied { search } for pid=9682, comm="/system/bin/appspawn"  name="/app/el2/100/base/com.example.dms_extension/cache" dev="/dev/block/platform/fa500000.ufs/by-name/userdata" ino=56632 scontext=u:r:distributed_isolate_hap:s0 tcontext=u:object_r:normal_hap_data_file:s0 tclass=dir permissive=1
# avc: denied { setattr } for pid=9682, comm="/system/bin/appspawn"  name="/app/el2/100/base/com.example.dms_extension/cache/rawheap" dev="/dev/block/platform/fa500000.ufs/by-name/userdata" ino=62652 scontext=u:r:distributed_isolate_hap:s0 tcontext=u:object_r:normal_hap_data_file:s0 tclass=dir permissive=1
allow distributed_isolate_hap normal_app_data:dir { getattr ioctl open read search setattr };
allowxperm distributed_isolate_hap normal_app_data:dir ioctl { 0xf546 };

# avc: denied { append } for pid=9682, comm="/system/bin/appspawn"  path="/data/storage/el2/base/files/hiappevent/app_event_20250331.log" dev="/dev/block/platform/fa500000.ufs/by-name/userdata" ino=62300 scontext=u:r:distributed_isolate_hap:s0 tcontext=u:object_r:normal_hap_data_file:s0 tclass=file permissive=1
# avc: denied { getattr } for pid=9682, comm="/system/bin/appspawn"  path="/data/storage/el2/base/files/hiappevent/databases/appevent.db-wal" dev="/dev/block/platform/fa500000.ufs/by-name/userdata" ino=31436 scontext=u:r:distributed_isolate_hap:s0 tcontext=u:object_r:normal_hap_data_file:s0 tclass=file permissive=1
# avc: denied { ioctl } for pid=9682, comm="/system/bin/appspawn"  path="/data/storage/el2/base/files/hiappevent/app_event_20250331.log" dev="/dev/block/platform/fa500000.ufs/by-name/userdata" ino=62300 ioctlcmd=0x5413 scontext=u:r:distributed_isolate_hap:s0 tcontext=u:object_r:normal_hap_data_file:s0 tclass=file permissive=1
# avc: denied { lock } for pid=9682, comm="/system/bin/appspawn"  path="/data/storage/el2/base/files/hiappevent/databases/appevent.db-shm" dev="/dev/block/platform/fa500000.ufs/by-name/userdata" ino=38827 scontext=u:r:distributed_isolate_hap:s0 tcontext=u:object_r:normal_hap_data_file:s0 tclass=file permissive=1
# avc: denied { map } for pid=9682, comm="/system/bin/appspawn"  path="/data/storage/el2/base/files/hiappevent/databases/appevent.db-dwr" dev="/dev/block/platform/fa500000.ufs/by-name/userdata" ino=28293 scontext=u:r:distributed_isolate_hap:s0 tcontext=u:object_r:normal_hap_data_file:s0 tclass=file permissive=1
# avc: denied { open } for pid=9682, comm="/system/bin/appspawn"  path="/data/storage/el2/base/files/hiappevent/app_event_20250331.log" dev="/dev/block/platform/fa500000.ufs/by-name/userdata" ino=62300 scontext=u:r:distributed_isolate_hap:s0 tcontext=u:object_r:normal_hap_data_file:s0 tclass=file permissive=1
# avc: denied { read write } for pid=9682, comm="/system/bin/appspawn"  path="/data/storage/el2/base/haps/application/files/test.txt" dev="/dev/block/platform/fa500000.ufs/by-name/userdata" ino=59590 scontext=u:r:distributed_isolate_hap:s0 tcontext=u:object_r:normal_hap_data_file:s0 tclass=file permissive=1
# avc: denied { read } for pid=9682, comm="/system/bin/appspawn"  name="/app/el2/100/base/com.example.dms_extension/files/hiappevent/databases/appevent.db" dev="/dev/block/platform/fa500000.ufs/by-name/userdata" ino=31695 scontext=u:r:distributed_isolate_hap:s0 tcontext=u:object_r:normal_hap_data_file:s0 tclass=file permissive=1
# avc: denied { setattr } for pid=9682, comm="/system/bin/appspawn"  name="/app/el2/100/base/com.example.dms_extension/files/hiappevent/databases/appevent.db" dev="/dev/block/platform/fa500000.ufs/by-name/userdata" ino=31695 scontext=u:r:distributed_isolate_hap:s0 tcontext=u:object_r:normal_hap_data_file:s0 tclass=file permissive=1
# avc: denied { write } for pid=9682, comm="/system/bin/appspawn"  name="/app/el2/100/base/com.example.dms_extension/files/hiappevent/databases/appevent.db" dev="/dev/block/platform/fa500000.ufs/by-name/userdata" ino=31695 scontext=u:r:distributed_isolate_hap:s0 tcontext=u:object_r:normal_hap_data_file:s0 tclass=file permissive=1
allow distributed_isolate_hap normal_app_data:file { append getattr ioctl lock map open read write read setattr write };
allowxperm distributed_isolate_hap normal_app_data:file ioctl { 0x5413 0xf50c 0xf546 };

# avc: denied { name_connect } for pid=9682, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:object_r:port:s0 tclass=tcp_socket permissive=1
allow distributed_isolate_hap port:tcp_socket { name_connect };

# avc: denied { transfer } for pid=9682, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:samgr:s0 tclass=binder permissive=1
allow distributed_isolate_hap samgr:binder { transfer };

# avc: denied { call } for pid=9682, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:softbus_server:s0 tclass=binder permissive=1
# avc: denied { transfer } for pid=9682, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:softbus_server:s0 tclass=binder permissive=1
allow distributed_isolate_hap softbus_server:binder { call transfer };

# avc: denied { call } for pid=9682, comm="/system/bin/appspawn"  scontext=u:r:distributed_isolate_hap:s0 tcontext=u:r:storage_manager:s0 tclass=binder permissive=1
allow distributed_isolate_hap storage_manager:binder { call };

# avc: denied { call } for pid=10422, comm="/system/bin/sa_main"  scontext=u:r:distributedsche:s0 tcontext=u:r:distributed_isolate_hap:s0 tclass=binder permissive=1
allow distributedsche distributed_isolate_hap:binder { call };

# avc: denied { call } for pid=1094, comm="/system/bin/sa_main"  scontext=u:r:netmanager:s0 tcontext=u:r:distributed_isolate_hap:s0 tclass=binder permissive=1
allow netmanager distributed_isolate_hap:binder { call };

# avc: denied { call } for pid=1546, comm="/system/bin/sa_main"  scontext=u:r:softbus_server:s0 tcontext=u:r:distributed_isolate_hap:s0 tclass=binder permissive=1
allow softbus_server distributed_isolate_hap:binder { call };
