# Copyright (c) 2021-2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow memmgrservice data_file:dir { search };
allow memmgrservice data_init_agent:dir { search };
allow memmgrservice data_init_agent:file { ioctl open read append };
allow memmgrservice domain:dir { search };
allow memmgrservice domain:file { open read };
allow memmgrservice accountmgr:binder { call transfer };
allow memmgrservice dev_unix_socket:dir { search };
allow memmgrservice bgtaskmgr_service:binder { call transfer };
allow memmgrservice cgroup:dir { add_name create search write };
allow memmgrservice cgroup:file { append create getattr ioctl open read write };
allow memmgrservice foundation:binder { call transfer };
allow memmgrservice memmgrservice:capability { kill sys_resource dac_override };
allow memmgrservice normal_hap:file { write };
allow memmgrservice normal_hap:process { sigkill };
allow memmgrservice proc_file:file { write open };
allow memmgrservice proc_meminfo_file:file { open read};
allow memmgrservice system_basic_hap:file { write };
allow memmgrservice system_basic_hap:process { sigkill };
allow memmgrservice system_core_hap:file { write };
allow memmgrservice system_core_hap:process { sigkill };
allow memmgrservice vendor_lib_file:file { read };
allowxperm memmgrservice cgroup:file ioctl {  0x5413  };
allowxperm memmgrservice data_init_agent:file ioctl 0x5413;

# denied  { set } for parameter=persist.sys.eswap.permanently.closed pid=287 uid=1111 gid=1111 scontext=u:r:memmgrservice:s0 tcontext=u:object_r:persist_sys_param:s0 tclass=parameter_service permissive=1
allow memmgrservice persist_sys_param:parameter_service { set };

# denied  { write } for  pid=1798 comm="memmgrservice" name="paramservice" dev="tmpfs" ino=45 scontext=u:r:memmgrservice:s0 tcontext=u:object_r:paramservice_socket:s0 tclass=sock_file permissive=1
allow memmgrservice paramservice_socket:sock_file { write };

# denied  { connectto } for  pid=1798 comm="memmgrservice" path="/dev/unix/socket/paramservice" scontext=u:r:memmgrservice:s0 tcontext=u:r:kernel:s0 tclass=unix_stream_socket permissive=1
allow memmgrservice kernel:unix_stream_socket { connectto };

# denied  { get } for service=200 pid=275 scontext=u:r:memmgrservice:s0 tcontext=u:object_r:sa_accountmgr:s0 tclass=samgr_class permissive=1
allow memmgrservice sa_accountmgr:samgr_class { get };

# denied  { get } for service=501 pid=275 scontext=u:r:memmgrservice:s0 tcontext=u:object_r:sa_foundation_appms:s0 tclass=samgr_class permissive=1
allow memmgrservice sa_foundation_appms:samgr_class { get };

allow memmgrservice sa_foundation_cesfwk_service:samgr_class { get };

allow memmgrservice sa_foundation_abilityms:samgr_class { get };
